<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="idform">
			<rich:messages ajaxRendered="true" />
			<rich:tabPanel switchType="client">

				<rich:tab header="Crear Historico Deficiencia Alumbrado Publico ">

					<h:inputHidden value="#{historicoDeficienciaApBean.historicoDeficienciaAp.estado}" />
					<rich:panel>
						<h:panelGrid columns="6">
			
							<h:outputText value="Periodo " />
							<h:selectOneMenu id="selPeriodoMedicion"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.periodoMedicion}"
								required="true" disabled="true">
								<f:selectItems value="#{historicoDeficienciaApBean.itemsPeriodoMedicion1}" />
								<f:converter converterId="periodoMedicionConverter" />
							</h:selectOneMenu>
							<rich:message for="selPeriodoMedicion" ajaxRendered="true" />

							<h:outputText value="Numero de Denuncia" />
							<h:inputText id="selNumDenuncia"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.numDenuncia}"
								style="width:200px" required="false" maxlength = "12"
								label="selNumDenuncia">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selNumDenuncia" ajaxRendered="true" />

							<h:outputText value="Codigo Ide Denuncia" />
							<h:inputText id="selCodifoDenuncia"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.codIdeDenuncia}"
								style="width:200px" required="false" maxlength = "12"
								label="selCodifoDenuncia">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selCodifoDenuncia" ajaxRendered="true" />

							<h:outputText value="Codigo Ide Uni de Denuncia" />
							<h:inputText id="selCodIdeUniDenuncia"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.codIdeUniDeficiencia}"
								style="width:200px" required="false" maxlength = "12"
								label="selCodIdeUniDenuncia">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selCodIdeUniDenuncia" ajaxRendered="true" />

							<h:outputText value="Año" />
							<h:inputText id="selanho"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.ano}"
								style="width:200px" required="false" maxlength = "4"
								label="selanho">
								<f:validateLength maximum="4" />
							</h:inputText>
							<rich:message for="selanho" ajaxRendered="true" />

							<h:outputText value="Trimestre" />
							<h:selectOneMenu  id="selTrimestre"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.trimestre}"
								 required="false" disabled="true">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsTrimestre}" />
							</h:selectOneMenu>
							<rich:message for="selTrimestre" ajaxRendered="true" />

							<h:outputText value="Sistema Electrico" />
							<h:inputText id="selSistemaElectrico"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.sisElectrico}"
								style="width:200px" required="false" maxlength = "12"
								label="selSistemaElectrico">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selSistemaElectrico" ajaxRendered="true" />
	
							<h:outputText value="Fecha Recepcion" />
							<rich:calendar value="#{historicoDeficienciaApBean.fecRecepcion}" id="calendar129" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="true" label="Fecha de Recepcion">
							</rich:calendar>
							<rich:message for="calendar129" ajaxRendered="true" />
														
							<h:outputText value="For Det. Denuncia" />
							<h:selectOneMenu id="selForDetDenuncia"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.forDetDenuncia}"
								required="true">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsForDetDenuncia}" />
							</h:selectOneMenu>
							<rich:message for="selForDetDenuncia" ajaxRendered="true" />

							<h:outputText value="Nombre Denunciante" />
							<h:inputText id="selNombreDenunciante"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.nomDenunciante}"
								style="width:200px" required="false" maxlength = "45"
								label="selNombreDenunciante">
								<f:validateLength maximum="45" />
							</h:inputText>
							<rich:message for="selNombreDenunciante" ajaxRendered="true" />

							<h:outputText value="Direccion Front. Ubi. Ap" />
							<h:inputText id="selDireFronUAP"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.dirFroUap}"
								style="width:200px" required="false" maxlength = "100"
								label="selDireFronUAP">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selDireFronUAP" ajaxRendered="true" />

							<h:outputText value="Direccion Denunciante" />
							<h:inputText id="selDirDenunciante"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.dirDenunciante}"
								style="width:200px" required="false" maxlength = "100"
								label="selDirDenunciante">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selDirDenunciante" ajaxRendered="true" />

							<h:outputText value="Transcripcion Denuncia" />
							<h:inputTextarea id="selDenTranscripcion"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.denTranscripcion}" label="selDenTranscripcion"
								style="width:200px" required="false" rows="3" cols="20"
								onkeyup="this.value = this.value.substring(0, 150);" >
								<f:validateLength maximum="150" />
							</h:inputTextarea>
							<rich:message for="selDenTranscripcion" ajaxRendered="true" />
							
							<h:outputText value="Telefono Denunciante" />
							<h:inputText id="selTelDenunciante"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.telDenunciante}"
								style="width:200px" required="false" maxlength = "9"
								label="selTelDenunciante">
								<f:validateLength maximum="9" />
							</h:inputText>
							<rich:message for="selTelDenunciante" ajaxRendered="true" />

							<h:outputText value="Cod Deficiencia Tipica Reportada" />
							<rich:select id="selCodDefTipicaRep"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.codDefTipicaRep}"
								required="true"
								enableManualInput="true" defaultLabel="NO ASIGNADO"	>
								<f:selectItems value="#{historicoDeficienciaApBean.itemsCodDefTipicaRep}" />
							</rich:select>
							<rich:message for="selCodDefTipicaRep" ajaxRendered="true" />

							<h:outputText value="Clazificacion de Zona" />
							<h:selectOneMenu id="selClazona"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.claZona}"
								required="true">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsClaZona}" />
							</h:selectOneMenu>
							<rich:message for="selClazona" ajaxRendered="true" />

							<h:outputText value="Ubigeo" />
							<h:inputText id="selUbigeo"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.ubigeo}"
								style="width:200px" required="false" maxlength = "6"
								label="selUbigeo">
								<f:validateLength maximum="6" />
							</h:inputText>
							<rich:message for="selUbigeo" ajaxRendered="true" />

							<h:outputText value="Fecha Verificacion de Campo" />
							<rich:calendar value="#{historicoDeficienciaApBean.fecVerCampo}"
								id="calendar139" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Verificacion">
							</rich:calendar>
							<rich:message for="calendar139" ajaxRendered="true" />

							<h:outputText value="Cod. Deficiencia Tipica Ver." />
							<rich:select id="selCodDefTipicaVer"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.codDefTipicaVer}"
								required="false" enableManualInput="true" defaultLabel="NO ASIGNADO">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsCodDefTipicaVer}" />
							</rich:select>
							<rich:message for="selCodDefTipicaVer" ajaxRendered="true" />

							<h:outputText value="Sed" />
							<h:inputText id="selSed"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.codSed}"
								style="width:200px" required="false" maxlength = "12"
								label="selSed">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selSed" ajaxRendered="true" />

							<h:outputText value="Codigo UAP" />
							<h:inputText id="selCoduap"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.codUap}"
								style="width:200px" required="false" maxlength = "12"
								label="selCoduap">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selCoduap" ajaxRendered="true" />

							<h:outputText value="Fecha de Subsanacion" />
							<rich:calendar value="#{historicoDeficienciaApBean.fecSubsanacion}"
								id="calendar149" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Subsanacion">
							</rich:calendar>
							<rich:message for="calendar149" ajaxRendered="true" />

							<h:outputText value="OT Numero" />
							<h:inputText id="selOtNumero"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.otNumero}"
								style="width:200px" required="false" maxlength = "12"
								label="selOtNumero">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selOtNumero" ajaxRendered="true" />

							<h:outputText value="Nombre Responsable" />
							<h:inputText id="selNombreRespo"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.nomResponsable}"
								style="width:200px" required="false" maxlength = "32"
								label="selNombreRespo">
								<f:validateLength maximum="32" />
							</h:inputText>
							<rich:message for="selNombreRespo" ajaxRendered="true" />

							<h:outputText value="Cumplimiento" />
							<h:selectOneMenu id="selCumplimiento"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.cumplimiento}"
								required="true">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsCumplimiento}" />
							</h:selectOneMenu>
							<rich:message for="selCumplimiento" ajaxRendered="true" />

							<h:outputText value="Causa No Cumplimiento" />
							<h:inputText id="selCausaNoCump"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.cauNoCumplimiento}"
								style="width:200px" required="false" maxlength = "100"
								label="selCausaNoCump">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selCausaNoCump" ajaxRendered="true" />

							<h:outputText value="Solicitud de Ampl. de Plazo" />
							<h:selectOneMenu id="selSolAmpPla"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.solAmpPlazo}"
								required="true">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsSolAmpPlazo}" />
							</h:selectOneMenu>
							<rich:message for="selSolAmpPla" ajaxRendered="true" />
							
							<h:outputText value="Observacion" />
							<h:inputText id="selObservacion"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.observacion}"
								style="width:200px" required="false" maxlength = "100"
								label="selObservacion">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selObservacion" ajaxRendered="true" />

							<h:outputText value="Localidad" />
							<rich:select id="selLocalidadPro"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.localidad}"
								required="true" style="width:200px" 
								enableManualInput="true" defaultLabel="NO ASIGNADO"	>
								<f:selectItems value="#{historicoDeficienciaApBean.itemsLocalidad}" />
								<f:converter converterId="localidadConverter" />
							</rich:select>
							<rich:message for="selLocalidadPro" ajaxRendered="true" />
							
							<h:outputText value="Fecha Maxima de Subsanacion" />
							<rich:calendar value="#{historicoDeficienciaApBean.fecMaxResolucion}"
								id="calendar159" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha Maxima de Resolucion">
							</rich:calendar>
							<h:panelGrid columns="2">
							<rich:message for="calendar159" ajaxRendered="true" />
							<h:commandButton 
								    id="fechaMaxima"
								    title="Calcular Maxima Fecha de Subsanacion" 
								    action="#{historicoDeficienciaApBean.fechaRecepcionCambio}"
								    image="/resources/images/reload.png"
								    style="width: 20px; high: 20px"
								    reRender="calendar159">
							</h:commandButton>
							</h:panelGrid>
	
							<h:outputText value="Sincronizar" />
							<h:selectOneMenu  id="selSincronizar"
								value="#{historicoDeficienciaApBean.historicoDeficienciaAp.sincronizar}"
								style="width:200px">
								<f:selectItems
									value="#{historicoDeficienciaApBean.itemsSincronizar}" />
							</h:selectOneMenu>
							<rich:message for="selSincronizar" ajaxRendered="true" />
										
						</h:panelGrid>
					</rich:panel>
				</rich:tab>
				
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:tabPanel>

			<rich:panel>
				<a4j:commandButton id="botonGrabar" title="Grabar"
					action="#{historicoDeficienciaApBean.salvar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
			        &nbsp;&nbsp;&nbsp;&nbsp;
			        <a4j:commandButton id="botonCancelar" title="Cancelar"
					action="/zonasegura/proc078/historicoDeficienciaApListar?faces-redirect=true"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>
			</rich:panel>

		</h:form>
	</ui:define>
</ui:composition>
</html>