<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form>
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año/Mes" />&nbsp;&nbsp;
				<h:selectOneMenu id="selPeriodoMedicion"
					value="#{historicoDeficienciaApBean.periodoMedicion}" required="true">
					<f:selectItems value="#{historicoDeficienciaApBean.itemsPeriodoMedicion1}" />
					<f:converter converterId="periodoMedicionConverter" />
					<f:ajax event="change" listener="#{historicoDeficienciaApBean.filtroChanged}"
						execute="selPeriodoMedicion" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Historico"
					action="#{historicoDeficienciaApBean.HistoricoDeficienciaApxPeriodo()}"
					reRender="tableHistoricoDeficienciaAp" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonSincronizar"
					title="Sincronizar Deficiencias Ap"
					onclick="if(!confirm('Se sincronizara las Deficiencias AP.Esta seguro que desea continuar?')) {return false;};"
					action="#{historicoDeficienciaApBean.sincronizarDeficienciasAP()}"
					reRender="tableHistoricoDeficienciaAp" image="/resources/images/download.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonConfigurarSin"
					style="width: 20px; high: 20px" title="Configurar sincronizacion"
					image="/resources/images/configurar_reportes.png">
					<rich:componentControl target="popup" operation="show" />
				</h:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularAnexo3"
					title="Calcular Indicadores Anexo 3 "
					action="#{historicoDeficienciaApBean.calcularAnexo3()}"
					reRender="tableHistoricoDeficienciaAp" image="/resources/images/engine.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarA3"
					title="Exportar Anexo 3 "
					action="#{historicoDeficienciaApBean.generarAnexo3()}"
					reRender="tableHistoricoDeficienciaAp" image="/resources/images/anexo1_074.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarafectados"
					title="Exportar a excel Historicos"
					action="#{historicoDeficienciaApBean.exportarHistoricoDeficienciaAp()}"
					reRender="tableHistoricoDeficienciaAp" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
					
				<rich:popupPanel id="popup" modal="false" autosized="true"
					resizeable="false">
					<f:facet name="header">
						<h:outputText value="Configurar Sincronizacion" />
					</f:facet>
					<f:facet name="controls">
						<h:outputLink value="#"
							onclick="#{rich:component('popup')}.hide(); return false;">
			                X
			            </h:outputLink>
					</f:facet>
					<br />
					<br />
					<h:outputText value="Tipo Sincronizacion" />&nbsp;
			        <h:selectOneMenu id="selTipoSin"  value="#{historicoDeficienciaApBean.tipoSin}" required="false" style="width:330px">
							<f:selectItems value="#{historicoDeficienciaApBean.itemsTipoSin}"/>
			        </h:selectOneMenu>
					<br />
					<h:outputText value="Operacion" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        <h:selectOneMenu id="selOperacion"  value="#{historicoDeficienciaApBean.operacion}" required="false" style="width:330px">
							<f:selectItems value="#{historicoDeficienciaApBean.itemsOperacion}"/>
			        </h:selectOneMenu>
					<br />
					<h:outputText value="Fecha" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<rich:calendar value="#{historicoDeficienciaApBean.fechaSincronizar}"
						id="calendar1" locale="es_PE" popup="true"
						datePattern="dd/MM/yyyy" showApplyButton="false" cellWidth="24px"
						cellHeight="22px" immediate="true" label="Fecha Desde">
						<f:converter converterId="dateConverter" />
					</rich:calendar>

					<br />
					<br />
					<br />
					<br />
					<a href="#" onclick="#{rich:component('popup')}.hide()">Cerrar</a>

				</rich:popupPanel>	
				
			</rich:panel>
			
			<rich:panel header="Historico Deficiencias de AP (#{historicoDeficienciaApBean.historicosDeficienciaAp.size()})">
				<rich:extendedDataTable value="#{historicoDeficienciaApBean.historicosDeficienciaAp}" var="p"
					id="tableHistoricoDeficienciaAp" rows="25"  width="100%" reRender="dsHistoricoDeficienciaAp" 
					rendered="#{not empty historicoDeficienciaApBean.historicosDeficienciaAp}"
					rowClasses="odd-row, even-row" rowKeyVar="index" >  
						
								
						<rich:column filterValue="#{historicoDeficienciaApBean.numDenunciaFilter}" width="150px"
							 		filterExpression="#{fn:containsIgnoreCase(p.numDenuncia,historicoDeficienciaApBean.numDenunciaFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Num. de Denuncia" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.numDenunciaFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.numDenuncia}" />
						</rich:column>
						
						<rich:column filterValue="#{historicoDeficienciaApBean.codIdeDenunciaFilter}" width="150px"
							 		filterExpression="#{fn:containsIgnoreCase(p.codIdeDenuncia,historicoDeficienciaApBean.codIdeDenunciaFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod. Ide Denuncia" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.codIdeDenunciaFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codIdeDenuncia}" />
						</rich:column>

						<rich:column filterValue="#{historicoDeficienciaApBean.codIdeUniDeficienciaFilter}" width="150px"
							 		filterExpression="#{fn:containsIgnoreCase(p.codIdeUniDeficiencia,historicoDeficienciaApBean.codIdeUniDeficienciaFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod. Ide Uni Denuncia" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.codIdeUniDeficienciaFilter}" style="width:110px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codIdeUniDeficiencia}" />
						</rich:column>
						

						<rich:column filterValue="#{historicoDeficienciaApBean.anoFilter}" width="80px"
							 		filterExpression="#{fn:containsIgnoreCase(p.ano,historicoDeficienciaApBean.anoFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Año" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.anoFilter}" style="width:60px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.ano}" />
						</rich:column>
						
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Trimestre</f:facet>
							<h:outputText value="#{p.trimestre}" />
						</rich:column>
						

						<rich:column filterValue="#{historicoDeficienciaApBean.sisElectricoFilter}" width="120px"
							 		filterExpression="#{fn:containsIgnoreCase(p.sisElectrico,historicoDeficienciaApBean.sisElectricoFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sistema Electrico" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.sisElectricoFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.sisElectrico}" />
						</rich:column>

						
						<rich:column filterValue="#{historicoDeficienciaApBean.fecRecepcionFilter}"
									filter="#{historicoDeficienciaApBean.getFilterFecRecepcion()}" 
									filterEvent="onchange"
							 		filterType="custom"
							 		width="180px" style="text-align:center">
							<f:facet name="header">Fecha De Recepcion
								<h:panelGroup>
								    <rich:calendar value="#{historicoDeficienciaApBean.fecRecepcionFilter}"
										id="calendar191" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha Recepcion" 
										style="text-align:center;" >
										<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>							
							</f:facet>
							<h:outputText value="#{p.fecRecepcion}" locale="es_PE" >
							
							</h:outputText>
						</rich:column>
				

						<rich:column filterValue="#{historicoDeficienciaApBean.forDetDenunciaFilter}" style="text-align:center" width="250px"
							 		filter="#{historicoDeficienciaApBean.getFilterForDetDenuncia()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Forma Det Denuncia" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.forDetDenunciaFilter}" style="width:230px" >
	                            		<f:selectItems value="#{historicoDeficienciaApBean.itemsForDetDenuncia1}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.forDetDenuncia}" />
						</rich:column>


						<rich:column filterValue="#{historicoDeficienciaApBean.nomDenuncianteFilter}" width="170px"
							 		filterExpression="#{fn:containsIgnoreCase(p.nomDenunciante,historicoDeficienciaApBean.nomDenuncianteFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Nom. de Denunciante" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.nomDenuncianteFilter}" style="width:120px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.nomDenunciante}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Dir. Ubi Ap</f:facet>
							<h:outputText value="#{p.dirFroUap}" />
						</rich:column>

						<rich:column style="text-align:center" width="260px">
							<f:facet name="header">Dir. Denunciante</f:facet>
							<h:outputText value="#{p.dirDenunciante}" />
						</rich:column>
				 
						<rich:column style="text-align:center" width="260px">
							<f:facet name="header">Transcripcion de Denuncia</f:facet>
							<h:outputText value="#{p.denTranscripcion}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Telefono Denun. </f:facet>
							<h:outputText value="#{p.telDenunciante}" />
						</rich:column>
					
						<rich:column filterValue="#{historicoDeficienciaApBean.codDefTipicaRepFilter}" style="text-align:center" width="280px"
							 		filter="#{historicoDeficienciaApBean.getFilterCodDefTipicaRep()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod Def Tipica Rep" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.codDefTipicaRepFilter}" >
	                            		<f:selectItems value="#{historicoDeficienciaApBean.itemsCodDefTipicaRep1}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codDefTipicaRep}" />
						</rich:column>

						<rich:column filterValue="#{historicoDeficienciaApBean.claZonaFilter}" style="text-align:center" width="170px"
							 		filter="#{historicoDeficienciaApBean.getFilterClaZona()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cla Zona" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.claZonaFilter}" >
	                            		<f:selectItems value="#{historicoDeficienciaApBean.itemsClaZona1}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.claZona}" />
						</rich:column>

						<rich:column filterValue="#{historicoDeficienciaApBean.ubigeoFilter}" width="120px"
							 		filterExpression="#{fn:containsIgnoreCase(p.ubigeo,historicoDeficienciaApBean.ubigeoFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Ubigeo" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.ubigeoFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.ubigeo}" />
						</rich:column>
					
						<rich:column filterValue="#{historicoDeficienciaApBean.fecVerCampoFilter}"
									filter="#{historicoDeficienciaApBean.getFilterFecVerCampo()}" 
									filterEvent="onchange"
							 		filterType="custom"
							 		width="180px" style="text-align:center">
							<f:facet name="header">Fecha Ver Campo
								<h:panelGroup>
								    <rich:calendar value="#{historicoDeficienciaApBean.fecVerCampoFilter}"
										id="calendar192" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha Recepcion" 
										style="text-align:center;" >
										<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>							
							</f:facet>
							<h:outputText value="#{p.fecVerCampo}" locale="es_PE" >
							
							</h:outputText>
						</rich:column>

						<rich:column filterValue="#{historicoDeficienciaApBean.codDefTipicaVerFilter}" style="text-align:center" width="280px"
							 		filter="#{historicoDeficienciaApBean.getFilterCodDefTipicaVer()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod Def Tipica Ver" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.codDefTipicaVerFilter}" >
	                            		<f:selectItems value="#{historicoDeficienciaApBean.itemsCodDefTipicaVer1}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codDefTipicaVer}" />
						</rich:column>
					
						<rich:column filterValue="#{historicoDeficienciaApBean.codSedFilter}" width="120px"
							 		filterExpression="#{fn:containsIgnoreCase(p.codSed,historicoDeficienciaApBean.codSedFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sed" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.codSedFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codSed}" />
						</rich:column>
					
						<rich:column filterValue="#{historicoDeficienciaApBean.codUapFilter}" width="120px"
							 		filterExpression="#{fn:containsIgnoreCase(p.codUap,historicoDeficienciaApBean.codUapFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod UAP" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.codUapFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codUap}" />
						</rich:column>
						
						<rich:column filterValue="#{historicoDeficienciaApBean.fecSubsanacionFilter}"
									filter="#{historicoDeficienciaApBean.getFilterFecSubsanacion()}" 
									filterEvent="onchange"
							 		filterType="custom"
							 		width="180px" style="text-align:center">
							<f:facet name="header">Fecha de Subsanacion
								<h:panelGroup>
								    <rich:calendar value="#{historicoDeficienciaApBean.fecSubsanacionFilter}"
										id="calendar193" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha Recepcion" 
										style="text-align:center;" >
										<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>							
							</f:facet>
							<h:outputText value="#{p.fecSubsanacion}" locale="es_PE" >
							
							</h:outputText>
						</rich:column>
						

						<rich:column filterValue="#{historicoDeficienciaApBean.otNumeroFilter}" width="120px"
							 		filterExpression="#{fn:containsIgnoreCase(p.otNumero,historicoDeficienciaApBean.otNumeroFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="OT Numero" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.otNumeroFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.otNumero}" />
						</rich:column>
						

						<rich:column filterValue="#{historicoDeficienciaApBean.nomResponsableFilter}" width="120px"
							 		filterExpression="#{fn:containsIgnoreCase(p.nomResponsable,historicoDeficienciaApBean.nomResponsableFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Nom Responsable" /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.nomResponsableFilter}" style="width:100px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.nomResponsable}" />
						</rich:column>

	<!-- 				<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Cumplimiento</f:facet>
							<h:outputText value="#{p.cumplimiento}" />
						</rich:column>
	 -->					
						<rich:column filterValue="#{historicoDeficienciaApBean.cumplimientoFilter}" style="text-align:center" width="160px"
							 		filter="#{historicoDeficienciaApBean.getFilterCumplimiento()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cumplimiento" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.cumplimientoFilter}" >
	                            		<f:selectItems value="#{historicoDeficienciaApBean.itemsCumplimiento1}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.cumplimiento}" />
						</rich:column>
						
						
						
						
						<rich:column filterValue="#{historicoDeficienciaApBean.cauNoCumplimientoFilter}" width="170px"
							 		filterExpression="#{fn:containsIgnoreCase(p.cauNoCumplimiento,historicoDeficienciaApBean.cauNoCumplimientoFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cau no Cumplim." /><br/>
		                        	<h:inputText value="#{historicoDeficienciaApBean.cauNoCumplimientoFilter}" style="width:120px">
		                            	<a4j:ajax event="blur" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.cauNoCumplimiento}" />
						</rich:column>
						
						<rich:column filterValue="#{historicoDeficienciaApBean.solAmpPlazoFilter}" style="text-align:center" width="120px"
							 		filter="#{historicoDeficienciaApBean.getFilterSolAmpPlazo()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sol Amp Plazo" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.solAmpPlazoFilter}" >
	                            		<f:selectItems value="#{historicoDeficienciaApBean.itemsSolAmpPlazo1}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.solAmpPlazo}" />
						</rich:column>
						

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Observacion</f:facet>
							<h:outputText value="#{p.observacion}" />
						</rich:column>
						
						<rich:column filterValue="#{historicoDeficienciaApBean.localidadFilter}" width="210px" style="text-align:center"
							 		 filter="#{historicoDeficienciaApBean.getFilterLocalidad()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Localidad" style="width:210px" />
		                        	<h:selectOneMenu value="#{historicoDeficienciaApBean.localidadFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{historicoDeficienciaApBean.getItemsLocalidad1()}"/>
	                           			<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
	                           		</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.localidad.codLocalidad}&#32;&#45;&#32;#{p.localidad.nombre}" />
						</rich:column>
				 
						
						<rich:column filterValue="#{historicoDeficienciaApBean.fecMaxResolucionFilter}"
									filter="#{historicoDeficienciaApBean.getFilterFecMaxResolucion()}" 
									filterEvent="onchange"
							 		filterType="custom"
							 		width="180px" style="text-align:center">
							<f:facet name="header">Fecha Maxima de Subsanacion
								<h:panelGroup>
								    <rich:calendar value="#{historicoDeficienciaApBean.fecMaxResolucionFilter}"
										id="calendar199" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha Maxima de Subsanacion" 
										style="text-align:center;" >
										<a4j:ajax event="change" render="tableHistoricoDeficienciaAp,jQueryTags,dsHistoricoDeficienciaAp" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>							
							</f:facet>
							<h:outputText value="#{p.fecMaxResolucion}" locale="es_PE" >
							
							</h:outputText>
						</rich:column>
								
						<rich:column style="text-align:center">
                		<f:facet name="header">Acción</f:facet>
			                 <a4j:commandButton 
							    id="botonEditar"
							    title="Editar" 
							    action="#{historicoDeficienciaApBean.prepararEditar}"
							    reRender="tableHistoricoDeficienciaAp"
							    image="/resources/images/edit.png">
							     <f:param  id="hisDeficienciaId30"  name="hisDeficienciaId" value="#{p.hisDeficienciaId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonVer"
							    title="Ver" 
							    action="#{historicoDeficienciaApBean.prepararVer}"
							    reRender="tableHistoricoDeficienciaAp"
							    image="/resources/images/glasses.png">
							    <f:param  id="hisDeficienciaId31"  name="hisDeficienciaId" value="#{p.hisDeficienciaId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonEliminar"
							    title="Eliminar"
							    onclick="if(!confirm('Se eliminaran las Deficiencias asociadas.Esta seguro que desea eliminar el registro?')) {return false;};"
							    reRender="tableHistoricoDeficienciaAp"
							    action="#{historicoDeficienciaApBean.eliminar}"
							    image="/resources/images/delete-item.png">		
							    <f:param  id="hisDeficienciaId32"  name="hisDeficienciaId" value="#{p.hisDeficienciaId}"/>	  
							 </a4j:commandButton> 
               </rich:column>
					
				</rich:extendedDataTable>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsHistoricoDeficienciaAp" for="tableHistoricoDeficienciaAp"
						maxPages="10" align="left"
						rendered="#{not empty historicoDeficienciaApBean.historicosDeficienciaAp}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				<a4j:commandButton id="botonNuevoHistoricoDeficienciaAp" title="Nuevo DeficienciaAp"
					action="#{historicoDeficienciaApBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableHistoricoDeficienciaAp tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableHistoricoDeficienciaAp tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="#tableHistoricoDeficienciaAp tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableHistoricoDeficienciaAp tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	</ui:define>
</ui:composition>
</html>