<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form id="idformint"> 
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año/Mes" />&nbsp;&nbsp;
				<h:selectOneMenu id="selPeriodoMedicion"
					value="#{clientexSistemaBean.periodoMedicion}" required="true">
					<f:selectItems value="#{clientexSistemaBean.itemsPeriodoMedicion1}" />
					<f:converter converterId="periodoMedicionConverter" />
					<f:ajax event="change" listener="#{clientexSistemaBean.filtroChanged}"
						execute="selPeriodoMedicion" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar ClientexSistema"
					action="#{clientexSistemaBean.ClientexSistemaxPeriodo()}"
					reRender="tableClientexSistema" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularCantidad"
					title="Calcular Cantidad de Suministro x Sistema Electrico"
					action="#{clientexSistemaBean.calcularCantidadSuministros()}"
					reRender="tableClientexSistema"  image="/resources/images/procesar.png" 
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;

				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>

			</rich:panel>

			<rich:panel header="Clientes x Sistema Registradas:">
					<rich:dataTable value="#{clientexSistemaBean.clientexSistemas}" var="p"
						id="tableClientexSistema" rows="100" width="100%" reRender="dsClientexSistema"
						rowClasses="odd-row, even-row" rowkeyVar="rowIndex"
						rendered="#{not empty clientexSistemaBean.clientexSistemas}">
						
							
						<rich:column style="text-align:center">
							<f:facet name="header">Sistema Electrico</f:facet>
							<h:outputText value="#{p.sisElectrico}" />
						</rich:column>
						<rich:column style="text-align:center">
							<f:facet name="header">Clientes con SER</f:facet>
							<h:outputText value="#{p.sumCantidad}" />
						</rich:column>
						<rich:column style="text-align:center">
							<f:facet name="header">Clientes sin SER</f:facet>
							<h:outputText value="#{p.sumCantidadSinSer}" />
						</rich:column>
						
						<rich:column style="text-align:center">
							<f:facet name="header">Clientes  MT sin SER</f:facet>
							<h:outputText value="#{p.sumCantidadSinSerMt}" />
						</rich:column>
						
						<rich:column style="text-align:center">
							<f:facet name="header">Clientes BT sin SER</f:facet>
							<h:outputText value="#{p.sumCantidadSinSerBt}" />
						</rich:column>
				 		 
					</rich:dataTable>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsClientexSistema" for="tableClientexSistema"
						maxPages="10" align="left"
						rendered="#{not empty clientexSistemaBean.clientexSistemas}" oncomplete="refrescarEstilos()"  />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableClientexSistema tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableClientexSistema tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="#tableClientexSistema tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableClientexSistema tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	</ui:define>
</ui:composition>
</html>