<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style type="text/css">
.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.active-row {
	background-color: #FFEBDA !important;
	cursor: default;
}
</style>

		<h:form id="idformint">
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año/Mes" />&nbsp;&nbsp;
				<h:selectOneMenu id="selPeriodoMedicion"
					value="#{clientexSectorTipicoAlimentadorBean.periodoMedicion}"
					required="true">
					<f:selectItems
						value="#{clientexSectorTipicoAlimentadorBean.itemsPeriodoMedicion1}" />
					<f:converter converterId="periodoMedicionConverter" />
					<f:ajax event="change"
						listener="#{clientexSectorTipicoAlimentadorBean.filtroChanged}"
						execute="selPeriodoMedicion" render="@all" />
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar ClientexSistema"
					action="#{clientexSectorTipicoAlimentadorBean.ClientexSectorTipicoAlimentador()}"
					reRender="tableClientexSectorTipico tableClientexAlimentador tableClientexSistema"
					image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularCantidad"
					title="Calcular Cantidad de Suministro x Sector Tipico y Alimentador"
					action="#{clientexSectorTipicoAlimentadorBean.calcularCantidadSuministros()}"
					reRender="tableClientexSectorTipico tableClientexAlimentador tableClientexSistema"
					image="/resources/images/procesar.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;

				<a4j:commandLink value="Volver"
					action="/zonasegura/default?faces-redirect=true"
					style="position:absolute;right:20px" />

			</rich:panel>
			<h:panelGrid columns="3">
				<rich:panel header="Clientes por Sector Tipico Registrados:">
					<rich:dataTable
						value="#{clientexSectorTipicoAlimentadorBean.clientexSectorTipicos}"
						var="p" id="tableClientexSectorTipico" rows="30" width="100%"
						reRender="dsClientexSectorTipico" rowClasses="odd-row, even-row"
						rowkeyVar="rowIndex"
						rendered="#{not empty clientexSectorTipicoAlimentadorBean.clientexSectorTipicos}">

						<f:facet name="header">
							<rich:columnGroup>
								<rich:column style="text-align:center">
									<h:outputText value="Sector Tipico" />
								</rich:column>
								<rich:column style="text-align:center">
									<h:outputText value="Cantidad de Clientes" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>

						<rich:column style="text-align:center">
							<h:outputText value="#{p.sectorTipico}" />
						</rich:column>
						<rich:column style="text-align:center">
							<h:outputText value="#{p.sumCantidad}" />
						</rich:column>
						
						<f:facet name="footer">
 
				            <rich:columnGroup>
				                <rich:column>Total</rich:column>
				                <rich:column>
				                    <h:outputText value="#{clientexSectorTipicoAlimentadorBean.totalSectorTipico}" />
				                </rich:column>
				            </rich:columnGroup>
				        </f:facet>

					</rich:dataTable>

					<h:panelGrid columns="1">
						<rich:dataScroller id="dsClientexSectorTipico"
							for="tableClientexSectorTipico" maxPages="10" align="left"
							rendered="#{not empty clientexSectorTipicoAlimentadorBean.clientexSectorTipicos}"
							oncomplete="refrescarEstilos()" />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags" />
					</h:panelGrid>
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
				</rich:panel>
				<rich:panel header="Clientes por Alimentador Registrados:">
					<rich:dataTable
						value="#{clientexSectorTipicoAlimentadorBean.clientexAlimentadores}"
						var="p" id="tableClientexAlimentador" rows="30" width="100%"
						reRender="dsClientexAlimentador" rowClasses="odd-row, even-row"
						rowkeyVar="rowIndex"
						rendered="#{not empty clientexSectorTipicoAlimentadorBean.clientexAlimentadores}">

						
						<f:facet name="header">
							<rich:columnGroup>
								<rich:column style="text-align:center">
									<h:outputText value="Sistema Electrico" />
								</rich:column>
								<rich:column style="text-align:center">
									<h:outputText value="Sector Tipico" />
								</rich:column>
								<rich:column style="text-align:center">
									<h:outputText value="Alimentador" />
								</rich:column>
								<rich:column style="text-align:center">
									<h:outputText value="Cantidad de Clientes" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						
						<rich:column style="text-align:center">
							<h:outputText value="#{p.sistemaElectrico}" />
						</rich:column>
						<rich:column style="text-align:center">
							<h:outputText value="#{p.sector}" />
						</rich:column>
						<rich:column style="text-align:center">
							<h:outputText value="#{p.alimentador}" />
						</rich:column>
						<rich:column style="text-align:center">
							<h:outputText value="#{p.sumCantidad}" />
						</rich:column>
						
						<f:facet name="footer">
 
				            <rich:columnGroup>
				            	<rich:column></rich:column>
				            	<rich:column></rich:column>
				                <rich:column>Total</rich:column>
				                <rich:column>
				                    <h:outputText value="#{clientexSectorTipicoAlimentadorBean.totalAlimentador}" />
				                </rich:column>
				            </rich:columnGroup>
				        </f:facet>

					</rich:dataTable>

					<h:panelGrid columns="1">
						<rich:dataScroller id="dsClientexAlimentador"
							for="tableClientexAlimentador" maxPages="10" align="left"
							rendered="#{not empty clientexSectorTipicoAlimentadorBean.clientexAlimentadores}"
							oncomplete="refrescarEstilos2()" />
						<a4j:jsFunction name="refrescarEstilos2" render="jQueryTags" />
					</h:panelGrid>
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
				</rich:panel>
				<rich:panel header="Clientes por Sistema Registrados:">
					<rich:dataTable
						value="#{clientexSectorTipicoAlimentadorBean.clientexSistemas}"
						var="p" id="tableClientexSistema" rows="100" width="100%"
						reRender="dsClientexSistema" rowClasses="odd-row, even-row"
						rowkeyVar="rowIndex"
						rendered="#{not empty clientexSectorTipicoAlimentadorBean.clientexSistemas}">

						<f:facet name="header">
							<rich:columnGroup>
								<rich:column style="text-align:center">
									<h:outputText value="Sistema Electrico" />
								</rich:column>
								<rich:column style="text-align:center">
									<h:outputText value="Cantidad de Clientes con SER" />
								</rich:column>
							</rich:columnGroup>
						</f:facet>
						<rich:column style="text-align:center">
							<h:outputText value="#{p.sisElectrico}" />
						</rich:column>
						<rich:column style="text-align:center">
							<h:outputText value="#{p.sumCantidad}" />
						</rich:column>
						<f:facet name="footer">
 
				            <rich:columnGroup>
				                <rich:column>Total</rich:column>
				                <rich:column>
				                    <h:outputText value="#{clientexSectorTipicoAlimentadorBean.totalSistemaConSer}" />
				                </rich:column>
				            </rich:columnGroup>
				        </f:facet>

					</rich:dataTable>

					<h:panelGrid columns="1">
						<rich:dataScroller id="dsClientexSistema"
							for="tableClientexSistema" maxPages="10" align="left"
							rendered="#{not empty clientexSectorTipicoAlimentadorBean.clientexSistemas}"
							oncomplete="refrescarEstilos()" />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags" />
					</h:panelGrid>
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
				</rich:panel>
			</h:panelGrid>
			<rich:panel>
				<a4j:commandLink value="Volver"
					action="/zonasegura/default?faces-redirect=true"
					style="position:absolute;right:20px" />
			</rich:panel>
		</h:form>

		<h:panelGroup id="jQueryTags">

			<!-- <rich:jQuery selector="#tableClientexSistema tr:odd:not(:first)" query="addClass('odd-row')" /> -->
			<!-- <rich:jQuery selector="#tableClientexSistema tr:even:not(:first)" query="addClass('even-row')" /> -->
			<rich:jQuery selector="#tableClientexSistema tr:not(:first)"
				event="mouseover" query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableClientexSistema tr:not(:first)"
				event="mouseout" query="jQuery(this).removeClass('active-row')" />

		</h:panelGroup>

		<a4j:status>
			<f:facet name="start">
				<h:graphicImage value="/resources/images/procesando.gif"
					style="width: 30px; high: 30px; position:absolute;left:600px;top:300px" />
			</f:facet>
		</a4j:status>
	</ui:define>
</ui:composition>
</html>