<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form > 
	      
	      <rich:messages ajaxRendered="true" />
	         <rich:panel   header="Compensacion Suministro ">
	         <h:inputHidden value="#{compensacionSuministroBean.compensacionSuministro.estado}"/>
	         <h:panelGrid columns="3">
		  	                 
	           <h:outputText value="Codigo Relevador" />
	           <h:inputText id="selcodRelev" value="#{compensacionSuministroBean.compensacionSuministro.codRelevador}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selcodRelev" ajaxRendered="true" />
	           
	           <h:outputText value="NIS Afectado" />
	           <h:inputText id="selNisafectado" value="#{compensacionSuministroBean.compensacionSuministro.numSumAfectado}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selNisafectado" ajaxRendered="true" />
	           
	           <h:outputText value="Semestre" />
	           <h:inputText id="selsemestre" value="#{compensacionSuministroBean.compensacionSuministro.semestre}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selsemestre" ajaxRendered="true" />
	           
	           <h:outputText value="Año" />
	           <h:inputText id="selano" value="#{compensacionSuministroBean.compensacionSuministro.ano}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selano" ajaxRendered="true" />
	           
	           <h:outputText value="Numero Interrupciones No Programadas" />
	           <h:inputText id="selnuminternoprog" value="#{compensacionSuministroBean.compensacionSuministro.numIntNoProgramadas}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selnuminternoprog" ajaxRendered="true" />
	           
	           <h:outputText value="Numero Interrupciones Programadas por mantenimiento" />
	           <h:inputText id="selnuminterprogman" value="#{compensacionSuministroBean.compensacionSuministro.numIntProMantenimiento}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selnuminterprogman" ajaxRendered="true" />
	           
	           <h:outputText value="Numero Interrupciones Programadas Exp. Reforzamiento" />
	           <h:inputText id="selnuminterprogexpref" value="#{compensacionSuministroBean.compensacionSuministro.numIntProExpReforzamiento}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selnuminterprogexpref" ajaxRendered="true" />
	           
	           <h:outputText value="Numero Interrupciones Recalculo Carga" />
	           <h:inputText id="selnuminterrreccarga" value="#{compensacionSuministroBean.compensacionSuministro.numIntRecCarga}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selnuminterrreccarga" ajaxRendered="true" />
	           
	           <h:outputText value="Duracion Interrupcion no Programada" />
	           <h:inputText id="seldurinterrnoprog" value="#{compensacionSuministroBean.compensacionSuministro.durIntNoProgramadas}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="seldurinterrnoprog" ajaxRendered="true" />
	           
	           <h:outputText value="Duracion Interrupcion Programada Mantenimiento" />
	           <h:inputText id="seldurinterrprogmant" value="#{compensacionSuministroBean.compensacionSuministro.durIntProMantenimiento}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="seldurinterrprogmant" ajaxRendered="true" />
	           
	  		   <h:outputText value="Duracion Interrupcion Programada Exp. Reforzamiento" />
	           <h:inputText id="seldurinterrprogexpref" value="#{compensacionSuministroBean.compensacionSuministro.durIntProExpReforzamiento}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="seldurinterrprogexpref" ajaxRendered="true" />
	           
	           <h:outputText value="Duracion Interrupcion Recalculo Carga" />
	           <h:inputText id="seldurintecarga" value="#{compensacionSuministroBean.compensacionSuministro.durIntRecCarga}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="seldurintecarga" ajaxRendered="true" />
	           
	           <h:outputText value="Energia Registrada en Semestre" />
	           <h:inputText id="selenersem" value="#{compensacionSuministroBean.compensacionSuministro.eneRegSemestre}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selenersem" ajaxRendered="true" />
	                   
	           <h:outputText value="Monto Compensado Interrupcion Pto.Entrega" />
	           <h:inputText id="selmoncompinterr" value="#{compensacionSuministroBean.compensacionSuministro.monComIntPtoEntrega}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selmoncompinterr" ajaxRendered="true" />
	           
	           <h:outputText value="Monto Compensado por Ley" />
	           <h:inputText id="selmoncompley" value="#{compensacionSuministroBean.compensacionSuministro.monComLeyConcesiones}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selmoncompley" ajaxRendered="true" />
	           
	           <h:outputText value="Monto Compensado Recalculo Carga" />
	           <h:inputText id="selmoncompreccarga" value="#{compensacionSuministroBean.compensacionSuministro.monComRecCarga}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selmoncompreccarga" ajaxRendered="true" />
	           
	           <h:outputText value="Indicador N" />
	           <h:inputText id="selindin" value="#{compensacionSuministroBean.compensacionSuministro.indicadorN}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selindin" ajaxRendered="true" />
	           
	           <h:outputText value="Indicador D" />
	           <h:inputText id="selindid" value="#{compensacionSuministroBean.compensacionSuministro.indicadorD}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selindid" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo de Compensación" />
	           <h:inputText id="selTipCom" value="#{compensacionSuministroBean.compensacionSuministro.tipCompensacion}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selTipCom" ajaxRendered="true" />
	           
	           <h:outputText value="Codigo de Alimentador" />
	           <h:inputText id="selCodAlim" value="#{compensacionSuministroBean.compensacionSuministro.codAlimentador}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selCodAlim" ajaxRendered="true" />
	           
	           <h:outputText value="Sistema Eléctrico" />
	           <h:inputText id="selSisElec" value="#{compensacionSuministroBean.compensacionSuministro.sisElectrico}"  required="true" disabled="true" style="text-align:right;width:80px">
	           </h:inputText>
	           <rich:message for="selSisElec" ajaxRendered="true" />
	
	       </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/interrupcion/suministroAfectadoListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   

	      </h:form>
	  </ui:define>
	</ui:composition>
</html>