<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core">
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
			<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
			</style>
	      <h:form> 
	        <rich:panel header="Buscar Interrupciones por Suministro (#{suministroAfectadoBean.interrupcionxSuministro.size()})">
	           <h:outputText value="Suministro:" />&nbsp;&nbsp;
			   <h:inputText id="numSumAfectado" value="#{suministroAfectadoBean.numSumAfectado}" required="false" style="width:100px">
	           		<f:validateLength maximum="10" />
	           </h:inputText>
	           <a4j:commandButton 
				    id="botonRefrescar"
				    title="Refrescar Suministros" 
				    action="#{suministroAfectadoBean.InterrupcionxSuministro}"
				    reRender="tableInterrupcionSuministro"
				    image="/resources/images/reload.png" 
				    style="width: 20px; high: 20px">
				</a4j:commandButton> 
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarInterrupcionesxSum"
					title="Exportar Todas las Interrupciones x Suministro"
					action="#{suministroAfectadoBean.exportartablainterrupxSum()}"
					reRender="tableInterrupcion" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
							
	       </rich:panel>
	       <rich:panel   header="Interrupciones Encontradas">
	         <rich:dataTable value="#{suministroAfectadoBean.interrupcionxSuministro}" var="p" id="tableInterrupcionSuministro" 
			                          rows="10" width="100%"  rendered="#{not empty suministroAfectadoBean.interrupcionxSuministro}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
                <rich:column style="text-align:center">
					<f:facet name="header">NIS Afectado</f:facet>
					<h:outputText value="#{p.numSumAfectado}" />
				</rich:column>
               	<rich:column style="text-align:center">
						<f:facet name="header">Ubicacion </f:facet>
				<h:outputText value="#{p.ubiSuministro}" />
				</rich:column>
               
                <rich:column style="text-align:center">
						<f:facet name="header">Tension </f:facet>
						<h:outputText value="#{p.tenSuministro}" />
				</rich:column>           
                                   
				<rich:column style="text-align:center">
						<f:facet name="header">SED</f:facet>
						<h:outputText value="#{p.codSed}" />
				</rich:column>                                   
                                   
				<rich:column style="text-align:center">
						<f:facet name="header">SET</f:facet>
						<h:outputText value="#{p.codSet}" />
				</rich:column>                                   
                                   
				<rich:column style="text-align:center">
						<f:facet name="header">Alimentador</f:facet>
						<h:outputText value="#{p.codAlimentador}" />
				</rich:column>
				
				<rich:column style="text-align:center">
						<f:facet name="header">Tipo Interrupcion </f:facet>
						<h:outputText value="#{p.interrupcion.tipoInterrupcion.descripcion}" />
				</rich:column>  
				
				<rich:column style="text-align:center">
						<f:facet name="header">Sol. Fue. Mayor</f:facet>
						<h:outputText value="#{p.interrupcion.solFueMayor}" />
				</rich:column> 
				
				<rich:column style="text-align:center">
						<f:facet name="header">Causa Interrupcion </f:facet>
						<h:outputText value="#{p.interrupcion.causaInterrupcion.descripcion}" />
				</rich:column> 
				
				<rich:column style="text-align:center">
						<f:facet name="header">Periodo </f:facet>
						<h:outputText value="#{p.interrupcion.periodoMedicion.ano}&#32;&#45;&#32;#{p.interrupcion.periodoMedicion.periodo}" />
				</rich:column> 
				
				<rich:column style="text-align:center">
						<f:facet name="header">Inicio Real del sum.</f:facet>
						<h:outputText value="#{p.fecIniIntReal}" />
				</rich:column>
				<rich:column style="text-align:center">
						<f:facet name="header">Fin Real del sum.</f:facet>
						<h:outputText value="#{p.fecFinIntReal}" />
				</rich:column>  
				                 
				<rich:column style="text-align:center">
						<f:facet name="header">Inicio de Inter.</f:facet>
						<h:outputText value="#{p.interrupcion.fecIniInterrupcion}" />
				</rich:column>
				<rich:column style="text-align:center">
						<f:facet name="header">Fin de Inter.</f:facet>
						<h:outputText value="#{p.interrupcion.fecFinInterrupcion}" />
				</rich:column>  
                   
				<rich:column style="text-align:center">
						<f:facet name="header">Inicio Prog. Inter.</f:facet>
						<h:outputText value="#{p.interrupcion.fecIniProgramada}" />
				</rich:column>
				<rich:column style="text-align:center">
						<f:facet name="header">Fin Prog. Inter.</f:facet>
						<h:outputText value="#{p.interrupcion.fecFinProgramada}" />
				</rich:column>     
                                   
				<rich:column style="text-align:center">
					<f:facet name="header">Codigo </f:facet> 			
				    <ui:fragment rendered="#{p.interrupcion.tipoInterrupcion.codTipInterrupcion == 'E' || p.interrupcion.tipoInterrupcion.codTipInterrupcion == 'M'}">
						<a4j:commandLink value="#{p.interrupcion.codInterrupcion}" render="out"  action="#{interrupcionBean.prepararVer}">
								<f:param  id="interrupcionId0021"  name="interrupcionIdX" value="#{p.interrupcion.interrupcionId}"/>
						</a4j:commandLink>
					</ui:fragment>
					
					<ui:fragment rendered="#{p.interrupcion.tipoInterrupcion.codTipInterrupcion == 'N' || p.interrupcion.tipoInterrupcion.codTipInterrupcion == 'R'}">
						<a4j:commandLink value="#{p.interrupcion.codInterrupcion}" render="out"  action="#{interrupcionBean.prepararVerNoProgramada}">
								<f:param  id="interrupcionId002"  name="interrupcionIdX" value="#{p.interrupcion.interrupcionId}"/>
						</a4j:commandLink>
					</ui:fragment>
	            </rich:column>      		
	          </rich:dataTable>
	          
	          <h:panelGrid columns="1">
	          	<rich:dataScroller  id="dsInterrupcionSuministro" for="tableInterrupcionSuministro" maxPages="5" 
	          	 align="left" rendered="#{not empty InterrupcionSuministroBean.interrupcionxSuministro}"
	          	 oncomplete="refrescarEstilos()"/>
	          	 <a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
	          </h:panelGrid>       
           </rich:panel>  
             <rich:panel style="height:35px">
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
	      
	      	<h:panelGroup id="jQueryTags">  
			<rich:jQuery selector="#tableInterrupcionSuministro tr:odd" query="addClass('odd-row')" />
			<rich:jQuery selector="#tableInterrupcionSuministro tr:even" query="addClass('even-row')" />
			<rich:jQuery selector="#tableInterrupcionSuministro tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableInterrupcionSuministro tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup> 
	        <a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
	            </f:facet>
	        </a4j:status>			      
	  </ui:define>
	</ui:composition>
</html>