<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	

	

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form id="idformint"> 
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año/Mes" />&nbsp;&nbsp;
				<h:selectOneMenu id="selPeriodoMedicion"
					value="#{interrupcionBean.periodoMedicion}" required="true">
					<f:selectItems value="#{interrupcionBean.itemsPeriodoMedicion1}" />
					<f:converter converterId="periodoMedicionConverter" />
					<f:ajax event="change" listener="#{interrupcionBean.filtroChanged}"
						execute="selPeriodoMedicion" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Interrupciones"
					action="#{interrupcionBean.InterrupcionesxPeriodo()}"
					reRender="tableInterrupcion" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonSincronizar"
					title="Sincronizar Interrupciones"
					onclick="if(!confirm('Se sincronizara las Interrupciones desde el ISD.Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.sincronizarInterrupcion()}"
					reRender="tableInterrupcion" image="/resources/images/download.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonConfigurarSin"
					style="width: 20px; high: 20px" title="Configurar sincronizacion"
					image="/resources/images/configurar_reportes.png">
					<rich:componentControl target="popup" operation="show" />
				</h:commandButton>
				&nbsp;&nbsp;
				<!--
				<a4j:commandButton id="botonCompensar"
					title="Compensar Interrupciones"
					onclick="if(!confirm('Se compensara las Interrupciones. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.compensarInterrupciones()}"
					reRender="tableInterrupcion" image="/resources/images/dollar.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				-->
				<a4j:commandButton id="botonAtualizarEnergia"
					title="Actualizar Energia Semestral de Suministros Afectados"
					onclick="if(!confirm('Se Actualizara las energias de Suministros Afectados. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.ActualizarEnergiaSemestre()}"
					reRender="tableInterrupcion" image="/resources/images/energia_sem.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<!--  -->
				<a4j:commandButton id="botonCompensarProceso1"
					title="Proceso 1 - Compensar Por NTCSE"
					onclick="if(!confirm('Se compensara las Interrupciones. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.proceso1()}"
					reRender="tableInterrupcion" image="/resources/images/dolar_comp.png"
					oncomplete = "alert('El proceso ha culminado.');"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCompensarProceso2y4"
					title="Procesos 2 y 4 - Compensación por NTCSER Internas"
					onclick="if(!confirm('Se compensara las Interrupciones. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.proceso2y4()}"
					reRender="tableInterrupcion" image="/resources/images/comp_dolar.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCompensarProceso3y5"
					title="Procesos 3 y 5 - Compensación por NTCSER Externas"
					onclick="if(!confirm('Se compensara las Interrupciones. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.proceso3y5()}"
					reRender="tableInterrupcion" image="/resources/images/dollar_com_2.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				
				<!--  -->
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				<a4j:commandButton id="botonCalcular074"
					title="Calcular Indicadores Anexo 2 (Proc.074)"
					action="#{interrupcionBean.calcularIndicadores074()}"
					reRender="tableInterrupcion" image="/resources/images/engine.png"
					oncomplete = "alert('El proceso ha culminado.');"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarA1"
					title="Exportar Anexo 1 Proc.074"
					action="#{interrupcionBean.exportaranexo1_074()}"
					reRender="tableInterrupcion" image="/resources/images/anexo1_074.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarA2"
					title="Exportar Anexo 2 Proc.074"
					action="#{interrupcionBean.exportaranexo2_074()}"
					reRender="tableInterrupcion" image="/resources/images/anexo2_074.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarA1Detail"
					title="Exportar Anexo 1 Proc.074 Detallado"
					action="#{interrupcionBean.exportaranexo1_074_Detail()}"
					reRender="tableInterrupcion" image="/resources/images/anexo1_074.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonConfigurarInterrup"
					style="width: 20px; high: 20px" title="Configurar Conversion de Interrupciones Programadas"
					image="/resources/images/configurar_programadas.png">
					<rich:componentControl target="popup2" operation="show" />
				</h:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonConvertirNoProg"
					title="Convertir Interrupciones a No Programadas"
					onclick="if(!confirm('Se convertiran las Interrupciones Programadas en No Programadas excepto las que se configuraron No Convertir.Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.convertirNoProgrogamada()}"
					reRender="tableInterrupcion" image="/resources/images/cambiar_programadas.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularEnerPot"
					title="Calcular Energia y Potencia de la Interrupcion Seleccionada"
					action="#{interrupcionBean.calcularEnergiaPotencia()}"
					reRender="tableInterrupcion" image="/resources/images/calculator_reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularAllEnerPot"
					title="Calcular Energia y Potencia de Todas las Interrupciones"
					onclick="if(!confirm('Se calcularan las energias y potencias no suministradas de todas las interrupciones del periodo.Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.calcularAllEnergiaPotencia()}"
					reRender="tableInterrupcion" image="/resources/images/calculator_gear.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>	
				&nbsp;&nbsp;
				<a4j:commandButton id="botonMarcarLCE"
					title="Indentificar Interrupciones para LCE"
					onclick="if(!confirm('Se marcarán las Interrupciones para LCE.Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.identificarInterrupcionesLCE()}"
					reRender="tableInterrupcion" image="/resources/images/mark.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>					
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularCompensacionLCE"
					title="Calcular Compensacion LCE"
					onclick="if(!confirm('Se compensara las Interrupciones por LCE. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.calcularCompensacionLCE()}"
					reRender="tableInterrupcion"  image="/resources/images/procesar.png" 
					style="width: 20px; high: 20px">
				</a4j:commandButton>	
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarCompensacionLCE"
					title="Exportar Compensacion por LCE"
					action="#{interrupcionBean.exportarCompensacionLCE()}"
					reRender="tableInterrupcion" image="/resources/images/excel2.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularCompensacionRC"
					title="Calcular Compensacion por Rechazo de Carga"
					onclick="if(!confirm('Se compensara las Interrupciones por Rechazo de Carga. Esta seguro que desea continuar?')) {return false;};"
					action="#{interrupcionBean.calcularCompensacionRC()}"
					reRender="tableInterrupcion"  image="/resources/images/engine2.png" 
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarReporteConsolidado"
					title="Resumen semestral de Interrupciones promedio segun NTCSE (N y D)"
					action="#{interrupcionBean.generarReporteConsolidado()}"
					reRender="tableInterrupcion" image="/resources/images/excel2.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				
				<!---->
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarReporteFuerzaMayU"
					title="Relacion semestral de Interrupciones con Fuerza Mayor/Exoneracion por NTCSE"
					action="#{interrupcionBean.exportarFzaMayorU()}"
					reRender="tableInterrupcion" image="/resources/images/excelU.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarReporteFuerzaMayR"
					title="Relacion semestral de Interrupciones con Fuerza Mayor/Exoneracion por NTCSER"
					action="#{interrupcionBean.exportarFzaMayorR()}"
					reRender="tableInterrupcion" image="/resources/images/excelR.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				&nbsp;&nbsp;
				<h:commandButton id="botonExportarCompensacionSumin"
					title="Exportar Compensacion Suministro"
					action="#{interrupcionBean.exportarComp()}"
					reRender="tableInterrupcion" image="/resources/images/export.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				<!---->
				&nbsp;&nbsp;
				<h:commandButton id="botonResCompSemestre"
					title="Resumen semestral de Compensaciones por localidad segun NTCSE"
					action="#{interrupcionBean.generarReporteResCompSemestre()}"
					reRender="tableInterrupcion" image="/resources/images/rep_comp_sem.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonResIntSemestre"
					title="Resumen semestral de Interrupciones por sistema electrico según NTCSER (NIC y DIC)"
					action="#{interrupcionBean.generarReporteConsolidadoP2y4()}"
					reRender="tableInterrupcion" image="/resources/images/ResInt_sem.png"
					style="width: 20px; high: 20px">
				</h:commandButton>				
				&nbsp;&nbsp;
				<h:commandButton id="botonResCompIntSemestre"
					title="Resumen semestral de Compensaciones por sistema electrico segun NTCSER (Internas)"
					action="#{interrupcionBean.generarReporteCompSerSemestre()}"
					reRender="tableInterrupcion" image="/resources/images/ResCompIntSem.png"
					style="width: 20px; high: 20px">
				</h:commandButton>		
				&nbsp;&nbsp;
				<h:commandButton id="botonResCompExtSemestre"
					title="Resumen semestral de Compensaciones por sistema electrico segun NTCSER (Externas)"
					action="#{interrupcionBean.generarReporteCompfueraSerSem()}"
					reRender="tableInterrupcion" image="/resources/images/ResCompExt.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				&nbsp;&nbsp;	
				<h:commandButton id="botonResCompDisSemestre"
					title="Resumen semestral de Compensaciones por sistema electrico según NTCSER (Rechazo de carga)"
					action="#{interrupcionBean.generarReporteCompDisSem()}"
					reRender="tableInterrupcion" image="/resources/images/RescompDis.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				&nbsp;&nbsp;					
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarInterrupcion"
					title="Exportar Todas las Interrupciones a Excel"
					action="#{interrupcionBean.exportartablainterrup()}"
					reRender="tableInterrupcion" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				
				<!-- mvargas mejora, aun no probada
				&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton  
				    id="botonCargaMasiva"
				    title="Carga Masiva" 
				    action="#{procesoA1B1UploadBean.prepararMostrarCarga()}"
				    reRender="tableMedicion"
				    image="/resources/images/cargar.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 -->
				
				<rich:popupPanel id="popup" modal="false" autosized="true"
					resizeable="false">
					<f:facet name="header">
						<h:outputText value="Configurar Sincronizacion" />
					</f:facet>
					<f:facet name="controls">
						<h:outputLink value="#"
							onclick="#{rich:component('popup')}.hide(); return false;">
			                X
			            </h:outputLink>
					</f:facet>
					<br />
					<br />
					<h:outputText value="Tipo Sincronizacion" />&nbsp;
			        <h:selectOneMenu id="selTipoSin"  value="#{interrupcionBean.tipoSin}" required="false" style="width:330px">
							<f:selectItems value="#{interrupcionBean.itemsTipoSin}"/>
			        </h:selectOneMenu>
					<br />
					<h:outputText value="Operacion" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        <h:selectOneMenu id="selOperacion"  value="#{interrupcionBean.operacion}" required="false" style="width:330px">
							<f:selectItems value="#{interrupcionBean.itemsOperacion}"/>
			        </h:selectOneMenu>
					<br />
					<h:outputText value="Fecha" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<rich:calendar value="#{interrupcionBean.fechaSincronizar}"
						id="calendar1" locale="es_PE" popup="true"
						datePattern="dd/MM/yyyy" showApplyButton="false" cellWidth="24px"
						cellHeight="22px" immediate="true" label="Fecha Desde">
						<f:converter converterId="dateConverter" />
					</rich:calendar>

					<br />
					<br />
					<br />
					<br />
					<a href="#" onclick="#{rich:component('popup')}.hide()">Cerrar</a>

				</rich:popupPanel>
				<rich:popupPanel id="popup2" modal="false" autosized="true"
					resizeable="false">
					<f:facet name="header">
						<h:outputText value="Configurar Conversion de Interrupciones Programadas" />
					</f:facet>
					<f:facet name="controls">
						<h:outputLink value="#"
							onclick="#{rich:component('popup2')}.hide(); return false;">
			                X
			            </h:outputLink>
					</f:facet>
					<br />
					<br />
					<h:outputText value="Codigos de Interrupciones No Consideradas" />
					<br />
	           		<h:inputTextarea id="selCodigosInterCambi" value="#{interrupcionBean.codigoInterCambi}" label="CodigosInterCambi" 
	           		required="false" rows="6" cols="25" style="width:300px"
	           		onkeyup="this.value = this.value.substring(0, 8000);" >
                 	<f:validateLength maximum="8000" />
               		</h:inputTextarea>
					<br />
					<br />
					<a href="#" onclick="#{rich:component('popup2')}.hide()">Cerrar</a>

				</rich:popupPanel>
				
			</rich:panel>
			<f:event listener="#{interrupcionBean.handleEvent}" type="preRenderComponent" />
			
			<div>
				
    			<style>
					table {
					    font-family: arial, sans-serif;
					    font-size:10px;
					    border-collapse: collapse;
					    width: 100%;
					}
					
					td, th {
					    border: 1px solid #dddddd;
					    text-align: left;
					    padding: 1px;
					}
					
					tr:nth-child(even) {
					    background-color: #dddddd;
					}
				</style>
				<div style="width: 100%;display: none;" id="idDivProcesoActivo"  >
					<table>
					  <tr>
					  	<th></th>
					    <th>Proceso</th>
					    <th>Inicio</th>
					    <th>Tarea</th>
					    <th>Tarea Des.</th>
					    <th>Inicio Tarea</th>
					    <th>SubTarea</th>
					    <th>Tiempo Total (dd HH:mm:ss)</th>
					    <th>Tiempo Última Tarea (dd HH:mm:ss)</th>
					    <th>Refrescar</th>
					  </tr>
					  <tr>
					  	<td><img style="width: 20px;height: 20px;"  src="/Calidad/resources/images/procesando.gif" /></td>
					    <td><div id="idDiv1"></div></td>
					    <td><div id="idDiv2"></div></td>
					    <td><div id="idDiv3" style="color: red;"></div></td>
					    <td><div id="idDiv4"></div></td>
					    <td><div id="idDiv5"  ></div></td>
					    <td><div id="idDiv6" ></div></td>
					    <td><div id="idDiv7" style="color: red;" ></div></td>
					    <td><div id="idDiv8" style="color: red;" ></div></td>
					    <td><img style="width: 20px;height: 20px;" onclick="mostrarProcesosEjecucion();"  src="/Calidad/resources/images/reload.png" /></td>
					  </tr>
					</table>
				</div>
				
				
				
			</div>
			<rich:panel header="Interrupciones Registradas:">
				<rich:extendedDataTable value="#{interrupcionBean.interrupciones}" var="p"
					id="tableInterrupcion" rows="25" width="100%" reRender="dsInterrupcion"
					rendered="#{not empty interrupcionBean.interrupciones}"
					rowClasses="odd-row, even-row" rowKeyVar="index" 
					selection="#{interrupcionBean.selection}" selectionMode="single">  
					<a4j:ajax execute="@this" event="selectionchange" listener="#{interrupcionBean.actualizaFilas2}"
				                          render="filas"/>					
						<!-- reRender="dsInterrupcion" -->
						<!-- enableContextMenu="false" -->
						<!-- filterExpression="#{fn:containsIgnoreCase(p.tipoInterrupcion,interrupcionBean.tipInterrupcionFilter)}" -->
						<rich:column style="text-align:center" width="40px">
		                 <f:facet name="header">Item</f:facet>
		                 <h:outputText value="#{index+1}" />               
		                </rich:column>						
						<rich:column filterValue="#{interrupcionBean.tipInterrupcionFilter}" width="190px"
									filter="#{interrupcionBean.getFilterTipoInterrupcion()}"
									filterEvent="onchange"
							 		filterType="custom">							 		
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Interrupcion" />
		                        	<h:selectOneMenu value="#{interrupcionBean.tipInterrupcionFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.getItemsTipoInterrupcion2()}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipoInterrupcion.descripcion}"/>
						</rich:column>
						<rich:column filterValue="#{interrupcionBean.codInterrupcionFilter}" width="90px"
							 		filterExpression="#{fn:containsIgnoreCase(p.codInterrupcion,interrupcionBean.codInterrupcionFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Codigo " /><br/>
		                        	<h:inputText value="#{interrupcionBean.codInterrupcionFilter}" style="width:70px">
		                            	<a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
<!-- 
							<ui:fragment rendered="#{p.suministrosAfectado.size() > 0}">
								<a4j:commandLink value="#{p.codInterrupcion}" render="out"  action="#{suministroAfectadoBean.mostrarAfectados}">
									<f:param  id="interrupcionId"  name="interrupcionId" value="#{p.interrupcionId}"/>
								</a4j:commandLink>
							</ui:fragment>
							<ui:fragment rendered="#{p.suministrosAfectado.size() eq 0}">
								<h:outputText value="#{p.codInterrupcion}" />
							</ui:fragment>
-->
							<a4j:commandLink value="#{p.codInterrupcion}" render="out"  action="#{suministroAfectadoBean.mostrarAfectados}">
								<f:param  id="interrupcionId"  name="interrupcionId" value="#{p.interrupcionId}"/>
							</a4j:commandLink>
						</rich:column>
						<!-- filterExpression="#{fn:containsIgnoreCase(p.causaInterrupcion,interrupcionBean.cauInterrupcionFilter)}" -->
						<rich:column filterValue="#{interrupcionBean.cauInterrupcionFilter}" width="350px"
							 		 filter="#{interrupcionBean.getFilterCausaInterrupcion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Causa de Interrupcion" />
		                        	<h:selectOneMenu value="#{interrupcionBean.cauInterrupcionFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.getItemsCausaInterrupcion2()}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.causaInterrupcion.descripcion}" />
						</rich:column>
			            <rich:column filterValue="#{interrupcionBean.anexo1074Filter}" style="text-align:center" width="100px"
							 		filter="#{interrupcionBean.getFilterAnexo1074()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Anexo1 074" />
		                        	<h:selectOneMenu value="#{interrupcionBean.anexo1074Filter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsAnexo10742}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.anexo1074}" />
						</rich:column>												
						<!-- filterExpression="#{fn:containsIgnoreCase(p.solFueMayor,interrupcionBean.solFueMayorFilter)}"  -->	
						<rich:column filterValue="#{interrupcionBean.solFueMayorFilter}" style="text-align:center" width="90px"
							 		filter="#{interrupcionBean.getFilterSolFueMayor()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="F.Mayor/Ex" />
		                        	<h:selectOneMenu value="#{interrupcionBean.solFueMayorFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsSolFueMayor}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.solFueMayor}" />
						</rich:column>
						
						<rich:column filterValue="#{interrupcionBean.concesionesFilter}" style="text-align:center" width="100px"
							 		filter="#{interrupcionBean.getFilterConcesiones()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Ley Conc." />
		                        	<h:selectOneMenu value="#{interrupcionBean.concesionesFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsConcesiones}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.leyConcesiones}" />
						</rich:column>						
						
					  <rich:column filterValue="#{interrupcionBean.tenInterrupcionFilter}" style="text-align:center" width="150px"
							 		filter="#{interrupcionBean.getFiltertenInterrupcion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Nivel de Tensión " />
		                        	<h:selectOneMenu value="#{interrupcionBean.tenInterrupcionFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsTenInterrupcion}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tenInterrupcion}" />
						</rich:column>
					  <rich:column filterValue="#{interrupcionBean.secTipicoFilter}" style="text-align:center" width="140px"
							 		filter="#{interrupcionBean.getFilterSecTipico()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sector Tipico " />
		                        	<h:selectOneMenu value="#{interrupcionBean.secTipicoFilter}">
	                            		<f:selectItems value="#{interrupcionBean.getItemsSecTipico()}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.secTipico}" />
						</rich:column>								
						<rich:column filterValue="#{interrupcionBean.fecIniProFilter}"
									filter="#{interrupcionBean.getFilterFecIniProgramada()}" 
									filterEvent="onchange"
							 		filterType="custom"
							 		width="160px" style="text-align:center">
							<f:facet name="header">Inicio Programado
								<h:panelGroup>
									<!-- 
		                             <a4j:outputPanel layout="block"> 
		                                <rich:calendar value="#{interrupcionBean.fecIniProFilter}"
											id="calendar19" locale="es_PE" popup="true"
											datePattern="yyyy/MM/dd" showApplyButton="false"
											cellWidth="24px" cellHeight="22px" immediate="true"
											label="Fecha y Hora de Inicio Programada" style="text-align:center">
											<a4j:ajax event="change" render="tableInterrupcion,jQueryTags" execute="@this" />
										</rich:calendar> 
		                            </a4j:outputPanel>
		                             -->
	                                <rich:calendar value="#{interrupcionBean.fecIniProFilter}"
										id="calendar19" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha y Hora de Inicio Programada" 
										style="text-align:center;" >
										<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>							
							</f:facet>
							<h:outputText value="#{p.fecIniProgramada}" locale="es_PE" >
								<!-- <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />  -->
							</h:outputText>
						</rich:column>
						<rich:column filterValue="#{interrupcionBean.fecFinProFilter}"
									filter="#{interrupcionBean.getFilterFecFinProgramada()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="160px">
							<f:facet name="header">Fin Programado
								<h:panelGroup>
									<rich:calendar value="#{interrupcionBean.fecFinProFilter}"
										id="calendar20" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha y Hora de Fin Programada" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecFinProgramada}" locale="es_PE">
							</h:outputText>
						</rich:column>
						<rich:column filterValue="#{interrupcionBean.fecIniIntFilter}"
									filter="#{interrupcionBean.getFilterFecIniInt()}" 
									filterEvent="onchange"
							 		filterType="custom"	style="text-align:center"
							 		width="160px">
							<f:facet name="header">Inicio Interrupcion
								<h:panelGroup>
									<rich:calendar value="#{interrupcionBean.fecIniIntFilter}"
										id="calendar21" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha y Hora de Inicio Interrupcion" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>			
							</f:facet>
							<h:outputText value="#{p.fecIniInterrupcion}" locale="es_PE"/>
						</rich:column>
						<rich:column filterValue="#{interrupcionBean.fecFinIntFilter}"
									filter="#{interrupcionBean.getFilterFecFinInt()}" 
									filterEvent="onchange"
							 		filterType="custom"	style="text-align:center"
							 		width="160px">
							<f:facet name="header">Fin Interrupcion
								<h:panelGroup>
									<rich:calendar value="#{interrupcionBean.fecFinIntFilter}"
										id="calendar22" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha y Hora de Fin Interrupcion" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>			
							</f:facet>
							<h:outputText value="#{p.fecFinInterrupcion}" locale="es_PE"/>
						</rich:column>
						<rich:column filter="#{interrupcionBean.getNumSumRegEstimados()}" 
									filtervalue="#{interrupcionBean.numSumRegEstimadosFilter}"
									filterEvent="onblur"
                         			filterType="custom"
                         			style="text-align:center; width:50px"  sortBy="#{p.numSumRegEstimados}">
			                <f:facet name="header">
			                    <h:panelGroup>
			                        <h:outputText value="Afec.Estim."/><br/>
			                        <h:inputText style="width:40px; text-align:center"
			                        		value="#{interrupcionBean.numSumRegEstimadosFilter}" 
			                        		label="Filtro" >
			                            <f:convertNumber groupingUsed="true"/>
			                            <f:validateLongRange maximum="500000"/>
			                            <a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this"/>
			                        </h:inputText>
			                    </h:panelGroup>
			                </f:facet>
			                <h:outputText value="#{p.numSumRegEstimados}"/>
			            </rich:column>
			            <rich:column filter="#{interrupcionBean.getNumSumRegAfectados()}" 
									filtervalue="#{interrupcionBean.numSumRegAfectadosFilter}"
									filterEvent="onblur"
                         			filterType="custom"
                         			style="text-align:center; width:50px" sortBy="#{p.numSumRegAfectados}">
                         		<f:facet name="header">
                         			<h:panelGroup>
			                        <h:outputText value="Afec.Regul."/><br/>
			                        <h:inputText style="width:40px; text-align:center"
			                        		value="#{interrupcionBean.numSumRegAfectadosFilter}" 
			                        		label="Filtros" >
			                            <f:convertNumber groupingUsed="true"/>
			                            <f:validateLongRange maximum="500000"/>
			                            <a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this"/>
			                        </h:inputText>
			                    </h:panelGroup>
                         		</f:facet>
			            		<h:outputText value="#{p.numSumRegAfectados}" />
			            </rich:column>
			            <rich:column  filter="#{interrupcionBean.getNumCliLibAfectados()}" 
									filtervalue="#{interrupcionBean.numCliLibAfectadosFilter}"
									filterEvent="onblur"
                         			filterType="custom"
			             			style="text-align:center; width:50px"  sortBy="#{p.numCliLibAfectados}">
			             		<f:facet name="header">
                         			<h:panelGroup>
			                        <h:outputText value="Afec.Lib."/><br/>
			                        <h:inputText style="width:40px; text-align:center"
			                        		value="#{interrupcionBean.numCliLibAfectadosFilter}" 
			                        		label="Filtrosc" >
			                            <f:convertNumber groupingUsed="true"/>
			                            <f:validateLongRange maximum="500000"/>
			                            <a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this"/>
			                        </h:inputText>
			                    </h:panelGroup>
                         		</f:facet>
                         		<h:outputText value="#{p.numCliLibAfectados}"/>
			            </rich:column>
<!-- 
			            <rich:column filterValue="#{interrupcionBean.anexo1074Filter}" style="text-align:center" width="100px"
							 		filter="#{interrupcionBean.getFilterAnexo1074()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Anexo1 074" />
		                        	<h:selectOneMenu value="#{interrupcionBean.anexo1074Filter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsAnexo10742}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.anexo1074}" />
						</rich:column>
 -->			
						
						<rich:column filterValue="#{interrupcionBean.motivoFilter}" width="230px"
								filterExpression="#{fn:containsIgnoreCase(p.motFalla,interrupcionBean.motivoFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Motivo de Falla " />
										<h:inputText value="#{interrupcionBean.motivoFilter}" style="width:200px">
											<a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.motFalla}" />
						</rich:column>
						
						<rich:column filterValue="#{interrupcionBean.localizacionFallaFilter}" width="230px"
								filterExpression="#{fn:containsIgnoreCase(p.locFalla,interrupcionBean.localizacionFallaFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Localizacion de Falla" />
										<h:inputText value="#{interrupcionBean.localizacionFallaFilter}" style="width:200px">
											<a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.locFalla}" />
						</rich:column>
						
						<rich:column filterValue="#{interrupcionBean.zonaAfectadaFilter}" style="text-align:center" width="150px"
							 		filter="#{interrupcionBean.getFilterZonaAfectada()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Zona afectada" />
		                        	<h:selectOneMenu value="#{interrupcionBean.zonaAfectadaFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsZonaAfectada}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.zonAfectada}" />
						</rich:column>
						
						<rich:column filterValue="#{interrupcionBean.oriInterrupcionFilter}" style="text-align:center" width="150px"
							 		filter="#{interrupcionBean.getFilterOriInterrupcion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Origen de Interrupción" />
		                        	<h:selectOneMenu value="#{interrupcionBean.oriInterrupcionFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsOrigenInterrupcion}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.oriInterrupcion}" />
						</rich:column>
						
						<rich:column filterValue="#{interrupcionBean.sincronizarFilter}" style="text-align:center" width="100px"
							 		filter="#{interrupcionBean.getFilterSincronizar()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sincronizar" />
		                        	<h:selectOneMenu value="#{interrupcionBean.sincronizarFilter}" >
	                            		<f:selectItems value="#{interrupcionBean.itemsSincronizacion}"/>
	                           			<a4j:ajax event="change" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.sincronizar}" />
						</rich:column>
						
						
					<rich:column style="text-align:center">
						<f:facet name="header">Acción</f:facet>
						<ui:fragment rendered="#{p.tipoInterrupcion.codTipInterrupcion == 'E' || p.tipoInterrupcion.codTipInterrupcion == 'M'}">
							<a4j:commandButton id="botonEditar" title="Editar Programada"
								action="#{interrupcionBean.prepararEditar}"
								reRender="tableInterrupcion" image="/resources/images/edit.png">
								<f:param id="interrupcionId30" name="interrupcionId"
									value="#{p.interrupcionId}" />
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.tipoInterrupcion.codTipInterrupcion == 'N' || p.tipoInterrupcion.codTipInterrupcion == 'R'}">
							<a4j:commandButton id="botonEditarNoProgramada" title="Editar No Programada"
								action="#{interrupcionBean.prepararEditarNoProgramada}"
								reRender="tableInterrupcion" image="/resources/images/edit.png">
								<f:param id="interrupcionId31" name="interrupcionId"
									value="#{p.interrupcionId}" />
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.tipoInterrupcion.codTipInterrupcion == 'E' || p.tipoInterrupcion.codTipInterrupcion == 'M'}">
							<a4j:commandButton id="botonVer" title="Ver Programada"
								action="#{interrupcionBean.prepararVer}"
								reRender="tableInterrupcion"
								image="/resources/images/glasses.png">
								<f:param id="interrupcionId32" name="interrupcionId"
									value="#{p.interrupcionId}" />
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.tipoInterrupcion.codTipInterrupcion == 'N' || p.tipoInterrupcion.codTipInterrupcion == 'R'}">
							<a4j:commandButton id="botonVerNoProgramada" title="Ver No Programada"
								action="#{interrupcionBean.prepararVerNoProgramada}"
								reRender="tableInterrupcion"
								image="/resources/images/glasses.png">
								<f:param id="interrupcionId33" name="interrupcionId"
									value="#{p.interrupcionId}" />
							</a4j:commandButton>
						</ui:fragment>
						<a4j:commandButton id="botonEliminar" title="Eliminar"
							onclick="if(!confirm('Se eliminaran interrupciones asociadas, esta seguro que desea eliminar el registro?')) {return false;};"
							reRender="tableInterrupcion"
							action="#{interrupcionBean.eliminar}"
							image="/resources/images/delete-item.png">
							<f:param id="interrupcionId34" name="interrupcionId"
								value="#{p.interrupcionId}" />
						</a4j:commandButton>
					</rich:column>
				</rich:extendedDataTable>
				
				<h:panelGrid columns="3">
					<rich:dataScroller id="dsInterrupcion" for="tableInterrupcion"
						maxPages="10" align="left"
						rendered="#{not empty interrupcionBean.interrupciones}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
					<h:outputText id="filas" value="Registros encontrados: #{interrupcionBean.filasTotal} de (#{interrupcionBean.interrupciones.size()})" style="color:blue;font-weight:bold;"/>
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				<a4j:commandButton id="botonNuevoProgramado" title="Nueva Interrupcion Programada"
					action="#{interrupcionBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonNuevoNoProgramado" title="Nueva Interrupcion No Programada"
					action="#{interrupcionBean.prepararCrearNoProgramada}"
					image="/resources/images/add-item_np.png">
				</a4j:commandButton>
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableInterrupcion tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableInterrupcion tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="#tableInterrupcion tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableInterrupcion tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
        
        <div style="width: 100%;" id="idDivProcesoHistorico"  >
		</div>
        
        <script src="../../resources/js/jquery-1.12.4.min.js"></script>
		<script src="../../resources/js/jquery-ui.min.js"></script>
		<script src="../../resources/js/util.js"></script>
		<script src="../../resources/js/interrupcionListar.js"></script>
		<link href="../../resources/css/jquery-ui.min.css" rel="stylesheet" />
        
        
	</ui:define>
</ui:composition>
</html>