<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="idform">
			<rich:messages ajaxRendered="true" />
			<rich:tabPanel switchType="client">

				<rich:tab header="Datos de la Interrupción Programada">

					<h:inputHidden value="#{interrupcionBean.interrupcion.estado}" />
					<rich:panel>
						<h:panelGrid columns="6">

							<!-- 1 -->
							<h:outputText value="Periodo de Medicion (*)" style="color:blue" />
							<h:selectOneMenu id="selPeriodoMedicion"
								value="#{interrupcionBean.interrupcion.periodoMedicion}"
								required="true" disabled="true">
								<f:selectItems value="#{interrupcionBean.itemsPeriodoMedicion1}" />
								<f:converter converterId="periodoMedicionConverter" />
							</h:selectOneMenu>
							<rich:message for="selPeriodoMedicion" ajaxRendered="true" />

							<!-- 2 -->
							<h:outputText value="Tipo de Interrupcion (*)" style="color:blue" />
							<h:selectOneMenu id="selTipoInterrupcion"
								value="#{interrupcionBean.interrupcion.tipoInterrupcion}"
								required="true">
								<f:selectItems
									value="#{interrupcionBean.getItemsTipoInterrupcion1(1)}" />
								<f:converter converterId="tipoInterrupcionConverter" />
							</h:selectOneMenu>
							<rich:message for="selTipoInterrupcion" ajaxRendered="true" />

							<!-- 3 -->
							<h:outputText value="Causa de Interrupcion (*)"
								style="color:blue" />
							<h:selectOneMenu id="selCausaInterrupcion"
								value="#{interrupcionBean.interrupcion.causaInterrupcion}"
								required="true">
								<f:selectItems
									value="#{interrupcionBean.getItemsCausaInterrupcion1(1)}" />
								<f:converter converterId="causaInterrupcionConverter" />
							</h:selectOneMenu>
							<rich:message for="selCausaInterrupcion" ajaxRendered="true" />

							<!-- 4 -->
							<h:outputText value="Codigo de Interrupcion (*)"
								style="color:blue" />
							<h:inputText id="selCodigoInt"
								value="#{interrupcionBean.interrupcion.codInterrupcion}"
								style="width:200px" required="true" maxlength = "10" 
								label="Codigo de Interrupcion">
								<f:validateLength maximum="10" />
							</h:inputText>
							<rich:message for="selCodigoInt" ajaxRendered="true" />

							<!-- 5 -->
							<h:outputText value="Potencia Int Estimada (mW)" />
							<h:inputText id="selPotEstimada"
								value="#{interrupcionBean.interrupcion.potIntEstimada}"
								label="Potencia" required="false" style="width:200px">
								<f:validateDoubleRange maximum="100000" />
							</h:inputText>
							<rich:message for="selPotEstimada" ajaxRendered="true" />

							<!-- 6 -->
							<h:outputText value="Ene. Teo. No Suministrada (mW.h)" />
							<h:inputText id="selEnergiaSuministrada"
								value="#{interrupcionBean.interrupcion.eneNoSumEstimada}"
								label="Energia" required="false" style="width:200px">
								<f:validateDoubleRange maximum="100000" />
							</h:inputText>
							<rich:message for="selEnergiaSuministrada" ajaxRendered="true" />

							<!-- 7 -->
							<h:outputText value="Fecha y Hora de Inicio Programada (*)"
								style="color:blue" />
							<rich:calendar value="#{interrupcionBean.fecIniProgramada}"
								id="calendar19" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm:ss" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="true" label="Fecha y Hora de Inicio Programada">
							</rich:calendar>
							<rich:message for="calendar19" ajaxRendered="true" />

							<!-- 8 -->
							<h:outputText value="Fecha y Hora de Fin Programada (*)"
								style="color:blue" />
							<rich:calendar value="#{interrupcionBean.fecFinProgramada}"
								id="calendar20" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm:ss" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="true" label="Fecha y Hora de Fin Programada">
							</rich:calendar>
							<rich:message for="calendar20" ajaxRendered="true" />

							<!-- 9 -->
							<h:outputText value="Aviso de Notificacion 1" />
							<h:selectOneMenu id="selNotificacion1"
								value="#{interrupcionBean.interrupcion.tipoNotificacion1}"
								style="width:200px" required="false">
								<f:selectItems
									value="#{interrupcionBean.itemsTipoNotificacion1}" />
								<f:converter converterId="tipoNotificacionConverter" />
							</h:selectOneMenu>
							<rich:message for="selNotificacion1" ajaxRendered="true" />

							<!-- 10 -->
							<h:outputText value="Fecha de Notificacion 1" />
							<rich:calendar value="#{interrupcionBean.fecNotificacion1}"
								id="calendar21" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="false"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false">
							</rich:calendar>
							<rich:message for="calendar21" ajaxRendered="true" />

							<!-- 11 -->
							<h:outputText value="Aviso de Notificacion 2" />
							<h:selectOneMenu id="selNotificacion2"
								value="#{interrupcionBean.interrupcion.tipoNotificacion2}"
								style="width:200px" required="true">
								<f:selectItems
									value="#{interrupcionBean.itemsTipoNotificacion1}" />
								<f:converter converterId="tipoNotificacionConverter" />
							</h:selectOneMenu>
							<rich:message for="selNotificacion2" ajaxRendered="true" />

							<!-- 12 -->
							<h:outputText value="Fecha de Notificacion 2" />
							<rich:calendar value="#{interrupcionBean.fecNotificacion2}"
								id="calendar22" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="false"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="true" label="Fecha de Notificacion 2">
							</rich:calendar>
							<rich:message for="calendar22" ajaxRendered="true" />

							<!-- 13 -->
							<h:outputText value="Nivel de Tension(*)" style="color:blue" />
							<h:selectOneMenu id="selNivelTensio"
								value="#{interrupcionBean.interrupcion.tenInterrupcion}"
								style="width:200px" required="false">
								<a4j:ajax event="change"
									listener="#{interrupcionBean.tensionChanged}"
									execute="selNivelTensio" render="selOriInte" />
								<f:selectItems value="#{interrupcionBean.itemsNivelTensio}" />
							</h:selectOneMenu>
							<rich:message for="selNivelTensio" ajaxRendered="true" />

							<!-- 14 -->
							<h:outputText value="Modalidad Deteccion" />
							<h:selectOneMenu id="selModalidadDeteccion"
								value="#{interrupcionBean.interrupcion.modalidadDeteccion}"
								required="false">
								<f:selectItems
									value="#{interrupcionBean.getItemsModalidadDeteccion1(1)}" />
								<f:converter converterId="modalidadDeteccionConverter" />
							</h:selectOneMenu>
							<rich:message for="selModalidadDeteccion" ajaxRendered="true" />

							<!-- 15 -->
							<h:outputText value="Fecha Inicio de Interrupcion (*)"
								style="color:blue" />
							<rich:calendar value="#{interrupcionBean.fecIniInterrupcion}"
								id="calendar79" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm:ss" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha Inicio de Interrupcion">
							</rich:calendar>
							<rich:message for="calendar79" ajaxRendered="true" />

							<!-- 16 -->
							<h:outputText value="Fecha Fin de Interrupcion (*)"
								style="color:blue" />
							<rich:calendar value="#{interrupcionBean.fecFinInterrupcion}"
								id="calendar80" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm:ss" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha Fin de Interrupcion">
							</rich:calendar>
							<rich:message for="calendar80" ajaxRendered="true" />

							<!-- 17 -->
							<h:outputText value="Fase Interrupida (*)" style="color:blue" />
							<h:selectOneMenu id="selFase"
								value="#{interrupcionBean.interrupcion.fasInterrumpida}"
								style="width:200px" required="false">
								<f:selectItems value="#{interrupcionBean.itemsfasInterrumpida}" />
							</h:selectOneMenu>
							<rich:message for="selFase" ajaxRendered="true" />

							<!-- 18 -->
							<h:outputText value="Ubicacion Punto Programado (*)"
								style="color:blue" />
							<h:inputText id="selUbicacion"
								value="#{interrupcionBean.interrupcion.ubiPtoIntProgramado}"
								label="Ubicacion" required="true" style="width:200px"
								maxlength = "60">
								<f:validateLength maximum="60" />
							</h:inputText>
							<rich:message for="selUbicacion" ajaxRendered="true" />

							<!-- 19 -->
							<h:outputText value="Solicitud de Exoneración (*)"
								style="color:blue" />
							<h:selectOneMenu id="selSolE"
								value="#{interrupcionBean.interrupcion.solFueMayor}"
								style="width:200px" required="false">
								<f:selectItems value="#{interrupcionBean.itemsSolFuerzaMayor}" />
								<a4j:ajax event="change"
									listener="#{interrupcionBean.solFueMayorChanged}"
									execute="selSolE" render="selDuracionEx,calendar85" />
							</h:selectOneMenu>
							<rich:message for="selSolE" ajaxRendered="true" />

							<!-- 20 -->
							<h:outputText value="Localidad" />
							<h:selectOneMenu id="selLocalidadin"
								value="#{interrupcionBean.interrupcion.localidad}"
								required="true" style="width:200px">
								<f:selectItems value="#{interrupcionBean.itemsLocalidad1}" />
								<a4j:ajax event="change"
									listener="#{interrupcionBean.localidadChanged}"
									execute="selLocalidadin" render="selZonaAfe,selSisElec,selSecTipico" />
								<f:converter converterId="localidadConverter" />
								
							</h:selectOneMenu>
							<rich:message for="selLocalidadin" ajaxRendered="true" />

							<!-- 21 -->
							<h:outputText value="Duración de Exoneración (Horas)" />
							<h:inputText id="selDuracionEx"
								value="#{interrupcionBean.interrupcion.duracionExoFum}"
								label="DuracionExo" required="false" style="width:200px">
								<a4j:ajax event="blur"
									listener="#{interrupcionBean.duracionChanged}"
									execute="selDuracionEx" render="calendar85" />
								<f:validateDoubleRange maximum="10000" />
							</h:inputText>
							<rich:message for="selDuracionEx" ajaxRendered="true" />

							<!-- 22 -->
							<h:outputText value="Nombre Responsable" />
							<h:inputText id="selResponsable"
								value="#{interrupcionBean.interrupcion.nomResponsable}"
								label="Responsable" required="false" style="width:200px"
								maxlength = "60">
								<f:validateLength maximum="60" />
							</h:inputText>
							<rich:message for="selResponsable" ajaxRendered="true" />

							<h:outputText value="Fecha Fin de Exoneracion" />
							<rich:calendar value="#{interrupcionBean.fecFinExoneracion}"
								id="calendar85" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha Fin de Exoneracion"
								disabled="true">
							</rich:calendar>
							<rich:message for="calendar85" ajaxRendered="true" />

							<!-- 23 -->
							<h:outputText value="Resumen de Actividades (*)"
								style="color:blue" />

							<h:inputTextarea id="selResumen" name="selResumen"
								value="#{interrupcionBean.interrupcion.resumen}" label="Resumen"
								required="false" rows="2" cols="20" style="width:200px"
								onkeyup="this.value = this.value.substring(0, 200);">
								<f:validateLength maximum="200" />
							</h:inputTextarea>
								
							<rich:message for="selResumen" ajaxRendered="true" />

							<!-- 24 -->
							<h:outputText value="Sustentacion (*)" style="color:blue" />
							<h:inputTextarea id="selSustentacion"
								value="#{interrupcionBean.interrupcion.sustentacion}"
								label="Sustentacion" required="false" rows="2" cols="20"
								style="width:200px"
								onkeyup="this.value = this.value.substring(0, 150);">
								<f:validateLength maximum="150" />
							</h:inputTextarea>
							<rich:message for="selSustentacion" ajaxRendered="true" />

							<!-- 25 -->
							<h:outputText value="Afectados Estimados (*)" style="color:blue" />
							<h:inputText id="selNumSumi"
								value="#{interrupcionBean.interrupcion.numSumRegEstimados}"
								label="Afectados Estimados" required="true" style="width:200px">
								<f:validateLongRange maximum="1000000" />
							</h:inputText>
							<rich:message for="selNumSumi" ajaxRendered="true" />

							<!-- 26 -->
							<h:outputText value="Regulados Afectados (*)" style="color:blue" />
							<h:inputText id="selNumReg"
								value="#{interrupcionBean.interrupcion.numSumRegAfectados}"
								label="Regulados Afectados" required="true" style="width:200px">
								<f:validateLongRange maximum="1000000" />
							</h:inputText>
							<rich:message for="selNumReg" ajaxRendered="true" />

							<!-- 27 -->
							<h:outputText value="Libres Afectados (*)" style="color:blue" />
							<h:inputText id="selLibAfec"
								value="#{interrupcionBean.interrupcion.numCliLibAfectados}"
								label="Libres Afectados" required="true" style="width:200px">
								<f:validateLongRange maximum="1000000" />
							</h:inputText>
							<rich:message for="selLibAfec" ajaxRendered="true" />

							<!-- 28 -->
							<h:outputText value="Descripcion Zona Afectada" />
							<h:inputTextarea id="selZona"
								value="#{interrupcionBean.interrupcion.desZonAfectada}"
								label="Descripcion Zona" required="false" rows="3" cols="20" 
								style="width:200px" onkeyup="this.value = this.value.substring(0, 200);">
								<f:validateLength maximum="200" />
							</h:inputTextarea>
							<rich:message for="selZona" ajaxRendered="true" />
							
	
							<!-- 29 -->
							<h:outputText value="Zona Afectada" />
							<h:selectOneMenu id="selZonaAfe"
								value="#{interrupcionBean.interrupcion.zonAfectada}"
								style="width:200px" required="false">
								<a4j:ajax event="change"
									listener="#{interrupcionBean.zonaAfectadaChanged}"
									execute="selZonaAfe" render="selOriInte" />
								<f:selectItems value="#{interrupcionBean.itemsZonAfectada}" />
							</h:selectOneMenu>
							<rich:message for="selZonaAfe" ajaxRendered="true" />


							<h:outputText value="Sistema Eléctrico(*)" style="color:blue" />
							<h:inputText id="selSisElec"
								value="#{interrupcionBean.interrupcion.sisElectrico}"
								label="Sistema Electrico" required="false" style="width:200px"
								maxlength = "6">
								<f:validateLength maximum="6" />
							</h:inputText>
							<rich:message for="selSisElec" ajaxRendered="true" />

							<h:outputText value="Sector Tipico (*)" style="color:blue" />
							<h:selectOneMenu id="selSecTipico"
								value="#{interrupcionBean.interrupcion.secTipico}"
								label="Sector Tipcio" required="false" style="width:200px">
								<f:selectItems value="#{interrupcionBean.itemsSectorTipico}" />
							</h:selectOneMenu>
							<rich:message for="selSecTipico" ajaxRendered="true" />

							<h:outputText value="Numero Clientes Sistema Electrico" />
							<h:inputText id="selNroCliSisElec"
								value="#{interrupcionBean.interrupcion.nroClieSisElectrico}"
								label="NroSistemaElec" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selNroCliSisElec" ajaxRendered="true" />


							<!-- 30 -->
							<h:outputText value="Origen de la Interrupcion" />
							<h:selectOneMenu id="selOriInte"
								value="#{interrupcionBean.interrupcion.oriInterrupcion}"
								style="width:200px" required="false">
								<f:selectItems value="#{interrupcionBean.itemsOriInterrupcion}" />
							</h:selectOneMenu>
							<rich:message for="selOriInte" ajaxRendered="true" />

							<!-- 31 -->
							<h:outputText value="Sincronizar" />
							<h:selectOneMenu id="selSincInt"
								value="#{interrupcionBean.interrupcion.sincronizar}"
								style="width:200px" required="false">
								<f:selectItems value="#{interrupcionBean.itemsSincronizar}" />
							</h:selectOneMenu>
							<rich:message for="selSincInt" ajaxRendered="true" />

							<h:outputText value="Incluir en Anexo 1 (074)(*)" style="color:blue" />
							<h:selectOneMenu id="selAnexo01074"
								value="#{interrupcionBean.interrupcion.anexo1074}"
								style="width:200px" required="false">
								<f:selectItems value="#{interrupcionBean.itemsAnexo1074}" />
							</h:selectOneMenu>
							<rich:message for="Anexo01074" ajaxRendered="true" />

							
							<h:outputText value="(*) Valor Proviene de ISD"
								style="color:blue" />

						</h:panelGrid>
					</rich:panel>
				</rich:tab>

				<rich:tab header="Solicitud de Exoneración " rendered="#{interrupcionBean.interrupcion.solFueMayor == 'F'}">
					<h:inputHidden value="#{interrupcionBean.interrupcion.estado}" />
					<rich:panel>
						<h:panelGrid columns="3">

							<h:outputText value="Nro de Oficio" />
							<h:inputText id="selNroOficio"
								value="#{interrupcionBean.interrupcion.nroOficio}"
								style="width:200px" required="false" label="Nro de Oficio"
								maxlength = "16">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selNroOficio" ajaxRendered="true" />

							<h:outputText value="Fecha de Oficio" />
							<rich:calendar value="#{interrupcionBean.fecOficio}"
								id="calendar81" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Oficio">
							</rich:calendar>
							<rich:message for="calendar81" ajaxRendered="true" />

							<h:outputText value="Codosi" />
							<h:inputText id="selCodosi"
								value="#{interrupcionBean.interrupcion.codosi}"
								style="width:200px" required="false" label="Codosi"
								maxlength = "16">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selCodosi" ajaxRendered="true" />

							<h:outputText value="Nro de Expediente" />
							<h:inputText id="selNroExpediente"
								value="#{interrupcionBean.interrupcion.nroExp}"
								style="width:200px" required="false" label="Nro de Expediente"
								maxlength = "16">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selNroExpediente" ajaxRendered="true" />

							<h:outputText value="Nro de Resolucion" />
							<h:inputText id="selNroResolucion"
								value="#{interrupcionBean.interrupcion.nroResol}"
								style="width:200px" required="false" label="Nro de Resolucion"
								maxlength = "16">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selNroResolucion" ajaxRendered="true" />

							<h:outputText value="Fecha de Resolucion" />
							<rich:calendar value="#{interrupcionBean.fecResol}"
								id="calendar82" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Resolucion">
							</rich:calendar>
							<rich:message for="calendar82" ajaxRendered="true" />

							<h:outputText value="Estado de Resolucion" />
							<h:selectOneMenu id="selEstResolucion"
								value="#{interrupcionBean.interrupcion.estResol}"
								style="width:200px" required="false"
								label="Estado de Resolucion">
								<f:selectItems value="#{interrupcionBean.itemsEstadoResolucion}" />
							</h:selectOneMenu>
							<rich:message for="selEstResolucion" ajaxRendered="true" />
						</h:panelGrid>
					</rich:panel>
				</rich:tab>
				
					<rich:tab header=" Proc. 074 " rendered="#{interrupcionBean.interrupcion.anexo1074 == 'SI'}">
						
						<rich:panel>
							<h:panelGrid columns="3">

								<h:outputText value="Codigo Secuencia de Osinerg" />
								<h:inputText id="selCodigoSecOsinerg"
									value="#{interrupcionBean.interrupcion.codSecOsinerg}"
									style="width:150px" required="false" label="CodigoSecOsinerg"
									maxlength = "32">
									<f:validateLength maximum="32" />
								</h:inputText>
								<rich:message for="selCodigoSalido" ajaxRendered="true" />

								<h:outputText value="Tipo Instalación Salio (*)"
									style="color:blue" />
								<h:selectOneMenu id="selTipInsSalio"
									value="#{interrupcionBean.interrupcion.tipInsSalio}"
									style="width:150px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsTipInsSalio}" />
								</h:selectOneMenu>
								<rich:message for="selTipInsSalio" ajaxRendered="true" />

								<h:outputText value="Codigo Instalacion Salio" />
								<h:inputText id="selCodigoSalio"
									value="#{interrupcionBean.interrupcion.codInsSalio}"
									style="width:150px" required="false" label="CodigoSalio"
									maxlength = "16">
									<f:validateLength maximum="16" />
								</h:inputText>
								<rich:message for="selCodigoSalido" ajaxRendered="true" />

								<h:outputText value="Tipo Instalacion Falla " />
								<h:selectOneMenu id="selTipInsFalla"
									value="#{interrupcionBean.interrupcion.tipInsFalla}"
									style="width:150px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsTipInsFalla}" />
								</h:selectOneMenu>
								<rich:message for="selTipInsFalla" ajaxRendered="true" />

								<h:outputText value="Codigo Instalacion de Falla" />
								<h:inputText id="selCodigoInsFalla"
									value="#{interrupcionBean.interrupcion.codInsFalla}"
									style="width:150px" required="false" label="CodigoInsFalla"
									maxlength = "16">
									<f:validateLength maximum="16" />
								</h:inputText>
								<rich:message for="selCodigoInsFalla" ajaxRendered="true" />

								<h:outputText value="Fecha Fin de Componente" />
								<rich:calendar
									value="#{interrupcionBean.fecFinComSalio}"
									id="calendar101" locale="es_PE" popup="true"
									datePattern="dd/MM/yyyy HH:mm" showApplyButton="true"
									cellWidth="24px" cellHeight="22px" immediate="true"
									required="false" label="Fecha de FinCompSalio">
								</rich:calendar>
								<rich:message for="calendar101" ajaxRendered="true" />

								<h:outputText value="Horas - Suministro (*)" style="color:blue" />
								<h:inputText id="selDuracionHoras"
									value="#{interrupcionBean.interrupcion.durHorSuministro}"
									style="width:200px" required="false" label="DuracionHoras"
									disabled="false" maxlength = "16">
									<f:validateLength maximum="16" />
								</h:inputText>
								<rich:message for="selDuracionHoras" ajaxRendered="true" />

								<h:outputText value="Naturaleza de la Interrupción (*)"
									style="color:blue" />
								<h:selectOneMenu id="selNaturalezaInt"
									value="#{interrupcionBean.interrupcion.naturaleza}"
									style="width:450px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsNaturaleza}" />
								</h:selectOneMenu>
								<rich:message for="selNaturalezaInt" ajaxRendered="true" />

								<h:outputText value="Codigo de Origen de Interrupción" />
								<h:selectOneMenu id="selCodOriInter"
									value="#{interrupcionBean.interrupcion.codOriInterrupcion}"
									style="width:200px" required="false">
									<f:selectItems
										value="#{interrupcionBean.itemsCodOriInterrupcion}" />
								</h:selectOneMenu>
								<rich:message for="selCodOriInter" ajaxRendered="true" />

								<h:outputText value="Propiedad de Instalación" />
								<h:selectOneMenu id="selPropiedadIns"
									value="#{interrupcionBean.interrupcion.propiedad}"
									style="width:100px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsPropiedad}" />
								</h:selectOneMenu>
								<rich:message for="selPropiedadIns" ajaxRendered="true" />

								<h:outputText value="Responsable de Interrupción (*)"
									style="color:blue" />
								<h:selectOneMenu id="selResponsableInt"
									value="#{interrupcionBean.interrupcion.responsable}"
									style="width:170px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsResponsable}" />
								</h:selectOneMenu>
								<rich:message for="selResponsableInt" ajaxRendered="true" />

								<h:outputText value="Codigo de Causa de Interrupción (*)"
									style="color:blue" />
								<h:selectOneMenu id="selCodCauInt"
									value="#{interrupcionBean.interrupcion.codCausa074}"
									style="width:450px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsCodCausa074}" />
								</h:selectOneMenu>
								<rich:message for="selCodCauInt" ajaxRendered="true" />


								<h:outputText value="Interrupcion Importante (*)"
									style="color:blue" />
								<h:selectOneMenu id="selInterImpor"
									value="#{interrupcionBean.interrupcion.intImportante}"
									style="width:80px" required="false">
									<f:selectItems value="#{interrupcionBean.itemsIntImportante}" />
								</h:selectOneMenu>
								<rich:message for="selInterImpor" ajaxRendered="true" />

								
								<h:outputText value="(*) Valor Proviene de ISD"
									style="color:blue" />


							</h:panelGrid>
						</rich:panel>
					</rich:tab>
					
					<rich:tab header="Cargos Tarifarios " rendered="#{interrupcionBean.interrupcion.leyConcesiones == 'SI'}">
					<h:inputHidden value="#{interrupcionBean.interrupcion.estado}" />
					<rich:panel>
						<h:panelGrid columns="3">

							<h:outputText value="Cargo por Energia B1 BT5B (S/./kwh)" />
							<h:inputText id="selCargoxenergia"
								value="#{interrupcionBean.interrupcion.cargoEnergiaB1}"  
								style="width:200px" required="false" label="Cargoxenergia">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxenergia" ajaxRendered="true" />

							<h:outputText value="Cargo por Potencia B2 BT5B (S/./kwh)" />
							<h:inputText id="selCargoxPotencia"
								value="#{interrupcionBean.interrupcion.cargoPotenciaB2}"
								label="CargoxPotencia" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxPotencia" ajaxRendered="true" />
							
							<h:outputText value="Cargo por Energia B1 BT6 (S/./kwh)" />
							<h:inputText id="selCargoxenergiaB1"
								value="#{interrupcionBean.interrupcion.cargoEnergiaB1BT6}"  
								style="width:200px" required="false" label="CargoxenergiaB1">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxenergiaB1" ajaxRendered="true" />

							<h:outputText value="Cargo por Potencia B2 BT6 (S/./kwh)" />
							<h:inputText id="selCargoxPotenciaB2"
								value="#{interrupcionBean.interrupcion.cargoPotenciaB2BT6}"
								label="CargoxPotenciaB2" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxPotenciaB2" ajaxRendered="true" />
							
							<h:outputText value="Cargo por Energia B1 BT5C (S/./kwh)" />
							<h:inputText id="selCargoxenergiaB1BT5C"
								value="#{interrupcionBean.interrupcion.cargoEnergiaB1BT5C}"  
								style="width:200px" required="false" label="CargoxenergiaB1BT5C">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxenergiaB1BT5C" ajaxRendered="true" />

							<h:outputText value="Cargo por Potencia B2 BT5C (S/./kwh)" />
							<h:inputText id="selCargoxPotenciaB2BT5C"
								value="#{interrupcionBean.interrupcion.cargoPotenciaB2BT5C}"
								label="CargoxPotenciaB2BT5C" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxPotenciaB2BT5C" ajaxRendered="true" />	
							
							<h:outputText value="Cargo por Energia B1 BT5D (S/./kwh)" />
							<h:inputText id="selCargoxenergiaB1BT5D"
								value="#{interrupcionBean.interrupcion.cargoEnergiaB1BT5D}"  
								style="width:200px" required="false" label="CargoxenergiaB1BT5D">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxenergiaB1BT5D" ajaxRendered="true" />

							<h:outputText value="Cargo por Potencia B2 BT5D (S/./kwh)" />
							<h:inputText id="selCargoxPotenciaB2BT5D"
								value="#{interrupcionBean.interrupcion.cargoPotenciaB2BT5D}"
								label="CargoxPotenciaB2BT5D" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCargoxPotenciaB2BT5D" ajaxRendered="true" />													
							
							<h:outputText value="NHUBT (h)" />
							<h:inputText id="selNhubt"
								value="#{interrupcionBean.interrupcion.nhubt}"
								label="Nhubt" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selNhubt" ajaxRendered="true" />
							
							<h:outputText value="Costo Racionamiento (S/./kwh)" />
							<h:inputText id="selCostoRacionamiento"
								value="#{interrupcionBean.interrupcion.cosRacionamiento}"
								label="CostoRacionamiento" required="false" style="width:200px">
								<f:validateLongRange maximum="100000" />
							</h:inputText>
							<rich:message for="selCostoRacionamiento" ajaxRendered="true" />

						</h:panelGrid>
					</rich:panel>
				</rich:tab>
					
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:tabPanel>

			<rich:panel>
				<a4j:commandButton id="botonGrabar" title="Grabar"
					action="#{interrupcionBean.salvar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
			        &nbsp;&nbsp;&nbsp;&nbsp;
			    <a4j:commandButton id="botonCancelar" title="Cancelar"
					action="/zonasegura/interrupcion/interrupcionListar?faces-redirect=true"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>
			</rich:panel>

		</h:form>
	</ui:define>
</ui:composition>
</html>