<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	       <rich:messages ajaxRendered="true" />
	      
	          <rich:panel   header="Parametros Anuales">
	         	<h:panelGrid columns="3">

				<h:outputText value="Año" />
				<h:selectOneMenu id="selAno"
					value="#{parametroAnualBean.campoAnoSemestre}" required="true" disabled="true" >
					<f:selectItems value="#{parametroAnualBean.itemsAno}" />
				</h:selectOneMenu>
				<rich:message for="selAno" ajaxRendered="true" />
	           
               <h:outputText value="NHUBT" />
	           <h:inputText id="selNHUBT"  value="#{parametroAnualBean.parametroAnual.nhubt}" required="false" label="NHUBT" disabled="true">
	           		<f:validateDoubleRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selNHUBT" ajaxRendered="true" />

	           <h:outputText value="Costo Rascionamiento" />
	           <h:inputText id="selCostoRascionamiento"  value="#{parametroAnualBean.parametroAnual.cosRascionamiento}" required="false" label="CostoRascionamiento" disabled="true" >
	           		<f:validateDoubleRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selCostoRascionamiento" ajaxRendered="true" />
           
	           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
			      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/interrupcion/parametroAnualListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	        </rich:panel>
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>