<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">  

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
			</style>
	      <h:form> 
	      <rich:panel header="Ano :">
				<h:outputText value="Año" />&nbsp;&nbsp;
				<h:selectOneMenu id="selAno"
					value="#{parametroAnualBean.anoSemestre}" required="true">
					<f:selectItems value="#{parametroAnualBean.itemsAno}" />
					<f:ajax event="change" listener="#{parametroAnualBean.filtroChanged}"
						execute="selAno" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Parametros"
					action="#{parametroAnualBean.busquedaxAno()}"
					reRender="tableParametroAnual" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				
		   </rich:panel>
	       <rich:panel   header="Parametro Anual (#{parametroAnualBean.parametrosAnual.size()})">
	         <rich:dataTable value="#{parametroAnualBean.parametrosAnual}" var="p" id="tableParametroAnual" 
			                          rows="25" width="100%"  rendered="#{not empty parametroAnualBean.parametrosAnual}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
               
                   
               <rich:column style="text-align:center;width: 50px">
                 <f:facet name="header">Año</f:facet>
                 <h:outputText value="#{p.ano}" />
               </rich:column>
 
               
               <rich:column style="text-align:center;width: 50px">
                 <f:facet name="header">NHUBT</f:facet>
                 <h:outputText value="#{p.nhubt}" />
               </rich:column>
               
			   <rich:column style="text-align:center;width: 50px">
                 <f:facet name="header">Costo</f:facet>
                 <h:outputText value="#{p.cosRascionamiento}" />
               </rich:column>
               
                        
           	   <rich:column style="text-align:center;width: 50px">
                 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{parametroAnualBean.prepararEditar}"
				    reRender="tableParametroAnual"
				    image="/resources/images/edit.png">
				     <f:param  id="parAnualId30"  name="parAnualId" value="#{p.parAnualId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{parametroAnualBean.prepararVer}"
				    reRender="tableParametroAnual"
				    image="/resources/images/glasses.png">
				    <f:param  id="parAnualId31"  name="parAnualId" value="#{p.parAnualId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"    
				    reRender="tableParametroAnual"
				    action="#{parametroAnualBean.eliminar}"
				    image="/resources/images/delete-item.png">
				 <f:param  id="parAnualId32"  name="parAnualId" value="#{p.parAnualId}"/>   
				 </a4j:commandButton>
				</rich:column>
	          </rich:dataTable>
	          
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsParametroAnual" for="tableParametroAnual"
						maxPages="15" align="left"
						rendered="#{not empty parametroAnualBean.parametrosAnual}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>  
           <rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{parametroAnualBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
           </h:form>
           <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableParametroAnual tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableParametroAnual tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableParametroAnual tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableParametroAnual tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
            
	  </ui:define>
	</ui:composition>
</html>