<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">  

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
			</style>
	      <h:form> 
	      <rich:panel header="Ano y Semestre:">
				<h:outputText value="Año/Semestre" />&nbsp;&nbsp;
				<h:selectOneMenu id="selAnoSemestre"
					value="#{relevadorRechazoCargaBean.anoSemestre}" required="true">
					<f:selectItems value="#{relevadorRechazoCargaBean.itemsAnoSemestre}" />
					<f:ajax event="change" listener="#{relevadorRechazoCargaBean.filtroChanged}"
						execute="selAnoSemestre" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Relevadores"
					action="#{relevadorRechazoCargaBean.busquedaxAnoSemestre()}"
					reRender="tableRelevadorRechazoCarga" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonActualizar"
					title="Insertar Registros del Semestre Anterior"
					action="#{relevadorRechazoCargaBean.ActualizarRelevadores()}"
					reRender="tableRelevadorRechazoCarga"  image="/resources/images/procesar.png" 
					style="width: 20px; high: 20px">
				</a4j:commandButton>
		   </rich:panel>
	       <rich:panel   header="Relevadores (#{relevadorRechazoCargaBean.relevadorRechazoCargas.size()})">
	         <rich:dataTable value="#{relevadorRechazoCargaBean.relevadorRechazoCargas}" var="p" id="tableRelevadorRechazoCarga" 
			                          rows="25" width="100%"  rendered="#{not empty relevadorRechazoCargaBean.relevadorRechazoCargas}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
               
                   
               <rich:column style="text-align:center">
                 <f:facet name="header">Año</f:facet>
                 <h:outputText value="#{p.ano}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Semestre</f:facet>
                 <h:outputText value="#{p.semestre}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Codigo Relevador</f:facet>
                 <h:outputText value="#{p.codRelevador}" />
               </rich:column>
               
			   <rich:column style="text-align:center">
                 <f:facet name="header">Codigo Alimentador</f:facet>
                 <h:outputText value="#{p.codAlimentador}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Monto a Repartir</f:facet>
                 <h:outputText value="#{p.montoRepartir}" />
               </rich:column>

               <rich:column style="text-align:center">
                 <f:facet name="header">Energia No Suministrada</f:facet>
                 <h:outputText value="#{p.eneNoSuministrada}" />
               </rich:column>

               <rich:column style="text-align:center">
                 <f:facet name="header">Int. x Rec Carga</f:facet>
                 <h:outputText value="#{p.nroIntRecCarga}" />
               </rich:column>

               <rich:column style="text-align:center">
                 <f:facet name="header">Horas Int. x Rec Carga</f:facet>
                 <h:outputText value="#{p.nroHorIntRecCarga}" />
               </rich:column>

                
           	   <rich:column style="text-align:center">
                 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{relevadorRechazoCargaBean.prepararEditar}"
				    reRender="tableRelevadorRechazoCarga"
				    image="/resources/images/edit.png">
				     <f:param  id="relRechazoId30"  name="relRechazoId" value="#{p.relRechazoId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{relevadorRechazoCargaBean.prepararVer}"
				    reRender="tableRelevadorRechazoCarga"
				    image="/resources/images/glasses.png">
				    <f:param  id="relRechazoId31"  name="relRechazoId" value="#{p.relRechazoId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"    
				    reRender="tableRelevadorRechazoCarga"
				    action="#{relevadorRechazoCargaBean.eliminar}"
				    image="/resources/images/delete-item.png">
				 <f:param  id="relRechazoId32"  name="relRechazoId" value="#{p.relRechazoId}"/>   
				 </a4j:commandButton>
				</rich:column>
	          </rich:dataTable>
	          
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsRelevadorRechazoCarga" for="tableRelevadorRechazoCarga"
						maxPages="15" align="left"
						rendered="#{not empty relevadorRechazoCargaBean.relevadorRechazoCargas}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>  
           <rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{relevadorRechazoCargaBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
           </h:form>
           <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableRelevadorRechazoCarga tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableRelevadorRechazoCarga tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableRelevadorRechazoCarga tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableRelevadorRechazoCarga tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
            
	  </ui:define>
	</ui:composition>
</html>