<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	       <rich:messages ajaxRendered="true" />
	      
	          <rich:panel   header="Relevadores">
	         	<h:panelGrid columns="3">

				<h:outputText value="Año/Semestre" />
				<h:selectOneMenu id="selAnoSemestre"
					value="#{relevadorRechazoCargaBean.campoAnoSemestre}" required="true" disabled="true">
					<f:selectItems value="#{relevadorRechazoCargaBean.itemsAnoSemestre}" />
				</h:selectOneMenu>
				<rich:message for="selAnoSemestre" ajaxRendered="true" />
	           
	           <h:outputText value="Codigo Relevador" />
	           <h:inputText id="selCodigoRelevador"  value="#{relevadorRechazoCargaBean.relevadorRechazoCarga.codRelevador}" required="false" label="CodigoRelevador" maxlength = "16">
	           		<f:validateLength maximum="16" />
	           </h:inputText>
	           <rich:message for="selCodigoRelevador" ajaxRendered="true" />
	           
	           <h:outputText value="Codigo Alimentador" />
	           <h:inputText id="selCodigoAlim"  value="#{relevadorRechazoCargaBean.relevadorRechazoCarga.codAlimentador}" required="false" label="CodigoAlim" maxlength = "12">
	           		<f:validateLength maximum="12" />
	           </h:inputText>
	           <rich:message for="selCodigoAlim" ajaxRendered="true" />
	           
	           <h:outputText value="Monto a Repartir ($) " />
	           <h:inputText id="selMontoaRepartir"  value="#{relevadorRechazoCargaBean.relevadorRechazoCarga.montoRepartir}" required="false" label="MontoaRepartir" >
	           		<f:validateDoubleRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selMontoaRepartir" ajaxRendered="true" />

	           <h:outputText value="Energia No Suministrada" />
	           <h:inputText id="selEnergiaNoSuministrada"  value="#{relevadorRechazoCargaBean.relevadorRechazoCarga.eneNoSuministrada}" required="false" label="EnergiaNoSuministrada" >
	           		<f:validateDoubleRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selEnergiaNoSuministrada" ajaxRendered="true" />

	           <h:outputText value="Int. x Rec Carga" />
	           <h:inputText id="selIntxRecCarga"  value="#{relevadorRechazoCargaBean.relevadorRechazoCarga.nroIntRecCarga}" required="false" label="IntxRecCarga" >
	           		<f:validateDoubleRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selIntxRecCarga" ajaxRendered="true" />

	           <h:outputText value="Horas Int. x Rec Carga" />
	           <h:inputText id="selHorasIntxRecCarga"  value="#{relevadorRechazoCargaBean.relevadorRechazoCarga.nroHorIntRecCarga}" required="false" label="HorasIntxRecCarga" >
	           		<f:validateDoubleRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selHorasIntxRecCarga" ajaxRendered="true" />
	           
	           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	      
	      <a4j:commandButton id="botonGrabar" title="Crear" action="#{relevadorRechazoCargaBean.salvar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	         &nbsp;
	         
	         <a4j:commandButton 
				    id="botonCancelar" title="Cancelar" action="/zonasegura/interrupcion/relevadorRechazoCargaListar?faces-redirect=true" 
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	         </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>