<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
	      <rich:tabPanel switchType="client">
	      	<rich:tab header="Suministros Afectados">
	      
	          <rich:panel >
	         <h:panelGrid columns="3">
	         
	         <h:outputText value="Interrupcion" disabled="true"/>
	           <h:inputText id="selinterrupcion" value="#{suministroAfectadoBean.interrupcion.interrupcionId}" label="interrupcion" required="false" maxlength = "10" disabled="true">
	           		<f:validateLength maximum="10" disabled="true"/>
	           </h:inputText>
	           <rich:message for="selinterrupcion" ajaxRendered="true" />
	         
	           <h:outputText value="Numero Suministro Afectado" />
	           <h:inputText id="selnumSumAfectado" value="#{suministroAfectadoBean.suministroAfectado.numSumAfectado}" label="numSumAfectado" required="true" disabled="true">
	           		<f:validateLength maximum="10" />
	           </h:inputText>
	           <rich:message for="selnumSumAfectado" ajaxRendered="true" />
	           	           
	           <h:outputText value="Ubicación Suministro" />
	           <h:inputText id="selUbiSuministro" value="#{suministroAfectadoBean.suministroAfectado.ubiSuministro}" label="UbiSuministro" required="true"  style="width:200px" disabled="true">
                  <f:validateLength maximum="6" />
               </h:inputText>
               <rich:message for="selUbiSuministro" ajaxRendered="true" />
               
               <h:outputText value="Tension Suministro" />
               <h:inputText id="selTenSuministro" value="#{suministroAfectadoBean.suministroAfectado.tenSuministro}" label="TenSuministro" required="true"  style="width:200px" disabled="true">
                  <f:validateLength maximum="2" />
               </h:inputText>
               <rich:message for="selTenSuministro" ajaxRendered="true" />
               
            	<h:outputText value="Semestre" />
	           <h:selectOneMenu id="selSemestreSumAfec"  value="#{suministroAfectadoBean.suministroAfectado.semestre}" required="true"  style="width:250px" disabled="true">
	               <f:selectItems value="#{suministroAfectadoBean.itemsSemestre}"/>
	           </h:selectOneMenu>
	           <rich:message for="selSemestreSumAfec" ajaxRendered="true" />
          		
          		<h:outputText value="Energia del Semestre" />
          		<h:inputText id="selEneSemSuministro" value="#{suministroAfectadoBean.suministroAfectado.eneSemSuministrada}" label="EneSemSuministro" required="true"  style="width:200px" disabled="true">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selEneSemSuministro" ajaxRendered="true" />
               
               <h:outputText value="Codigo de SED" />
               <h:inputText id="selCodSed" value="#{suministroAfectadoBean.suministroAfectado.codSed}" label="CodSed" required="true"  style="width:200px" disabled="true">
                  <f:validateLength maximum="7" />
               </h:inputText>
               <rich:message for="selCodSed" ajaxRendered="true" />
               
               <h:outputText value="Codigo de SET" />
               <h:inputText id="selCodSeT" value="#{suministroAfectadoBean.suministroAfectado.codSet}" label="CodSet" required="true"  style="width:200px" disabled="true">
                  <f:validateLength maximum="7" />
               </h:inputText>
               <rich:message for="selCodSeT" ajaxRendered="true" />
               
               <h:outputText value="Fecha Inicial Interrupción Real"/>
               <h:inputText id="selFecIniIntReal" value="#{suministroAfectadoBean.fecIniIntReal}" label="FecIniIntReal" required="true"  style="width:200px" disabled="true">
               </h:inputText>
               <rich:message for="selFecIniIntReal" ajaxRendered="true" />
               
				<h:outputText value="Fecha Final Interrupción Real"/>
				<h:inputText id="selFecFinIntReal" value="#{suministroAfectadoBean.fecFinIntReal}" label="FecFinIntReal" required="true"  style="width:200px" disabled="true">
				</h:inputText>
				<rich:message for="selFecFinIntReal" ajaxRendered="true" />
				
				 <h:outputText value="Localidad" />
			   <h:selectOneMenu id="selLocalidads" 	value="#{suministroAfectadoBean.suministroAfectado.localidad}" required="false" style="width:200px" disabled="true">
								<f:selectItems value="#{suministroAfectadoBean.itemsLocalidad1}" />
								<f:converter converterId="localidadConverter" />
     			</h:selectOneMenu>
				<rich:message for="selLocalidads" ajaxRendered="true" />
				
			   <h:outputText value="Codigo de Alimentador" />
               <h:inputText id="selCodAlim" value="#{suministroAfectadoBean.suministroAfectado.codAlimentador}" label="CodAlim" required="true"  style="width:200px" maxlength = "7" disabled="true">
                  <f:validateLength maximum="7" />
               </h:inputText>
               <rich:message for="selCodAlim" ajaxRendered="true" />
               
               <h:outputText value="Tarifa" />
               <h:inputText id="selTarifa" value="#{suministroAfectadoBean.suministroAfectado.opcTarifa}" label="Tarifa" required="true"  style="width:200px" maxlength = "5" disabled="true">
                  <f:validateLength maximum="5" />
               </h:inputText>
               <rich:message for="selTarifa" ajaxRendered="true" />
				
			   <h:outputText value="Tipo Servicio"/>
               <h:selectOneMenu id="selTipoServicio"  value="#{suministroAfectadoBean.suministroAfectado.tipServicio}" required="false" style="width:100px" disabled="true">
						<f:selectItems value="#{suministroAfectadoBean.itemsTipServicio}"/>
				</h:selectOneMenu>
               <rich:message for="selTipoServicio" ajaxRendered="true" />
               
               <h:outputText value="Pertenece a Ser " />
	           <h:selectOneMenu id="selPerteneceSer"  value="#{suministroAfectadoBean.suministroAfectado.perteneceSer}" required="false"  style="width:100px" disabled="true">
	               <f:selectItems value="#{suministroAfectadoBean.itemsPerteneceSer}"/>
	           </h:selectOneMenu>
	           <rich:message for="selPerteneceSer" ajaxRendered="true" />
               
				<h:outputText value="Sincronizar " />
	           	<h:selectOneMenu id="selSincronizar"  value="#{suministroAfectadoBean.suministroAfectado.sincronizar}" required="false"  style="width:100px" disabled="true">
	               <f:selectItems value="#{suministroAfectadoBean.itemsSincronizar}"/>
	           </h:selectOneMenu>
	           <rich:message for="selSincronizar" ajaxRendered="true" />
                               
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      </rich:tab>
	      
	      <rich:tab header=" Ley Concesiones " rendered="#{interrupcionBean.interrupcion.leyConcesiones == 'SI'}">
						
						<rich:panel>
							<h:panelGrid columns="3">

								<h:outputText value="Consumo Teorico (kwH)" />
								<h:inputText id="selConEneTeorica"
									value="#{suministroAfectadoBean.suministroAfectado.conEneTeorica}"
									style="width:150px" required="false" label="ConEneTeorica" disabled="true">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selConEneTeorica" ajaxRendered="true" />

								<h:outputText value="Potencia Facturada (kwH)" />
								<h:inputText id="selPotFacturada"
									value="#{suministroAfectadoBean.suministroAfectado.potFacturada}"
									style="width:150px" required="false" label="PotFacturada" disabled="true">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selPotFacturada" ajaxRendered="true" />

								<h:outputText value="Energia a Compensar (kwh)" />
								<h:inputText id="selEneCompensar"
									value="#{suministroAfectadoBean.suministroAfectado.eneCompensar}"
									style="width:150px" required="false" label="EneCompensar" disabled="true">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selEneCompensar" ajaxRendered="true" />

								<h:outputText value="Potencia a Compensar (kwH)" />
								<h:inputText id="selPotCompensar"
									value="#{suministroAfectadoBean.suministroAfectado.potCompensar}"
									style="width:150px" required="false" label="PotCompensar" disabled="true">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selPotCompensar" ajaxRendered="true" />
								
								<h:outputText value="Compensación por Energía (S/.)" />
								<h:inputText id="selComEnergia"
									value="#{suministroAfectadoBean.suministroAfectado.comEnergia}"
									style="width:150px" required="false" label="ComEnergia" disabled="true">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selComEnergia" ajaxRendered="true" />
								
								<h:outputText value="Compensación por Potencia (S/.)" />
								<h:inputText id="selComPotencia"
									value="#{suministroAfectadoBean.suministroAfectado.comPotencia}"
									style="width:150px" required="false" label="ComPotencia" disabled="true">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selComPotencia" ajaxRendered="true" />

								<rich:notifyMessages stayTime="2000" nonblocking="true" />

							</h:panelGrid>
						</rich:panel>
					</rich:tab>  
	      
	      
	      </rich:tabPanel> 
	       <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/interrupcion/suministroAfectadoListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>