<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">        
      
              
           
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	
	  <ui:define  name="content" >
		  <style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		   </style>
		
 					   
	  		<!-- cursor: pointer; para que el mouse se vuelva una manito -->
	      <h:form id="idform"> 

	       <rich:panel header="Suministros Afectados:">
	          
			 	 &nbsp;&nbsp;
	      		<a4j:commandButton id="botonRefrescar"
					title="Refrescar Suministro"
					action="#{suministroAfectadoBean.mostrarAfectados()}"
					reRender="tableSuministroAfectado" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
	      		&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarafectados"
					title="Exportar a excel suministros Afectados"
					action="#{suministroAfectadoBean.exportarSuministrosAfec()}"
					reRender="tableSuministroAfectado" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;	
				<h:commandButton id="botonCalculoDetalleSum"
					title="Calculo Detallado de Compensacion por Suministro"
					action="#{suministroAfectadoBean.exportarSumxIntxAnoSem()}"
					reRender="tableSuministroAfectado" image="/resources/images/calculodet.png"
					style="width: 20px; high: 20px">
				</h:commandButton>	
				
				<a4j:commandLink  value="Volver" action="/zonasegura/interrupcion/interrupcionListar?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				 
				 
	       </rich:panel>
	       <f:event listener="#{suministroAfectadoBean.handleEvent}" type="preRenderComponent" />
	       <rich:panel  id="tablaPanel" header="Suministros Seleccionados:">
	         <rich:extendedDataTable value="#{suministroAfectadoBean.suministrosAfectados}" var="p" id="tableSuministroAfectado" 
			                          rows="25" width="100%" reRender="dsSuministroAfectado" rendered="#{not empty suministroAfectadoBean.suministrosAfectados}"
			                          rowClasses="odd-row, even-row" rowKeyVar="index" 
			                          selection="#{suministroAfectadoBean.selection}" selectionMode="single">
				<a4j:ajax execute="@this" event="selectionchange" listener="#{suministroAfectadoBean.actualizaFilas2}"
				                          render="filas"/>		
       		
     				
     				<rich:column filterValue="#{suministroAfectadoBean.numSumAfectadoFilter}" width="150px"
		                filterExpression="#{fn:containsIgnoreCase(p.numSumAfectado,suministroAfectadoBean.numSumAfectadoFilter)}" 
		                filterEvent="onchange"	filterType="custom">
			                <f:facet name="header">
			                    <h:panelGroup>
			                        <h:outputText value="NIS Afectado" />
			                        <h:inputText value="#{suministroAfectadoBean.numSumAfectadoFilter}" style="width:130px">
			                            <a4j:ajax event="blur" render="tableSuministroAfectado,jQueryTags,dsSuministroAfectado,filas" execute="@this" listener="#{suministroAfectadoBean.actualizaFilas2}"/>
			                        </h:inputText>
			                    </h:panelGroup>
			                </f:facet>
		                <h:outputText value="#{p.numSumAfectado}" />
            		</rich:column>	
 
   					
					<rich:column style="text-align:center">
						<f:facet name="header">Ubicacion</f:facet>
					<h:outputText value="#{p.ubiSuministro}" />
					</rich:column>
		

					<rich:column filterValue="#{suministroAfectadoBean.tenSuministroFilter}" width="100px"
		                filterExpression="#{fn:containsIgnoreCase(p.tenSuministro,suministroAfectadoBean.tenSuministroFilter)}" 
		                filterEvent="onchange"	filterType="custom">
			                <f:facet name="header">
			                    <h:panelGroup>
			                        <h:outputText value="Tension" />
			                        <h:inputText value="#{suministroAfectadoBean.tenSuministroFilter}" style="width:80px">
			                            <a4j:ajax event="blur" render="tableSuministroAfectado,jQueryTags,dsSuministroAfectado,filas" execute="@this" listener="#{suministroAfectadoBean.actualizaFilas2}"/>
			                        </h:inputText>
			                    </h:panelGroup>
			                </f:facet>
		                <h:outputText value="#{p.tenSuministro}" />
            		</rich:column>	

					
					<rich:column filterValue="#{suministroAfectadoBean.codSedFilter}" width="150px"
		                filterExpression="#{fn:containsIgnoreCase(p.codSed,suministroAfectadoBean.codSedFilter)}" 
		                filterEvent="onchange"	filterType="custom">
			                <f:facet name="header">
			                    <h:panelGroup>
			                        <h:outputText value="SED" />
			                        <h:inputText value="#{suministroAfectadoBean.codSedFilter}" style="width:130px">
			                            <a4j:ajax event="blur" render="tableSuministroAfectado,jQueryTags,dsSuministroAfectado,filas" execute="@this" listener="#{suministroAfectadoBean.actualizaFilas2}"/>
			                        </h:inputText>
			                    </h:panelGroup>
			                </f:facet>
		                <h:outputText value="#{p.codSed}" />
            		</rich:column>	
 
 
					<rich:column style="text-align:center">
						<f:facet name="header">Alimentador</f:facet>
						<h:outputText value="#{p.codAlimentador}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Tarifa</f:facet>
						<h:outputText value="#{p.opcTarifa}" />
					</rich:column>
					
					<rich:column filterValue="#{suministroAfectadoBean.tipoServicioFilter}" style="text-align:center" 
							 		filter="#{suministroAfectadoBean.getFilterTipServicio()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Serv." />
		                        	<h:selectOneMenu value="#{suministroAfectadoBean.tipoServicioFilter}" >
	                            		<f:selectItems value="#{suministroAfectadoBean.itemsTipServicio1}"/>
	                           			<a4j:ajax event="change" render="tableSuministroAfectado,jQueryTags,dsSuministroAfectado" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipServicio}" />
					</rich:column>						
						
					<rich:column style="text-align:center">
						<f:facet name="header">Inicio de Interrupcion</f:facet>
						<h:outputText value="#{p.fecIniIntReal}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Fin de Interrupcion</f:facet>
						<h:outputText value="#{p.fecFinIntReal}" />
					</rich:column>
										
					<rich:column filterValue="#{suministroAfectadoBean.perteneceSerFilter}" style="text-align:center" 
							 		filter="#{suministroAfectadoBean.getFilterPerteneceSer()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Pertenece a SER" />
		                        	<h:selectOneMenu value="#{suministroAfectadoBean.perteneceSerFilter}" >
	                            		<f:selectItems value="#{suministroAfectadoBean.itemsPerteneceSer1}"/>
	                           			<a4j:ajax event="change" render="tableSuministroAfectado,jQueryTags,dsSuministroAfectado" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.perteneceSer}" />
					</rich:column>	
					
					<rich:column style="text-align:center">
						<f:facet name="header">Compensación</f:facet>
						<a4j:commandButton 
					    id="botoncompensacion"
					    title="Compensaciones Suministro Afectado" 
					    action="#{compensacionSuministroBean.prepararVer}"
					    image="/resources/images/dollar.png" style="width: 20px; high: 20px">
					    <f:param  id="numSumAfectado10"  name="numSumAfectado" value="#{p.numSumAfectado}"/>
					    <f:param  id="semestre10"  name="semestre" value="#{p.interrupcion.semestre}"/>
			 			</a4j:commandButton> 
					</rich:column>
					
					<rich:column style="text-align:center">
		                 <f:facet name="header">Reporte</f:facet>
		                 <a4j:commandButton 
							    id="botonReporte"
							    title="Reporte Semestral de Interrupciones" 
							    action="#{suministroAfectadoBean.downLoadReporteSuministro}"
							    immediate="false"
							    image="/resources/images/light.png" style="width: 20px; high: 20px">
							    <f:param  id="numSumAfectado"  name="numSumAfectado" value="#{p.numSumAfectado}"/>
							    <f:param  id="interrupcionId"  name="interrupcionId" value="#{p.interrupcion.interrupcionId}"/>
					 	 </a4j:commandButton>
				 	 </rich:column>
				 	 
					<rich:column style="text-align:center">
						<f:facet name="header">Sincronizar</f:facet>
						<h:outputText value="#{p.sincronizar}" />
					</rich:column>
			 		 <rich:column style="text-align:center">
		                <f:facet name="header">Acción</f:facet>
		                 <a4j:commandButton 
						    id="botonEditar"
						    title="Editar" 
						    action="#{suministroAfectadoBean.prepararEditar}"
						    reRender="tableSuministroAfectado"
						    image="/resources/images/edit.png">
						     <f:param  id="sumAfectadoId30"  name="sumAfectadoId" value="#{p.sumAfectadoId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonVer"
						    title="Ver" 
						    action="#{suministroAfectadoBean.prepararVer}"
						    reRender="tableSuministroAfectado"
						    image="/resources/images/glasses.png">
						    <f:param  id="sumAfectadoId31"  name="sumAfectadoId" value="#{p.sumAfectadoId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonEliminar"
						    title="Eliminar"
						    onclick="if(!confirm('Se eliminaran las mediciones asociadad.Esta seguro que desea eliminar el registro?')) {return false;};"
						    reRender="tableSuministroAfectado"
						    action="#{suministroAfectadoBean.eliminar}"
						    image="/resources/images/delete-item.png">		
						    <f:param  id="sumAfectadoId32"  name="sumAfectadoId" value="#{p.sumAfectadoId}"/>	  
						 </a4j:commandButton> 
              		 </rich:column>                        	                          
             
               
               
	          </rich:extendedDataTable>
	          
	          <h:panelGrid columns="3">
	          		<rich:dataScroller  id="dsSuministroAfectado" for="tableSuministroAfectado" maxPages="10"  align="left" 
	          		rendered="#{not empty suministroAfectadoBean.suministrosAfectados}" oncomplete="refrescarEstilos()"  />
	          		
	          		<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
	          		<h:outputText id="filas" value="Registros encontrados: #{suministroAfectadoBean.filasTotal} de (#{suministroAfectadoBean.suministrosAfectados.size()})" style="color:blue;font-weight:bold;"/>
	          </h:panelGrid>  
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />     
           </rich:panel>  
           
           
           <rich:panel style="height:35px">
				<a4j:commandButton  
					id="botonNuevo" style="position:absolute;left:20px"
					title="Nuevo" 
					action="#{suministroAfectadoBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				<a4j:commandLink  value="Volver" action="/zonasegura/interrupcion/interrupcionListar?faces-redirect=true"
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
		<h:panelGroup id="jQueryTags">  
		<!--  <rich:jQuery selector="#tableSuministroAfectado tr:odd" query="addClass('odd-row')" /> -->
		<!--  <rich:jQuery selector="#tableSuministroAfectado tr:even" query="addClass('even-row')" />-->
			<rich:jQuery selector="#tableSuministroAfectado tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableSuministroAfectado tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup> 
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	  </ui:define>
	</ui:composition>
</html>