<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition>
	
	   <rich:panel >
	        <h:outputText style="font-size: smaller;" value="Copyrights 2015, Indra" />
	        <!-- <h:graphicImage value="/resources/images/logo_indra.gif" width="50px" height="20px" /> -->
	    </rich:panel>
	    

	
	</ui:composition>
</html>