<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition>
	 <div id="logo" align="left" style="border-spacing: 5px;"> 
	  <table width="100%">
	    <tr>
	      <td><h:graphicImage value="/resources/images/electric_logo.jpg" width="100" height="40"  /></td>
	      <td align="right"><h:graphicImage value="/resources/images/logo_ED.gif"  height="40"  /></td>
	    </tr> 
	  </table>   
	  </div>
	 
	</ui:composition>
</html>