
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
      
<h:head>
	<meta http-equiv="refresh" content="1800;url=/Calidad/faces/zonasegura/default.xhtml"></meta>
  <title>
      Sistema de Gestión Normativo (SGN) 1.0
  </title>
  
  <link href="/resources/css/estilos.css" rel="stylesheet" type="text/css" media="all" />
</h:head>
<h:body>
  <div id="divPage">
      <div id="divHeader"  align="left">
         <ui:insert name="header">
             <ui:include src="/template/header.xhtml" />
         </ui:insert>
      </div>
      <div id="divMenuBar" align="left">
         <ui:insert name="menuBar">
           <ui:include src="/template/menuBar.xhtml" />
         </ui:insert>
      </div>
      <div id="divContent">
          <ui:insert name="content">
            <ui:include src="/template/content.xhtml" />
         </ui:insert>
      </div>
      <div id="divFooter">
      <ui:insert name="footer">
            <ui:include src="/template/footer.xhtml" />
         </ui:insert>
      </div>
  </div>
</h:body>
</html>
