<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

<h:body>

	<h:outputStylesheet>
		    .pic {
		        margin-bottom: -4px;
		        margin-right: 2px;
		    }
		    .search .rich-menu-item-hover{
		        background-color: transparent;
		        border-color: transparent;
		    }
	</h:outputStylesheet>


	<h:form>

		<rich:toolbar width="100" height="20px" style="border:0;width:100%">
			<rich:toolbarGroup  location="left" rendered="#{usuarioBean.tienePerfil('producto') eq 1}">
				<rich:dropDownMenu >
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/calendar.png"
								styleClass="pic" />
							<h:outputText value="Campaña" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem submitMode="ajax" label="Suministros por Campaña"
						action="/zonasegura/medicionListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Busqueda de Mediciones"
						action="/zonasegura/medicionxSuministroListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Pendientes de Compensacion"
						action="/zonasegura/medicionPendienteListar?faces-redirect=true" />						
					<rich:menuSeparator />
					<rich:menuItem submitMode="ajax" label="Campañas"
						action="/zonasegura/campanaMedicionListar?faces-redirect=true" />
					<rich:menuSeparator />
					<rich:menuItem submitMode="ajax" label="Periodos"
						action="/zonasegura/periodoMedicionListar?faces-redirect=true" />

				</rich:dropDownMenu>
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/project.png"
								styleClass="pic" />
							<h:outputText value="Cronograma" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem submitMode="ajax" label="Cronograma"
						action="/zonasegura/cronogramaMedicionListar?faces-redirect=true" />
					<rich:menuSeparator />
					<rich:menuItem submitMode="ajax" label="Cuadrillas"
						action="/zonasegura/cuadrillaListar?faces-redirect=true" />
				</rich:dropDownMenu>			
			</rich:toolbarGroup>	
			<rich:toolbarGroup  location="left" rendered="#{usuarioBean.tienePerfil('suministro') eq 1}">
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/project.png"
	
								styleClass="pic" />
							<h:outputText value="Interrupciones" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem submitMode="ajax" label="Registro de Interrupciones"
						action="/zonasegura/interrupcion/interrupcionListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax"
						label="Interrupciones por Suministro"
						action="/zonasegura/interrupcion/interrupcionxSuministroListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax"
						label="Clientes por Sector Tipico / Alimentador"
						action="/zonasegura/interrupcion/clientexSectorTipicoAlimentadorListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Clientes por Sistema"
						action="/zonasegura/interrupcion/clientexSistemaListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Relevadores"
						action="/zonasegura/interrupcion/relevadorRechazoCargaListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Parametro Anual"
						action="/zonasegura/interrupcion/parametroAnualListar?faces-redirect=true" />	
	
				</rich:dropDownMenu>						
			</rich:toolbarGroup>
			<rich:toolbarGroup  location="left" rendered="#{usuarioBean.tienePerfil('alumbrado') eq 1}">		
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/project.png"

								styleClass="pic" />
							<h:outputText value="Alumbrado Publico" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem submitMode="ajax" label="Programa Alumbrado Publico"
						action="/zonasegura/alumbradoPublico/programaApListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Via"
						action="/zonasegura/alumbradoPublico/viaListar?faces-redirect=true" />
				</rich:dropDownMenu>		
			</rich:toolbarGroup>	
				
			<rich:toolbarGroup  location="left" rendered="#{usuarioBean.tienePerfil('procedimientos') eq 1  }">	
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/project.png"

								styleClass="pic" />
							<h:outputText value="Procedimientos" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem submitMode="ajax" label="Proc.078 - Operatividad de AP"
						action="/zonasegura/proc078/historicoDeficienciaApListar?faces-redirect=true" />
					<rich:menuSeparator />
			 		<rich:menuItem submitMode="ajax" label="Proc.228 - Seguridad Publica"
						action="/zonasegura/proc228/deficienciaListar?faces-redirect=true" /> 
					<rich:menuItem submitMode="ajax" label="Proc.228 - Busqueda de Deficiencia"
						action="/zonasegura/proc228/deficienciaxSuministroListar?faces-redirect=true" /> 
					<rich:menuItem submitMode="ajax" label="Proc.228 - Metas"
						action="/zonasegura/proc228/metasListar?faces-redirect=true" /> 
				</rich:dropDownMenu>		
			</rich:toolbarGroup>		
			
				
			<rich:toolbarGroup  location="left">			
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/process.png"
								styleClass="pic" />
							<h:outputText value="Reportes" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem submitMode="ajax" label="Reportes NTCSE/R"
						action="/zonasegura/reporteListar?faces-redirect=true" />
					<rich:menuItem submitMode="ajax" label="Nuevo Reporte VNR"
						action="/zonasegura/nuevoReporteListar?faces-redirect=true" />
				</rich:dropDownMenu>	
				<rich:dropDownMenu>
					<f:facet name="label">
						<h:panelGroup>
							<h:graphicImage value="/resources/images/iconos/suppliers.png"
								styleClass="pic" />
							<h:outputText value="Mantenimiento" />
						</h:panelGroup>
					</f:facet>
					<rich:menuItem label="Parametro Norma"
						action="/zonasegura/parametroNormaListar?faces-redirect=true" />
					<rich:menuItem label="Compensacion Unitaria"
						action="/zonasegura/compensacionUnitariaListar?faces-redirect=true" />
					<rich:menuItem label="Localidad "
						action="/zonasegura/localidadListar?faces-redirect=true" />
					<rich:menuItem label="Equipo Registrador"
						action="/zonasegura/equipoRegistradorListar?faces-redirect=true" />
					<rich:menuItem label="Empresa "
						action="#{empresaBean.prepararEditar}" />
					<rich:menuSeparator />
					<rich:menuItem label="Tipo Parametro"
						action="/zonasegura/tipoParametro?faces-redirect=true" />
					<rich:menuItem label="Parametro Medido"
						action="/zonasegura/parametroMedido?faces-redirect=true" />
					<rich:menuItem label="Tipo Energia"
						action="/zonasegura/tipoEnergia?faces-redirect=true" />
					<rich:menuItem label="Tipo Alimentacion"
						action="/zonasegura/tipoAlimentacion?faces-redirect=true" />
					<rich:menuItem label="Tipo de Trabajo"
						action="/zonasegura/tipoTrabajo?faces-redirect=true" />
					<rich:menuItem label="Tipo de Medicion"
						action="/zonasegura/tipoMedicion?faces-redirect=true" />
					<rich:menuItem label="Tipo de Punto"
						action="/zonasegura/tipoPunto?faces-redirect=true" />
				</rich:dropDownMenu>
			</rich:toolbarGroup>			
			<rich:toolbarGroup  location="left" rendered="#{usuarioBean.tienePerfil('manager') eq 1}">
				<rich:dropDownMenu >
	
						<f:facet name="label">
							<h:panelGroup>
								<h:graphicImage value="/resources/images/iconos/lock.png"
									styleClass="pic" />
								<h:outputText value="Seguridad" />
							</h:panelGroup>
						</f:facet>
						<rich:menuItem label="Usuarios"
							action="/zonasegura/seguridad/usuarioListar?faces-redirect=true" />
						<rich:menuItem label="Roles "
							action="/zonasegura/seguridad/rolListar?faces-redirect=true" />
						<rich:menuItem label="Membresia "
							action="/zonasegura/seguridad/membresiaListar?faces-redirect=true" />
	
				</rich:dropDownMenu>			
			</rich:toolbarGroup>	

			<rich:toolbarGroup  style="position:absolute;right:20px">
				<h:form>
					<h:outputText value="Bienvenido, #{usuarioBean.username}   " />

					<h:graphicImage value="/resources/images/logout.png" />
					<a4j:commandLink value="Logout" action="#{sessionBean.logout}"></a4j:commandLink>
				</h:form>
			</rich:toolbarGroup>

		</rich:toolbar>
	</h:form>
</h:body>
</html>