<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	       <rich:messages ajaxRendered="true" />
	      
	         <rich:panel   header="Campana Medicion">
	         <h:inputHidden value="#{campanaMedicionBean.campanaMedicion.estado}"/>
	         <h:panelGrid columns="3">
	           <h:outputText value="Perido medición" />
	           <h:selectOneMenu id="selPeriodoMedicion" value="#{campanaMedicionBean.campanaMedicion.periodoMedicion}" required="true" disabled="true">
	              <f:selectItems value="#{campanaMedicionBean.itemsPeriodoMedicion}" />
	              <f:converter converterId="periodoMedicionConverter"/>
	           </h:selectOneMenu>  
	           <rich:message for="selPeriodoMedicion" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo parametro" />
	           <h:selectOneMenu id="selTipoParametro" value="#{campanaMedicionBean.campanaMedicion.tipoParametro}" required="true" disabled="true">
	              <f:selectItems value="#{campanaMedicionBean.itemsTipoParametro}" />
	              <f:converter converterId="tipoParametroConverter"/>
	           </h:selectOneMenu>  
	           <rich:message for="selTipoParametro" ajaxRendered="true" />
	                    
	           <h:outputText value="Descripcion" />
	           <h:inputTextarea id="selDescripcion" value="#{campanaMedicionBean.campanaMedicion.descripcion}" label="Descripcion" required="true" rows="3" cols="20" style="width:200px" maxlength = "64">
                  <f:validateLength maximum="64" />
               </h:inputTextarea>
               <rich:message for="selDescripcion" ajaxRendered="true" />
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Actualizar" 
				    action="#{campanaMedicionBean.actualizar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/campanaMedicionListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>