<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	  
	      <h:form> 
	       
	       <rich:panel   header="Campaña de Medición (#{campanaMedicionBean.campanasMedicion.size()})" >
	         <rich:dataTable value="#{campanaMedicionBean.campanasMedicion}" var="p" id="tableCampanaMedicion" 
			                          rows="25" width="100%"  rendered="#{not empty campanaMedicionBean.campanasMedicion}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
         <!--      <rich:column>
                 <f:facet name="header">Codigo de Campaña</f:facet>
                 <h:outputText value="#{p.camMedicionId}" />
               </rich:column>
         -->      
	          <rich:column style="text-align:center">
                 <f:facet name="header">Periodo de Medición</f:facet>
                 <h:outputText value="#{p.periodoMedicion.descripcion}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Tipo Parametro</f:facet>
                 <h:outputText value="#{p.tipoParametro.descripcion}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Descripción</f:facet>
                 <h:outputText value="#{p.descripcion}" />
               </rich:column>
                <rich:column style="text-align:center">
           		 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{campanaMedicionBean.prepararEditar}"
				    reRender="tableCampanaMedicion"
				    image="/resources/images/edit.png">
				     <f:param  id="camMedicionId30"  name="campanaMedicionId" value="#{p.camMedicionId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{campanaMedicionBean.prepararVer}"
				    reRender="tableCampanaMedicion"
				    image="/resources/images/glasses.png">
				    <f:param  id="camMedicionId31"  name="campanaMedicionId" value="#{p.camMedicionId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Se eliminaran Suministros y Mediciones asociadas, esta seguro que desea eliminar el registro?')) {return false;};"
				    reRender="tableCampanaMedicion"
				    action="#{campanaMedicionBean.eliminar}"
				    image="/resources/images/delete-item.png">
				    <f:param  id="camMedicionId32"  name="campanaMedicionId" value="#{p.camMedicionId}"/>
				 </a4j:commandButton>
               </rich:column>
	          </rich:dataTable>
	          <h:panelGrid columns="1">
	          		<rich:dataScroller  id="dsCampanaMedicion" for="tableCampanaMedicion" maxPages="10"  align="left"
	          		 rendered="#{not empty campanaMedicionBean.campanasMedicion}" oncomplete="refrescarEstilos()" />
	          		 <a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
	          </h:panelGrid> 
			  <rich:notifyMessages stayTime="2000" nonblocking="true" />	          	                 
           </rich:panel>  
           <rich:panel>
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{campanaMedicionBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>
            </rich:panel>
           </h:form>
           
           <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableCampanaMedicion tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableCampanaMedicion tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableCampanaMedicion tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableCampanaMedicion tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		   </h:panelGroup>
              
	  </ui:define>
	</ui:composition>
</html>