<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">

	<ui:define name="content">
		<style type="text/css">
.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.active-row {
	background-color: #FFEBDA !important;
	cursor: default;
}

.top {
	vertical-align: top;
}

.info {
	height: 202px;
	overflow: auto;
}
</style>
		<h:form>
			<rich:messages ajaxRendered="true" />
			<rich:panel header="Carga del Cronograma de Medicion de #{medicionBean.campanaMedicion.descripcion} " >
				<h:panelGrid columns="2" columnClasses="top,top">
					<rich:panel header="Configuracion de Carga de Archivos">
						<h:panelGrid columns="3">

							<h:outputText value="Columnas" />
							<h:inputText id="columnas" value="#{fileUploadBean.columnas}"
								size="40" style="width:200px" required="true" />
							<rich:message for="columnas" ajaxRendered="true" />

							<h:outputText value="Nombres de Columnas" />
							<h:selectOneMenu id="nombres"
								value="#{fileUploadBean.nombreColumnas}" required="true"
								style="width:420px">
								<f:selectItems value="#{fileUploadBean.itemsNombreColumnas2}" />
							</h:selectOneMenu>
							<rich:message for="nombres" ajaxRendered="true" />

							<h:outputText value="Fila Inicial" />
							<h:inputText id="filainicial"
								value="#{fileUploadBean.filaInicial}" required="true" />
							<rich:message for="filainicial" ajaxRendered="true" />

							<h:outputText value="Separador Columnas" />
							<h:selectOneMenu id="separadorColumnas"
								value="#{fileUploadBean.separadorColumnas}" required="true"
								style="width:200px">
								<f:selectItems value="#{fileUploadBean.itemsSeparadorColumnas}" />
							</h:selectOneMenu>
							<rich:message for="separadorColumnas" ajaxRendered="true" />

							<h:outputText value="Formato de Fecha" />
							<h:selectOneMenu id="selFormatoFecha"
								value="#{fileUploadBean.formatoFecha}" required="true">
								<f:selectItems value="#{fileUploadBean.itemsFormatoFecha2}" />
							</h:selectOneMenu>
							<rich:message for="selFormatoFecha" ajaxRendered="true" />

							<a4j:commandButton id="butProcesarArchivo"
								value="Procesar Archivo"
								action="#{fileUploadBean.procesarArchivoCargadoSuministro}">
								<f:param id="campanaId100" name="campanaIdx"
									value="#{medicionBean.campanaMedicion.camMedicionId}" />
							</a4j:commandButton>
						</h:panelGrid>
					</rich:panel>

					<rich:fileUpload id="fileuploadMediciones" maxFilesQuantity="1"
						acceptedTypes="txt"
						ontyperejected="alert('Solamente archivos texto (*.txt) son Aceptados');"
						fileUploadListener="#{fileUploadBean.listener}">
						<a4j:ajax event="uploadcomplete" render="butProcesarArchivo" />

					</rich:fileUpload>
				</h:panelGrid>
			</rich:panel>
			<rich:panel style="height:35px">
				<a4j:commandLink value="Volver"
					action="/zonasegura/medicionListar?faces-redirect=true"
					style="position:absolute;right:20px" />
			</rich:panel>

		</h:form>
		<a4j:status>
			<f:facet name="start">
				<h:graphicImage value="/resources/images/procesando.gif"
					style="width: 30px; high: 30px; position:absolute;left:600px;top:300px" />
			</f:facet>
		</a4j:status>

	</ui:define>


</ui:composition>
</html>