<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
	         <rich:panel   header="Compensacion Unitaria">
	         <h:inputHidden value="#{compensacionUnitariaBean.compensacionUnitaria.estado}"/>
	         <h:panelGrid columns="3">
	           <h:outputText value="Tipo parametro" />
	           <h:selectOneMenu id="selTipoParametro" value="#{compensacionUnitariaBean.compensacionUnitaria.tipoParametro}" required="true" disabled="true" >
	              <f:selectItems value="#{compensacionUnitariaBean.itemsTipoParametro}" />
	              <f:converter converterId="tipoParametroConverter"/>
	           </h:selectOneMenu>        
	           <rich:message for="selTipoParametro" ajaxRendered="true" />
		          
	           <h:outputText value="Codigo" />
	           <h:selectOneMenu id="selCodigo" value="#{compensacionUnitariaBean.compensacionUnitaria.codComUnitaria}" required="true">
	           		<f:selectItems value="#{compensacionUnitariaBean.itemsCodigo}"/>
	           </h:selectOneMenu>		
	           <rich:message for="selCodigo" ajaxRendered="true" />		
	           
	           <h:outputText value="Descripcion" />
	           <h:inputTextarea id="selDescripcion" value="#{compensacionUnitariaBean.compensacionUnitaria.descripcion}" label="Descripcion" required="true" rows="3" cols="20" 
	           					style="width:200px" maxlength = "64">
                  <f:validateLength maximum="64" />
               </h:inputTextarea>
               <rich:message for="selDescripcion" ajaxRendered="true" />
	           
	           <h:outputText value="Valor" />
	           <h:inputText id="selValor" value="#{compensacionUnitariaBean.compensacionUnitaria.valor}"  label="Valor" required="true">
	           		<f:validateLongRange maximum="10000" />
	           </h:inputText>	           
	           <rich:message for="selValor" ajaxRendered="true" />
	           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Actualizar" 
				    action="#{compensacionUnitariaBean.actualizar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/compensacionUnitariaListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>