<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
	       <rich:panel   header="Compensacion Unitaria (#{compensacionUnitariaBean.compensacionUnitarias1.size()})">
	         <rich:dataTable value="#{compensacionUnitariaBean.compensacionUnitarias1}" var="p" id="tableCompensacionUnitaria" 
			                          rows="25" width="100%"  rendered="#{not empty compensacionUnitariaBean.compensacionUnitarias1}">
               <rich:column  sortBy="#{p.codComUnitaria}" style="text-align:center">
                 <f:facet name="header">Codigo</f:facet>
                 <h:outputText value="#{p.codComUnitaria}" />
               </rich:column>
               <rich:column sortBy="#{p.descripcion}">
                 <f:facet name="header">Descripcion</f:facet>
                 <h:outputText value="#{p.descripcion}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Valor</f:facet>
                 <h:outputText value="#{p.valor}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Tipo Parametro</f:facet>
                 <h:outputText value="#{p.tipoParametro.descripcion}" />
               </rich:column>
                <rich:column style="text-align:center">
                 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{compensacionUnitariaBean.prepararEditar}"
				    reRender="tableCompensacionUnitaria"
				    image="/resources/images/edit.png">
				     <f:param  id="comUnitariaId30"  name="compensacionUnitariaId" value="#{p.comUnitariaId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{compensacionUnitariaBean.prepararVer}"
				    reRender="tableCompensacionUnitaria"
				    image="/resources/images/glasses.png">
				    <f:param  id="comUnitariaId31"  name="compensacionUnitariaId" value="#{p.comUnitariaId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"    
				    reRender="tableCompensacionUnitaria"
				    action="#{compensacionUnitariaBean.eliminar}"
				    image="/resources/images/delete-item.png">
				  <f:param  id="comUnitariaId32"  name="compensacionUnitariaId" value="#{p.comUnitariaId}"/>  
				 </a4j:commandButton>
				
               </rich:column>
	          </rich:dataTable>
	          
	           <h:panelGrid columns="1">
					<rich:dataScroller id="dsCompensacionUnitaria" for="tableCompensacionUnitaria"
						maxPages="10" align="left"
						rendered="#{not empty compensacionUnitariaBean.compensacionUnitarias}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>  
				<rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{compensacionUnitariaBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				</rich:panel>
	      </h:form>
	     	<h:panelGroup id="jQueryTags"> 
				<rich:jQuery selector="#tableCompensacionUnitaria tr:odd" query="addClass('odd-row')" />
			    <rich:jQuery selector="#tableCompensacionUnitaria tr:even" query="addClass('even-row')" />
			    <rich:jQuery selector="#tableCompensacionUnitaria tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
			    <rich:jQuery selector="#tableCompensacionUnitaria tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>
			<a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
	            </f:facet>
	        </a4j:status>
	     
	  </ui:define>
	</ui:composition>
</html>