<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	         <rich:panel   header="Compensacion Unitaria">
	         <h:inputHidden value="#{compensacionUnitariaBean.compensacionUnitaria.estado}"/>
	         <h:panelGrid columns="2">
	           <h:outputText value="Tipo parametro" />
	           <h:selectOneMenu id="selTipoParametro" value="#{compensacionUnitariaBean.compensacionUnitaria.tipoParametro}" disabled="true">
	              <f:selectItems value="#{compensacionUnitariaBean.itemsTipoParametro}" />
	              <f:converter converterId="tipoParametroConverter"/>
	           </h:selectOneMenu>           
	           
	           <h:outputText value="Codigo" />
	           <h:selectOneMenu id="selCodigo" value="#{compensacionUnitariaBean.compensacionUnitaria.codComUnitaria}" required="true" style="width:200px;text-align:center" disabled="true" >
	           		<f:selectItems value="#{compensacionUnitariaBean.itemsCodigo}" />
	           </h:selectOneMenu>		
	           	           
	           <h:outputText value="Descripcion" />
	           <h:inputTextarea value="#{compensacionUnitariaBean.compensacionUnitaria.descripcion}" label="Descripcion" required="true" rows="3" cols="20" style="width:200px" disabled="true">
                  <f:validateLength maximum="60" />
               </h:inputTextarea>
	           <h:outputText value="Valor" />
	           <h:inputText value="#{compensacionUnitariaBean.compensacionUnitaria.valor}" disabled="true"/>
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/compensacionUnitariaListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>