<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">     
      
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
			<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
			</style>
	      <h:form> 

	      <rich:panel header="Registros de Compensacion (#{compensacionTensionBean.compensacionTensiones.size()})">
	      
				<rich:dataTable value="#{compensacionTensionBean.compensacionTensiones}" var="p"
					id="tableCompensacionTension" rows="25" width="100%"
					rendered="#{not empty compensacionTensionBean.compensacionTensiones}"
					rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
					
					<rich:column filterValue="#{compensacionTensionBean.numSumAfectadoFilter}"
               		filterExpression="#{fn:containsIgnoreCase(p.numSumAfectado,compensacionTensionBean.numSumAfectadoFilter)}">
               		<f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="NIS Afectado" />
	                        <h:inputText value="#{compensacionTensionBean.numSumAfectadoFilter}">
	                            <a4j:ajax event="blur" render="tableCompensacionTension,jQueryTags" execute="@this" />
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
               		<h:outputText value="#{p.numSumAfectado}" />
            		</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Numero de intervalos A1</f:facet>
						<h:outputText value="#{p.numIntA1}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Numero de intervalos A2</f:facet>
						<h:outputText value="#{p.numIntA2}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Monto de compemsado al Cliente</f:facet>
						<h:outputText value="#{p.monComCliente}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Año y Periodo de Compensación</f:facet>
						<h:outputText value="#{p.anaPerCompensacion}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Semestre</f:facet>
						<h:outputText value="#{p.semestre}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Tipo Compensacion</f:facet>
						<h:outputText value="#{p.tipCompensacion}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Tipo de Energia </f:facet>
						<h:outputText value="#{p.tipoenergia.descripcion}" />
					</rich:column>
				</rich:dataTable>
				<rich:panel style="height:35px">
				<a4j:commandLink  value="Volver" action="/zonasegura/medicionListar?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsCompensacionTension" for="tableCompensacionTension"
						maxPages="10" align="left"
						rendered="#{not empty compensacionTensionBean.compensacionTensiones}" 
						oncomplete="refrescarEstilos()"/>
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
	      </h:form>
	      <h:panelGroup id="jQueryTags">  
			<rich:jQuery selector="#tableCompensacionTension tr:odd" query="addClass('odd-row')" />
			<rich:jQuery selector="#tableCompensacionTension tr:even" query="addClass('even-row')" />
			<rich:jQuery selector="#tableCompensacionTension tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableCompensacionTension tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup> 
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>

		  
	  </ui:define>
	</ui:composition>
</html>