<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form>
		
		<rich:messages ajaxRendered="true" />
		
			<rich:panel header="Editar Cronograma Medicion">
				<h:inputHidden value="#{cronogramaMedicionBean.cronogramaMedicion.estado}" />
				<h:panelGrid columns="3">
				
					<h:outputText value="Suministro" />
					<h:selectOneMenu id="selSuministro"	value="#{cronogramaMedicionBean.cronogramaMedicion.medicion}" required="true" style="width:300px" disabled="true">
						<f:selectItems value="#{cronogramaMedicionBean.itemsMedicion}" />
						<f:converter converterId="medicionConverter" />
					</h:selectOneMenu>	
					<rich:message for="selSuministro" ajaxRendered="true" />
					
					<h:outputText value="Cuadrilla" />
					<h:selectOneMenu id="selCuadrilla"	value="#{cronogramaMedicionBean.cronogramaMedicion.cuadrilla}" required="false"
						style="width:300px">
						<f:selectItems value="#{cronogramaMedicionBean.itemsCuadrilla1}" />
						<f:converter converterId="cuadrillaConverter" />
					</h:selectOneMenu>
					<rich:message for="selCuadrilla" ajaxRendered="true" />
					
					<h:outputText value="Fecha Planificada" />
					<rich:calendar value="#{cronogramaMedicionBean.fecPlanificada}"
						id="calendar10" locale="es_PE" popup="true"
						datePattern="yyyy/MM/dd" 
						showApplyButton="false" cellWidth="24px"
						cellHeight="22px" style="width:200px" immediate="true" required="true" label="Fecha Planificada">
					</rich:calendar>
					<!--datePattern="MMM d, yyyy"-->
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
				</h:panelGrid>
				
			</rich:panel>
			<rich:panel>
				<a4j:commandButton id="botonGrabar" 
					title="Grabar"
					action="#{cronogramaMedicionBean.actualizar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a4j:commandButton id="botonCancelar"
					title="Cancelar"
					action="/zonasegura/cronogramaMedicionListar?faces-redirect=true"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>
			</rich:panel>
			<h:messages />
		</h:form>
	</ui:define>
</ui:composition>
</html>