<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	         <rich:panel   header="Ver Cronograma">
	         <h:inputHidden value="#{cronogramaMedicionBean.cronogramaMedicion.estado}"/>
	         <h:panelGrid columns="2">
	         
	           <h:outputText value="Suministro" />
	           <h:selectOneMenu value="#{cronogramaMedicionBean.cronogramaMedicion.medicion}" required="true" disabled="true" style="width:200px">
	           	<f:selectItems value="#{cronogramaMedicionBean.itemsMedicion}" />
					<f:converter converterId="medicionConverter" />
				</h:selectOneMenu>
				
	           <h:outputText value="Cuadrilla" />
	           <h:selectOneMenu value="#{cronogramaMedicionBean.cronogramaMedicion.cuadrilla}" required="false" disabled="true" style="width:200px">
	           		<f:selectItems value="#{cronogramaMedicionBean.itemsCuadrilla1}" />
					<f:converter converterId="cuadrillaConverter" />
				</h:selectOneMenu>
	           
	           <h:outputText value="Fecha Programada" />
	           <h:inputText value="#{cronogramaMedicionBean.cronogramaMedicion.fecPlanificada}" required="true" disabled="true"/>
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	        <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/cronogramaMedicionListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>