<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<rich:messages globalOnly="true" />
<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
	
			<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		  	</style>
	
		<h:form>
			
			<rich:panel   header="Campañas">
				<h:outputText value="Campaña " />
				<h:selectOneMenu id="selCampaña" value="#{cronogramaMedicionBean.campanaMedicion}" required="true">
					<f:selectItems value="#{cronogramaMedicionBean.itemsCampanaMedicion1}" />
					<f:converter converterId="campanaMedicionConverter" />
				</h:selectOneMenu>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton 
					id="botonRefrescar" 
					title="Ver cronograma"
					action="#{cronogramaMedicionBean.CronogramaxCampana}"
					reRender="tableCronogramaMedicion"
					image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 	style="position:absolute;right:20px"/>
			</rich:panel>
			
			<rich:panel   header="Suministros Seleccionados (#{cronogramaMedicionBean.cronogramasMedicion.size()})">
				<rich:dataTable
					value="#{cronogramaMedicionBean.cronogramasMedicion}" var="p"
					id="tableCronogramaMedicion" rows="27" width="100%"
					rendered="#{not empty cronogramaMedicionBean.cronogramasMedicion}">
					
					<rich:column filterValue="#{cronogramaMedicionBean.nisFilter}" width="90px"
	               			 filterExpression="#{fn:containsIgnoreCase(p.medicion.numSumMedicion,cronogramaMedicionBean.nisFilter)}"
	               			 filterEvent="onchange"	filterType="custom">
		                <f:facet name="header">
		                    <h:panelGroup>
		                        <h:outputText value="NIS " />
		                        <h:inputText value="#{cronogramaMedicionBean.nisFilter}" style="width:70px" >
		                            <a4j:ajax event="blur" render="tableCronogramaMedicion,jQueryTags,dsCronogramaMedicion" execute="@this" />
		                        </h:inputText>
		                    </h:panelGroup>
		                </f:facet>
	                	<h:outputText value="#{p.medicion.numSumMedicion}" />
            		</rich:column>
						
					<rich:column>
						<f:facet name="header">Nombre</f:facet>
						<h:outputText value="#{p.medicion.nomUsuario}" />
					</rich:column>
<!-- 
					<rich:column style="text-align:center">
						<f:facet name="header">Fecha Planificada</f:facet>
						<h:outputText value="#{p.fecPlanificada}" />
					</rich:column>
 -->					
					<rich:column filterValue="#{cronogramaMedicionBean.fecPlaniFilter}"
									filter="#{cronogramaMedicionBean.getFilterFecPlani()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="160px">
							<f:facet name="header">Fecha Planificada
								<h:panelGroup>
									<rich:calendar value="#{cronogramaMedicionBean.fecPlaniFilter}"
										id="calendar20" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha y Hora de Fecha Planificada" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableCronogramaMedicion,jQueryTags,dsCronogramaMedicion" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecPlanificada}" locale="es_PE">
							</h:outputText>
						</rich:column>
					
					
					
					<rich:column style="text-align:center">
						<f:facet name="header">Cuadrilla</f:facet>
						<h:outputText value="#{p.cuadrilla.descripcion}" />
					</rich:column>

					<rich:column style="text-align:center">
						<f:facet name="header">Acción</f:facet>
					   <a4j:commandButton 
							id="botonEditar" 
							title="Editar"
							action="#{cronogramaMedicionBean.prepararEditar}" 
							reRender="tableCronogramaMedicion"
							image="/resources/images/edit.png">
							<f:param id="cronogramamedicionId30" name="cronogramamedicionId" value="#{p.croMedicionId}" />
						</a4j:commandButton>
						<a4j:commandButton 
							id="botonVer" 
							title="Ver"
							action="#{cronogramaMedicionBean.prepararVer}"
							reRender="tableCronogramaMedicion"
							image="/resources/images/glasses.png">
							<f:param id="cronogramamedicionId31" name="cronogramamedicionId" value="#{p.croMedicionId}" />
						</a4j:commandButton>
						<a4j:commandButton
							id="botonEliminar" 
							title="Eliminar"
							onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"
							reRender="tableCronogramaMedicion"
							action="#{cronogramaMedicionBean.eliminar}"
							image="/resources/images/delete-item.png">
						<f:param id="cronogramamedicionId32" name="cronogramamedicionId" value="#{p.croMedicionId}" />
						</a4j:commandButton>
												
					</rich:column>
				</rich:dataTable>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsCronogramaMedicion"
						for="tableCronogramaMedicion" maxPages="5" align="left"
						rendered="#{not empty cronogramaMedicionBean.cronogramasMedicion}"  oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>  
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{cronogramaMedicionBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableCronogramaMedicion tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableCronogramaMedicion tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableCronogramaMedicion tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableCronogramaMedicion tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup>
		 <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>

	</ui:define>
</ui:composition>
<rich:panel>
	<h:commandButton action="#{cronogramaMedicionBean.prepararCrear}" value="Nuevo" />

</rich:panel>
</html>