<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
	          <rich:panel   header="Crear Cuadrilla ">
	         <h:panelGrid columns="3">
	           <h:outputText value="Codigo" />
	           <h:inputText id="selCodigo" value="#{cuadrillaBean.cuadrilla.codCuadrilla}" label="Codigo" required="true" maxlength = "16">
	           		<f:validateLength maximum="16" />
	           </h:inputText>
	           <rich:message for="selCodigo" ajaxRendered="true" />
	           	           
	           <h:outputText value="Descripcion" />
	           <h:inputTextarea id="selDescripcion" value="#{cuadrillaBean.cuadrilla.descripcion}" label="Descripcion" required="true" rows="3" cols="20" 
	           					style="width:200px" maxlength = "64">
                  <f:validateLength maximum="64" />
               </h:inputTextarea>
               <rich:message for="selDescripcion" ajaxRendered="true" />
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Crear" 
				    action="#{cuadrillaBean.salvar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/cuadrillaListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>