<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Ver Cuadrilla ">
	         <h:panelGrid columns="2">
	           <h:outputText value="Codigo" />
	           <h:inputText value="#{cuadrillaBean.cuadrilla.codCuadrilla}" disabled="true"/>
	            <h:outputText value="Descripcion" />
	           <h:inputTextarea value="#{cuadrillaBean.cuadrilla.descripcion}" label="Descripcion" required="true" rows="3" cols="20" style="width:200px" disabled="true">
                  <f:validateLength maximum="60" />
               </h:inputTextarea>
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/cuadrillaListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>