<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <!-- 
	   <ui:define name="menuBar">
	      <h:form>
	        <rich:toolbar width="100%" height="20px">
			       <rich:toolbarGroup location="right" >
			            <h:form>
			              <h:graphicImage value="/resources/images/iconos/login.png"/>
			             
			              <h:commandLink value="Login" action="login"></h:commandLink>
			            </h:form> 
			      </rich:toolbarGroup>
			    </rich:toolbar>
		</h:form>
		 	    
	   </ui:define>
	     -->
	    <ui:define  name="content">
	      <div align="center">
	       <h:graphicImage value="/resources/images/poste.jpg" width="940px" height="728px" />
	      </div> 
	    </ui:define>
	
	</ui:composition>
</html>