<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
	          <rich:panel   header="Empresa ">
	           <h:panelGrid columns="3">
	           
	           <h:outputText value="Empresa" />
	           <h:inputText  id="selEmpresa" value="#{empresaBean.empresa.empresa}" required="true" label="Empresa"  disabled="true" maxlength = "4">
	           		<f:validateLength maximum="4" />
	           </h:inputText>
	           <rich:message for="selEmpresa" ajaxRendered="true" />
	           
	           <h:outputText value="Nombre" />
	           <h:inputText id="selNombre" value="#{empresaBean.empresa.nombre}" required="true" label="Nombre" maxlength = "64">
	           		<f:validateLength maximum="64" />
	           </h:inputText>
	           <rich:message for="selNombre" ajaxRendered="true" />
	           
	           <h:outputText value="Periodo Supervicion" />
	           <h:inputText id="selPerSuper"  value="#{empresaBean.empresa.perSupervision}" required="true" label="PerSuper" maxlength = "8">
	           		<f:validateLength maximum="8" />
	           </h:inputText>
	           <rich:message for="selPerSuper" ajaxRendered="true" />
	           
	           <h:outputText value="Numero Alimentadores" />
	           <h:inputText id="selNumeroAlim" value="#{empresaBean.empresa.numAlimentadores}" label="NumeroAlim" required="false">
                	<f:validateLongRange maximum="1000" />
	            </h:inputText>	
	            <rich:message for="selNumeroAlim" ajaxRendered="true" />
	           
	           <h:outputText value="MT Metrado" />
	           <h:inputText id="selMTmetrado" value="#{empresaBean.empresa.mtMetrado}" label="MTmetrado" required="false">
                	<f:validateLongRange maximum="10000000" />
	            </h:inputText>	
	            <rich:message for="selMTmetrado" ajaxRendered="true" />
	           
				<h:outputText value="DATUM" />
				<h:inputText id="selDatum"  value="#{empresaBean.empresa.datum}" required="true" label="Datum" maxlength = "12">
					<f:validateLength maximum="12" />
				</h:inputText>
				<rich:message for="selDatum" ajaxRendered="true" />
				
				<h:outputText value="Zona" />
				<h:inputText id="selZona"  value="#{empresaBean.empresa.zona}" required="true" label="Zona" maxlength = "2">
					<f:validateLength maximum="2" />
				</h:inputText>
				<rich:message for="selZona" ajaxRendered="true" />
	           
	           <h:outputText value="Nombre Responsable" />
				<h:inputText id="selNombreResponsable"  value="#{empresaBean.empresa.nomResponsable}" required="true" label="NombreResponsable" maxlength = "64">
					<f:validateLength maximum="64" />
				</h:inputText>
				<rich:message for="selNombreResponsable" ajaxRendered="true" />
				
				<h:outputText value="Email Responsable" />
				<h:inputText id="selEmailResponsable"  value="#{empresaBean.empresa.emailResponsable}" required="true" label="EmailResponsable" maxlength = "128">
					<f:validateLength maximum="128" />
				</h:inputText>
				<rich:message for="selEmailResponsable" ajaxRendered="true" />
	           
	           <h:outputText value="Max Demanda Emp" />
	           <h:inputText id="selMaxDemanda" value="#{empresaBean.empresa.maxdememp}" label="MaxDemanda" required="false">
                	<f:validateLongRange maximum="1000000" />
	            </h:inputText>	
	            <rich:message for="selMaxDemanda" ajaxRendered="true" />
	           
	           <h:outputText value="Max Demanda Emp AP" />
	           <h:inputText id="selMaxDemandaAp" value="#{empresaBean.empresa.maxdemempap}" label="MaxDemandaAp" required="false">
                	<f:validateLongRange maximum="1000000" />
	            </h:inputText>	
	            <rich:message for="selMaxDemandaAp" ajaxRendered="true" />
	           
	           <h:outputText value="Año" />
				<h:inputText id="selAno"  value="#{empresaBean.empresa.ano}" required="true" label="Ano" maxlength = "4">
					<f:validateLength maximum="4" />
				</h:inputText>
				<rich:message for="selAno" ajaxRendered="true" />
	           
	           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Actualizar" 
				    action="#{empresaBean.actualizar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/default?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>