<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	         <rich:panel   header="Equipo Registrador">
	         <h:inputHidden value="#{equipoRegistradorBean.equipoRegistrador.estado}"/>
	         <h:panelGrid columns="2">
	           <h:outputText value="Codigo de Equipo" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.codEquRegistrador}" disabled="true" />
	           <h:outputText value="Descripcion" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.descripcion}" disabled="true" />
	           <h:outputText value="Marca" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.marca}" disabled="true"/>
	           <h:outputText value="Año de Fabricación" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.anoFabricacion}" disabled="true" style="text-align:right"/>
	            <h:outputText value="Numero de Serie" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.numSerie}" disabled="true" style="text-align:right"/>
	            <h:outputText value="Tipo de Medición" />
	           <h:selectOneMenu value="#{equipoRegistradorBean.equipoRegistrador.tipMedicion}"  disabled="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsTipMedicion}"/>
	           </h:selectOneMenu>
	           <h:outputText value="Fecha de Adquisición" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.fecAdquisicion}" disabled="true" style="text-align:left"/>
	            <h:outputText value="Fecha de fabricación" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.fecCalibracion}" disabled="true" style="text-align:left"/>
	           
	           <h:outputText value="Columnas a insertar" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.columnas}" disabled="true"/>
	           <h:outputText value="Fila inicial" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.filaInicial}" disabled="true" style="text-align:right"/>
	           
	           <h:outputText value="Separador de Columnas a insertar" />
	           <h:selectOneMenu id="selSeparadorColumnas"  value="#{equipoRegistradorBean.equipoRegistrador.separadorColumnas}" required="true" disabled="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsSeparadorColumnas}"/>
				</h:selectOneMenu>
	           
	           <h:outputText value="Formato de Fecha " />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.formatoFecha}" disabled="true"/>
	           
	           <h:outputText value="Formato de Fecha" />
				<h:selectOneMenu id="selFormatoFecha"  value="#{equipoRegistradorBean.equipoRegistrador.formatoFecha}" required="true" disabled="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsFormatoFecha}"/>
				</h:selectOneMenu>
	           
	           <h:outputText value="Numero de Columnas de la fecha" />
	           <h:inputText value="#{equipoRegistradorBean.equipoRegistrador.numeroColumnasFecha}" disabled="true" style="text-align:right"/>
	           
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/equipoRegistradorListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>