<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
	       <rich:panel   header="Equipo Registrador (#{equipoRegistradorBean.equipoRegistradores1.size()})">
	         <rich:dataTable value="#{equipoRegistradorBean.equipoRegistradores1}" var="p" id="tableEquipoRegistrador" reRender="dsEquipoRegistrador"
			                          rows="25" width="100%"  rendered="#{not empty equipoRegistradorBean.equipoRegistradores1}">
               
 <!--          <rich:column  sortBy="#{p.codEquRegistrador}" style="text-align:center">
                 <f:facet name="header">Codigo Equipo</f:facet>
                 <h:outputText value="#{p.codEquRegistrador}" />
               </rich:column>
   -->             
               <rich:column filterValue="#{equipoRegistradorBean.codEquRegistradorFilter}"  style="width:90px;text-align:center"
               					filterExpression="#{fn:containsIgnoreCase(p.codEquRegistrador,equipoRegistradorBean.codEquRegistradorFilter)}">
               	<f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="Codigo Equipo" />
	                        <h:inputText value="#{equipoRegistradorBean.codEquRegistradorFilter}" style="width:80px">
	                            <a4j:ajax event="blur" render="tableEquipoRegistrador,jQueryTags,dsEquipoRegistrador" execute="@this" />
	                        </h:inputText>
	                    </h:panelGroup>
	            </f:facet>
               	<h:outputText value="#{p.codEquRegistrador}" />
            	</rich:column>
               
               
               <rich:column sortBy="#{p.descripcion}">
                 <f:facet name="header">Descripcion</f:facet>
                 <h:outputText value="#{p.descripcion}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Marca</f:facet>
                 <h:outputText value="#{p.marca}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Año Fabricacion</f:facet>
                 <h:outputText value="#{p.anoFabricacion}" />
               </rich:column>
                <rich:column style="text-align:center">
                 <f:facet name="header">Numero de Serie</f:facet>
                 <h:outputText value="#{p.numSerie}" />
               </rich:column>
  
        	    <rich:column style="text-align:center">
                 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{equipoRegistradorBean.prepararEditar}"
				    reRender="tableEquipoRegistrador"
				    image="/resources/images/edit.png">
				     <f:param  id="equRegistradorId30"  name="equipoRegistradorId" value="#{p.equRegistradorId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{equipoRegistradorBean.prepararVer}"
				    reRender="tableEquipoRegistrador"
				    image="/resources/images/glasses.png">
				    <f:param  id="equRegistradorId31"  name="equipoRegistradorId" value="#{p.equRegistradorId}"/>
				 </a4j:commandButton>
				<a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"   
				    reRender="tableEquipoRegistrador"
				    action="#{equipoRegistradorBean.eliminar}"
				    image="/resources/images/delete-item.png">
				 <f:param  id="equRegistradorId32"  name="equipoRegistradorId" value="#{p.equRegistradorId}"/>   
				 </a4j:commandButton>
				 
               </rich:column>
	          </rich:dataTable>
	          <h:panelGrid columns="1">
					<rich:dataScroller id="dsEquipoRegistrador" for="tableEquipoRegistrador"
						maxPages="10" align="left"
						rendered="#{not empty equipoRegistradorBean.equipoRegistradores}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>  
           <rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{equipoRegistradorBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
	      <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableEquipoRegistrador tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableEquipoRegistrador tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableEquipoRegistrador tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableEquipoRegistrador tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	      
	     </ui:define>
	</ui:composition>
</html>