<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	    
	      <rich:messages ajaxRendered="true" />
	    
	        <rich:panel   header="Equipo Registrador">
	         <h:inputHidden value="#{equipoRegistradorBean.equipoRegistrador.estado}"/>
	         <h:panelGrid columns="3">
	           <h:outputText value="Codigo" />
	           <h:inputText id="selCodigo" value="#{equipoRegistradorBean.equipoRegistrador.codEquRegistrador}" label="Codigo" required="true" maxlength = "16">
	           		<f:validateLength maximum="16" />
	           </h:inputText>
	           <rich:message for="selCodigo" ajaxRendered="true" />
	           
	           <h:outputText value="Descripcion" />
	           <h:inputText id="selDescripcion" value="#{equipoRegistradorBean.equipoRegistrador.descripcion}"  label="Descripcion" required="true" maxlength = "64">
	           		<f:validateLength maximum="64" />
	           </h:inputText>
	           <rich:message for="selDescripcion" ajaxRendered="true" />
	           
	           <h:outputText value="Marca" />
	           <h:selectOneMenu id="selMarca"  value="#{equipoRegistradorBean.equipoRegistrador.marca}" label="Marca" required="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsMarcaMedidor}"/>
	           </h:selectOneMenu>
	           <rich:message for="selMarca" ajaxRendered="true" />
	          
	           <h:outputText value="Año de Fabricacion" />
	           <h:inputText  id="selAnoFabricacion" value="#{equipoRegistradorBean.equipoRegistrador.anoFabricacion}" label="Año de Fabricacion"  required="true">	
	           		<f:validateLongRange maximum="10000" />
	           </h:inputText>    
	           <rich:message for="selAnoFabricacion" ajaxRendered="true" />
	           
	           <h:outputText value="Numero de Serie" />
	           <h:inputText id="selNumSerie"  value="#{equipoRegistradorBean.equipoRegistrador.numSerie}"  label="Numero de Serie" required="true" maxlength = "15">	
	           			<f:validateLength maximum="15" />
	           </h:inputText>     
	           <rich:message for="selNumSerie" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo Medición" />
	           <h:selectOneMenu id="selTipMedicion" value="#{equipoRegistradorBean.equipoRegistrador.tipMedicion}" label="Tipo Medición"  required="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsTipMedicion}"/>
	           </h:selectOneMenu>	
	           <rich:message for="selTipMedicion" ajaxRendered="true" />
	          	           
	           <h:outputText value="Fecha de Adquisición" />
	           <rich:calendar value="#{equipoRegistradorBean.fecAdquisicion}" id="calendar2" locale="es_PE"
                    popup="true" datePattern="dd-MMM-yy"
                    showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px" immediate = "true" required="true" label="Fecha de Adquisición" >
                </rich:calendar>
                <rich:message for="calendar2" ajaxRendered="true" />
                
	           <h:outputText value="Fecha Calibración" />
	           <rich:calendar value="#{equipoRegistradorBean.fecCalibracion}" id="calendar1" locale="es_PE"
                    popup="true" datePattern="dd-MMM-yy"
                    showApplyButton="false" cellWidth="24px" cellHeight="22px" style="width:200px" immediate = "true" label="Fecha de Adquisición">
                </rich:calendar>
                 <rich:message for="calendar1" ajaxRendered="true" />
                
               <h:outputText value="Columnas a insertar" />
	           <h:inputText id="selColumnas"  value="#{equipoRegistradorBean.equipoRegistrador.columnas}" label="Columnas a insertar" required="true" maxlength = "20">	
	           		<f:validateLength maximum="20" />
	            </h:inputText>	
	            <rich:message for="selColumnas" ajaxRendered="true" />
	           
	     	   <h:outputText value="Nombre de las Columnas a insertar" />
	           <h:selectOneMenu id="selNombreColumnas"  value="#{equipoRegistradorBean.equipoRegistrador.nombreColumnas}" required="true" style="width: 280px;">
	               <f:selectItems value="#{equipoRegistradorBean.itemsNombreColumnas}"/>
	           </h:selectOneMenu>
	           <rich:message for="selNombreColumnas" ajaxRendered="true" />
	           
	           <h:outputText value="Fila inicial" />
	           <h:inputText id="selFilaInicial"  value="#{equipoRegistradorBean.equipoRegistrador.filaInicial}" label="Fila inicial" required="true">	
	           		<f:validateLongRange maximum="1000" />
	            </h:inputText>	
	            <rich:message for="selFilaInicial" ajaxRendered="true" />
	           
				<h:outputText value="Separador de Columnas a insertar" />
				<h:selectOneMenu id="selSeparadorColumnas"  value="#{equipoRegistradorBean.equipoRegistrador.separadorColumnas}" required="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsSeparadorColumnas}"/>
				</h:selectOneMenu>
				<rich:message for="selSeparadorColumnas" ajaxRendered="true" />
	           	
	            <h:outputText value="Formato de Fecha" />
				<h:selectOneMenu id="selFormatoFecha"  value="#{equipoRegistradorBean.equipoRegistrador.formatoFecha}" required="true">
	               <f:selectItems value="#{equipoRegistradorBean.itemsFormatoFecha}"/>
				</h:selectOneMenu>
				<rich:message for="selFormatoFecha" ajaxRendered="true" />
	           
	           <h:outputText value="Numero de Columnas de la fecha" />
	           <h:inputText id="selNumeroColumnasFecha" value="#{equipoRegistradorBean.equipoRegistrador.numeroColumnasFecha}" label="Numero de Columnas" required="true">
                	<f:validateLongRange maximum="100" />
	            </h:inputText>	
	            <rich:message for="selNumeroColumnasFecha" ajaxRendered="true" />
	            <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Crear" 
				    action="#{equipoRegistradorBean.salvar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/equipoRegistradorListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel> 
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>