<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core">     
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
		  <style  type="text/css">
			        .even-row {
			        background-color: #FCFFFE;
			        }
			 
			        .odd-row {
			        background-color: #ECF3FE;
			        }
			 
			        .active-row {
			        background-color: #FFEBDA !important;
			        cursor: default;
			        }
			        
			        .top {
			        vertical-align: top;
			        }
			 
			        .info {
			        height: 202px;
			        overflow: auto;
			        }
			</style>	  
	  
	      <h:form > 
			<rich:panel header="Suministro Seleccionado">
			    <h:outputText value="Número:" />
			    <h:outputText value="#{intervaloPerturbacionBean.medicion.numSumMedicion}" />&nbsp;&nbsp;&nbsp;
			    <h:outputText value="Nombre:" />
			    <h:outputText value="#{intervaloPerturbacionBean.medicion.nomUsuario}" />&nbsp;&nbsp;&nbsp;
			    
			    	<h:commandButton
							    id="botonCompensaciones"
							    title="Reporte listar Resumen" 
							    action="#{intervaloPerturbacionBean.resumenProceso}"
							    image="/resources/images/res-pertur.png" 
							    style="width: 20px; high: 20px">
					</h:commandButton>
			    	&nbsp;&nbsp;
			 		<h:commandButton
							    id="botonGraficoflicker"
							    title="Descargar Reporte de Perfil de Flicker" 
							    action="#{intervaloPerturbacionBean.downloadGraficoFlicker}"
							    image="/resources/images/bar-chart.png" 
							    style="width: 20px; high: 20px">
					</h:commandButton>
					&nbsp;&nbsp;
		 			<h:commandButton
							    id="botonGrafico"
							    title="Descargar Reporte de Perfil de Perturbacion" 
							    action="#{intervaloPerturbacionBean.downloadGraficoArmonicos}"
							    image="/resources/images/lista-pertur.png" 
							    style="width: 20px; high: 20px">
					</h:commandButton>
	  	 	<a4j:commandLink  value="Volver" action="/zonasegura/medicionxSuministroListar?faces-redirect=true" style="position:absolute;right:20px"/> 
			</rich:panel>

			<rich:panel header="Intervalos Perturbacion Registrados" >
<!--  			<rich:extendedDataTable  -->	
				<rich:extendedDataTable value="#{intervaloPerturbacionBean.intervaloPerturbaciones1}" var="p" 
	         							id="tableIntervaloPerturbacion" rows="100" width="100%" reRender="dsIntervaloPerturbacion"
	         							 rendered="#{not empty intervaloPerturbacionBean.intervaloPerturbaciones1}"
				                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
					<rich:column style="text-align:center; width: 250px" >
						<f:facet name="header">Fecha/Hora</f:facet>
						<h:outputText value="#{p.intervalo}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 1</f:facet>
						<h:outputText value="#{p.tenIntervalo1}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 2 </f:facet>
						<h:outputText value="#{p.tenIntervalo2}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Estado 2</f:facet>
						<ui:fragment rendered="#{p.estTension2 eq 'C'}">
							<a4j:commandButton id="boton2a" title="Conforme" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension2 eq 'F'}">
							<a4j:commandButton id="boton2b" title="En Falta" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 3</f:facet>
						<h:outputText value="#{p.tenIntervalo3}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Estado 3</f:facet>
						<ui:fragment rendered="#{p.estTension3 eq 'C'}">
							<a4j:commandButton id="boton3a" title="Conforme" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension3 eq 'F'}">
							<a4j:commandButton id="boton3b" title="En Falta" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 4</f:facet>
						<h:outputText value="#{p.tenIntervalo4}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Estado 4</f:facet>
						<ui:fragment rendered="#{p.estTension4 eq 'C'}">
							<a4j:commandButton id="boton4a" title="Conforme" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension4 eq 'F'}">
							<a4j:commandButton id="boton4b" title="En Falta" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 5</f:facet>
						<h:outputText value="#{p.tenIntervalo5}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Estado 5</f:facet>
						<ui:fragment rendered="#{p.estTension5 eq 'C'}">
							<a4j:commandButton id="boton5a" title="Conforme" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension5 eq 'F'}">
							<a4j:commandButton id="boton5b" title="En Falta" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 6</f:facet>
						<h:outputText value="#{p.tenIntervalo6}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Estado 6</f:facet>
						<ui:fragment rendered="#{p.estTension6 eq 'C'}">
							<a4j:commandButton id="boton6a" title="Conforme" action="#"  image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension6 eq 'F'}">
							<a4j:commandButton id="boton6b" title="En Falta" action="#"  image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 7</f:facet>
						<h:outputText value="#{p.tenIntervalo7}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 7</f:facet>
						<ui:fragment rendered="#{p.estTension7 eq 'C'}">
							<a4j:commandButton id="boton7a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension7 eq 'F'}">
							<a4j:commandButton id="boton7b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 

					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 8</f:facet>
						<h:outputText value="#{p.tenIntervalo8}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 8</f:facet>
						<ui:fragment rendered="#{p.estTension8 eq 'C'}">
							<a4j:commandButton id="boton8a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension8 eq 'F'}">
							<a4j:commandButton id="boton8b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 9</f:facet>
						<h:outputText value="#{p.tenIntervalo9}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 9</f:facet>
						<ui:fragment rendered="#{p.estTension9 eq 'C'}">
							<a4j:commandButton id="boton9a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension9 eq 'F'}">
							<a4j:commandButton id="boton9b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 10</f:facet>
						<h:outputText value="#{p.tenIntervalo10}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 10</f:facet>
						<ui:fragment rendered="#{p.estTension10 eq 'C'}">
							<a4j:commandButton id="boton10a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension10 eq 'F'}">
							<a4j:commandButton id="boton10b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 11</f:facet>
						<h:outputText value="#{p.tenIntervalo11}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 11</f:facet>
						<ui:fragment rendered="#{p.estTension11 eq 'C'}">
							<a4j:commandButton id="boton11a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension11 eq 'F'}">
							<a4j:commandButton id="boton11b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 12</f:facet>
						<h:outputText value="#{p.tenIntervalo12}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 12</f:facet>
						<ui:fragment rendered="#{p.estTension12 eq 'C'}">
							<a4j:commandButton id="boton12a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension12 eq 'F'}">
							<a4j:commandButton id="boton12b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 

					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 13</f:facet>
						<h:outputText value="#{p.tenIntervalo13}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 13</f:facet>
						<ui:fragment rendered="#{p.estTension13 eq 'C'}">
							<a4j:commandButton id="boton13a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension13 eq 'F'}">
							<a4j:commandButton id="boton13b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 

					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 14</f:facet>
						<h:outputText value="#{p.tenIntervalo14}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 14</f:facet>
						<ui:fragment rendered="#{p.estTension14 eq 'C'}">
							<a4j:commandButton id="boton14a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension14 eq 'F'}">
							<a4j:commandButton id="boton14b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 

					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 15</f:facet>
						<h:outputText value="#{p.tenIntervalo15}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 15</f:facet>
						<ui:fragment rendered="#{p.estTension15 eq 'C'}">
							<a4j:commandButton id="boton15a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension15 eq 'F'}">
							<a4j:commandButton id="boton15b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 16</f:facet>
						<h:outputText value="#{p.tenIntervalo16}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 16</f:facet>
						<ui:fragment rendered="#{p.estTension16 eq 'C'}">
							<a4j:commandButton id="boton16a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension16 eq 'F'}">
							<a4j:commandButton id="boton16b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 17</f:facet>
						<h:outputText value="#{p.tenIntervalo17}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 17</f:facet>
						<ui:fragment rendered="#{p.estTension17 eq 'C'}">
							<a4j:commandButton id="boton17a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension17 eq 'F'}">
							<a4j:commandButton id="boton17b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 18</f:facet>
						<h:outputText value="#{p.tenIntervalo18}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 18</f:facet>
						<ui:fragment rendered="#{p.estTension18 eq 'C'}">
							<a4j:commandButton id="boton18a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension18 eq 'F'}">
							<a4j:commandButton id="boton18b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 

					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 19</f:facet>
						<h:outputText value="#{p.tenIntervalo19}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 19</f:facet>
						<ui:fragment rendered="#{p.estTension19 eq 'C'}">
							<a4j:commandButton id="boton19a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension19 eq 'F'}">
							<a4j:commandButton id="boton19b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 20</f:facet>
						<h:outputText value="#{p.tenIntervalo20}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 20</f:facet>
						<ui:fragment rendered="#{p.estTension20 eq 'C'}">
							<a4j:commandButton id="boton20a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension20 eq 'F'}">
							<a4j:commandButton id="boton20b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
					
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 21</f:facet>
						<h:outputText value="#{p.tenIntervalo21}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 21</f:facet>
						<ui:fragment rendered="#{p.estTension21 eq 'C'}">
							<a4j:commandButton id="boton21a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension21 eq 'F'}">
							<a4j:commandButton id="boton21b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 22</f:facet>
						<h:outputText value="#{p.tenIntervalo22}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 22</f:facet>
						<ui:fragment rendered="#{p.estTension22 eq 'C'}">
							<a4j:commandButton id="boton22a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension22 eq 'F'}">
							<a4j:commandButton id="boton22b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max 23</f:facet>
						<h:outputText value="#{p.tenIntervalo23}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 23</f:facet>
						<ui:fragment rendered="#{p.estTension23 eq 'C'}">
							<a4j:commandButton id="boton23a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension23 eq 'F'}">
							<a4j:commandButton id="boton23b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 24</f:facet>
						<h:outputText value="#{p.tenIntervalo24}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 24</f:facet>
						<ui:fragment rendered="#{p.estTension24 eq 'C'}">
							<a4j:commandButton id="boton24a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension24 eq 'F'}">
							<a4j:commandButton id="boton24b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 25</f:facet>
						<h:outputText value="#{p.tenIntervalo25}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 25</f:facet>
						<ui:fragment rendered="#{p.estTension25 eq 'C'}">
							<a4j:commandButton id="boton25a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension25 eq 'F'}">
							<a4j:commandButton id="boton25b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 26</f:facet>
						<h:outputText value="#{p.tenIntervalo26}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 26</f:facet>
						<ui:fragment rendered="#{p.estTension26 eq 'C'}">
							<a4j:commandButton id="boton26a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension26 eq 'F'}">
							<a4j:commandButton id="boton26b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 27</f:facet>
						<h:outputText value="#{p.tenIntervalo27}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 27</f:facet>
						<ui:fragment rendered="#{p.estTension27 eq 'C'}">
							<a4j:commandButton id="boton27a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension27 eq 'F'}">
							<a4j:commandButton id="boton27b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 28</f:facet>
						<h:outputText value="#{p.tenIntervalo28}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 28</f:facet>
						<ui:fragment rendered="#{p.estTension28 eq 'C'}">
							<a4j:commandButton id="boton28a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension28 eq 'F'}">
							<a4j:commandButton id="boton28b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 

					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 29</f:facet>
						<h:outputText value="#{p.tenIntervalo29}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 29</f:facet>
						<ui:fragment rendered="#{p.estTension29 eq 'C'}">
							<a4j:commandButton id="boton29a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension29 eq 'F'}">
							<a4j:commandButton id="boton29b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 30</f:facet>
						<h:outputText value="#{p.tenIntervalo30}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 30</f:facet>
						<ui:fragment rendered="#{p.estTension30 eq 'C'}">
							<a4j:commandButton id="boton30a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension30 eq 'F'}">
							<a4j:commandButton id="boton30b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
					
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 31</f:facet>
						<h:outputText value="#{p.tenIntervalo31}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 31</f:facet>
						<ui:fragment rendered="#{p.estTension31 eq 'C'}">
							<a4j:commandButton id="boton31a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension31 eq 'F'}">
							<a4j:commandButton id="boton31b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 32</f:facet>
						<h:outputText value="#{p.tenIntervalo32}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 32</f:facet>
						<ui:fragment rendered="#{p.estTension32 eq 'C'}">
							<a4j:commandButton id="boton32a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension32 eq 'F'}">
							<a4j:commandButton id="boton32b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 33</f:facet>
						<h:outputText value="#{p.tenIntervalo33}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 33</f:facet>
						<ui:fragment rendered="#{p.estTension33 eq 'C'}">
							<a4j:commandButton id="boton33a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension33 eq 'F'}">
							<a4j:commandButton id="boton33b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 34</f:facet>
						<h:outputText value="#{p.tenIntervalo34}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 34</f:facet>
						<ui:fragment rendered="#{p.estTension34 eq 'C'}">
							<a4j:commandButton id="boton34a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension34 eq 'F'}">
							<a4j:commandButton id="boton34b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 35</f:facet>
						<h:outputText value="#{p.tenIntervalo35}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 35</f:facet>
						<ui:fragment rendered="#{p.estTension35 eq 'C'}">
							<a4j:commandButton id="boton35a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension35 eq 'F'}">
							<a4j:commandButton id="boton35b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 36</f:facet>
						<h:outputText value="#{p.tenIntervalo36}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 36</f:facet>
						<ui:fragment rendered="#{p.estTension36 eq 'C'}">
							<a4j:commandButton id="boton36a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension36 eq 'F'}">
							<a4j:commandButton id="boton36b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 37</f:facet>
						<h:outputText value="#{p.tenIntervalo37}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 37</f:facet>
						<ui:fragment rendered="#{p.estTension37 eq 'C'}">
							<a4j:commandButton id="boton37a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension37 eq 'F'}">
							<a4j:commandButton id="boton37b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 38</f:facet>
						<h:outputText value="#{p.tenIntervalo38}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 38</f:facet>
						<ui:fragment rendered="#{p.estTension38 eq 'C'}">
							<a4j:commandButton id="boton38a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension38 eq 'F'}">
							<a4j:commandButton id="boton38b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 39</f:facet>
						<h:outputText value="#{p.tenIntervalo39}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 39</f:facet>
						<ui:fragment rendered="#{p.estTension39 eq 'C'}">
							<a4j:commandButton id="boton39a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension39 eq 'F'}">
							<a4j:commandButton id="boton39b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
	
					<rich:column style="text-align:center">
						<f:facet name="header">Max Arm 40</f:facet>
						<h:outputText value="#{p.tenIntervalo40}" />
					</rich:column>	
					<rich:column style ="text-align:center">
						<f:facet name="header">Estado 40</f:facet>
						<ui:fragment rendered="#{p.estTension40 eq 'C'}">
							<a4j:commandButton id="boton40a" title="Conforme" action ="#" image="/resources/images/circulo_verde.png" style="width:16px; high:16px">
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.estTension40 eq 'F'}">
							<a4j:commandButton id="boton40b" title="En Falta" action="#" image ="/resources/images/circulo_rojo.png" style ="width:16px;high:16px">
							</a4j:commandButton>
						</ui:fragment>
					</rich:column> 
					
					<rich:column style="text-align:center">
 					<f:facet name="header">Estado Intervalo</f:facet>
 					<ui:fragment rendered="#{p.armvEstIntervalo.estIntervaloId eq 1}">
						<a4j:commandButton 
						    id="botone1" title="#{p.armvEstIntervalo.descripcion}" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.armvEstIntervalo.estIntervaloId eq 2}">
						<a4j:commandButton 
						    id="botone2" title="#{p.armvEstIntervalo.descripcion}" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
				 		</a4j:commandButton> 
					 </ui:fragment>
 					</rich:column>
					
					<rich:column style="text-align:center">
	 					<f:facet name="header">THD-MAX</f:facet>
	 					<h:outputText value="#{p.thdMax}" />
 					</rich:column>						
 					<rich:column style="text-align:center">
 					<f:facet name="header">Estado THD</f:facet>
 					<ui:fragment rendered="#{p.armEstIntervalo.estIntervaloId eq 1}">
						<a4j:commandButton 
						    id="botone3" title="#{p.armEstIntervalo.descripcion}" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.armEstIntervalo.estIntervaloId eq 2}">
						<a4j:commandButton 
						    id="botone4" title="#{p.armEstIntervalo.descripcion}" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
				 		</a4j:commandButton> 
					 </ui:fragment>
 					</rich:column>	

					<rich:column style="text-align:center">
	 					<f:facet name="header">PST-MAX</f:facet>
	 					<h:outputText value="#{p.pstMax}" />
 					</rich:column>	
 					<rich:column style="text-align:center">
						<f:facet name="header">Estado PST</f:facet>
						<ui:fragment rendered="#{p.fliEstIntervalo.estIntervaloId eq 1}">
							<a4j:commandButton 
						    id="botone5" title="#{p.fliEstIntervalo.descripcion}" action="#" image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
						<ui:fragment rendered="#{p.fliEstIntervalo.estIntervaloId eq 2}">
						<a4j:commandButton 
						    id="botone6" title="#{p.fliEstIntervalo.descripcion}" action="#" image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							</a4j:commandButton> 
						</ui:fragment>
 					</rich:column>	
					<rich:column style="text-align:center">
	 					<f:facet name="header">Energia</f:facet>
	 					<h:outputText value="#{p.eneIntervalo}" />
 					</rich:column>	
 					
					
				 </rich:extendedDataTable>	
	<!-- 		</rich:extendedDataTable>  -->
				
			</rich:panel>  

			<rich:dataScroller  id="dsIntervaloPerturbacion" for="tableIntervaloPerturbacion" maxPages="60"  align="left" 
							rendered="#{not empty intervaloPerturbacionBean.intervaloPerturbaciones1}"
							oncomplete="refrescarEstilos()"/>
			<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
 	      </h:form>		
			<h:panelGroup id="jQueryTags"> 
				<!-- <rich:jQuery selector="#tableIntervaloPerturbacion tr:odd" query="addClass('odd-row')" />  -->
				<!-- <rich:jQuery selector="#tableIntervaloPerturbacion tr:even" query="addClass('even-row')" />  -->
				<rich:jQuery selector="#tableIntervaloPerturbacion tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
				<rich:jQuery selector="#tableIntervaloPerturbacion tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>	
			<a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
				</f:facet>
			</a4j:status>
	  </ui:define>
	</ui:composition>

</html>