<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form > 
	      
	      <rich:messages ajaxRendered="true" />
	         <rich:panel   header="Intervalo FR Tension">
	         <h:inputHidden value="#{intervaloFRTensionBean.intervaloFRTension.estado}"/>
	         <h:panelGrid columns="3">
	         
	  <!--     <h:outputText value="Rango 1" />
	   		   <h:inputText id="selIntervaloFRTension" value="#{intervaloFRTensionBean.intervaloFRTension.rango1}"  required="true" 
	           				disabled="true" style="text-align:right;width:50px" >
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension" ajaxRendered="true" />     
	    -->        
	       
	         
	 		<ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	          	          
	  		<h:outputText value="Para V &#9474; 5 %  &#8249; &#916;V &#8804; 7.5 %"/>
			</ui:fragment>
	       	<ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	          	          
	  		   <h:outputText  value="Para V &#9474; 6 %  &#8249; &#916;V &#8804; 7.5 %" />
	       	</ui:fragment>
	       		<h:inputText id="selIntervaloFRTension" value="#{intervaloFRTensionBean.intervaloFRTension.rango1}"  required="true" 
	           				disabled="true" style="text-align:right;width:50px" >
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension" ajaxRendered="true" />
	      
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; 7.5 %  &#8249; &#916;V &#8804; 10 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; 7.5 %  &#8249; &#916;V &#8804; 10 %" />
	        </ui:fragment> 
	           <h:inputText id="selIntervaloFRTension2" value="#{intervaloFRTensionBean.intervaloFRTension.rango2}"  required="true" 
	           				disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension2" ajaxRendered="true" />
	           
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; 10 %  &#8249; &#916;V &#8804; 12.5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	            <h:outputText value="Para V &#9474; 10 %  &#8249; &#916;V &#8804; 12.5 %" />
	        </ui:fragment> 
	           <h:inputText id="selIntervaloFRTension3" value="#{intervaloFRTensionBean.intervaloFRTension.rango3}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension3" ajaxRendered="true" />
	           
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; 12.5 %  &#8249; &#916;V &#8804; 15 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; 12.5 %  &#8249; &#916;V &#8804; 15 %" />
	        </ui:fragment>        
	           <h:inputText id="selIntervaloFRTension4" value="#{intervaloFRTensionBean.intervaloFRTension.rango4}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension4" ajaxRendered="true" />
	           
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; 15 %  &#8249; &#916;V &#8804; 17.5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; 15 %  &#8249; &#916;V &#8804; 17.5 %" />
	        </ui:fragment>    
	           <h:inputText id="selIntervaloFRTension5" value="#{intervaloFRTensionBean.intervaloFRTension.rango5}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension5" ajaxRendered="true" />
	        
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
		           <h:outputText value="Para  &#9474; &#916;V &#8250; 17.5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para  &#9474; &#916;V &#8250; 17.5 %" />
	        </ui:fragment>      
	           <h:inputText id="selIntervaloFRTension6" value="#{intervaloFRTensionBean.intervaloFRTension.rango6}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension6" ajaxRendered="true" />
	   		 
	   		<ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; -7.5 %  &#8804; &#916;V &#60; -5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; -7.5 %  &#8804; &#916;V &#60; -6 %" />
	        </ui:fragment>        
				<h:inputText id="selIntervaloFRTension7" value="#{intervaloFRTensionBean.intervaloFRTension.rango7}"  required="true" disabled="true" style="text-align:right;width:50px">
	            </h:inputText>
	            <rich:message for="selIntervaloFRTension7" ajaxRendered="true" />
	        
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	            <h:outputText value="Para V &#9474; -10 %  &#8804; &#916;V &#60; -7.5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R'|| intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	  
	        	<h:outputText value="Para V &#9474; -10 %  &#8804; &#916;V &#60; -7.5 %" /> 
	        </ui:fragment>      
	           	<h:inputText id="selIntervaloFRTension8" value="#{intervaloFRTensionBean.intervaloFRTension.rango8}"  required="true" disabled="true" style="text-align:right;width:50px">
	            </h:inputText>
	            <rich:message for="selIntervaloFRTension8" ajaxRendered="true" />
	         
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; -12.5 %  &#8804; &#916;V &#60; -10 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; -12.5 %  &#8804; &#916;V &#60; -10 %" />
	        </ui:fragment>        
	           	<h:inputText id="selIntervaloFRTension9" value="#{intervaloFRTensionBean.intervaloFRTension.rango9}"  required="true" disabled="true" style="text-align:right;width:50px">
	            </h:inputText>
	            <rich:message for="selIntervaloFRTension9" ajaxRendered="true" />
	         
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; -15 %  &#8804; &#916;V &#60; -12.5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; -15 %  &#8804; &#916;V &#60; -12.5 %" />
	        </ui:fragment>       
	           	<h:inputText id="selIntervaloFRTension10" value="#{intervaloFRTensionBean.intervaloFRTension.rango10}"  required="true" disabled="true" style="text-align:right;width:50px">
	            </h:inputText>
	            <rich:message for="selIntervaloFRTension10" ajaxRendered="true" />
	        
			<ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; -17.5 %  &#8804; &#916;V &#60; -15 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; -17.5 %  &#8804; &#916;V &#60; -15 %" />
	        </ui:fragment>       
	           <h:inputText id="selIntervaloFRTension11" value="#{intervaloFRTensionBean.intervaloFRTension.rango11}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension11" ajaxRendered="true" />         
	           
	     	<ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'U'}">	   
	           <h:outputText value="Para V &#9474; &#916;V &#60; -17.5 %" />
	        </ui:fragment> 
	        <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	   
	           <h:outputText value="Para V &#9474; &#916;V &#60; -17.5 %" />
	        </ui:fragment>              
	           <h:inputText id="selIntervaloFRTension12" value="#{intervaloFRTensionBean.intervaloFRTension.rango12}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selIntervaloFRTension12" ajaxRendered="true" />
	         
	           
	         <ui:fragment rendered="#{intervaloFRTensionBean.medicion.tipServicio == 'R' || intervaloFRTensionBean.medicion.tipServicio == 'UR'}">	          
	           <h:outputText value="Vso 1" />
	           <h:inputText id="selVso1" value="#{intervaloFRTensionBean.intervaloFRTension.vso1}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selVso1" ajaxRendered="true" />
	           
	           <h:outputText value="Vso 2" />
	           <h:inputText id="selVso2" value="#{intervaloFRTensionBean.intervaloFRTension.vso2}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selVso2" ajaxRendered="true" />
	           
	           <h:outputText value="Vsu 1" />
	           <h:inputText id="selVsu1" value="#{intervaloFRTensionBean.intervaloFRTension.vsu1}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selVsu1" ajaxRendered="true" />
	           
	           <h:outputText value="Vsu 2" />
	           <h:inputText id="selVsu2" value="#{intervaloFRTensionBean.intervaloFRTension.vsu2}"  required="true" disabled="true" style="text-align:right;width:50px">
	           </h:inputText>
	           <rich:message for="selVsu2" ajaxRendered="true" />
			</ui:fragment>	           
	          
	           
	       </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/intervaloTensionListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   

	      </h:form>
	  </ui:define>
	</ui:composition>
</html>