<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core">     
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
		  <style  type="text/css">
			        .even-row {
			        background-color: #FCFFFE;
			        }
			 
			        .odd-row {
			        background-color: #ECF3FE;
			        }
			 
			        .active-row {
			        background-color: #FFEBDA !important;
			        cursor: default;
			        }
			        
			        .top {
			        vertical-align: top;
			        }
			 
			        .info {
			        height: 202px;
			        overflow: auto;
			        }
			</style>	  
	  
	      <h:form > 
	       <rich:panel header="Suministro Seleccionado">
	           <h:outputText value="Número:" />
	           <h:outputText value="#{intervaloTensionBean.medicion.numSumMedicion}" />&nbsp;&nbsp;
	           <h:outputText value="Nombre:" />
	           <h:outputText value="#{intervaloTensionBean.medicion.nomUsuario}" />&nbsp;&nbsp;
	           
		    <h:outputText value="Tensiones" />
	        <h:selectOneMenu id="selTensiones"  value="#{intervaloTensionBean.tension}" required="true" >
	               <f:selectItems value="#{intervaloTensionBean.itemsTension}"/>
	        </h:selectOneMenu>
	        <rich:message for="selTensiones" ajaxRendered="true" />
		    
	    	<a4j:commandButton 
			    id="botonRefrescar"
			    title="Refrescar Grafico" 
			    action="#{intervaloTensionBean.muestraIntervalos}"
			    reRender="grafico"
			    image="/resources/images/reload.png" 
			    style="width: 20px; high: 20px">
			</a4j:commandButton>
			&nbsp;&nbsp;
			<h:commandButton
				    id="botonGrafico"
				    title="Descargar Reporte de Perfil de Medicion" 
				    action="#{intervaloTensionBean.downloadGrafico}"
				    image="/resources/images/bar-chart.png" 
				    style="width: 20px; high: 20px">
			</h:commandButton>
			&nbsp;&nbsp;
			<h:commandButton
				    id="botonCompensacion"
				    title="Descargar Reporte de Compensacion" 
				    action="#{intervaloTensionBean.downloadCompensacion}"
				    image="/resources/images/dollar.png" 
				    style="width: 20px; high: 20px">
			</h:commandButton>
			&nbsp;&nbsp;
			<a4j:commandButton
				    id="botonIntervaloFRTension"
				    title="Listar Rangos" 
				    action="#{intervaloFRTensionBean.prepararVer}"
				    image="/resources/images/compensar.png" 
				    style="width: 20px; high: 20px">
				    <f:param  id="medicionId51"  name="medicionId" value="#{intervaloTensionBean.medicionId}"/>
			</a4j:commandButton>
			<a4j:commandLink  value="Volver" action="/zonasegura/medicionListar?faces-redirect=true" style="position:absolute;right:20px"/>
			
	       </rich:panel>
	       <h:panelGrid columns="2" columnClasses="top,top">
	       	  <rich:panel header="Intervalos Registrados" >
		         <rich:dataTable value="#{intervaloTensionBean.intervaloTensiones1}" var="p" id="tableIntervaloTension" 
				                          rows="100" width="100%"  rendered="#{not empty intervaloTensionBean.intervaloTensiones1}"
				                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
	               <rich:column style="text-align:center; width: 130px"  sortBy="#{p.intervalo}">
	                 <f:facet name="header">Fecha/Hora</f:facet>
	                 <h:outputText value="#{p.intervalo}" />
	               </rich:column>
	               
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Tension R</f:facet>
	                 <h:outputText value="#{p.tensionR}" />
	               </rich:column>
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Tension S</f:facet>
	                 <h:outputText value="#{p.tensionS}" />
	               </rich:column>
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Tension T</f:facet>
	                 <h:outputText value="#{p.tensionT}" />
	               </rich:column>
	               <!--  
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Energia R</f:facet>
	                 <h:outputText value="#{p.energiaR}" />
	               </rich:column>
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Energia S</f:facet>
	                 <h:outputText value="#{p.energiaS}" />
	               </rich:column>
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Energia T</f:facet>
	                 <h:outputText value="#{p.energiaT}" />
	               </rich:column>
	                -->
	                
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Energia</f:facet>
	                 <h:outputText value="#{p.eneIntervalo}" />
	               </rich:column>
	               
	               <rich:column style="text-align:center" sortBy="#{p.varPorTension}">
	                 <f:facet name="header">Variación (%)</f:facet>
	                 <h:outputText value="#{p.varPorTension}" />
	               </rich:column>
	               <rich:column style="text-align:center">
	                 <f:facet name="header">Estado</f:facet>
	                 <ui:fragment rendered="#{p.estadoIntervalo.estIntervaloId eq 1}">
						<a4j:commandButton 
						    id="boton1"
						    title="#{p.estadoIntervalo.descripcion}" 
						    action="#"
						    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoIntervalo.estIntervaloId eq 2}">
						<a4j:commandButton 
						    id="boton2"
						    title="#{p.estadoIntervalo.descripcion}" 
						    action="#"
						    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
				 		</a4j:commandButton> 
					 </ui:fragment>
					</rich:column>
		          </rich:dataTable>
		         
		      </rich:panel>
		      <rich:panel header="Gráfica de Comprobación"  id="grafico" >
					<h:graphicImage value="ServletLineX?MEDICIONID=#{intervaloTensionBean.medicion.medicionId}&amp;TENSION=#{intervaloTensionBean.tension}" />	
	          </rich:panel>    
           </h:panelGrid>
           <rich:dataScroller  id="dsIntervaloTension" for="tableIntervaloTension" maxPages="60"  align="left" rendered="#{not empty intervaloTensionBean.intervaloTensiones1}"
           						oncomplete="refrescarEstilos()"/>
           <a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
	      </h:form>		
			<h:panelGroup id="jQueryTags"> 
				<!-- <rich:jQuery selector="#tableParametroNorma tr:odd" query="addClass('odd-row')" />  -->
				<!-- <rich:jQuery selector="#tableParametroNorma tr:even" query="addClass('even-row')" />  -->
				<rich:jQuery selector="#tableIntervaloTension tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
				<rich:jQuery selector="#tableIntervaloTension tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>	
			<a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
				</f:facet>
			</a4j:status>
	  </ui:define>
	</ui:composition>

</html>