<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
			<rich:panel   header="Resumen de Procesamiento ">
				<h:panelGrid columns="2">
	           
				<h:outputText value="NIS" />
				<h:inputText id="selNis" value="#{intervaloPerturbacionBean.medicion.numSumMedicion}" label="nis" required="false" disabled="true" >
				</h:inputText>
	           	           	           
				<h:outputText value="Nombre" />
				<h:inputText id="selNombre" value="#{intervaloPerturbacionBean.medicion.nomUsuario}" label="Nombre" required="false" style="width:200px" disabled="true">
				</h:inputText>
              
				<h:outputText value="Intervalos con mala Calidad por FLicker" />
				<h:inputText id="selFlicker" value="#{intervaloPerturbacionBean.cantidadFlicker}" label="Flicker" required="false" style="width:100px;text-align:right" disabled="true">
				</h:inputText>

				<h:outputText value="Intervalos con mala Calidad por THD" />
				<h:inputText id="selThd" value="#{intervaloPerturbacionBean.cantidadThd}" label="Thd" required="false" style="width:100px;text-align:right" disabled="true">
				</h:inputText>

				<h:outputText value="Intervalos con mala Calidad por Armonicos" />
				<h:inputText id="selArmonicos" value="#{intervaloPerturbacionBean.cantidadArmonicos}" label="armonicos" required="false" style="width:100px;text-align:right" disabled="true">
				</h:inputText>
				
				<h:outputText value="Compensacion por Flicker" />
				<h:inputText id="selCompensacionFlic" value="#{intervaloPerturbacionBean.compensacionFlicker}" label="compflicker" required="false" style="width:100px;text-align:right" disabled="true">
				</h:inputText>

				<h:outputText value="Compensacion por Armonicas" />
				<h:inputText id="selCompensacionArm" value="#{intervaloPerturbacionBean.compensacionArmonicas}" label="comparmonicos" required="false" style="width:100px;text-align:right" disabled="true">
				</h:inputText>

	           </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	       
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/intervaloPerturbacionListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>