<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Localidad ">
	         <h:panelGrid columns="2">
	           <h:outputText value="Codigo" />
	           <h:inputText value="#{localidadBean.localidad.codLocalidad}" disabled="true"/>
	           <h:outputText value="Nombre" />
	           <h:inputText value="#{localidadBean.localidad.nombre}" disabled="true" />
	           <h:outputText value="Sector Tipico" />
	           <h:inputText value="#{localidadBean.localidad.secTipico}" disabled="true" />
	           <h:outputText value="Sistema Eléctrico" />
	           <h:inputText value="#{localidadBean.localidad.sisElectrico}" disabled="true" />
	           <h:outputText value="Codigo Osinerg" />
	           <h:inputText value="#{localidadBean.localidad.codOsinerg}" disabled="true" />
	           <h:outputText value="Max Demanda " />
	           <h:inputText value="#{localidadBean.localidad.maxDemanda}" disabled="true" />
	           <h:outputText value="Nombre Osinerg" />
	           <h:inputText value="#{localidadBean.localidad.nombreOsinerg}" disabled="true" />
	           
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/localidadListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>