<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">  

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
			</style>
	      <h:form> 
	      
	       <rich:panel   header="Localidad (#{localidadBean.localidades.size()})">
	         <rich:dataTable value="#{localidadBean.localidades}" var="p" id="tableLocalidad" 
			                          rows="25" width="100%"  rendered="#{not empty localidadBean.localidades}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
               
               <rich:column filterValue="#{localidadBean.codLocalidadFilter}" style="text-align:center"
               		filterExpression="#{fn:containsIgnoreCase(p.codLocalidad,localidadBean.codLocalidadFilter)}">
               		<f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="Codigo" /><br/>
	                        <h:inputText value="#{localidadBean.codLocalidadFilter}" style="width:70px">
	                            <a4j:ajax event="blur" render="tableLocalidad" execute="@this" />
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
               		<h:outputText value="#{p.codLocalidad}" />
            	</rich:column>
                
               <rich:column filterValue="#{localidadBean.nombreFilter}" 
               		filterExpression="#{fn:containsIgnoreCase(p.nombre,localidadBean.nombreFilter)}">
               		<f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="Nombre" /><br/>
	                        <h:inputText value="#{localidadBean.nombreFilter}" >
	                            <a4j:ajax event="blur" render="tableLocalidad,jQueryTags" execute="@this" />
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
               		<h:outputText value="#{p.nombre}" />
            	</rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Sector Tipico</f:facet>
                 <h:outputText value="#{p.secTipico}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Sistema Eléctrico</f:facet>
                 <h:outputText value="#{p.sisElectrico}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Codigo Osinerg</f:facet>
                 <h:outputText value="#{p.codOsinerg}" />
               </rich:column>
                
                
                <rich:column style="text-align:center">
                 <f:facet name="header">Max Demanda</f:facet>
                 <h:outputText value="#{p.maxDemanda}" />
               </rich:column>
               
                <rich:column style="text-align:center">
                 <f:facet name="header">Nombre Osinerg</f:facet>
                 <h:outputText value="#{p.nombreOsinerg}" />
               </rich:column>
               
           	   <rich:column style="text-align:center">
                 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{localidadBean.prepararEditar}"
				    reRender="tableLocalidad"
				    image="/resources/images/edit.png">
				     <f:param  id="localidadId30"  name="localidadId" value="#{p.localidadId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{localidadBean.prepararVer}"
				    reRender="tableLocalidad"
				    image="/resources/images/glasses.png">
				    <f:param  id="localidadId31"  name="localidadId" value="#{p.localidadId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"    
				    reRender="tableLocalidad"
				    action="#{localidadBean.eliminar}"
				    image="/resources/images/delete-item.png">
				 <f:param  id="localidadId32"  name="localidadId" value="#{p.localidadId}"/>   
				 </a4j:commandButton>
				</rich:column>
	          </rich:dataTable>
	          
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsLocalidad" for="tableLocalidad"
						maxPages="15" align="left"
						rendered="#{not empty localidadBean.localidades}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>  
           <rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{localidadBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
           </h:form>
           <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableLocalidad tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableLocalidad tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableLocalidad tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableLocalidad tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
            
	  </ui:define>
	</ui:composition>
</html>