<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	       <rich:messages ajaxRendered="true" />
	      
	          <rich:panel   header="Localidad ">
	         	<h:panelGrid columns="3">
	           <h:outputText value="Codigo" />
	           <h:inputText  id="selCodigo" value="#{localidadBean.localidad.codLocalidad}" required="true" label="Localidad" maxlength = "4">
	           		<f:validateLength maximum="4" />
	           </h:inputText>
	           <rich:message for="selCodigo" ajaxRendered="true" />
	           
	           <h:outputText value="Nombre" />
	           <h:inputText id="selNombre"  value="#{localidadBean.localidad.nombre}" required="true" label="Nombre" maxlength = "64">
	           		<f:validateLength maximum="64" />
	           </h:inputText>
	           <rich:message for="selNombre" ajaxRendered="true" />
	           
	           <h:outputText value="Sector Tipico" />
	           <h:inputText id="selSecTipico"  value="#{localidadBean.localidad.secTipico}" required="true" label="SectorTipico" maxlength = "1">
	           		<f:validateLength maximum="1" />
	           </h:inputText>
	           <rich:message for="selSecTipico" ajaxRendered="true" />
	           
	           <h:outputText value="Sistema Eléctrico" />
	           <h:inputText id="selSisElectrico"  value="#{localidadBean.localidad.sisElectrico}" required="true" label="SistemaElectrico" maxlength = "6">
	           		<f:validateLength maximum="6" />
	           </h:inputText>
	           <rich:message for="selSisElectrico" ajaxRendered="true" />
	           
	            <h:outputText value="Codigo Osinerg" />
	           <h:inputText  id="selCodigoOsi" value="#{localidadBean.localidad.codOsinerg}" required="true" label="Cod osi Localidad" maxlength = "4">
	           		<f:validateLength maximum="4" />
	           </h:inputText>
	           <rich:message for="selCodigoOsi" ajaxRendered="true" />
	           
	           <h:outputText value="Max Dem Prom(6 meses)(kw) " />
	           <h:inputText id="selMaxDemanda" value="#{localidadBean.localidad.maxDemanda}" label="MaxDemanda" required="false">
                	<f:validateLongRange maximum="1000000" />
	            </h:inputText>	
	            <rich:message for="selMaxDemanda" ajaxRendered="true" />
	            
	            <h:outputText value="Nombre Osinerg" />
	           <h:inputText id="selNombreOsinerg"  value="#{localidadBean.localidad.nombreOsinerg}" required="true" label="NombreOsinerg" maxlength = "64">
	           		<f:validateLength maximum="64" />
	           </h:inputText>
	           <rich:message for="selNombreOsinerg" ajaxRendered="true" />
	           
	           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	      
	      <a4j:commandButton id="botonGrabar" title="Crear" action="#{localidadBean.salvar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	         &nbsp;
	         
	         <a4j:commandButton 
				    id="botonCancelar" title="Cancelar" action="/zonasegura/localidadListar?faces-redirect=true" 
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	         </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>