<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">        
      
              
           
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	
	  <ui:define  name="content" >
		  <style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		   </style>
		
 					   
	  		<!-- cursor: pointer; para que el mouse se vuelva una manito -->
	      <h:form id="idform"> 

	       <rich:panel header="Campaña de Medición:" >
	           <h:outputText value="Campaña" />&nbsp;&nbsp;
	           <h:selectOneMenu id="selCampanaMedicion" value="#{medicionBean.campanaMedicion}" required="true">
	           	  <!-- <f:selectItem id="default" itemLabel="Seleccione una" itemValue="#{medicionBean.campanaMedicion}" /> -->
	              <f:selectItems value="#{medicionBean.itemsCampanaMedicion1}" />
	              <f:converter converterId="campanaMedicionConverter"/>
	              <f:ajax event="change" listener="#{medicionBean.filtroChanged}" execute="selCampanaMedicion" render="@all"/> 
	           </h:selectOneMenu>
	           &nbsp;&nbsp;
	           <!-- 
	           <h:outputText value="Tipo Punto" />&nbsp;&nbsp;
	           <h:selectOneMenu id="selTipoPunto"  value="#{medicionBean.tipoPunto}" required="false"  style="width:200px">
	               <f:selectItems value="#{medicionBean.itemsTipoPuntos}"/>
	               <f:ajax event="change" listener="#{medicionBean.filtroChanged}" execute="selTipoPunto" render="@all"/> 
	           </h:selectOneMenu>
 		           &nbsp;&nbsp;
	           <h:outputText value="Tipo de Servicio:" />&nbsp;&nbsp;
	           <h:selectOneMenu id="selServicio"  value="#{medicionBean.tipServicio}" required="false" style="width:130px">
					<f:selectItems value="#{medicionBean.itemsTipoServicios}"/>
					<f:ajax event="change" listener="#{medicionBean.filtroChanged}" execute="selServicio" render="@all"/> 
	           </h:selectOneMenu>
	           &nbsp;&nbsp;
	            -->
	           <a4j:commandButton 
				    id="botonRefrescar"
				    title="Refrescar Suministros" 
				    action="#{medicionBean.MedicionesxCampana}"
				    reRender="tableMedicion"
				    image="/resources/images/reload.png" 
				    style="width: 20px; high: 20px">
				</a4j:commandButton> 
				&nbsp;&nbsp;
				<h:commandButton 
				    id="botonReporte"
				    title="Emitir Reporte" 
				    action="#{medicionBean.reporte()}"
				    image="/resources/images/print.png" 
				    style="width: 20px; high: 20px">
				</h:commandButton>
				<!-- 
				<h:commandButton 
				    id="botonReporte2"
				    title="Reporte Suministros MT Urbanos " 
				    action="#{medicionBean.reporte(2)}"
				    image="/resources/images/print_azul.png" 
				    style="width: 20px; high: 20px">
				</h:commandButton>
				<h:commandButton 
				    id="botonReporte3"
				    title="Reporte Suministros MT/BT Rurales" 
				    action="#{medicionBean.reporte(3)}"
				    image="/resources/images/print_verde.png" 
				    style="width: 20px; high: 20px">
				</h:commandButton>
				<h:commandButton 
				    id="botonReporte4"
				    title="Reporte Suministros para Perturbaciones" 
				    action="#{medicionBean.reporte(4)}"
				    image="/resources/images/print_naranja.png" 
				    style="width: 20px; high: 20px">
				</h:commandButton>
				 -->
				<h:commandButton 
				    id="botonDownload"
				    title="Exportar Filtro iGEA" 
				    action="#{medicionBean.download}"
				    image="/resources/images/igea.png" 
				    style="width: 20px; high: 20px">
				</h:commandButton>
				<!--  <h:commandLink action="#{medicionBean.download}" value="Download"/> -->
				<h:commandButton  
				    id="botonCargaSuministro"
				    title="Cargar Cronograma Urbanos - Osinergmin" 
				    action="#{fileUploadBean.prepararMostrarSuministro(1)}"
				    reRender="tableMedicion"
				    image="/resources/images/cargar.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 &nbsp;
				 <h:commandButton  
				    id="botonCargaSuministroRural"
				    title="Cargar Cronograma Rurales - Osinergmin" 
				    action="#{fileUploadBean.prepararMostrarSuministro(2)}"
				    reRender="tableMedicion"
				    image="/resources/images/cargar_azul.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 &nbsp;
				 <h:commandButton  
				    id="botonCompletarSuministros"
				    title="Completar Suministros Urbanos de Repeticiones y Remediciones de la campaña enterior" 
				    onclick="if(!confirm('Esta seguro que desea incorporar a la campaña suministros urbanos de Repeticiones y Remediciones de la campaña enterior?')) {return false;};"
				    action="#{medicionBean.agregarRepeticionesFallidas}"
				    reRender="tableMedicion"
				    image="/resources/images/add_suministros.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 &nbsp;
				 <h:commandButton  
				    id="botonCompletarFallidas"
				    title="Completar Suministros Urbanos de Repeticiones de la campaña enterior" 
				    onclick="if(!confirm('Esta seguro que desea incorporar a la campaña suministros urbanos de Repeticiones?')) {return false;};"
				    action="#{medicionBean.agregarFallidas}"
				    reRender="tableMedicion"
				    image="/resources/images/add_fallidas.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>				 
				 &nbsp;
				 <a4j:commandButton  
				    id="botonGenerarIdentificador"
				    title="Generar Identificadores de la NTCSE (solo faltantes)" 
				    action="#{medicionBean.generarIdentificador}"
				    reRender="tableMedicion"
				    image="/resources/images/gen_codigos.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>&nbsp;&nbsp;
				 <a4j:commandButton  
				    id="botonGenerarAllIdentificador"
				    title="Regenerar Todos los Identificadores de la NTCSE" 
				    action="#{medicionBean.generarAllIdentificador}"
				    reRender="tableMedicion"
				    image="/resources/images/gen_all_codigos.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>&nbsp;&nbsp;				 
				 <a4j:commandButton  
				    id="botonActualizarDatos"
				    title="Actualizar Datos de Suministros" 
				    action="#{medicionBean.actualizarDatosSuministros}"
				    reRender="tableMedicion"
				    image="/resources/images/database.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>&nbsp;&nbsp;
				 <a4j:commandButton  
				    id="botonProcesar"
				    title="Procesar Todas las Mediciones de Tension" 
				    action="#{medicionBean.procesarAllMedicion}"
				    onclick="if(!confirm('Se iniciará el procesamiento de las mediciones, esto puede tomar algunos minutos.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/procesar.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				  &nbsp;
				 <a4j:commandButton  
				    id="botonCompensar"
				    title="Generar Compensación Urbana" 
				    action="#{medicionBean.compensarUrbanos}"
				    onclick="if(!confirm('Se iniciará el proceso de Compensación.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/compensar.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;
				 <a4j:commandButton  
				    id="botonCompensarSeleccionado"
				    title="Compensar Medición Urbana Seleccionada" 
				    action="#{medicionBean.compensarUrbanaSeleccionada()}"
				    onclick="if(!confirm('Se Compensará la medicion seleccionada.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/compensarSeleccion.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;	
				 <a4j:commandButton  
				    id="botonGenerarIntervalosSer"
				    title="Generar Intervalos de Mediciones Rurales" 
				    action="#{medicionBean.generarAllIntervalosSer()}"
				    onclick="if(!confirm('Se van a generar nuevamente los intervalos de mediciones rurales.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/intervalos.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;				 
				 <a4j:commandButton  
				    id="botonCompensarRural"
				    title="Generar Compensación Rural" 
				    action="#{medicionBean.compensarRurales}"
				    onclick="if(!confirm('Se iniciará el proceso de Compensación.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/compensar_rural.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;
				 <a4j:commandButton  
				    id="botonCompensarSeleccionadoRural"
				    title="Compensar Medición Rural Seleccionada" 
				    action="#{medicionBean.compensarRuralSeleccionada()}"
				    onclick="if(!confirm('Se Compensará la medicion seleccionada.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/compensarSeleccion_rural.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;					 		 
<!-- 
				<a4j:commandButton  
				    id="botonCompensarSuministroTen"
				    title="Compensar Suministro Seleccionado - Tension " 
				    action="#{medicionBean.compensarSuministroTen}"
				    onclick="if(!confirm('Se iniciará el proceso de Compensación.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/com_sum_ten.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				  &nbsp;
   				 <a4j:commandButton  
				    id="botonCompensarSuministroPer"
				    title="Compensar Suministro Seleccionado - Perturbacion " 
				    action="#{medicionBean.compensarSuministroPer}"
				    onclick="if(!confirm('Se iniciará el proceso de Compensación.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicion"
				    image="/resources/images/com_sum_per.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;
 -->			<a4j:commandButton  
				    id="botonGenerarIdentificadorSuministro"
				    title="Generar Identificador del Suministro Seleccionado" 
				    action="#{medicionBean.generarIdentificadorSuministro}"
				    reRender="tableMedicion"
				    image="/resources/images/identificador_suministro.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				&nbsp;
				 <h:commandButton  
				    id="botonReporteConsumosMT"
				    title="Reporte de Consumos MT" 
				    action="#{medicionBean.generarReporteConsumosMT()}"
				    reRender="tableMedicion"
				    image="/resources/images/consumos_mt.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 &nbsp;					 
				 
				 <h:commandButton
				 	id="botonConfigurarReporte"
				 	style="width: 20px; high: 20px" 
				 	title="Configurar Reportes"
				 	image="/resources/images/configurar_reportes.png">
			        <rich:componentControl target="popup" operation="show" />
			    </h:commandButton>		    
			    
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarMedicion"
					title="Exportar Mediciones a Excel"
					action="#{medicionBean.exportartablamedicion()}"
					reRender="tableMedicion" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
			    
			    
			    <a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>
			    
			    <rich:popupPanel id="popup" modal="false" autosized="true" resizeable="false">
			        <f:facet name="header">
			            <h:outputText value="Configuracion de los Reportes" />
			        </f:facet>
			        <f:facet name="controls">
			            <h:outputLink value="#" onclick="#{rich:component('popup')}.hide(); return false;">
			                X
			            </h:outputLink>
			        </f:facet>
			        <br />
			        <h:outputText value="Reporte" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        <h:selectOneMenu id="selTipoReporte"  value="#{medicionBean.tipo}" required="false" style="width:330px">
							<f:selectItems value="#{medicionBean.itemsTipo}"/>
			        </h:selectOneMenu>
			        <br />
				    <h:outputText value="Formato:" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			        <h:selectOneMenu id="selFormato"  value="#{medicionBean.formato}" required="false" style="width:95px">
							<f:selectItems value="#{medicionBean.itemsFormato}"/>
			        </h:selectOneMenu>
			        <br />
			         <h:outputText value="Tipo de Puntos" />&nbsp;&nbsp;
			         <h:selectOneMenu id="selTipoPuntoReporte"  value="#{medicionBean.tipoPuntoReporte}" required="false" style="width:95px">
							<f:selectItems value="#{medicionBean.itemsTipoPuntoReporte}"/>
			         </h:selectOneMenu>
			         <br /><br /><br />     
			         <a href="#" onclick="#{rich:component('popup')}.hide()">Cerrar</a>
			        
			    </rich:popupPanel>
				 
				 
	       </rich:panel>
	       <f:event listener="#{medicionBean.handleEvent}" type="preRenderComponent" />
	       <!-- <f:viewAction action="#{medicionBean.handleEvent}" onPostback="false" />  -->
	       <rich:panel  id="tablaPanel" header="Suministros Seleccionados:">
	       	 
	         <rich:extendedDataTable value="#{medicionBean.mediciones}" var="p" id="tableMedicion" 
			                          rows="25" width="100%" reRender="dsMedicion" rendered="#{not empty medicionBean.mediciones}"
			                          rowClasses="odd-row, even-row" rowKeyVar="index" 
			                          selection="#{medicionBean.selection}" selectionMode="single">
				<a4j:ajax execute="@this" event="selectionchange" listener="#{medicionBean.actualizaFilas2}"
				                          render="filas"/>			                          
			   <rich:column style="text-align:center" width="40px">
                 <f:facet name="header">Item</f:facet>
                 <h:outputText value="#{index+1}" />               
               </rich:column> 
               <rich:column style="text-align:center">
                 <f:facet name="header">Identificador Tension</f:facet>
                 <h:outputText value="#{p.numIdentificador}" />
               </rich:column>
				<rich:column style="text-align:center">
                 <f:facet name="header">Identificador Perturbacion</f:facet>
                 <h:outputText value="#{p.numIdentificadorPer}" />
               </rich:column>                            	                          
              <rich:column filterValue="#{medicionBean.nisFilter}" width="90px"
	                filterExpression="#{fn:containsIgnoreCase(p.numSumMedicion,medicionBean.nisFilter)}"
	                filterEvent="onchange"	filterType="custom">
	                <f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="NIS " />
	                        <h:inputText value="#{medicionBean.nisFilter}" style="width:70px" >
	                            <a4j:ajax event="blur" render="tableMedicion,jQueryTags,dsMedicion,filas" execute="@this" listener="#{medicionBean.actualizaFilas}"/>
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
	                <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion != 'X'}">
	                	<h:outputText value="#{p.numSumMedicion}" />
	                </ui:fragment>
	                <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion == 'X'}">
	                	<a4j:commandLink value="#{p.numSumMedicion}" render="out"  action="#{compensacionTensionBean.mostrarAfectados}" >
								<f:param  id="medicionId002"  name="medicionId" value="#{p.medicionId}"/>
						</a4j:commandLink>
	                </ui:fragment>
            	</rich:column>
              <rich:column filterValue="#{medicionBean.nomUsuarioFilter}" width="150px"
	                filterExpression="#{fn:containsIgnoreCase(p.nomUsuario,medicionBean.nomUsuarioFilter)}" 
	                filterEvent="onchange"	filterType="custom">
	                <f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="Nombre " />
	                        <h:inputText value="#{medicionBean.nomUsuarioFilter}" style="width:130px">
	                            <a4j:ajax event="blur" render="tableMedicion,jQueryTags,dsMedicion,filas" execute="@this" listener="#{medicionBean.actualizaFilas}"/>
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
	                <h:outputText value="#{p.nomUsuario}" />
            	</rich:column>
            	
            	<rich:column filterValue="#{medicionBean.tipoSuministroFilter}" width="140px" style="text-align:center"
							 		 filter="#{medicionBean.getFilterTipoSuministro()}"
							 		filterEvent="onblur"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Suministro" style="width:140px" />
		                        	<h:selectOneMenu value="#{medicionBean.tipoSuministroFilter}" style="width:100px;text-align:center">
	                            		<f:selectItems value="#{medicionBean.getItemsTipoSuministro2()}"/>
	                           			<a4j:ajax event="change" render="tableMedicion,jQueryTags,dsMedicion" execute="@this" />
	                           			<!-- <a4j:ajax event="blur" render="filas" execute="filas" listener="#{medicionBean.actualizaFilas}" />  -->
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipSuministro}" style="text-align:center"/>
				</rich:column> 
 
				<rich:column filterValue="#{medicionBean.sedFilter}" style="text-align:center" width="90px"
	                filterExpression="#{fn:containsIgnoreCase(p.codSed,medicionBean.sedFilter)}" 
	                filterEvent="onchange"	filterType="custom">
	                <f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="SED" />
	                        <h:inputText value="#{medicionBean.sedFilter}" style="width:70px">
	                            <a4j:ajax event="blur" render="tableMedicion,jQueryTags,dsMedicion,filas" execute="@this" listener="#{medicionBean.actualizaFilas}"/>
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
	                <h:outputText value="#{p.codSed}" />
            	</rich:column>
               
                      
               <rich:column style="text-align:center">
                 <f:facet name="header">Tensión</f:facet>
                 <h:outputText value="#{p.tenEntregada}" />
               </rich:column>
               
               <rich:column filterValue="#{medicionBean.ubiSumMedicionFilter}" width="170px" style="text-align:center"
							 		 filter="#{medicionBean.getFilterUbiSumMedicion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Ubicación de Sum" style="width:160px" />
		                        	<h:selectOneMenu value="#{medicionBean.ubiSumMedicionFilter}" style="width:120px;text-align:center">
	                            		<f:selectItems value="#{medicionBean.itemsUbiSumMedicion}"/>
	                           			<a4j:ajax event="change" render="tableMedicion,jQueryTags,dsMedicion" execute="@this" />
	                           			<!-- <a4j:ajax event="blur" render="filas" execute="filas" listener="#{medicionBean.actualizaFilas}" />  -->
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.ubiSumMedicion}" style="text-align:center"/>
				</rich:column>   
               
               
               <rich:column filterValue="#{medicionBean.localidadFilter}" width="210px" style="text-align:center"
							 		 filter="#{medicionBean.getFilterLocalidad()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Localidad" style="width:210px" />
		                        	<h:selectOneMenu value="#{medicionBean.localidadFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{medicionBean.getItemsLocalidad2()}"/>
	                           			<a4j:ajax event="change" render="tableMedicion,jQueryTags,dsMedicion" execute="@this" />
	                           			<!-- <a4j:ajax event="blur" render="filas" execute="filas" listener="#{medicionBean.actualizaFilas}" />  -->
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.localidad.codLocalidad}&#32;&#45;&#32;#{p.localidad.nombre}" />
				</rich:column>  
              
               <rich:column style="text-align:center" sortBy="#{p.opcTarifaria}">
                 <f:facet name="header">Tarifa</f:facet>
                 <h:outputText value="#{p.opcTarifaria}" />
               </rich:column>
               
               
   <!--        <rich:column style="text-align:center" sortBy="#{p.tipServicio}">
                 <f:facet name="header">Servicio</f:facet>
                 <h:outputText value="#{p.tipServicio}" />
        	   </rich:column>  
     -->            
               <rich:column filterValue="#{medicionBean.tipoServicioFilter}" width="140px" style="text-align:center"
							 		 filter="#{medicionBean.getFilterTipoServicio()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Servicio" style="width:130px" />
		                        	<h:selectOneMenu value="#{medicionBean.tipoServicioFilter}" style="width:120px;text-align:center">
	                            		<f:selectItems value="#{medicionBean.itemsTipoServicios}"/>
	                           			<a4j:ajax event="change" render="tableMedicion,jQueryTags,dsMedicion" execute="@this" />
	                           			<!-- <a4j:ajax event="blur" render="filas" execute="filas" listener="#{medicionBean.actualizaFilas}" />  -->
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipServicio}" style="text-align:center"/>
				</rich:column>    
                                          
   <!--        <rich:column width="180px" style="text-align:center">
                 <f:facet name="header">Tipo de Punto</f:facet>
                 <h:outputText value="#{p.tipoPunto.descripcion}" />
               </rich:column>
	-->               
               
      		 <rich:column filterValue="#{medicionBean.tipoPuntoFilter}" width="240px" style="text-align:center"
							 		 filter="#{medicionBean.getFilterTipoPunto()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Punto" style="width:210px" />
		                        	<h:selectOneMenu value="#{medicionBean.tipoPuntoFilter}" style="text-align:center">
	                            		<f:selectItems value="#{medicionBean.itemsTipoPuntos}"/>
	                           			<a4j:ajax event="change" render="tableMedicion,jQueryTags,dsMedicion" execute="@this" />
	                           			<!-- <a4j:ajax event="blur" render="filas" execute="filas" listener="#{medicionBean.actualizaFilas}" />  -->
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipoPunto.descripcion}" style="text-align:center"/>
				</rich:column>         
                  
               <rich:column filterValue="#{medicionBean.parametroMedidoFilter}" width="230px"
							 		 filter="#{medicionBean.getFilterParametroMedido()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Parametro Medido" style="width:210px" />
		                        	<h:selectOneMenu value="#{medicionBean.parametroMedidoFilter}">
	                            		<f:selectItems value="#{medicionBean.getItemsParametroMedido2()}"/>
	                           			<a4j:ajax event="change" render="tableMedicion,jQueryTags,dsMedicion" execute="@this"/>
	                           			<!-- <a4j:ajax event="blur" render="filas" execute="filas" listener="#{medicionBean.actualizaFilas}" />  -->
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.parametroMedido.descripcion}" />
				</rich:column>  
            
               <rich:column style="text-align:center">
                 <f:facet name="header">Teléfono</f:facet>
                 <h:outputText value="#{p.telUsuario}" />
               </rich:column>
               <rich:column style="text-align:center" sortBy="#{p.fecInstalacion}">
                 <f:facet name="header">Instalación</f:facet>
                 <h:outputText value="#{p.fecInstalacion}" />
               </rich:column>
               <rich:column style="text-align:center" sortBy="#{p.fecRetiro}">
                 <f:facet name="header">Retiro</f:facet>
                 <h:outputText value="#{p.fecRetiro}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Campaña</f:facet>
                 <h:outputText value="#{p.campanaMedicion.descripcion}" />
               </rich:column>
               <rich:column style="text-align:center">
	                 <f:facet name="header">Operaciones Tensión</f:facet>
	                 <ui:fragment rendered="#{p.parametroMedido.codParMedido == 'TE' || p.parametroMedido.codParMedido == 'TP'}">
	                 <a4j:commandButton 
						    id="boton00"
						    title="Cargar Medicion de Tension" 
						    action="#{fileUploadBean.prepararMostrar}"
						    reRender="tableMedicion"
						    immediate="false"
						    image="/resources/images/cargar.png" style="width: 17px; high: 17px">
						    <f:param  id="medicionId100"  name="medicionId" value="#{p.medicionId}"/>
				 	 </a4j:commandButton>
				 	 &nbsp;
				 	 <a4j:commandButton 
						    id="boton99"
						    title="Procesar Medicion de Tension" 
						    action="#{medicionBean.procesarMedicion}"
						    reRender="tableMedicion"
						    immediate="false"
						    image="/resources/images/procesar.png" style="width: 17px; high: 17px">
						    <f:param  id="medicionId1000"  name="medicionId" value="#{p.medicionId}"/>
				 	 </a4j:commandButton>
				 	 </ui:fragment>
	           </rich:column>
               <rich:column style="text-align:center;width: 50px">
                 <f:facet name="header">Estado Tensión</f:facet>
                 <ui:fragment rendered="#{p.parametroMedido.codParMedido == 'TE' || p.parametroMedido.codParMedido == 'TP'}">
	                 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'G'}">
						<a4j:commandButton 
						    id="boton1"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionListar?faces-redirect=true"
						    image="/resources/images/circulo_gris.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId10"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'I'}">
						<a4j:commandButton 
						    id="boton2"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionListar?faces-redirect=true"
						    image="/resources/images/circulo_reloj.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId11"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'R'}">
						<a4j:commandButton 
						    id="boton3"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionListar?faces-redirect=true"
						    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId12"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'V'}">
						<a4j:commandButton 
						    id="boton4"
						    title="#{p.compensable}" 
						    action="#{intervaloTensionBean.muestraIntervalos}"
						    image="/resources/images/circulo_azul.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId13"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'F'}">
						<a4j:commandButton 
						    id="boton5"
						    title="#{p.compensable}" 
						    action="#{intervaloTensionBean.muestraIntervalos}"
						    image="/resources/images/circulo_naranja.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId14"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'P'}">
						<a4j:commandButton 
						    id="boton6"
						    title="#{p.compensable}" 
						    action="#{intervaloTensionBean.muestraIntervalos}"
						    image="/resources/images/circulo_purpura.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId15"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'C'}">
						<a4j:commandButton 
						    id="boton7"
						    title="#{p.compensable}" 
						    action="#{intervaloTensionBean.muestraIntervalos}"
						    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId16"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
	                 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'X'}">
						<a4j:commandButton 
						    id="boton8"
						    title="#{p.compensable}" 
						    action="#{intervaloTensionBean.muestraIntervalos}"
						    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId17"  name="medicionId" value="#{p.medicionId}"/>
						</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'CA'}">
						<a4j:commandButton 
						    id="boton9"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionListar?faces-redirect=true"
						    reRender="tableMedicion"
						    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId18"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
				</ui:fragment>
               </rich:column>
				<rich:column style="text-align:center">
					<f:facet name="header">Operaciones Perturbaciones</f:facet>
					<ui:fragment rendered="#{p.parametroMedido.codParMedido == 'TP' || p.parametroMedido.codParMedido == 'FA'}">
						<a4j:commandButton 
							id="botonP00"
							title="Cargar Medicion de Perturbacion" 
							action="#{fileUploadBean.prepararMostrarPerturbacion}"
							reRender="tableMedicion"
							immediate="false"
							image="/resources/images/cargar_azul.png" style="width: 16px; high: 16px">
							<f:param  id="medicionId100P"  name="medicionId" value="#{p.medicionId}"/>
						</a4j:commandButton>
						&nbsp;
						<a4j:commandButton 
							id="botonP99"
							title="Procesar Medicion de Perturbacion" 
							action="#{medicionBean.procesarPerturbacion}"
							reRender="tableMedicion"
							immediate="false"
							image="/resources/images/procesar_azul.png" style="width: 16px; high: 16px">
							<f:param  id="medicionId1000P"  name="medicionId" value="#{p.medicionId}"/>
						</a4j:commandButton>
					</ui:fragment>
				</rich:column>               
               
				<rich:column style="text-align:center;width: 50px">
					<f:facet name="header">Estado Perturbacion</f:facet>
					<ui:fragment rendered="#{p.parametroMedido.codParMedido == 'TP' || p.parametroMedido.codParMedido == 'FA'}">
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'G'}">
							<a4j:commandButton 
							    id="botonP1"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_gris.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId10P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'I'}">
							<a4j:commandButton 
							    id="botonP2"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_reloj.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId11P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'R'}">
							<a4j:commandButton 
							    id="botonP3"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId12P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'V'}">
							<a4j:commandButton 
							    id="botonP4"
							    title="#{p.perMensaje}" 
							    action="#{intervaloPerturbacionBean.muestraIntervalos}"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_azul.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId13P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'F'}">
							<a4j:commandButton 
							    id="botonP5"
							    title="#{p.perMensaje}" 
							    action="#{intervaloPerturbacionBean.muestraIntervalos}"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_naranja.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId14P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'P'}">
							<a4j:commandButton 
							    id="botonP6"
							    title="#{p.perMensaje}" 
							    action="#{intervaloPerturbacionBean.muestraIntervalos}"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_purpura.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId15P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'C'}">
							<a4j:commandButton 
							    id="botonP7"
							    title="#{p.perMensaje}" 
							    action="#{intervaloPerturbacionBean.muestraIntervalos}"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId16P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'X'}">
							<a4j:commandButton 
							    id="botonP8"
							    title="#{p.perMensaje}" 
							    action="#{intervaloPerturbacionBean.muestraIntervalos}"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId17P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'CA'}">
							<a4j:commandButton 
							    id="botonP9"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId18P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
					</ui:fragment>
				</rich:column>
               
                <rich:column style="text-align:center">
                <f:facet name="header">Acción</f:facet>
	                 <a4j:commandButton 
					    id="botonEditar"
					    title="Editar" 
					    action="#{medicionBean.prepararEditar}"
					    reRender="tableMedicion"
					    image="/resources/images/edit.png">
					     <f:param  id="medicionId30"  name="medicionId" value="#{p.medicionId}"/>
					 </a4j:commandButton>
					 <a4j:commandButton 
					    id="botonVer"
					    title="Ver" 
					    action="#{medicionBean.prepararVer}"
					    reRender="tableMedicion"
					    image="/resources/images/glasses.png">
					    <f:param  id="medicionId31"  name="medicionId" value="#{p.medicionId}"/>
					 </a4j:commandButton>
					 <a4j:commandButton 
					    id="botonEliminar"
					    title="Eliminar"
					    onclick="if(!confirm('Se eliminaran las mediciones asociadas.Esta seguro que desea eliminar el registro?')) {return false;};"
					    reRender="tableMedicion"
					    action="#{medicionBean.eliminar}"
					    image="/resources/images/delete-item.png">		
					    <f:param  id="medicionId32"  name="medicionId" value="#{p.medicionId}"/>	  
					 </a4j:commandButton> 
               </rich:column>
	          </rich:extendedDataTable>
	          
	          <h:panelGrid columns="3">
	          		<rich:dataScroller  id="dsMedicion" for="tableMedicion" maxPages="10"  align="left" 
	          		rendered="#{not empty medicionBean.mediciones}"
	          		oncomplete="refrescarEstilos()"/>
	          		<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
	          		<h:outputText id="filas" value="Registros encontrados: #{medicionBean.filasTotal} de (#{medicionBean.mediciones.size()})" style="color:blue;font-weight:bold;"/>
	          </h:panelGrid>  
	          <rich:notifyMessages stayTime="2000" nonblocking="true" />     
           </rich:panel>  
           <rich:panel style="height:35px">
				<a4j:commandButton  
					id="botonNuevo" style="position:absolute;left:20px"
					title="Nuevo" 
					action="#{medicionBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
		<h:panelGroup id="jQueryTags">  
		<!--  <rich:jQuery selector="#tableMedicion tr:odd" query="addClass('odd-row')" /> -->
		<!--  <rich:jQuery selector="#tableMedicion tr:even" query="addClass('even-row')" />-->
			<rich:jQuery selector="#tableMedicion tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableMedicion tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup> 
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	  </ui:define>
	</ui:composition>
</html>