<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	       <rich:messages ajaxRendered="true" />
	         <rich:panel   header="Crear Suministro">
	         <h:inputHidden value="#{medicionBean.medicion.estado}"/>
	         <h:panelGrid id="editor" columns="6">
	           <h:outputText value="Campaña " />
	           <h:selectOneMenu id="selCampanaMedicion" value="#{medicionBean.medicion.campanaMedicion}" required="true" disabled="true" style="width:300px" >
	              <f:selectItems value="#{medicionBean.itemsCampanaMedicion}" />
	              <f:converter converterId="campanaMedicionConverter"/>
	           </h:selectOneMenu> 
	           <rich:message for="selCampanaMedicion" ajaxRendered="true" />
	           
<!--           <h:outputText value="Tipo Medición" />
	           <rich:select id="selTipoMedicion" value="#{medicionBean.medicion.tipoMedicion}" required="true" style="width:300px" defaultLabel="NO ASIGNADO">
	              <f:selectItems value="#{medicionBean.itemsTipoMedicion1}" />
	              <f:converter converterId="tipoMedicionConverter"/>
	           </rich:select>
	           <rich:message for="selTipoMedicion" ajaxRendered="true" />
	 -->           
	           <h:outputText value="Tipo Medición" />
	           <h:selectOneMenu id="selTipoMedicion" value="#{medicionBean.medicion.tipoMedicion}" required="true" style="width:300px">
	              <f:selectItems value="#{medicionBean.itemsTipoMedicion1}" />
	              <f:converter converterId="tipoMedicionConverter"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipoMedicion" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo Punto" />
	           <h:selectOneMenu id="selTipoPunto" value="#{medicionBean.medicion.tipoPunto}" required="true" style="width:300px">
	              <f:selectItems value="#{medicionBean.itemsTipoPunto1}" />
	              <f:converter converterId="tipoPuntoConverter"/>
	           </h:selectOneMenu>
	            <rich:message for="selTipoPunto" ajaxRendered="true" />
	           
	           <h:outputText value="Localidad (**)" style="color:green" />
	           <rich:select id="selLocalidad" value="#{medicionBean.medicion.localidad}" required="false" style="width:300px" 
	           					enableManualInput="true" defaultLabel="NO ASIGNADO">
	              <f:selectItems value="#{medicionBean.itemsLocalidad1}" />
	              <f:converter converterId="localidadConverter"/>
	           </rich:select>
	           <rich:message for="selLocalidad" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo Alimentación" />
	           <h:selectOneMenu id="selTipoAlimentacion" value="#{medicionBean.medicion.tipoAlimentacion}" required="true" style="width:300px">
	              <f:selectItems value="#{medicionBean.itemsTipoAlimentacion1}" />
	              <f:converter converterId="tipoAlimentacionConverter"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipoAlimentacion" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo Trabajo" />
	           <h:selectOneMenu id="selTipoTrabajo" value="#{medicionBean.medicion.tipoTrabajo}" required="true" style="width:300px">
	              <f:selectItems value="#{medicionBean.itemsTipoTrabajo1}" />
	              <f:converter converterId="tipoTrabajoConverter"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipoTrabajo" ajaxRendered="true" />
	           
	           <h:outputText value="Equipo Registrador" />
	           <rich:select id="selEquipoRegistrador" value="#{medicionBean.medicion.equipoRegistrador}" required="true" style="width:300px" 
	           					enableManualInput="true" defaultLabel="NO ASIGNADO">
	              <f:selectItems value="#{medicionBean.itemsEquipoRegistrador1}" />
	              <f:converter converterId="equipoRegistradorConverter"/>
	           </rich:select>
	           <rich:message for="selEquipoRegistrador" ajaxRendered="true" />
	           
 				<h:outputText value="Estado Tensión" />
				<h:selectOneMenu id="selEstadoMedicion"
					value="#{medicionBean.medicion.estadoMedicion}" required="true"
					style="width:300px" disabled="true" >
					<f:selectItems value="#{medicionBean.itemsEstadoMedicion1}" />
					<f:ajax event="change"
						listener="#{medicionBean.estadoTensionChanged}"
						execute="selEstadoMedicion" render="compensable" />
					<f:converter converterId="estadoMedicionConverter" />
				</h:selectOneMenu>
				<rich:message for="selEstadoMedicion" ajaxRendered="true" />	           
	           
	           <h:outputText value="Parámetro" />
	           <h:selectOneMenu id="selParametroMedido" value="#{medicionBean.medicion.parametroMedido}" required="true" style="width:300px">
	              <f:selectItems value="#{medicionBean.itemsParametroMedido1}" />
	              <f:converter converterId="parametroMedidoConverter"/>
	           </h:selectOneMenu>    
	           <rich:message for="selParametroMedido" ajaxRendered="true" />
	              
	           <h:outputText value="Suministro" />
	           
             <h:inputText id="numSumMedicion" value="#{medicionBean.medicion.numSumMedicion}" required="true" maxlength = "10">
             	<f:validateLength maximum="10" />
             </h:inputText>
	            <h:panelGrid columns="2">
	             <rich:message for="numSumMedicion" ajaxRendered="true" />
	             <h:commandButton 
				    id="botoniGea"
				    title="Buscar en iGea/Icis" 
				    action="#{medicionBean.buscarIGea}"
				    image="/resources/images/pintar.png"
				    style="width: 20px; high: 20px"
				    reRender="editor">
			     </h:commandButton>
	           </h:panelGrid>
	           <h:outputText value="Reemplazado" />
	           <h:inputText id="selReemplazado" value="#{medicionBean.medicion.numSumReemplazado}" required="false" style="width:200px" maxlength = "10">
	           		<f:validateLength maximum="10" />
	           </h:inputText>
	           <rich:message for="selReemplazado" ajaxRendered="true" />
	           
	           <h:outputText value="Secuencia" />
	           <h:inputText id="secuencia" value="#{medicionBean.medicion.secuencia}" required="false" style="width:200px" >
	           		<f:validateLongRange maximum="1000" />
	           </h:inputText>
	           <rich:message for="secuencia" ajaxRendered="true" />	           
	           
	           <h:outputText value="Usuario (***)" style="color:orange"/>
	           <h:inputText id="selUsuario" value="#{medicionBean.medicion.nomUsuario}" required="false" style="width:250px" label="Usuario" maxlength = "60">
	           		<f:validateLength maximum="60" />
	           </h:inputText>
	           <rich:message for="selUsuario" ajaxRendered="true" />
	           
	           <h:outputText value="Tarifa (**)" style="color:green" />
	           <h:inputText id="selTarifa" value="#{medicionBean.medicion.opcTarifaria}" required="false" style="width:200px" label="Tarifa" maxlength = "5">
	           		<f:validateLength maximum="5" />
	           </h:inputText>
	           <rich:message for="selTarifa" ajaxRendered="true" />
	           
	           <h:outputText value="Tensión (***)" style="color:orange"/>
	           <h:inputText id="selTensión" value="#{medicionBean.medicion.tenEntregada}" required="false" style="width:200px" label="Tensión">
	           		<f:validateLongRange maximum="69000" />
	           </h:inputText>
	           <rich:message for="selTensión" ajaxRendered="true" />
	           
	           <h:outputText value="Descripcion" />
	           <h:inputText id="selDescripcion" value="#{medicionBean.medicion.descripcion}" required="false" style="width:200px" label="Descripcion" maxlength = "30">
	           		<f:validateLength maximum="30" />
	           </h:inputText>
	           <rich:message for="selDescripcion" ajaxRendered="true" />
	           
			   <h:outputText value="Tipo de Servicio (**)" style="color:green"/>
	           <h:selectOneMenu id="selServicio"  value="#{medicionBean.medicion.tipServicio}" required="false"  style="width:200px">
	               <f:selectItems value="#{medicionBean.itemsTipoServicios}"/>
	           </h:selectOneMenu>
	           <rich:message for="selServicio" ajaxRendered="true" />	           
	           
	           <h:outputText value="Tipo de Suministro(***)" style="color:orange"/>
	           <h:selectOneMenu id="tipSuministro"  value="#{medicionBean.medicion.tipSuministro}" required="false"  style="width:200px">
	               <f:selectItems value="#{medicionBean.itemsTipoSuministro}"/>
	           </h:selectOneMenu>
	           <rich:message for="tipSuministro" ajaxRendered="true" />
	           
	           <h:outputText value="Ubicación de Suministro" />
	           <h:selectOneMenu id="ubiSuministro"  value="#{medicionBean.medicion.ubiSumMedicion}" required="false"  style="width:200px">
	               <f:selectItems value="#{medicionBean.itemsUbicacionSuministro}"/>
	           </h:selectOneMenu>
	           <rich:message for="ubiSuministro" ajaxRendered="true" />
	           
	           <h:outputText value="Linea" />
	           <h:inputText id="selLinea" value="#{medicionBean.medicion.codLinea}" required="false" style="width:200px" label="Linea" maxlength = "7">
	           		<f:validateLength maximum="7" />
	           </h:inputText>
	           <rich:message for="selLinea" ajaxRendered="true" />
	           
	           <h:outputText value="SET (**)" style="color:green" />
	           <h:inputText id="selSet" value="#{medicionBean.medicion.codSet}" required="false" style="width:200px" maxlength = "7">
	           		<f:validateLength maximum="7" />
	           </h:inputText>
	           <rich:message for="selSet" ajaxRendered="true" />
	           
	           <h:outputText value="Alimentador (**)" style="color:green" />
	           <h:inputText id="selAlimentador"  value="#{medicionBean.medicion.codAlimentador}" required="false" style="width:200px" label="Alimentador" maxlength = "7">
	           		<f:validateLength maximum="7" />
	           </h:inputText>
	           <rich:message for="selAlimentador" ajaxRendered="true" />
	           
	           <h:outputText value="SED (**)" style="color:green"/>
	           <h:inputText  id="selSed" value="#{medicionBean.medicion.codSed}" required="false" style="width:200px" label="SED" maxlength = "7">
	           		<f:validateLength maximum="7" />
	           </h:inputText>
	           <rich:message for="selSed" ajaxRendered="true" />
	           
	           <h:outputText value="Telefono (***)" style="color:orange" />
	           <h:inputText  id="selTelefono"  value="#{medicionBean.medicion.telUsuario}" required="false" style="width:200px" label="Telefono" maxlength = "9">
	           		<f:validateLength maximum="9" />
	           </h:inputText>
	           <rich:message for="selTelefono" ajaxRendered="true" />
	           
	           <h:outputText value="Dirección (***)" style="color:orange"/>
	           <h:inputText id="selDirección" value="#{medicionBean.medicion.dirUsuario}" required="false" style="width:200px" label="Direccion" maxlength = "128">
	           		<f:validateLength maximum="128" />
	           </h:inputText>
	           <rich:message for="selDirección" ajaxRendered="true" />
	           
	           <h:outputText value="Archivo" />
	           <h:inputText id="selArchivo" value="#{medicionBean.medicion.nomArchivo}" required="false" style="width:200px" label="Archivo" maxlength = "25">
	           		<f:validateLength maximum="25" />
	           </h:inputText>
	           <rich:message for="selArchivo" ajaxRendered="true" />
	           
	           <h:outputText value="Fac.Cor.Tension" />
	           <h:inputText id="selFacCorTension"  value="#{medicionBean.medicion.facCorTension}" required="false" label="Fac.Cor.Tension">
	           		<f:validateDoubleRange minimum="1" maximum="5000"  />
	           </h:inputText>
	           <rich:message for="selFacCorTension" ajaxRendered="true" />
	           
	           <h:outputText value="Fac.Cor.Corriente" />
	           <h:inputText id="selFacCorCorriente" value="#{medicionBean.medicion.facCorCorriente}" required="false" label="Fac.Cor.Corriente">
	           		<f:validateDoubleRange minimum="0.2" maximum="1000"  />
	           </h:inputText>
	           <rich:message for="selFacCorCorriente" ajaxRendered="true" />
	           
	           <h:outputText value="Salida BT (**)" style="color:green"/>
	           <h:inputText id="selSalidaBT" value="#{medicionBean.medicion.salidabt}" required="false" label="Fac.Cor.Corriente" maxlength = "7">
	           		<f:validateLength maximum="7" />
	           </h:inputText>
	           <rich:message for="selSalidaBT" ajaxRendered="true" />
	           
	           <h:outputText value="Observaciones" />
	           <h:inputTextarea id="selObservaciones" value="#{medicionBean.medicion.observaciones}" label="Observaciones" 
	           		required="false" rows="3" cols="20" style="width:200px"
	           		onkeyup="this.value = this.value.substring(0, 250);" >
                  <f:validateLength maximum="250" />
               </h:inputTextarea>
               <rich:message for="selObservaciones" ajaxRendered="true" />
               
               <h:outputText value="Tensión SED (**)" style="color:green" />
	           <h:inputText id="selTensionSed" value="#{medicionBean.medicion.tensionSed}" required="false" label="Tension Sed" maxlength = "24" style="width:300px">
	           		<f:validateLength maximum="24" />
	           </h:inputText>
	           <rich:message for="selTensionSed" ajaxRendered="true" />
               
               <h:outputText value="Dirección SED (**)" style="color:green" />
	           <h:inputText id="selDirecciónSed" value="#{medicionBean.medicion.direccionSed}" required="false" label="Dirección Sed" maxlength = "128" style="width:300px">
	           		<f:validateLength maximum="128" />
	           </h:inputText>
	           <rich:message for="selDirecciónSed" ajaxRendered="true" />
               
                <h:outputText/>
                <h:outputText/>
                <h:outputText />
                <h:outputText value="(**) Valor Proviene de IGEA" style="color:green" />
                <h:outputText/>
                <h:outputText />
                <h:outputText />
                <h:outputText />
                <h:outputText />
                <h:outputText value="(***) Valor Proviene de ICIS" style="color:orange" />
               
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	         </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Grabar" 
				    action="#{medicionBean.salvar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/medicionListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>