<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  <style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
	        <rich:panel header="Campaña de Medicion">
	           <h:outputText value="Campaña" />&nbsp;&nbsp;
	           <h:selectOneMenu id="selCampanaMedicion" value="#{medicionBean.campanaMedicion}" required="true">
	           	  <!-- <f:selectItem id="default" itemLabel="Seleccione una" itemValue="#{medicionBean.campanaMedicion}" /> -->
	              <f:selectItems value="#{medicionBean.itemsCampanaMedicion1}" />
	              <f:converter converterId="campanaMedicionConverter"/>
	              <f:ajax event="change" listener="#{medicionBean.filtroChanged2}" execute="selCampanaMedicion" render="@all"/> 
	           </h:selectOneMenu>
	           &nbsp;&nbsp;
	           <a4j:commandButton 
				    id="botonRefrescar"
				    title="Refrescar Suministros" 
				    action="#{medicionBean.medicionesPendientes}"
				    reRender="tableMedicion"
				    image="/resources/images/reload.png" 
				    style="width: 20px; high: 20px">
				</a4j:commandButton> 
			    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarMedicion"
					title="Exportar Mediciones a Excel"
					action="#{medicionBean.exportarTablaMedicionPendientes()}"
					reRender="tableMedicion" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>				
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>			
	       </rich:panel>
	       <rich:panel   header="Mediciones Pendientes de Compensacion (#{medicionBean.medicionesPendientesComp.size()})">
	       
	         <rich:dataTable value="#{medicionBean.medicionesPendientesComp}" var="p" id="tableMedicion" reRender="dsMedicion"
			                          rows="25" width="100%"  rendered="#{not empty medicionBean.medicionesPendientesComp}"
			                           rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
			                          
               <rich:column sortBy="#{p.numIdentificador}">
                 <f:facet name="header">Identificador</f:facet>
                 <h:outputText value="#{p.numIdentificador}" />
               </rich:column>
               <rich:column sortBy="#{p.numIdentificadorPer}">
                 <f:facet name="header">Identificador Per</f:facet>
                 <h:outputText value="#{p.numIdentificadorPer}" />
               </rich:column>               
               
				<rich:column filterValue="#{medicionBean.numSum1Filter}"  style="width:90px;text-align:center"
               					filterExpression="#{fn:containsIgnoreCase(p.numSumMedicion,medicionBean.numSum1Filter)}">
					<f:facet name="header">
						<h:panelGroup>
						<h:outputText value="NIS " />
							<h:inputText value="#{medicionBean.numSum1Filter}" style="width:80px">
								<a4j:ajax event="blur" render="tableMedicion,jQueryTags,dsMedicion" execute="@this" />
							</h:inputText>
						</h:panelGroup>
					</f:facet>
				<h:outputText value="#{p.numSumMedicion}" />
				</rich:column>
               
               
               <rich:column sortBy="#{p.nomUsuario}">
                 <f:facet name="header">Nombre</f:facet>
                 <h:outputText value="#{p.nomUsuario}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Tensión</f:facet>
                 <h:outputText value="#{p.tenEntregada}" />
               </rich:column>
               <rich:column style="text-align:center" sortBy="#{p.opcTarifaria}">
                 <f:facet name="header">Tarifa</f:facet>
                 <h:outputText value="#{p.opcTarifaria}" />
               </rich:column>
               <rich:column style="text-align:center" sortBy="#{p.tipServicio}">
                 <f:facet name="header">Servicio</f:facet>
                 <h:outputText value="#{p.tipServicio}" />
               </rich:column>               
                <rich:column style="text-align:center">
                 <f:facet name="header">Tipo de Punto</f:facet>
                 <h:outputText value="#{p.tipoPunto.descripcion}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Teléfono</f:facet>
                 <h:outputText value="#{p.telUsuario}" />
               </rich:column>
               <rich:column style="text-align:center" sortBy="#{p.fecInstalacion}">
                 <f:facet name="header">Instalación</f:facet>
                 <h:outputText value="#{p.fecInstalacion}" />
               </rich:column>
               <rich:column style="text-align:center" sortBy="#{p.fecRetiro}">
                 <f:facet name="header">Retiro</f:facet>
                 <h:outputText value="#{p.fecRetiro}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Campaña de Medicion</f:facet>
                 <h:outputText value="#{p.campanaMedicion.descripcion}" />
               </rich:column>
               
               <rich:column style="text-align:center">
                 <f:facet name="header">Parametro Medido</f:facet>
                 <h:outputText value="#{p.parametroMedido.descripcion}" />
               </rich:column>
               
               
               <rich:column style="text-align:center;width: 50px">
                 <f:facet name="header">Estado Tensión</f:facet>
                 <ui:fragment rendered="#{p.parametroMedido.codParMedido == 'TE' || p.parametroMedido.codParMedido == 'TP'}">
	                 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'G'}">
						<a4j:commandButton 
						    id="boton1"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_gris.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId10"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'I'}">
						<a4j:commandButton 
						    id="boton2"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_reloj.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId11"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'R'}">
						<a4j:commandButton 
						    id="boton3"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId12"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'V'}">
						<a4j:commandButton 
						    id="boton4"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_azul.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId13"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'F'}">
						<a4j:commandButton 
						    id="boton5"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_naranja.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId14"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'P'}">
						<a4j:commandButton 
						    id="boton6"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_purpura.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId15"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'C'}">
						<a4j:commandButton 
						    id="boton7"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId16"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
	                 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'X'}">
						<a4j:commandButton 
						    id="boton8"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId17"  name="medicionId" value="#{p.medicionId}"/>
						</a4j:commandButton> 
					 </ui:fragment>
					 <ui:fragment rendered="#{p.estadoMedicion.codEstMedicion eq 'CA'}">
						<a4j:commandButton 
						    id="boton9"
						    title="#{p.compensable}" 
						    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
						    reRender="tableMedicion"
						    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
						    <f:param  id="medicionId18"  name="medicionId" value="#{p.medicionId}"/>
				 		</a4j:commandButton> 
					 </ui:fragment>
				</ui:fragment>
               </rich:column>
               
               <rich:column style="text-align:center;width: 50px">
					<f:facet name="header">Estado Perturbacion</f:facet>
					<ui:fragment rendered="#{p.parametroMedido.codParMedido == 'TP' || p.parametroMedido.codParMedido == 'FA'}">
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'G'}">
							<a4j:commandButton 
							    id="botonP1"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_gris.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId10P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'I'}">
							<a4j:commandButton 
							    id="botonP2"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_reloj.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId11P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'R'}">
							<a4j:commandButton 
							    id="botonP3"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId12P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'V'}">
							<a4j:commandButton 
							    id="botonP4"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_azul.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId13P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'F'}">
							<a4j:commandButton 
							    id="botonP5"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_naranja.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId14P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'P'}">
							<a4j:commandButton 
							    id="botonP6"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_purpura.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId15P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'C'}">
							<a4j:commandButton 
							    id="botonP7"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId16P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'X'}">
							<a4j:commandButton 
							    id="botonP8"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId17P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.perEstMedicion.codEstMedicion eq 'CA'}">
							<a4j:commandButton 
							    id="botonP9"
							    title="#{p.perMensaje}" 
							    action="/zonasegura/medicionPendienteListar?faces-redirect=true"
							    reRender="tableMedicion"
							    image="/resources/images/circulo_amarillo.png" style="width: 16px; high: 16px">
							    <f:param  id="medicionId18P"  name="medicionId" value="#{p.medicionId}"/>
					 		</a4j:commandButton>
						</ui:fragment>
					</ui:fragment>
				</rich:column>
<!--               
                <rich:column style="text-align:center">
                 <f:facet name="header">Opciones</f:facet>            
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{medicionBean.prepararVer2}"
				    reRender="tableMedicion"
				    image="/resources/images/glasses.png">
				    <f:param  id="medicionId31"  name="medicionId" value="#{p.medicionId}"/>
				 </a4j:commandButton>
				 	
               </rich:column> 
-->     
	          </rich:dataTable>
	          
	          <h:panelGrid columns="1">
					<rich:dataScroller id="dsMedicion" for="tableMedicion"
						maxPages="15" align="left"
						rendered="#{not empty medicionBean.medicionesPendientesComp}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
	             
           </rich:panel>  
			<rich:panel style="height:35px">           
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>
            </rich:panel>           
	      </h:form>
	        <h:panelGroup id="jQueryTags"> 
				<rich:jQuery selector="#tableMedicion tr:odd" query="addClass('odd-row')" />
			    <rich:jQuery selector="#tableMedicion tr:even" query="addClass('even-row')" />
			    <rich:jQuery selector="#tableMedicion tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
			    <rich:jQuery selector="#tableMedicion tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>
	      
	        <a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
	            </f:facet>
	        </a4j:status>			      
	  </ui:define>
	</ui:composition>
</html>