<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form>

			<rich:messages ajaxRendered="true" />
			<rich:tabPanel switchType="client">
				<rich:tab header="Editar Suministro">

					<h:inputHidden value="#{medicionBean.medicion.estado}" />

					<h:panelGrid columns="6">
						<h:outputText value="Campaña" />
						<h:selectOneMenu id="selCampanaMedicion"
							value="#{medicionBean.medicion.campanaMedicion}" required="true"
							style="width:300px" disabled="true">
							<f:selectItems value="#{medicionBean.itemsCampanaMedicion}" />
							<f:converter converterId="campanaMedicionConverter" />
						</h:selectOneMenu>
						<rich:message for="selCampanaMedicion" ajaxRendered="true" />

						<h:outputText value="Tipo Medición" />
						<h:selectOneMenu id="selTipoMedicion"
							value="#{medicionBean.medicion.tipoMedicion}" required="true"
							style="width:300px">
							<f:selectItems value="#{medicionBean.itemsTipoMedicion}" />
							<f:converter converterId="tipoMedicionConverter" />
						</h:selectOneMenu>
						<rich:message for="selTipoMedicion" ajaxRendered="true" />

						<h:outputText value="Tipo Punto" />
						<h:selectOneMenu id="selTipoPunto"
							value="#{medicionBean.medicion.tipoPunto}" required="true"
							style="width:300px">
							<f:selectItems value="#{medicionBean.itemsTipoPunto}" />
							<f:converter converterId="tipoPuntoConverter" />
						</h:selectOneMenu>
						<rich:message for="selTipoPunto" ajaxRendered="true" />

						<h:outputText value="Localidad (**)" style="color:green" />
						<rich:select id="selLocalidad"
							value="#{medicionBean.medicion.localidad}" required="false"
							style="width:300px" enableManualInput="true" defaultLabel="NO ASIGNADO">
							<f:selectItems value="#{medicionBean.itemsLocalidad}" />
							<f:converter converterId="localidadConverter" />
						</rich:select>
						<rich:message for="selLocalidad" ajaxRendered="true" />
	
						<h:outputText value="Tipo Alimentación" />
						<h:selectOneMenu id="selTipoAlimentacion"
							value="#{medicionBean.medicion.tipoAlimentacion}" required="true"
							style="width:300px">
							<f:selectItems value="#{medicionBean.itemsTipoAlimentacion}" />
							<f:converter converterId="tipoAlimentacionConverter" />
						</h:selectOneMenu>
						<rich:message for="selTipoAlimentacion" ajaxRendered="true" />

						<h:outputText value="Tipo Trabajo" />
						<h:selectOneMenu id="selTipoTrabajo"
							value="#{medicionBean.medicion.tipoTrabajo}" required="true"
							style="width:300px">
							<f:selectItems value="#{medicionBean.itemsTipoTrabajo}" />
							<f:converter converterId="tipoTrabajoConverter" />
						</h:selectOneMenu>
						<rich:message for="selTipoTrabajo" ajaxRendered="true" />

						<h:outputText value="Equipo Registrador" />
						<rich:select id="selEquipoRegistrador"
							value="#{medicionBean.medicion.equipoRegistrador}"
							required="true" style="width:300px"
							enableManualInput="true" defaultLabel="NO ASIGNADO">
							<f:selectItems value="#{medicionBean.itemsEquipoRegistrador}" />
							<f:converter converterId="equipoRegistradorConverter" />
						</rich:select>
						<rich:message for="selEquipoRegistrador" ajaxRendered="true" />
						
						<h:outputText value="Estado Tensión" />
						<h:selectOneMenu id="selEstadoMedicion"
							value="#{medicionBean.medicion.estadoMedicion}" required="true"
							style="width:300px">
							<f:selectItems value="#{medicionBean.itemsEstadoMedicion}" />
							<f:ajax event="change"
								listener="#{medicionBean.estadoTensionChanged}"
								execute="selEstadoMedicion" render="compensable" />
							<f:converter converterId="estadoMedicionConverter" />
						</h:selectOneMenu>
						<rich:message for="selEstadoMedicion" ajaxRendered="true" />

						<h:outputText value="Parámetro" />
						<h:selectOneMenu id="selParametroMedido"
							value="#{medicionBean.medicion.parametroMedido}" required="true"
							style="width:300px">
							<f:selectItems value="#{medicionBean.itemsParametroMedido}" />
							<f:converter converterId="parametroMedidoConverter" />
						</h:selectOneMenu>
						<rich:message for="selParametroMedido" ajaxRendered="true" />
						
						<h:outputText value="Suministro" />
						<h:inputText id="numSumMedicion" value="#{medicionBean.medicion.numSumMedicion}" required="true" maxlength = "10">
			             	<f:validateLength maximum="10" />
			             </h:inputText>
				         <h:panelGrid columns="2">
				             <rich:message for="numSumMedicion" ajaxRendered="true" />
				             <h:commandButton 
							    id="botoniGea"
							    title="Buscar en iGea/Icis" 
							    action="#{medicionBean.buscarIGea}"
							    image="/resources/images/pintar.png"
							    style="width: 20px; high: 20px"
							    reRender="editor">
						     </h:commandButton>
				          </h:panelGrid>						
						  
						<!-- 
						<h:outputText value="Suministro" />
						<h:inputText id="numSumMedicion"
							value="#{medicionBean.medicion.numSumMedicion}" required="false"
							style="width:200px;text-align:right" label="Suministro">
							<f:validateLength maximum="10" />
						</h:inputText>
						<rich:message for="numSumMedicion" ajaxRendered="true" />
						-->
						<h:outputText value="Reemplazado" />
						<h:inputText id="numSumReemplazado"
							value="#{medicionBean.medicion.numSumReemplazado}"
							required="false" style="width:200px" label="Suministro Reemplazo" maxlength = "10">
							<f:validateLength maximum="10" />
						</h:inputText>
						<rich:message for="numSumReemplazado" ajaxRendered="true" />

						<h:outputText value="Secuencia" />
						<h:inputText id="secuencia"
							value="#{medicionBean.medicion.secuencia}" required="false"
							style="width:200px;text-align:right">
							<f:validateLongRange maximum="1000" />
						</h:inputText>
						<rich:message for="secuencia" ajaxRendered="true" />

						<h:outputText value="Usuario(***)" style="color:orange" />
						<h:inputText id="nomUsuario"
							value="#{medicionBean.medicion.nomUsuario}" required="false"
							style="width:250px" label="Usuario" maxlength = "60">
							<f:validateLength maximum="60" />
						</h:inputText>
						<rich:message for="nomUsuario" ajaxRendered="true" />

						<h:outputText value="Tarifa(**)" style="color:green" />
						<h:inputText id="opcTarifaria"
							value="#{medicionBean.medicion.opcTarifaria}" required="false"
							style="width:200px" label="Tarifa" maxlength = "5">
							<f:validateLength maximum="5" />
						</h:inputText>
						<rich:message for="opcTarifaria" ajaxRendered="true" />

						<h:outputText value="Tensión(V)(***)" style="color:orange" />
						<h:inputText id="tenEntregada"
							value="#{medicionBean.medicion.tenEntregada}" required="false"
							style="width:200px;text-align:right" label="Tensión(V)">
							<f:validateLongRange maximum="69000" />
						</h:inputText>
						<rich:message for="tenEntregada" ajaxRendered="true" />

						<h:outputText value="Descripcion" />
						<h:inputText id="descripcion"
							value="#{medicionBean.medicion.descripcion}" required="false"
							style="width:200px" label="Descripcion" maxlength = "30">
							<f:validateLength maximum="30" />
						</h:inputText>
						<rich:message for="descripcion" ajaxRendered="true" />

						<h:outputText value="Tipo de Servicio(**)" style="color:green" />
						<h:selectOneMenu id="selServicio"
							value="#{medicionBean.medicion.tipServicio}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsTipoServicios}" />
						</h:selectOneMenu>
						<rich:message for="selServicio" ajaxRendered="true" />

						<h:outputText value="Tipo de Suministro" />
						<h:selectOneMenu id="tipSuministro"
							value="#{medicionBean.medicion.tipSuministro}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsTipoSuministro}" />
						</h:selectOneMenu>
						<rich:message for="tipSuministro" ajaxRendered="true" />

						<h:outputText value="Ubicación de Suministro" />
						<h:selectOneMenu id="ubiSuministro"
							value="#{medicionBean.medicion.ubiSumMedicion}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsUbicacionSuministro}" />
						</h:selectOneMenu>
						<rich:message for="ubiSuministro" ajaxRendered="true" />

						<h:outputText value="Linea" />
						<h:inputText id="codLinea"
							value="#{medicionBean.medicion.codLinea}" required="false"
							style="width:200px;text-align:left" label="Linea" maxlength = "7">
							<f:validateLength maximum="7" />
						</h:inputText>
						<rich:message for="codLinea" ajaxRendered="true" />

						<h:outputText value="SET(**)" style="color:green" />
						<h:inputText id="codSet" value="#{medicionBean.medicion.codSet}"
							required="false" style="width:200px;text-align:left" label="SET" maxlength = "7">
							<f:validateLength maximum="7" />
						</h:inputText>
						<rich:message for="codSet" ajaxRendered="true" />

						<h:outputText value="Alimentador(**)" style="color:green" />
						<h:inputText id="codAlimentador"
							value="#{medicionBean.medicion.codAlimentador}" required="false"
							style="width:200px;text-align:left" label="Alimentador" maxlength = "7">
							<f:validateLength maximum="7" />
						</h:inputText>
						<rich:message for="codAlimentador" ajaxRendered="true" />

						<h:outputText value="SED(**)" style="color:green" />
						<h:inputText id="codSed" value="#{medicionBean.medicion.codSed}"
							required="false" style="width:200px;text-align:left " label="SED" maxlength = "7">
							<f:validateLength maximum="7" />
						</h:inputText>
						<rich:message for="codSed" ajaxRendered="true" />

						<h:outputText value="Telefono(***)" style="color:orange"/>
						<h:inputText id="telUsuario"
							value="#{medicionBean.medicion.telUsuario}" required="false"
							style="width:200px;text-align:left" label="Telefono" maxlength = "9">
							<f:validateLength maximum="9" />
						</h:inputText>
						<rich:message for="telUsuario" ajaxRendered="true" />

						<h:outputText value="Dirección(***)" style="color:orange" />
						<h:inputText id="dirUsuario"
							value="#{medicionBean.medicion.dirUsuario}" required="false"
							style="width:200px" label="Direccion" maxlength = "128">
							<f:validateLength maximum="128" />
						</h:inputText>
						<rich:message for="dirUsuario" ajaxRendered="true" />

						<h:outputText value="Archivo Fuente" />
						<h:inputText id="nomArchivo"
							value="#{medicionBean.medicion.nomArchivo}" required="false"
							style="width:200px ;text-align:left" label="Archivo" maxlength = "25">
							<f:validateLength maximum="25" />
						</h:inputText>
						<rich:message for="nomArchivo" ajaxRendered="true" />

						<h:outputText value="Fac.Cor.Tension" />
						<h:inputText id="facCorTension"
							value="#{medicionBean.medicion.facCorTension}" required="false"
							style="width:200px ;text-align:right" label="Fac.Cor.Tension">
							<f:validateDoubleRange minimum="1" maximum="5000"  />
						</h:inputText>
						<rich:message for="facCorTension" ajaxRendered="true" />

						<h:outputText value="Fac.Cor.Corriente" />
						<h:inputText id="facCorCorriente"
							value="#{medicionBean.medicion.facCorCorriente}" required="false"
							style="width:200px ;text-align:right" label="Fac.Cor.Corriente">
							<f:validateDoubleRange minimum="0.2" maximum="1000"  />
						</h:inputText>
						<rich:message for="facCorCorriente" ajaxRendered="true" />

						<h:outputText value="Instalación" />
						<rich:calendar value="#{medicionBean.fecInstalacion}"
							id="calendar1" locale="es_PE" popup="true"
							datePattern="dd/MM/yyyy HH:mm" showApplyButton="false" cellWidth="24px"
							cellHeight="22px" immediate="true" label="Instalacion">
						</rich:calendar>
						<rich:message for="calendar1" ajaxRendered="true" />

						<h:outputText value="Retiro" />
						<rich:calendar value="#{medicionBean.fecRetiro}" id="calendar2"
							locale="es_PE" popup="true" datePattern="dd/MM/yyyy HH:mm"
							showApplyButton="false" cellWidth="24px" cellHeight="22px"
							immediate="true" label="Retiro">
						</rich:calendar>
						<rich:message for="calendar2" ajaxRendered="true" />

						<h:outputText value="Mensaje Tensión" />
						<h:inputText id="compensable"
							value="#{medicionBean.medicion.compensable}" required="false"
							style="width:300px" disabled="true" label="Mensaje" maxlength = "64">
							<f:validateLength maximum="64" />
						</h:inputText>
						<rich:message for="compensable" ajaxRendered="true" />

						<h:outputText value="Salida BT(**)" style="color:green" />
						<h:inputText id="selSalidaBT"
							value="#{medicionBean.medicion.salidabt}" required="false"
							style="width:200px;text-align:right" label="Salida BT" maxlength = "7">
							<f:validateLength maximum="7" />
						</h:inputText>
						<rich:message for="selSalidaBT" ajaxRendered="true" />

						<h:outputText value="Observaciones" />
						<h:inputTextarea id="observaciones"
							value="#{medicionBean.medicion.observaciones}"
							label="Observaciones" required="false" rows="3" cols="20"
							style="width:200px" 
							onkeyup="this.value = this.value.substring(0, 250);">
							<f:validateLength maximum="250" />
						</h:inputTextarea>
						<rich:message for="observaciones" ajaxRendered="true" />
						
						<h:outputText value="Presencia de Flicker" />
						<h:selectOneMenu id="preFlicker"
							value="#{medicionBean.medicion.preFlicker}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsPreFlicker}" />
						</h:selectOneMenu>
						<rich:message for="preFlicker" ajaxRendered="true" />
						
						<h:outputText value="Presencia de Armonicos" />
						<h:selectOneMenu id="preArmonicos"
							value="#{medicionBean.medicion.preArmonicas}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsPreArmonicas}" />
						</h:selectOneMenu>
						<rich:message for="preArmonicos" ajaxRendered="true" />
						<h:outputText value="Identificador" />
						<h:inputText id="identificador"
							value="#{medicionBean.medicion.numIdentificador}" required="false"
							style="width:120px" disabled="false" label="Identificador" maxlength = "14">
							<f:validateLength maximum="14" />
						</h:inputText>
						<rich:message for="identificador" ajaxRendered="true" />	
						
						<h:outputText value="Tensión SED (**)" style="color:green" />
						<h:inputText id="selTensionSed" value="#{medicionBean.medicion.tensionSed}" required="false" label="Tension Sed" maxlength = "24" style="width:300px" >
							<f:validateLength maximum="24" />
						</h:inputText>
						<rich:message for="selTensionSed" ajaxRendered="true" />
               
						<h:outputText value="Dirección SED (**)" style="color:green" />
						<h:inputText id="selDirecciónSed" value="#{medicionBean.medicion.direccionSed}" required="false" label="Dirección Sed" maxlength = "128" style="width:300px" >
							<f:validateLength maximum="128" />
						</h:inputText>
						<rich:message for="selDirecciónSed" ajaxRendered="true" />		
						
						<h:outputText value="Tipo de Energia" />
						<h:selectOneMenu id="TipoEnergia"
							value="#{medicionBean.medicion.tipoEnergia}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsTipoEnergia}" />		
						</h:selectOneMenu>
						<rich:message for="TipoEnergia" ajaxRendered="true" />	
						
						<h:outputText value="Tipo Medicion de Energia" />
						<h:selectOneMenu id="TipoMedicionEnergia"
							value="#{medicionBean.medicion.tipoMedicionEnergia}" required="false"
							style="width:200px">
							<f:selectItems value="#{medicionBean.itemsTipoMedicionEnergia}" />		
						</h:selectOneMenu>
						<rich:message for="TipoMedicionEnergia" ajaxRendered="true" />	
						
						<h:outputText/>
		                <h:outputText/>
		                <h:outputText />
		                <h:outputText value="(**) Valor Proviene de IGEA" style="color:green" />
		                <h:outputText/>
		                <h:outputText />
		                <h:outputText />
		                <h:outputText />
		                <h:outputText />
		                <h:outputText value="(***) Valor Proviene de ICIS" style="color:orange" />

						<rich:notifyMessages stayTime="2000" nonblocking="true" />
					</h:panelGrid>

				</rich:tab>

				<rich:tab header=" Perturbaciones "
					rendered="#{medicionBean.medicion.parametroMedido.codParMedido == 'TP' || medicionBean.medicion.parametroMedido.codParMedido == 'FA'}">

					<rich:panel>
						<h:panelGrid columns="3">

							<h:outputText value="Parametro Perturbación" />
							<h:selectOneMenu id="parametroPerturbacion"
								value="#{medicionBean.medicion.parametroPer}" required="false"
								style="width:200px">
								<f:selectItems
									value="#{medicionBean.itemsParametroPerturbacion}" />
							</h:selectOneMenu>
							<rich:message for="parametroPerturbacion" ajaxRendered="true" />

							<h:outputText value="Mensaje Perturbaciones" />
							<h:inputText id="mensajePerturbacion"
								value="#{medicionBean.medicion.perMensaje}" required="false"
								style="width:300px" disabled="true" label="Mensaje" maxlength = "64">
								<f:validateLength maximum="64" />
							</h:inputText>
							<rich:message for="mensajePerturbacion" ajaxRendered="true" />

							<h:outputText value="Estado Perturbaciones" />
							<h:selectOneMenu id="selEstadoPerturbacion"
								value="#{medicionBean.medicion.perEstMedicion}" required="false"
								style="width:300px">
								<f:selectItems value="#{medicionBean.itemsPerEstadoMedicion}" />
								<f:ajax event="change"
									listener="#{medicionBean.estadoPerturbacionChanged}"
									execute="selEstadoPerturbacion" render="mensajePerturbacion" />
								<f:converter converterId="estadoMedicionConverter" />
							</h:selectOneMenu>
							<rich:message for="selEstadoPerturbacion" ajaxRendered="true" />

							<h:outputText value="Identificador" />
							<h:inputText id="identificadorPer"
								value="#{medicionBean.medicion.numIdentificadorPer}" required="false"
								style="width:120px" disabled="false" label="IdentificadorPer" maxlength = "14">
								<f:validateLength maximum="14" />
							</h:inputText>
							<rich:message for="identificadorPer" ajaxRendered="true" />
							
							<h:outputText value="Presencia de Flicker en Perturbaciones" />
							<h:inputText id="selPreFlicPer" value="#{medicionBean.medicion.preFlickerPer}" required="false" label="PreFlicPer" maxlength = "2" style="width:300px" >
								<f:validateLength maximum="2" />
							</h:inputText>
							<rich:message for="selPreFlicPer" ajaxRendered="true" />	
							
							<h:outputText value="Presencia de Armonicos en Perturbaciones" />
							<h:inputText id="selPreArmoPer" value="#{medicionBean.medicion.preArmonicasPer}" required="false" label="PreArmoPer" maxlength = "2" style="width:300px" >
								<f:validateLength maximum="2" />
							</h:inputText>
							<rich:message for="selPreArmoPer" ajaxRendered="true" />	


							<rich:notifyMessages stayTime="2000" nonblocking="true" />

						</h:panelGrid>
					</rich:panel>
				</rich:tab>

			</rich:tabPanel>

			<rich:panel>

				<a4j:commandButton id="botonGrabar" title="Actualizar"
					action="#{medicionBean.actualizar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
	      		  &nbsp;&nbsp;&nbsp;&nbsp;
	        	<a4j:commandButton id="botonCancelar" title="Cancelar"
					action="/zonasegura/medicionListar?faces-redirect=true"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>

			</rich:panel>
		</h:form>
	</ui:define>
</ui:composition>
</html>