<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      <rich:tabPanel switchType="client">
	      <rich:tab header="Ver Suministro">
	         
	         <h:inputHidden value="#{medicionBean.medicion.estado}"/>
	         <h:panelGrid columns="4">
	           <h:outputText value="Campaña" />
	           <h:selectOneMenu id="selCampanaMedicion" value="#{medicionBean.medicion.campanaMedicion}" required="true" disabled="true" style="width:300px;text-align:center">
	              <f:selectItems value="#{medicionBean.itemsCampanaMedicion}" />
	              <f:converter converterId="campanaMedicionConverter"/>
	           </h:selectOneMenu> 
	           <h:outputText value="Tipo Medición" />
	           <h:selectOneMenu id="selTipoMedicion" value="#{medicionBean.medicion.tipoMedicion}" required="true" disabled="true" style="width:300px;text-align:center">
	              <f:selectItems value="#{medicionBean.itemsTipoMedicion}" />
	              <f:converter converterId="tipoMedicionConverter"/>
	           </h:selectOneMenu>
	           <h:outputText value="Tipo Punto" />
	           <h:selectOneMenu id="selTipoPunto" value="#{medicionBean.medicion.tipoPunto}" required="true" disabled="true" style="width:300px;text-align:center">
	              <f:selectItems value="#{medicionBean.itemsTipoPunto}" />
	              <f:converter converterId="tipoPuntoConverter"/>
	           </h:selectOneMenu>
	           <h:outputText value="Localidad(**)" style="color:green"/>
	           <rich:select id="selLocalidad" value="#{medicionBean.medicion.localidad}" required="false" disabled="true" style="width:300px;text-align:center"
	           				enableManualInput="true" defaultLabel="NO ASIGNADO">
	              <f:selectItems value="#{medicionBean.itemsLocalidad}" />
	              <f:converter converterId="localidadConverter"/>
	           </rich:select>
	           <h:outputText value="Tipo Alimentación" />
	           <h:selectOneMenu id="selTipoAlimentacion" value="#{medicionBean.medicion.tipoAlimentacion}" required="true" disabled="true" style="width:300px;text-align:center">
	              <f:selectItems value="#{medicionBean.itemsTipoAlimentacion}" />
	              <f:converter converterId="tipoAlimentacionConverter"/>
	           </h:selectOneMenu>
	           <h:outputText value="Tipo Trabajo" />
	           <h:selectOneMenu id="selTipoTrabajo" value="#{medicionBean.medicion.tipoTrabajo}" required="true" disabled="true" style="width:300px;text-align:center">
	              <f:selectItems value="#{medicionBean.itemsTipoTrabajo}" />
	              <f:converter converterId="tipoTrabajoConverter"/>
	           </h:selectOneMenu>
	           <h:outputText value="Equipo Registrador" />
	           <rich:select id="selEquipoRegistrador" value="#{medicionBean.medicion.equipoRegistrador}" required="true" disabled="true" style="width:300px;text-align:center"
	           					enableManualInput="true" defaultLabel="NO ASIGNADO">
	              <f:selectItems value="#{medicionBean.itemsEquipoRegistrador}" />
	              <f:converter converterId="equipoRegistradorConverter"/>
	           </rich:select>
	           <h:outputText value="Estado Tensión" />
	           <h:selectOneMenu id="selEstadoMedicion" value="#{medicionBean.medicion.estadoMedicion}" required="true" disabled="true" style="width:300px;text-align:center">
	              <f:selectItems value="#{medicionBean.itemsEstadoMedicion}" />
	              <f:converter converterId="estadoMedicionConverter"/>
	           </h:selectOneMenu>
	           <h:outputText value="Parámetro" />
	           <h:selectOneMenu id="selParametroMedido" value="#{medicionBean.medicion.parametroMedido}" required="true" disabled="true" style="width:300px">
	              <f:selectItems value="#{medicionBean.itemsParametroMedido}" />
	              <f:converter converterId="parametroMedidoConverter"/>
	           </h:selectOneMenu>       
	           <h:outputText value="Suministro" />
	           <h:inputText value="#{medicionBean.medicion.numSumMedicion}" required="true" disabled="true" style="width:200px;text-align:right"/>
	           <h:outputText value="Reemplazado" />
	           <h:inputText value="#{medicionBean.medicion.numSumReemplazado}" required="false" disabled="true" style="width:200px;text-align:right"/>	           
	           <h:outputText value="Secuencia" />
	           <h:inputText id="secuencia" value="#{medicionBean.medicion.secuencia}" required="false" disabled="true" style="width:200px;text-align:right"/>                   
	           <h:outputText value="Usuario(***)" style="color:orange" />
	           <h:inputText value="#{medicionBean.medicion.nomUsuario}" required="true" disabled="true" style="width:250px;text-align:right"/>
	           <h:outputText value="Tarifa(**)" style="color:green" />
	           <h:inputText value="#{medicionBean.medicion.opcTarifaria}" required="true" disabled="true" style="width:200px;text-align:center"/>
	           <h:outputText value="Tensión(***)" style="color:orange" />
	           <h:inputText value="#{medicionBean.medicion.tenEntregada}" required="true" disabled="true" style="width:200px;text-align:left"/>
	           <h:outputText value="Descripcion" />
	           <h:inputText value="#{medicionBean.medicion.descripcion}" required="true" disabled="true" style="width:200px"/>
	           <h:outputText value="Tipo de Servicio(**)" style="color:green"/>
	           <h:selectOneMenu id="selServicio" value="#{medicionBean.medicion.tipServicio}" required="true" disabled="true" style="width:200px">
	              <f:selectItems value="#{medicionBean.itemsTipoServicios}" />
	           </h:selectOneMenu>     
	           <h:outputText value="Tipo de Suministro" />
	           <h:selectOneMenu id="tipSuministro"  value="#{medicionBean.medicion.tipSuministro}" required="false" disabled="true" style="width:200px">
	               <f:selectItems value="#{medicionBean.itemsTipoSuministro}"/>
	           </h:selectOneMenu>
	   	          
	           <h:outputText value="Ubicación de Suministro" />
	           <h:selectOneMenu id="ubiSuministro"  value="#{medicionBean.medicion.ubiSumMedicion}" required="false" disabled="true" style="width:200px">
	               <f:selectItems value="#{medicionBean.itemsUbicacionSuministro}"/>
	           </h:selectOneMenu>
		          
	           <h:outputText value="Linea" />
	           <h:inputText value="#{medicionBean.medicion.codLinea}" required="true" disabled="true" style="width:200px;text-align:rigth"/>
	           <h:outputText value="SET(**)" style="color:green"/>
	           <h:inputText value="#{medicionBean.medicion.codSet}" required="true" disabled="true" style="width:200px;text-align:left"/>
	           <h:outputText value="Alimentador(**)" style="color:green" />
	           <h:inputText value="#{medicionBean.medicion.codAlimentador}" required="true" disabled="true" style="width:200px;text-align:left"/>
	           <h:outputText value="SED(**)" style="color:green"/>
	           <h:inputText value="#{medicionBean.medicion.codSed}" required="true" disabled="true" style="width:200px;text-align:left"/>
	           <h:outputText value="Telefono(***)" style="color:orange" />
	           <h:inputText value="#{medicionBean.medicion.telUsuario}" required="true" disabled="true" style="width:200px;text-align:left"/>
	            <h:outputText value="Dirección(***)" style="color:orange" />
	           <h:inputText value="#{medicionBean.medicion.dirUsuario}" required="true" disabled="true" style="width:200px;text-align:left"/>
	           <h:outputText value="Archivo Fuente" />
	           <h:inputText value="#{medicionBean.medicion.nomArchivo}" required="true" disabled="true" style="width:200px;text-align:left"/>
	           <h:outputText value="Fac.Cor.Tension" />
	           <h:inputText value="#{medicionBean.medicion.facCorTension}" required="true" disabled="true" style="width:200px;text-align:right" />
	           <h:outputText value="Fac.Cor.Corriente" />
	           <h:inputText value="#{medicionBean.medicion.facCorCorriente}" required="true" disabled="true" style="width:200px;text-align:right"/>
	           <h:outputText value="Instalación" />
	           <h:inputText value="#{medicionBean.medicion.fecInstalacion}" required="true" disabled="true" style="width:200px;text-align:center"/>
	           <h:outputText value="Retiro" />
	           <h:inputText value="#{medicionBean.medicion.fecRetiro}" required="true" disabled="true" style="width:200px;text-align:center"/>
	           <h:outputText value="Mensaje Tensión" />
	           <h:inputText value="#{medicionBean.medicion.compensable}" required="true" disabled="true" style="width:300px"/>
	           <h:outputText value="Salida BT(**)" style="color:green" />
	           <h:inputText value="#{medicionBean.medicion.salidabt}" required="true" disabled="true" style="width:200px;text-align:right"/>
	           <h:outputText value="Observaciones" />
	           <h:inputTextarea value="#{medicionBean.medicion.observaciones}" label="Observaciones" required="false" disabled="true" rows="3" cols="20" style="width:200px">
                        <f:validateLength maximum="250" />
               </h:inputTextarea>
            	
            	<h:outputText value="Presencia de Flicker" />
				<h:selectOneMenu id="preFlicker"
					value="#{medicionBean.medicion.preFlicker}" required="false"
					style="width:200px" disabled="true">
				<f:selectItems value="#{medicionBean.itemsPreFlicker}" />
				</h:selectOneMenu>
						
				<h:outputText value="Presencia de Armonicos" />
				<h:selectOneMenu id="preArmonicos"
					value="#{medicionBean.medicion.preArmonicas}" required="false"
					style="width:200px" disabled="true">
				<f:selectItems value="#{medicionBean.itemsPreArmonicas}" />
				</h:selectOneMenu>
				<h:outputText value="Identificador" />
				<h:inputText id="identificador"
					value="#{medicionBean.medicion.numIdentificador}" required="false"
					style="width:120px" disabled="true" label="Identificador" maxlength = "14">
					<f:validateLength maximum="14" />
				</h:inputText>
				
				<h:outputText value="Tensión SED (**)" style="color:green" />
	           <h:inputText id="selTensionSed" value="#{medicionBean.medicion.tensionSed}" required="false" label="Tension Sed" maxlength = "24" style="width:300px" disabled="true">
	           		<f:validateLength maximum="24" />
	           </h:inputText>
	    				               
					
				<h:outputText value="Dirección SED (**)" style="color:green" />
				<h:inputText id="selDirecciónSed" value="#{medicionBean.medicion.direccionSed}" required="false" label="Dirección Sed" maxlength = "128" style="width:300px" disabled="true">
				<f:validateLength maximum="128" />
				</h:inputText>

				
				<h:outputText value="Tipo de Energia" />
				<h:selectOneMenu id="TipoEnergia" value="#{medicionBean.medicion.tipoEnergia}" required="false" style="width:200px" disabled="true"> 
						<f:selectItems value="#{medicionBean.itemsTipoEnergia}" />		
				</h:selectOneMenu>
						
						
				<h:outputText value="Tipo Medicion de Energia" />
				<h:selectOneMenu id="TipoMedicionEnergia" value="#{medicionBean.medicion.tipoMedicionEnergia}" required="false" style="width:200px" disabled="true">
					<f:selectItems value="#{medicionBean.itemsTipoMedicionEnergia}" />		
				</h:selectOneMenu>
						
				<h:outputText/>
                <h:outputText />
                <h:outputText value="(**) Valor Proviene de IGEA" style="color:green" />
                <h:outputText/>
                <h:outputText />
                <h:outputText />
                <h:outputText value="(***) Valor Proviene de ICIS" style="color:orange" />
	             
	         </h:panelGrid>
	       </rich:tab>
	      
	      <rich:tab header=" Perturbaciones "
					rendered="#{medicionBean.medicion.parametroMedido.codParMedido == 'TP' || medicionBean.medicion.parametroMedido.codParMedido == 'FA'}">

					<rich:panel>
						<h:panelGrid columns="3">

							<h:outputText value="Parametro Perturbación" />
							<h:selectOneMenu id="parametroPerturbacion"
								value="#{medicionBean.medicion.parametroPer}" required="false"
								style="width:200px" disabled="true" >
								<f:selectItems
									value="#{medicionBean.itemsParametroPerturbacion}" />
							</h:selectOneMenu>
							<rich:message for="parametroPerturbacion" ajaxRendered="true" />

							<h:outputText value="Mensaje Perturbaciones" />
							<h:inputText id="mensajePerturbacion"
								value="#{medicionBean.medicion.perMensaje}" required="false"
								style="width:300px" disabled="true" label="Mensaje" >
								<f:validateLength maximum="64" />
							</h:inputText>
							<rich:message for="mensajePerturbacion" ajaxRendered="true" />

							<h:outputText value="Estado Perturbaciones" />
							<h:selectOneMenu id="selEstadoPerturbacion"
								value="#{medicionBean.medicion.perEstMedicion}" required="false"
								style="width:300px" disabled="true">
								<f:selectItems value="#{medicionBean.itemsPerEstadoMedicion}" />
								<f:ajax event="change"
									listener="#{medicionBean.estadoPerturbacionChanged}"
									execute="selEstadoPerturbacion" render="@all" />
								<f:converter converterId="estadoMedicionConverter" />
							</h:selectOneMenu>
							<rich:message for="selEstadoPerturbacion" ajaxRendered="true" />

							<h:outputText value="Identificador" />
							<h:inputText id="identificadorPer"
								value="#{medicionBean.medicion.numIdentificadorPer}" required="false"
								style="width:120px" disabled="true" label="IdentificadorPer" maxlength = "14" >
								<f:validateLength maximum="14" />
							</h:inputText>
							<rich:message for="identificadorPer" ajaxRendered="true" />
							
							<h:outputText value="Presencia de Flicker en Perturbaciones" />
							<h:inputText id="selPreFlicPer" value="#{medicionBean.medicion.preFlickerPer}" required="false" label="PreFlicPer" maxlength = "2" style="width:300px" disabled="true" >
								<f:validateLength maximum="2" />
							</h:inputText>
							<rich:message for="selPreFlicPer" ajaxRendered="true" />	
							
							<h:outputText value="Presencia de Armonicos en Perturbaciones" />
							<h:inputText id="selPreArmoPer" value="#{medicionBean.medicion.preArmonicasPer}" required="false" label="PreArmoPer" maxlength = "2" style="width:300px" disabled="true">
								<f:validateLength maximum="2" />
							</h:inputText>
							<rich:message for="selPreArmoPer" ajaxRendered="true" />

							
							<rich:notifyMessages stayTime="2000" nonblocking="true" />

						</h:panelGrid>
					</rich:panel>
				</rich:tab>

		
		</rich:tabPanel>
	      <rich:panel>
	        <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/medicionListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>