<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style type="text/css">
.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.active-row {
	background-color: #FFEBDA !important;
	cursor: default;
}
</style>
		<h:form>

			<rich:panel header="Generacion de Reportes:">
				<h:commandButton id="botonGenerar" title="Generar Reporte en Texto"
					action="#{reporteBean.generarReportes}"
					image="/resources/images/reporte.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;
				<h:commandButton id="botonGenerarExcel" title="Generar Reporte en Excel"
					action="#{reporteBean.generarReportesExcel}"
					image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonActualizarPeriodo"
					title="Actualizar Periodos"
					action="#{reporteBean.actualizarPeriodos}"
					image="/resources/images/ic_calendar.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				<!-- 
		 		&nbsp;&nbsp;
				<a4j:commandButton id="botonInversa" title="Seleccion Inversa"
					action="#{reporteBean.seleccionInversa}"
					image="/resources/images/inversa_checkbox.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
		 		&nbsp;&nbsp;
				<a4j:commandButton id="botonSeleccion"
					title="Seleccionar/Deseleccionar Todos"
					action="#{reporteBean.seleccionDeseleccion}"
					image="/resources/images/checkbox_full.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				 -->
		 		&nbsp;
				<h:commandButton id="botonConfigurarReporte"
					style="width: 20px; high: 20px" title="Configurar PIN"
					image="/resources/images/configurar_reportes.png">
					<rich:componentControl target="popup" operation="show" />
				</h:commandButton>
				
				&nbsp;&nbsp;
				<!-- mvargas mejora, aun no probada
				<h:commandButton  
				    id="botonCargaMasiva"
				    title="Carga Masiva" 
				    action="#{procesoReporteUploadBean.prepararMostrarCarga()}"
				    reRender="tableMedicion"
				    image="/resources/images/cargar.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 -->
				<a4j:commandLink value="Volver"
					action="/zonasegura/default?faces-redirect=true"
					style="position:absolute;right:20px" />

				<rich:popupPanel id="popup" modal="false" autosized="true"
					resizeable="false">
					<f:facet name="header">
						<h:outputText value="Reporte PIN" />
					</f:facet>
					<f:facet name="controls">
						<h:outputLink value="#"
							onclick="#{rich:component('popup')}.hide(); return false;">
			                X
			            </h:outputLink>
					</f:facet>
					<br />
					<br />
					<h:outputText value="Desde" />&nbsp;
					<rich:calendar value="#{reporteBean.fecDesde}"
						id="calendar1" locale="es_PE" popup="true"
						datePattern="dd/MM/yyyy" showApplyButton="false" cellWidth="24px"
						cellHeight="22px" immediate="true" label="Fecha Desde">
						<f:converter converterId="dateConverter" />
					</rich:calendar>
					<br />
					<h:outputText value="Hasta" />&nbsp;
					<rich:calendar value="#{reporteBean.fecHasta}" id="calendar2"
						locale="es_PE" popup="true" datePattern="dd/MM/yyyy"
						showApplyButton="false" cellWidth="24px" cellHeight="22px"
						immediate="true" label="Fecha Hasta">
						<f:converter converterId="dateConverter" />
					</rich:calendar>

					<br />
					<br />
					<br />
					<br />
					<a href="#" onclick="#{rich:component('popup')}.hide()">Cerrar</a>

				</rich:popupPanel>
			</rich:panel>
			<rich:panel header="Reportes (#{reporteBean.reportesVNR.size()})">
				<rich:extendedDataTable value="#{reporteBean.reportesVNR}" var="p"
					id="tableReporte" rows="100" width="100%"
					rendered="#{not empty reporteBean.reportesVNR}"
					rowClasses="odd-row, even-row" rowkeyVar="rowIndex"
					selection="#{reporteBean.selection}"
					selectionMode="single">
					<a4j:ajax execute="@form" event="selectionchange" listener="#{reporteBean.selectionListener}"
                          render="@none"/>
					<rich:column style="text-align:left" width="100px">
						<f:facet name="header">Codigo</f:facet>
						<h:outputText value="#{p.codReporte}" />
					</rich:column>

					<rich:column filterValue="#{reporteBean.ambitoFilter}"
						filter="#{reporteBean.getFilterAmbito()}"
						filterEvent="onchange" style="text-align:center" width="140px"
						filterType="custom">
						<f:facet name="header">
							<h:panelGroup>
								<h:outputText value="Ambito" />
								<h:selectOneMenu value="#{reporteBean.ambitoFilter}">
									<f:selectItems value="#{reporteBean.getItemsAmbitos()}" />
									<a4j:ajax event="change" render="tableReporte,jQueryTags"
										execute="@this" />
								</h:selectOneMenu>
							</h:panelGroup>
						</f:facet>
						<h:outputText value="#{p.ambito}" />
					</rich:column>

					<rich:column style="text-align:left" width="370px">
						<f:facet name="header">Nombre</f:facet>
						<h:outputText value="#{p.nombre}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Archivo</f:facet>
						<h:outputText value="#{p.archivo}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Frecuencia</f:facet>
						<h:outputText value="#{p.frecuencia}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Año</f:facet>
						<h:outputText value="#{p.anho}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Periodo</f:facet>
						<h:outputText value="#{p.periodo}" />
					</rich:column>

					<rich:column filterValue="#{reporteBean.tipParametroFilter}"
						filter="#{reporteBean.getFilterTipParametro()}"
						filterEvent="onchange" filterType="custom"
						style="text-align:center" width="290px">
						<f:facet name="header">
							<h:panelGroup>
								<h:outputText value="Alcance" />
								<h:selectOneMenu value="#{reporteBean.tipParametroFilter}">
									<f:selectItems value="#{reporteBean.getItemsTipParametro()}" />
									<a4j:ajax event="change" render="tableReporte,jQueryTags"
										execute="@this" />
								</h:selectOneMenu>
							</h:panelGroup>
						</f:facet>
						<h:outputText value="#{p.tipoParametro.descripcion}" />
					</rich:column>
					
					<!-- 
					<rich:column style="text-align:center">
						<f:facet name="header">Seleccion</f:facet>
						<ui:fragment rendered="#{p.seleccion eq true}">
							<a4j:commandButton id="botonChangeChecked" title="Seleccionar"
								action="#{reporteBean.checkBoxChange}" reRender="tableReporte"
								image="/resources/images/checkbox_checked.png"
								style="width: 18px; high: 18px">
								<f:param id="reporteId32" name="reporteId"
									value="#{p.reporteId}" />
								<f:param id="reporteId33" name="seleccion"
									value="#{p.seleccion}" />
							</a4j:commandButton>
						</ui:fragment>
						<ui:fragment rendered="#{p.seleccion eq false}">
							<a4j:commandButton id="botonChangeUnchecked" title="Editar"
								action="#{reporteBean.checkBoxChange}" reRender="tableReporte"
								image="/resources/images/checkbox_unchecked.png"
								style="width: 18px; high: 18px">
								<f:param id="reporteId32x" name="reporteId"
									value="#{p.reporteId}" />
								<f:param id="reporteId33x" name="seleccion"
									value="#{p.seleccion}" />
							</a4j:commandButton>
						</ui:fragment>

					</rich:column>
					 -->
					<rich:column style="text-align:center">
						<f:facet name="header">Acción</f:facet>
						<a4j:commandButton id="botonEditar" title="Editar"
							action="#{reporteBean.prepararEditar}" reRender="tableReporte"
							image="/resources/images/edit.png">
							<f:param id="paramReporteId46" name="reporteId"
								value="#{p.reporteId}" />
						</a4j:commandButton>
						<a4j:commandButton id="botonVer" title="Ver"
							action="#{reporteBean.prepararVer}" reRender="tableReporte"
							image="/resources/images/glasses.png">
							<f:param id="paramReporteId50" name="reporteId"
								value="#{p.reporteId}" />
						</a4j:commandButton>
						<ui:fragment rendered="#{usuarioBean.tienePerfil('manager') eq 1}">
							<a4j:commandButton id="botonEliminar" title="Eliminar"
								onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"
								reRender="tableReporte" action="#{reporteBean.eliminar}"
								image="/resources/images/delete-item.png">
								<f:param id="paramReporteId54" name="reporteId"
									value="#{p.reporteId}" />
							</a4j:commandButton>
						</ui:fragment>
					</rich:column>
				</rich:extendedDataTable>

				<h:panelGrid columns="1">
					<rich:dataScroller id="dsReporte" for="tableReporte" maxPages="10"
						align="left" rendered="#{not empty reporteBean.reportes}"
						oncomplete="refrescarEstilos()" />

					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags" />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel style="height:35px">
				<a4j:commandButton id="botonNuevo" title="Nuevo"
					action="#{reporteBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				<a4j:commandLink value="Volver"
					action="/zonasegura/default?faces-redirect=true"
					style="position:absolute;right:20px" />

			</rich:panel>
		</h:form>
		<h:panelGroup id="jQueryTags">
			<!-- <rich:jQuery selector="#tableReporte tr:odd" query="addClass('odd-row')" /> -->
			<!-- <rich:jQuery selector="#tableReporte tr:even" query="addClass('even-row')" /> -->
			<rich:jQuery selector="#tableReporte tr" event="mouseover"
				query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableReporte tr" event="mouseout"
				query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup>

		<a4j:status>
			<f:facet name="start">
				<h:graphicImage value="/resources/images/procesando.gif"
					style="width: 30px; high: 30px; position:absolute;left:600px;top:300px" />
			</f:facet>
		</a4j:status>

	</ui:define>
</ui:composition>
</html>