<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
	       <rich:panel   header="Parametros (#{parametroNormaBean.parametrosNorma.size()})">
	         <rich:dataTable value="#{parametroNormaBean.parametrosNorma}" var="p" id="tableParametroNorma" 
			                          rows="25" width="100%"  rendered="#{not empty parametroNormaBean.parametrosNorma}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
               <rich:column>
                 <f:facet name="header">Codigo</f:facet>
                 <h:outputText value="#{p.codParNorma}" />
               </rich:column>
	          <rich:column style="text-align:center">
                 <f:facet name="header">Ambito</f:facet>
                 <h:outputText value="#{p.secTipico}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Indice</f:facet>
                 <h:outputText value="#{p.indParNorma}" />
               </rich:column>
               <rich:column style="text-align:right">
                 <f:facet name="header">Valor</f:facet>
                 <h:outputText value="#{p.parNorValor}" />
               </rich:column>
               <rich:column style="text-align:right">
                 <f:facet name="header">Minimo</f:facet>
                 <h:outputText value="#{p.minIndParNorma}" />
               </rich:column>
               <rich:column style="text-align:right">
                 <f:facet name="header">Maximo</f:facet>
                 <h:outputText value="#{p.maxIndParNorma}" />
               </rich:column>
               <rich:column style="text-align:left">
                 <f:facet name="header">Nombre del Parametro</f:facet>
                 <h:outputText value="#{p.nomParNorma}" />
               </rich:column>
                <rich:column>
                 <f:facet name="header">Tipo</f:facet>
                 <h:outputText value="#{p.tipoParNorma}" />
               </rich:column>
               
    
               
               <rich:column filterValue="#{parametroNormaBean.tipParametroFilter}" width="210px"
							 		filter="#{parametroNormaBean.getFilterTipParametro()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo Parametro" />
		                        	<h:selectOneMenu value="#{parametroNormaBean.tipParametroFilter}">
	                            		<f:selectItems value="#{parametroNormaBean.getItemsTipParametro()}"/>
	                           			<a4j:ajax event="change" render="tableParametroNorma,dsParametroNorme,jQueryTags" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipoParametro.descripcion}" />
				</rich:column>
               
                <rich:column style="text-align:center">
                <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{parametroNormaBean.prepararEditar}"
				    reRender="tableParametroNorma"
				    image="/resources/images/edit.png">
				     <f:param  id="paramParametroNormaId46"  name="parametroNormaId" value="#{p.parNormaId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{parametroNormaBean.prepararVer}"
				    reRender="tableParametroNorma"
				    image="/resources/images/glasses.png">
				    <f:param  id="paramParametroNormaId50"  name="parametroNormaId" value="#{p.parNormaId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"
				    reRender="tableParametroNorma"
				    action="#{parametroNormaBean.eliminar}"
				    image="/resources/images/delete-item.png">
				 <f:param  id="paramParametroNormaId54"  name="parametroNormaId" value="#{p.parNormaId}"/>    
				 </a4j:commandButton>
				 </rich:column>
               </rich:dataTable>
               
               <h:panelGrid columns="1">
					<rich:dataScroller id="dsParametroNorme" for="tableParametroNorma" maxPages="10"  align="left" 
	          			rendered="#{not empty parametroNormaBean.parametrosNorma}" oncomplete="refrescarEstilos()" />
					
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
   	          	<rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>  
            <rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{parametroNormaBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
		    <h:panelGroup id="jQueryTags"> 
				<rich:jQuery selector="#tableParametroNorma tr:odd" query="addClass('odd-row')" />
			    <rich:jQuery selector="#tableParametroNorma tr:even" query="addClass('even-row')" />
			    <rich:jQuery selector="#tableParametroNorma tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
			    <rich:jQuery selector="#tableParametroNorma tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>	
		
			<a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
	            </f:facet>
	        </a4j:status>
	       	      
	  </ui:define>
	</ui:composition>
</html>