<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Parametro Norma">
	         <h:panelGrid columns="2">
	           <h:outputText value="Tipo parametro" />
	           <h:selectOneMenu id="selTipoParametro" value="#{parametroNormaBean.parametroNorma.tipoParametro}" disabled="true" style="width:250px">
	              <f:selectItems value="#{parametroNormaBean.itemsTipoParametro}" />
	              <f:converter converterId="tipoParametroConverter"/>
	           </h:selectOneMenu>   
	           <h:outputText value="Ambito" />
	           <h:selectOneMenu value="#{parametroNormaBean.parametroNorma.secTipico}"  disabled="true" style="width:250px">
	               <f:selectItems value="#{parametroNormaBean.itemsSectorTipico}"/>
	           </h:selectOneMenu>
	           <h:outputText value="Codigo" />
	           <h:inputText value="#{parametroNormaBean.parametroNorma.codParNorma}"  disabled="true"/>
	           <h:outputText value="Valor" />
	           <h:inputText value="#{parametroNormaBean.parametroNorma.parNorValor}" disabled="true"/>
	           <h:outputText value="Minimo" />
	           <h:inputText value="#{parametroNormaBean.parametroNorma.minIndParNorma}" disabled="true"/>
	           <h:outputText value="Maximo" />
	           <h:inputText value="#{parametroNormaBean.parametroNorma.maxIndParNorma}"  disabled="true"/>
	           <h:outputText value="Indice" />
	           <h:inputText value="#{parametroNormaBean.parametroNorma.indParNorma}"  disabled="true"/>
	           <h:outputText value="Nombre Parametro" />
	           <h:inputText value="#{parametroNormaBean.parametroNorma.nomParNorma}"  disabled="true"/>
					
	           <h:outputText value="Tipo de Norma" />
				<h:selectOneMenu id="selTipoNorma"  value="#{parametroNormaBean.parametroNorma.tipoParNorma}" required="false" disabled="true" style="width:250px">
	               <f:selectItems value="#{parametroNormaBean.itemsTipoParNorma}"/>
				</h:selectOneMenu>
				<rich:message for="selTipoNorma" ajaxRendered="true" />
	           
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/parametroNormaListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>  
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>