<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
	       <rich:panel   header="Parametro Norma">
	         <h:panelGrid columns="3">
	           <h:outputText value="Tipo parametro" />
	           <h:selectOneMenu id="selTipoParametro" value="#{parametroNormaBean.parametroNorma.tipoParametro}" required="true" 
	           					disabled="true" style="width:250px">
	              <f:selectItems value="#{parametroNormaBean.itemsTipoParametro}" />
	              <f:converter converterId="tipoParametroConverter"/>
	           </h:selectOneMenu>   
	           <rich:message for="selTipoParametro" ajaxRendered="true" />
	          
	           <h:outputText value="Ambito" />
	           <h:selectOneMenu id="selSectortipico" value="#{parametroNormaBean.parametroNorma.secTipico}" required="true" style="width:250px">
	               <f:selectItems value="#{parametroNormaBean.itemsSectorTipico}"/>
	           </h:selectOneMenu>
	           <rich:message for="selSectortipico" ajaxRendered="true" />
	           
	           <h:outputText value="Codigo" />
	           <h:inputText  id="selCodigo" value="#{parametroNormaBean.parametroNorma.codParNorma}" required="true" label="Codigo" maxlength = "16">
	           		<f:validateLength maximum="16" />
	           </h:inputText>
	           <rich:message for="selCodigo" ajaxRendered="true" />           
	           <h:outputText value="Valor" />
	           <h:inputText id="selValor" value="#{parametroNormaBean.parametroNorma.parNorValor}" required="false" label="Valor" >
	           		<f:validateLongRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selValor" ajaxRendered="true" />           
	           <h:outputText value="Minimo" />
	           <h:inputText id="selMinimo" value="#{parametroNormaBean.parametroNorma.minIndParNorma}" required="false" label="Minimo">
	           		<f:validateLongRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selMinimo" ajaxRendered="true" />		           
	           <h:outputText value="Maximo" />
	           <h:inputText id="selMaximo" value="#{parametroNormaBean.parametroNorma.maxIndParNorma}" required="false" label="Maximo">
	           		<f:validateLongRange maximum="100000" />
	           </h:inputText>
	           <rich:message for="selMaximo" ajaxRendered="true" />	           
	           <h:outputText value="Indice" />
	           <h:inputText id="selIndice" value="#{parametroNormaBean.parametroNorma.indParNorma}" required="false" label="Indice" maxlength = "18">
	           		<f:validateLength maximum="18" />
	           </h:inputText>
	           <rich:message for="selIndice" ajaxRendered="true" />
	           
	           <h:outputText value="Nombre Parametro" />
	           <h:inputText id="selNombrePar" value="#{parametroNormaBean.parametroNorma.nomParNorma}" required="true" label="NombrePar" maxlength = "64">
	           		<f:validateLength maximum="64" />
	           </h:inputText>
	           <rich:message for="selNombrePar" ajaxRendered="true" />
				
				<h:outputText value="Tipo de Norma" />
				<h:selectOneMenu id="selTipoNorma"  value="#{parametroNormaBean.parametroNorma.tipoParNorma}" required="false"  style="width:250px">
	               <f:selectItems value="#{parametroNormaBean.itemsTipoParNorma}"/>
				</h:selectOneMenu>
				<rich:message for="selTipoNorma" ajaxRendered="true" />
	           
	           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Actualizar" 
				    action="#{parametroNormaBean.actualizar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/parametroNormaListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>