<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	  
	  
	      <h:form> 
	       <rich:panel   header="Periodo Medicion (#{periodoMedicionBean.periodoMediciones.size()})">
	         <rich:dataTable value="#{periodoMedicionBean.periodoMediciones}" var="p" id="tablePeriodoMedicion" 
			                          rows="25" width="100%"  rendered="#{not empty periodoMedicionBean.periodoMediciones}">
               <rich:column>
                 <f:facet name="header">Año</f:facet>
                 <h:outputText value="#{p.ano}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Periodo</f:facet>
                 <h:outputText value="#{p.periodo}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Semestre</f:facet>
                 <h:outputText value="#{p.semestre}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Descripción</f:facet>
                 <h:outputText value="#{p.descripcion}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Tipo de Cambio</f:facet>
                 <h:outputText value="#{p.tipCambio}" />
               </rich:column>
               <rich:column style="text-align:center">
                <f:facet name="header">Acción</f:facet>
               <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{periodoMedicionBean.prepararEditar}"
				    reRender="tablePeriodoMedicion"
				    image="/resources/images/edit.png">
				     <f:param  id="perMedicionId46"  name="perMedicionId" value="#{p.perMedicionId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{periodoMedicionBean.prepararVer}"
				    reRender="tablePeriodoMedicion"
				    image="/resources/images/glasses.png">
				    <f:param  id="perMedicionId50"  name="perMedicionId" value="#{p.perMedicionId}"/>
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    onclick="if(!confirm('Esta seguro que desea eliminar el registro?')) {return false;};"    
				    reRender="tablePeriodoMedicion"
				    action="#{periodoMedicionBean.eliminar}"
				    image="/resources/images/delete-item.png">
				 <f:param  id="perMedicionId54"  name="perMedicionId" value="#{p.perMedicionId}"/>  
				 </a4j:commandButton>
				
               </rich:column>
               </rich:dataTable>
               
               <h:panelGrid columns="1">
					<rich:dataScroller  id="dsPeriodoMedicion" for="tablePeriodoMedicion" 
	          		maxPages="5"  align="left" 
	          		rendered="#{not empty periodoMedicionBean.periodoMediciones}" oncomplete="refrescarEstilos()"/>
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
 	          <rich:notifyMessages stayTime="2000" nonblocking="true" />       
           </rich:panel>
           <rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{periodoMedicionBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
	      <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tablePeriodoMedicion tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tablePeriodoMedicion tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tablePeriodoMedicion tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tablePeriodoMedicion tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup>
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
           
	  </ui:define>
	</ui:composition>
</html>