<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	       <rich:messages ajaxRendered="true" />
	      
	          <rich:panel   header="Nuevo Periodo Medición">
	         <h:panelGrid columns="3">
	           <h:outputText value="Año" />
	           <h:selectOneMenu id="selAno" value="#{periodoMedicionBean.periodoMedicion.ano}" required="true">
	               <f:selectItems value="#{periodoMedicionBean.itemsAno}"/>
	           </h:selectOneMenu>   
	           <rich:message for="selAno" ajaxRendered="true" />
	             
	         <h:outputText value="Periodo" />
	           <h:selectOneMenu  id="selPeriodo" value="#{periodoMedicionBean.periodoMedicion.periodo}" required="true" style="width:200px">
	               <f:selectItems value="#{periodoMedicionBean.itemsPeriodo}"/>
	           </h:selectOneMenu>
	           <rich:message for="selPeriodo" ajaxRendered="true" />
	           
	            <h:outputText value="Descripcion" />
	           <h:inputTextarea  id="selDescripcion"  value="#{periodoMedicionBean.periodoMedicion.descripcion}" label="Descripcion" required="true" rows="3" 
	           					cols="20" style="width:200px" maxlength = "60">
                  <f:validateLength maximum="60" />
               </h:inputTextarea>
               <rich:message for="selDescripcion" ajaxRendered="true" />
               
               <h:outputText value="Tipo de Cambio " />
	           <h:inputText id="selTipoCambio" value="#{periodoMedicionBean.periodoMedicion.tipCambio}" label="TipoCambio" required="true" style="width:250px" >
	           		 <f:validateDoubleRange maximum="10" />
	           		 <f:validateDoubleRange mimimum="1" />
	           </h:inputText>
	           <rich:message for="selTipoCambio" ajaxRendered="true" />
               
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Crear" 
				    action="#{periodoMedicionBean.salvar}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/periodoMedicionListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <!-- <h:messages /> -->
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>