<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Periodo Medición">
	         <h:panelGrid columns="2">
	           <h:outputText value="Año" />
	           <h:selectOneMenu value="#{periodoMedicionBean.periodoMedicion.ano}"  disabled="true">
	               <f:selectItems value="#{periodoMedicionBean.itemsAno}"/>
	           </h:selectOneMenu>   
	           <h:outputText value="Mes" />
	           <h:selectOneMenu value="#{periodoMedicionBean.periodoMedicion.periodo}"  disabled="true">
	               <f:selectItems value="#{periodoMedicionBean.itemsPeriodo}"/>
	           </h:selectOneMenu>
	            <h:outputText value="Descripcion" />
	           <h:inputTextarea value="#{periodoMedicionBean.periodoMedicion.descripcion}" label="Descripcion" required="true" rows="3" cols="20" style="width:200px" disabled="true">
                  <f:validateLength maximum="60" />
               </h:inputTextarea>
               
               <h:outputText value="Tipo de Cambio " />
	           <h:inputText id="selTipoCambio" value="#{periodoMedicionBean.periodoMedicion.tipCambio}" label="TipoCambio" required="true" style="width:250px" >
	           		 <f:validateDoubleRange maximum="10" />
	           		 <f:validateDoubleRange mimimum="1" />
	           </h:inputText>
               
	           </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
		      <a4j:commandButton 
					    id="botonGrabar"
					    title="Cerrar" 
					    action="/zonasegura/periodoMedicionListar?faces-redirect=true"
					    image="/resources/images/cerrar.png"
					    immediate="true">
				</a4j:commandButton>
	      </rich:panel>   
	      
	      <h:messages />
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>