<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core">
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	       <rich:panel header="Reporte de Suministro para Instalacion de Medidores"  width="100%" height="100%">
				<iframe src="ServletReporte?CAM_MEDICION_ID=#{medicionBean.campanaMedicion.camMedicionId}&amp;TIPO=#{medicionBean.tipo}&amp;TIPOPUNTOREPORTE=#{medicionBean.tipoPuntoReporte}"  width="100%" height="450" style="border: none;">
				</iframe>
				
	       </rich:panel>
	         <rich:panel style="height:35px">
				<a4j:commandLink  value="Volver" action="/zonasegura/medicionListar?faces-redirect=true" style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>