<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      
	      <rich:messages ajaxRendered="true" />
	      
	       <rich:panel   header="Ver Reporte">
	         <h:panelGrid columns="3">
		           <h:outputText value="Alcance" />
		           <h:selectOneMenu id="selTipoParametro" value="#{reporteBean.reporte.tipoParametro}" required="true" 
		           					disabled="true" style="width:250px">
		              <f:selectItems value="#{reporteBean.itemsTipoParametro}" />
		              <f:converter converterId="tipoParametroConverter"/>
		           </h:selectOneMenu>   
		           <rich:message for="selTipoParametro" ajaxRendered="true" />
		          
		           <h:outputText value="Ambito" />
		           <h:selectOneMenu id="selAmbito" value="#{reporteBean.reporte.ambito}" required="true" style="width:250px" disabled="true">
		               <f:selectItems value="#{reporteBean.itemsAmbito}"/>
		           </h:selectOneMenu>
		           <rich:message for="selSectortipico" ajaxRendered="true" />
		           
		           <h:outputText value="Codigo" />
		           <h:inputText  id="inCodigo" value="#{reporteBean.reporte.codReporte}" required="true" label="Codigo" style="width:250px" disabled="true">
		           		<f:validateLength maximum="24" />
		           </h:inputText>
		           <rich:message for="inCodigo" ajaxRendered="true" />    
		           
		           <h:outputText value="Nombre" />
		           <h:inputText id="inNombre" value="#{reporteBean.reporte.nombre}" required="true" label="Nombre" style="width:250px" disabled="true">
		           		<f:validateLength maximum="128" />
		           </h:inputText>
		           <rich:message for="inNombre" ajaxRendered="true" />
		           
		           <h:outputText value="Archivo" />
		           <h:inputText id="inArchivo" value="#{reporteBean.reporte.archivo}" required="true" label="Archivo" style="width:250px" disabled="true">
		           		<f:validateLength maximum="128" />
		           </h:inputText>
		           <rich:message for="inArchivo" ajaxRendered="true" />
		           
		           <h:outputText value="Frecuencia" />
		           <h:selectOneMenu id="selFrecuencia" value="#{reporteBean.reporte.frecuencia}" required="true" style="width:250px" disabled="true">
		               <f:selectItems value="#{reporteBean.itemsFrecuencia}"/>
		           </h:selectOneMenu>
		           <rich:message for="selFrecuencia" ajaxRendered="true" />
		           
		           <h:outputText value="Año" />
		           <h:selectOneMenu id="selAnho" value="#{reporteBean.reporte.anho}" required="true" style="width:250px" disabled="true">
		               <f:selectItems value="#{reporteBean.itemsAnho}"/>
		           </h:selectOneMenu>
		           <rich:message for="selAnho" ajaxRendered="true" />	           
					
		           <h:outputText value="Periodo" />
		           <h:selectOneMenu id="selPeriodo" value="#{reporteBean.reporte.periodo}" required="true" style="width:250px" disabled="true">
		               <f:selectItems value="#{reporteBean.itemsPeriodo}"/>
		           </h:selectOneMenu>
		           <rich:message for="selPeriodo" ajaxRendered="true" />
		           
		           <ui:fragment rendered="#{usuarioBean.tienePerfil('manager') eq 1}">
			           <h:outputText value="Consulta SQL" />
			       </ui:fragment>
			       <ui:fragment rendered="#{usuarioBean.tienePerfil('manager') eq 1}">
			           <h:inputTextarea id="inConsultaSql" value="#{reporteBean.reporte.consultaSql}" label="Consulta SQL" required="true" rows="16" cols="500" style="width:750px" disabled="true">
		                  <f:converter converterId="clobConverter" />
		               </h:inputTextarea>
		           </ui:fragment>
		           <ui:fragment rendered="#{usuarioBean.tienePerfil('manager') eq 1}">
		               <rich:message for="inConsultaSql" ajaxRendered="true" />
	               </ui:fragment>
		           
		           <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/reporteListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel> 
	      </h:form>
	  </ui:define>
	</ui:composition>
</html>