<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
	       <rich:panel   header="Tipo de Trabajo (#{tipoTrabajoBean.tipoTrabajos.size()})">
	         <rich:dataTable align="center" value="#{tipoTrabajoBean.tipoTrabajos}" var="p" id="tableTipoTrabajo" 
			                          rows="10" width="100%"  rendered="#{not empty tipoTrabajoBean.tipoTrabajos}"
			                          rowClasses="odd-row, even-row" rowkeyVar="rowIndex">
               <rich:column>
                 <f:facet name="header">Codigo</f:facet>
                 <h:outputText value="#{p.codTipTrabajo}" />
               </rich:column>
	          <rich:column>
                 <f:facet name="header">Descripcion</f:facet>
                 <h:outputText value="#{p.descripcion}" />
               </rich:column>
               </rich:dataTable>
               
               <h:panelGrid columns="1">
	          		<rich:dataScroller  id="dsTipoTrabajo" for="tableTipoTrabajo" maxPages="10"  align="left" 
	          		rendered="#{not empty tipoTrabajoBean.tipoTrabajos}"
	          		oncomplete="refrescarEstilos()"/>
	          		
	          		<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
	          </h:panelGrid>  
	           
           </rich:panel>  
           <rich:panel style="height:35px">
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
		<h:panelGroup id="jQueryTags">  
			<rich:jQuery selector="#tableTipoTrabajo tr:odd" query="addClass('odd-row')" />
			<rich:jQuery selector="#tableTipoTrabajo tr:even" query="addClass('even-row')" />
			<rich:jQuery selector="#tableTipoTrabajo tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
			<rich:jQuery selector="#tableTipoTrabajo tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		</h:panelGroup> 
	  </ui:define>
	</ui:composition>
</html>