<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define name="content">
	     <h:form>
	      <rich:panel header="Suministros">
	       <h:panelGrid columns="2" >
	          <h:outputText value="Numero:" />
	          <h:inputText value="#{medicionBean.medicion.medicionId}"  size="12"  required="true" >
	             <!-- colcar validador -->
	           </h:inputText>
	           <h:outputText value="Titular" />
	           <h:inputText value="" size="20" disabled="true" />
	           
	           <h:commandButton action="#{medicionBean.actionBuscar}" value="Buscar" />
	           <h:commandButton action="#" value="Limpiar" />
	       </h:panelGrid>
	      </rich:panel> 
	     </h:form>
	  
	  
	  
	  
	  
	  
	  </ui:define>
	</ui:composition>
</html>