<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	
	    <ui:define name="content">
	    	<style  type="text/css">
			        .even-row {
			        background-color: #FCFFFE;
			        }
			 
			        .odd-row {
			        background-color: #ECF3FE;
			        }
			 
			        .active-row {
			        background-color: #FFEBDA !important;
			        cursor: default;
			        }
			        
			        .top {
			        vertical-align: top;
			        }
			 
			        .info {
			        height: 202px;
			        overflow: auto;
			        }
			</style>
	      <h:form>
	      	 <rich:messages ajaxRendered="true" />
	         <rich:panel header="Carga de Datos de Mediciones de Tension: #{fileUploadBean.medicion.numSumMedicion}">
	          <h:panelGrid columns="2" columnClasses="top,top">
	          
	          	  <rich:panel header="Configuracion de Carga de Archivos">
	          	  	<h:panelGrid columns="3" >
	          	  		<h:outputText id="chkPotencia" value="Calcular la Energia desde Valores de Potencia" />
	          	  		<h:selectBooleanCheckbox value="#{fileUploadBean.potencia}" >
                    	</h:selectBooleanCheckbox>
                    	<rich:message for="chkPotencia" ajaxRendered="true" />
                    	
						<h:outputText id="chkEneAcumulada" value="Energia Acumulada" />
	          	  		<h:selectBooleanCheckbox value="#{fileUploadBean.ene_acumulada}" >
                    	</h:selectBooleanCheckbox>
                    	<rich:message for="chkEneAcumulada" ajaxRendered="true" />                    	
	          	  	
		       		  <h:outputText value="Columnas"  />
		              <h:inputText id="selColumnas" value="#{fileUploadBean.columnas}" size="40" required="false">
		              		
		              </h:inputText> 
		              <rich:message for="selColumnas" ajaxRendered="true" />
		              
					<h:outputText value="Nombres de Columnas" />
					
					<h:selectOneMenu id="selEquipoRegistrador7"  value="#{fileUploadBean.nombreColumnas}" required="true"  style="width:575px">
						<f:selectItems value="#{fileUploadBean.itemsNombreColumnas}"/>
					</h:selectOneMenu>
					<rich:message for="selEquipoRegistrador7" ajaxRendered="true" />  
			              
		              <h:outputText value="Fila Inicial" />
		              <h:inputText id="filaInicial" value="#{fileUploadBean.filaInicial}" size="5" required="true">
		              		<f:validateLongRange minimum="1" maximum="250" />
		              </h:inputText>
		              <rich:message for="filaInicial" ajaxRendered="true" /> 
		           	  
					<h:outputText value="Separador Columnas" />
					<h:selectOneMenu id="selEquipoRegistrador3"  value="#{fileUploadBean.separadorColumnas}" required="true"  style="width:200px">
						<f:selectItems value="#{fileUploadBean.itemsSeparadorColumnas}"/>
					</h:selectOneMenu>
					<rich:message for="selEquipoRegistrador3" ajaxRendered="true" />
		           	  
					<h:outputText value="Formato de Fecha" />
					<h:selectOneMenu id="selEquipoRegistrador33"  value="#{fileUploadBean.formatoFecha}" required="true"  style="width:200px">
						<f:selectItems value="#{fileUploadBean.itemsFormatoFecha}"/>
					</h:selectOneMenu>
					<rich:message for="selEquipoRegistrador33" ajaxRendered="true" />
		              
	
		        	  <h:outputText value="Numero de Columnas de Formato Fecha" /> 
			          <h:inputText id="numColFechas" value="#{fileUploadBean.numColumnsFormatoFecha}" size="5" required="true">
			          		<f:validateLongRange minimum="1" maximum="2" />
			          </h:inputText>
			          <rich:message for="numColFechas" ajaxRendered="true" />
		              
		             
		              <h:outputText value="Factor de Correcion de Tension" /> 
		               <h:panelGrid columns="8">
		              <h:inputText id="facCorTension" value="#{fileUploadBean.facCorTension_temp}" size="5" required="true" >
		              	<f:validateDoubleRange minimum="1" maximum="5000"  />
		              </h:inputText>
		              	 	<h:outputText value="Tension Primaria" /> &nbsp;
		              		<h:inputText id="facCorTensionPrim" value="#{fileUploadBean.facCorTensionPrim}" size="5" required="false" >
		              			
		              			<a4j:ajax event="change"
									listener="#{fileUploadBean.facCorTensionChanged}"
									execute="facCorTensionPrim" render="facCorTension" />
		             		</h:inputText>
		             		
		             		<h:outputText value="Tension Secundaria" /> &nbsp;
		              		<h:inputText id="facCorTensionSec" value="#{fileUploadBean.facCorTensionSec}" size="5" required="false" >
		              			
		              			<a4j:ajax event="change"
									listener="#{fileUploadBean.facCorTensionChanged}"
									execute="facCorTensionSec" render="facCorTension" />
		             		</h:inputText>
		             		
		              </h:panelGrid>
		              <rich:message for="facCorTension" ajaxRendered="true" />
		              
		              <h:outputText  value="Factor de Correcion de Corriente" /> 
		              <h:panelGrid columns="8">
		               <h:inputText id="facCorCorriente" value="#{fileUploadBean.facCorCorriente_temp}" size="5" required="true" >
		                 <f:validateDoubleRange minimum="0.2" maximum="1000"  />
		               </h:inputText>
		               		<h:outputText value="Corriente Primaria" /> 
		              		<h:inputText id="facCorCorrintePrim" value="#{fileUploadBean.facCorCorrientePrim}" size="5" required="false" >
		              			
		              			<a4j:ajax event="change"
									listener="#{fileUploadBean.facCorCorrienteChanged}"
									execute="facCorCorrintePrim" render="facCorCorriente" />
		             		</h:inputText>
		             		
		             		<h:outputText value="Corriente Secundaria" /> 
		              		<h:inputText id="facCorCorrienteSec" value="#{fileUploadBean.facCorCorrienteSec}" size="5" required="false" >
		              			
		              			<a4j:ajax event="change"
									listener="#{fileUploadBean.facCorCorrienteChanged}"
									execute="facCorCorrienteSec" render="facCorCorriente" />
		             		</h:inputText>
		             		
		              </h:panelGrid>
		               
		              <rich:message for="facCorCorriente" ajaxRendered="true" />
		              <rich:notifyMessages stayTime="2000" nonblocking="true" />
		              
		              <a4j:commandButton id="butProcesarArchivo" 
		              					value="Procesar Archivo" 
		              					action="#{fileUploadBean.procesarArchivoCargado}"
		              					title="Cargar Mediciones" >
		              </a4j:commandButton>
		             </h:panelGrid>
	              </rich:panel>
	              <!-- <h:outputText value="Carga de Archivo de Datos" />  -->
	              <rich:fileUpload id="fileuploadMediciones" style="margin-top: 0px;" 
	                               maxFilesQuantity="1" 
	                               acceptedTypes=""                               
	                               fileUploadListener="#{fileUploadBean.listener}">
	                               <!-- ontyperejected="alert('Solamente archivos texto (*.*) son Aceptados');" -->
	                   <a4j:ajax event="uploadcomplete" render="butProcesarArchivo"/>
	              </rich:fileUpload>
	            </h:panelGrid>   
	         </rich:panel>
	         <rich:panel style="height:35px">
				<a4j:commandLink  value="Volver" action="/zonasegura/medicionListar?faces-redirect=true" style="position:absolute;right:20px"/>
            </rich:panel>
	         
	      </h:form>
	        <a4j:status>
	            <f:facet name="start">
	                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
	            </f:facet>
	        </a4j:status>	    
	       </ui:define>
	</ui:composition>
</html>