<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="idform">
			<rich:messages ajaxRendered="true" />
			<rich:tabPanel switchType="client">

				<rich:tab header="Deficiencias  ">

					<h:inputHidden value="#{deficienciaBean.deficiencia.estado}" />
					<rich:panel>
						<h:panelGrid columns="3">
			
							<h:outputText value="Periodo " />
							<h:selectOneMenu id="selPeriodoMedicion"
								value="#{deficienciaBean.deficiencia.periodoMedicion}"
								required="true" disabled="true">
								<f:selectItems value="#{deficienciaBean.itemsPeriodoMedicion1}" />
								<f:converter converterId="periodoMedicionConverter" />
							</h:selectOneMenu>
							<rich:message for="selPeriodoMedicion" ajaxRendered="true" />

							<h:outputText value="Codigo de Identificación" />
							<h:inputText id="selCodIdentificacion"
								value="#{deficienciaBean.deficiencia.codIdentificacion}"
								style="width:200px" required="false" maxlength = "12"
								label="selCodIdentificacion" disabled="true">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selCodIdentificacion" ajaxRendered="true" />
							
							<h:outputText value="Tipo de Instalación" />
							<h:selectOneMenu id="selCodTipoInstalacion"
								value="#{deficienciaBean.deficiencia.codTipInstalacion}"
								required="true">
								<f:selectItems	value="#{deficienciaBean.itemsCodTipInstalacion}" />
							</h:selectOneMenu>
							<rich:message for="selCodTipoInstalacion" ajaxRendered="true" />
	
							<h:outputText value="Codigo de Instalación" />
							<h:inputText id="selCodInstalacion"
								value="#{deficienciaBean.deficiencia.codInstalacion}"
								style="width:200px" required="false" maxlength = "12"
								label="selCodInstalacion">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selCodInstalacion" ajaxRendered="true" />

							<h:outputText value="Responsabilidad del Incumplimiento" />
							<h:selectOneMenu id="selCodResCumplimiento"
								value="#{deficienciaBean.deficiencia.codResCumplimiento}"
								required="true">
								<f:selectItems
									value="#{deficienciaBean.itemsCodResCumplimiento}" />
							</h:selectOneMenu>
							<rich:message for="selCodResCumplimiento" ajaxRendered="true" />

							<h:outputText value="Numero de Suministro" />
							<h:inputText id="selNumSuministro"
								value="#{deficienciaBean.deficiencia.numSuministro}"
								style="width:200px" required="true" maxlength = "12"
								label="selNumSuministro">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selNumSuministro" ajaxRendered="true" />

							<h:outputText value="Codigo de Denunciante" />
							<h:selectOneMenu id="selCodDenunciante"
								value="#{deficienciaBean.deficiencia.codDenunciante}"
								required="true">
								<f:selectItems
									value="#{deficienciaBean.itemsCodDenunciante}" />
							</h:selectOneMenu>
							<rich:message for="selCodDenunciante" ajaxRendered="true" />
	
							<h:outputText value="Fecha de Denuncia" />
							<rich:calendar value="#{deficienciaBean.fecDenuncia}"
								id="calendar329" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Denuncia">
							</rich:calendar>
							<rich:message for="calendar329" ajaxRendered="true" />
							
							<h:outputText value="Fecha de Inspeccion" />
							<rich:calendar value="#{deficienciaBean.fecInspeccion}"
								id="calendar339" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Inspeccion">
							</rich:calendar>
							<rich:message for="calendar339" ajaxRendered="true" />
							
							<h:outputText value="Fecha de Subsanación" />
							<rich:calendar value="#{deficienciaBean.fecSubsanacion}"
								id="calendar349" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha de Subsanacion">
							</rich:calendar>
							<rich:message for="calendar349" ajaxRendered="true" />

							<h:outputText value="Observaciones" />
							<h:inputTextarea id="selObservaciones" value="#{deficienciaBean.deficiencia.observaciones}" label="Observaciones" 
									required="false" rows="3" cols="20" style="width:200px"
									onkeyup="this.value = this.value.substring(0, 64);" >
									<f:validateLength maximum="64" />
							</h:inputTextarea>
							<rich:message for="selObservaciones" ajaxRendered="true" />

							<h:outputText value="Tipo de Instalacion Ref. 1" />
							<h:selectOneMenu id="selCodTipInsR1"
								value="#{deficienciaBean.deficiencia.codTipInstalacionR1}"
								required="false">
								<f:selectItems	value="#{deficienciaBean.itemsCodTipInstalacionR1}" />
							</h:selectOneMenu>
							<h:panelGrid columns="3">
							<rich:message for="selCodTipInsR1" ajaxRendered="true" />
							<h:outputText value="1era Referencia" />
							<h:inputText id="selReferencia1"
								value="#{deficienciaBean.deficiencia.referencia1}"
								style="width:200px" required="false" maxlength = "16"
								label="selReferencia1">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selReferencia1" ajaxRendered="true" />
				           </h:panelGrid>

 							<h:outputText value="Tipo de Instalacion Ref. 2" />
							<h:selectOneMenu id="selCodTipInsR2"
								value="#{deficienciaBean.deficiencia.codTipInstalacionR2}"
								required="false">
								<f:selectItems	value="#{deficienciaBean.itemsCodTipInstalacionR2}" />
							</h:selectOneMenu>
							<h:panelGrid columns="3">
							<rich:message for="selCodTipInsR2" ajaxRendered="true" />
							<h:outputText value="2era Referencia" />
							<h:inputText id="selReferencia2"
								value="#{deficienciaBean.deficiencia.referencia2}"
								style="width:200px" required="false" maxlength = "16"
								label="selReferencia2">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selReferencia2" ajaxRendered="true" />
				           </h:panelGrid>

							<h:outputText value="Utm Este" />
							<h:inputText id="selUtmEste" value="#{deficienciaBean.deficiencia.utmEste}"
										 required="false" style="width:200px" label="UtmEste">
							<f:validateLongRange maximum="10000000" />
							</h:inputText>
							<rich:message for="selUtmEste" ajaxRendered="true" />

							<h:outputText value="Utm Norte" />
							<h:inputText id="selUtmNorte" value="#{deficienciaBean.deficiencia.utmNorte}"
										 required="false" style="width:200px" label="UtmNorte">
							<f:validateLongRange maximum="10000000" />
							</h:inputText>
							<h:panelGrid columns="2">
							<rich:message for="selUtmNorte" ajaxRendered="true" />
							<h:commandButton 
							    id="botoncoordenada"
							    title="Buscar Coordenadas" 
							    action="#{deficienciaBean.obtenerCoordenada}"
							    image="/resources/images/pintar.png"
							    style="width: 20px; high: 20px"
							    reRender="selUtmNorte,selUtmEste,selSecTipico,selCodAlimentador">
						     </h:commandButton>
				           </h:panelGrid>

							<h:outputText value="Estado Subsanacion" />
							<h:selectOneMenu id="selEstadoSubsanacion"
								value="#{deficienciaBean.deficiencia.estadoSubsanacion}"
								required="true">
								<f:selectItems	value="#{deficienciaBean.getItemsEstadoSubsanacion()}" />
								<f:converter converterId="estadoSubsanacionConverter" />
							</h:selectOneMenu>
							<h:panelGrid columns="3">
							<rich:message for="selEstadoSubsanacion" ajaxRendered="true" />
							<h:outputText value="Tipo de Deficiencia" />
							<h:selectOneMenu id="selTipoDeficiencia"
								value="#{deficienciaBean.deficiencia.tipoDeficiencia}"
								required="true" style="width:800px">
								<f:selectItems
									value="#{deficienciaBean.getItemsTipoDeficiencia()}" />
								<f:converter converterId="tipoDeficienciaConverter" />
							</h:selectOneMenu>
							<rich:message for="selTipoDeficiencia" ajaxRendered="true" />
				           </h:panelGrid>
							
							<h:outputText value="Cod Alimentador" />
							<h:inputText id="selCodAlimentador"
								value="#{deficienciaBean.deficiencia.codAlimentador}"
								style="width:200px" required="false" maxlength = "12"
								label="selCodAlimentador">
								<f:validateLength maximum="12" />
							</h:inputText>
							<rich:message for="selCodAlimentador" ajaxRendered="true" />
							
							<h:outputText value="Sec Tipico" />
							<h:selectOneMenu id="selSecTipico"
								value="#{deficienciaBean.deficiencia.secTipico}"
								required="false">
								<f:selectItems
									value="#{deficienciaBean.itemsSecTipico}" />
							</h:selectOneMenu>
							<rich:message for="selSecTipico" ajaxRendered="true" />
							
							<h:outputText value="Meta" />
							<h:inputText id="selMeta"
								value="#{deficienciaBean.deficiencia.meta}"
								style="width:200px" required="false" maxlength = "32"
								label="selMeta">
								<f:validateLength maximum="32" />
							</h:inputText>
							<rich:message for="selMeta" ajaxRendered="true" />
				
						</h:panelGrid>
					</rich:panel>
				</rich:tab>
				<rich:tab header="Editar Deficiencias de Terceros" rendered="#{deficienciaBean.deficiencia.codResCumplimiento == '1'}">
<!-- 			<h:inputHidden value="#{deficienciaBean.deficiencia.estado}" />  -->
					<rich:panel>
						<h:panelGrid columns="3">

							<h:outputText value="Codigo Tipo Infractor" />
							<h:selectOneMenu id="selCodTipoInfractor"
								value="#{deficienciaBean.deficiencia.codTipInfractor}"
								required="true">
								<f:selectItems
									value="#{deficienciaBean.itemsCodTipInfractor}" />
							</h:selectOneMenu>
							<rich:message for="selCodTipoInfractor" ajaxRendered="true" />
							
							<h:outputText value="Nombre de Infractor" />
							<h:inputText id="selNombreInfractor"
								value="#{deficienciaBean.deficiencia.nomInfractor}"
								style="width:200px" required="false" maxlength = "100"
								label="selNombreInfractor">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selNombreInfractor" ajaxRendered="true" />
							
							<h:outputText value="Direccion de Infractor" />
							<h:inputText id="selDirecInfractor"
								value="#{deficienciaBean.deficiencia.dirInfractor}"
								style="width:200px" required="false" maxlength = "100"
								label="selDirecInfractor">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selDirecInfractor" ajaxRendered="true" />

							<h:outputText value="Nombre Repr. Legal" />
							<h:inputText id="selNomRepLegal"
								value="#{deficienciaBean.deficiencia.repLegInfractor}"
								style="width:200px" required="false" maxlength = "100"
								label="selNomRepLegal">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selNomRepLegal" ajaxRendered="true" />

							<h:outputText value="NIS Infractor" />
							<h:inputText id="selNisInfractor"
								value="#{deficienciaBean.deficiencia.numSumInfractor}"
								style="width:200px" required="false" maxlength = "16"
								label="selNisInfractor">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selNisInfractor" ajaxRendered="true" />

							<h:outputText value="Fecha Puesta Servicio" />
							<rich:calendar value="#{deficienciaBean.fecPueServicio}"
								id="calendar359" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="falso" label="Fecha Puesta Servicio">
							</rich:calendar>
							<rich:message for="calendar359" ajaxRendered="true" />

							<h:outputText value="Motivo Deficiencia" />
							<h:inputText id="selMotDef"
								value="#{deficienciaBean.deficiencia.motDeficiencia}"
								style="width:200px" required="false" maxlength = "100"
								label="selMotDef">
								<f:validateLength maximum="100" />
							</h:inputText>
							<rich:message for="selMotDef" ajaxRendered="true" />
							
							<h:outputText value="Numero de Carta" />
							<h:inputText id="selNumCarta"
								value="#{deficienciaBean.deficiencia.numCarta}"
								style="width:200px" required="false" maxlength = "16"
								label="selNumCarta">
								<f:validateLength maximum="16" />
							</h:inputText>
							<rich:message for="selNumCarta" ajaxRendered="true" />
							
							

						</h:panelGrid>
					</rich:panel>
				</rich:tab>
				
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:tabPanel>

			<rich:panel>
				<a4j:commandButton id="botonGrabar" title="Actualizar"
					action="#{deficienciaBean.actualizar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<a4j:commandButton id="botonCancelar" title="Cancelar"
					action="#{deficienciaBean.DeficienciaxPeriodo()}"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>
				
			</rich:panel>

		</h:form>
	</ui:define>
</ui:composition>
</html>