<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form>
			<rich:panel header="Ingrese Deficiencia">
				<h:outputText value="Deficiencia:" />&nbsp;&nbsp;&nbsp;&nbsp;
			   <h:inputText id="codIdentificacion" value="#{deficienciaBean.codIdentificacion}" required="false" style="width:200px">
	           		<f:validateLength maximum="10" />
	           </h:inputText>
	           &nbsp;&nbsp;
	           <a4j:commandButton 
				    id="botonRefrescar"
				    title="Refrescar Deficiencia" 
				    action="#{deficienciaBean.BusquedaxDeficiencia}"
				    reRender="tableDeficiencia"
				    image="/resources/images/reload.png" 
				    style="width: 20px; high: 20px">
				</a4j:commandButton> 
				
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				
			</rich:panel>
			
			<rich:panel header=" Deficiencias (#{deficienciaBean.busquedaxDeficiencia.size()})">
				<rich:extendedDataTable value="#{deficienciaBean.busquedaxDeficiencia}" var="p"
					id="tableDeficiencia" rows="25"  width="100%" reRender="dsDeficiencia" 
					rendered="#{not empty deficienciaBean.busquedaxDeficiencia}"
					rowClasses="odd-row, even-row" rowKeyVar="index" >  
							
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Codigo Identificacion</f:facet>
							<h:outputText value="#{p.codIdentificacion}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Periodo</f:facet>
							<h:outputText value="#{p.periodoMedicion.descripcion}" />
						</rich:column>


						<rich:column filterValue="#{deficienciaBean.codTipInstalacionFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltercodTipInstalacion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod Tipo Instalacion" />
		                        	<h:selectOneMenu value="#{deficienciaBean.codTipInstalacionFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodTipInstalacion1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codTipInstalacion}" />
						</rich:column>
						
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Cod Instalacion</f:facet>
							<h:outputText value="#{p.codInstalacion}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.codResCumplimientoFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltercodResCumplimiento()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Responsable Incumpl." />
		                        	<h:selectOneMenu value="#{deficienciaBean.codResCumplimientoFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodResCumplimiento1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codResCumplimiento}" />
						</rich:column>
					
						<rich:column filterValue="#{deficienciaBean.numSuministroFilter}" width="230px"
								filterExpression="#{fn:containsIgnoreCase(p.numSuministro,deficienciaBean.numSuministroFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="NIS " />
										<h:inputText value="#{deficienciaBean.numSuministroFilter}" style="width:200px">
											<a4j:ajax event="blur" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.numSuministro}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.codDenuncianteFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltercodDenunciante()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod. Denunciante" />
		                        	<h:selectOneMenu value="#{deficienciaBean.codDenuncianteFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodDenunciante1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codDenunciante}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.fecDenunciaFilter}" 
									filter="#{deficienciaBean.getFilterFecDenuncia()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="250px">
							<f:facet name="header">Fecha Denuncia
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecDenunciaFilter}"
										id="calendar210" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha de Denuncia" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecDenuncia}" locale="es_PE">
							</h:outputText>
						</rich:column>
					
						<rich:column filterValue="#{deficienciaBean.fecInspeccionFilter}" 
									filter="#{deficienciaBean.getFilterFecInspeccion()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="250px">
							<f:facet name="header">Fecha Inspeccion
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecInspeccionFilter}"
										id="calendar211" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha de Denuncia" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecInspeccion}" locale="es_PE">
							</h:outputText>
						</rich:column>
						
						<rich:column filterValue="#{deficienciaBean.fecSubsanacionFilter}"  
									filter="#{deficienciaBean.getFilterFecSubsanacion()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="250px">
							<f:facet name="header">Fecha Subsanacion
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecSubsanacionFilter}"
										id="calendar212" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha de Subsanacion" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecSubsanacion}" locale="es_PE">
							</h:outputText>
						</rich:column>



			<!-- 					
						<rich:column style="text-align:center">
                		<f:facet name="header">Acción</f:facet>

							 <a4j:commandButton 
							    id="botonVer"
							    title="Ver" 
							    action="#{deficienciaBean.prepararVer}"
							    reRender="tableDeficiencia"
							    image="/resources/images/glasses.png">
							    <f:param  id="deficienciaId31"  name="deficienciaId" value="#{p.deficienciaId}"/>
							 </a4j:commandButton>
							 
               </rich:column>
                -->
					
				</rich:extendedDataTable>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsDeficiencia" for="tableDeficiencia"
						maxPages="10" align="left"
						rendered="#{not empty deficienciaBean.deficiencias}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				
				&nbsp;&nbsp;
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableDeficiencia tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableDeficiencia tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="#tableDeficiencia tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableDeficiencia tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	</ui:define>
</ui:composition>
</html>