<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form id="idform">
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año/Mes" />&nbsp;&nbsp;
				<h:selectOneMenu id="selPeriodoMedicion"
					value="#{deficienciaBean.periodoMedicion}" required="true">
					<f:selectItems value="#{deficienciaBean.itemsPeriodoMedicion1}" />
					<f:converter converterId="periodoMedicionConverter" />
					<f:ajax event="change" listener="#{deficienciaBean.filtroChanged}"
						execute="selPeriodoMedicion" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Deficiencias"
					action="#{deficienciaBean.DeficienciaxPeriodo()}"
					reRender="tableDeficiencia" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarDeficiencias"
					title="Exportar Deficiencias a Excel"
					action="#{deficienciaBean.exportarDeficiencias()}"
					reRender="tableDeficiencia" image="/resources/images/excel.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<h:commandButton id="botonExportarDeficiencias2"
					title="Exportar Deficiencias y Metas a Excel"
					action="#{deficienciaBean.exportarDeficienciasMeta()}"
					reRender="tableDeficiencia" image="/resources/images/excel2.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<!-- mvargas mejora, aun no probada
				<h:commandButton  
				    id="botonCargaMasiva"
				    title="Carga Masiva" 
				    action="#{proceso228UploadBean.prepararMostrarCarga()}"
				    reRender="tableMedicion"
				    image="/resources/images/cargar.png" 
				    style="width: 20px; high: 20px">
				 </h:commandButton>
				 -->
				
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				
			</rich:panel>
	<!--    <rich:panel header=" Deficiencias (#{deficienciaBean.deficiencias.size()})">  -->
			<f:event listener="#{deficienciaBean.handleEvent}" type="preRenderComponent" />
			<rich:panel header=" Deficiencias :">
				<rich:extendedDataTable value="#{deficienciaBean.deficiencias}" var="p"
					id="tableDeficiencia" rows="25"  width="100%" reRender="dsDeficiencia" 
					rendered="#{not empty deficienciaBean.deficiencias}"
					rowClasses="odd-row, even-row" rowKeyVar="index" 
					selection="#{deficienciaBean.selection}" selectionMode="single">  
					<a4j:ajax execute="@this" event="selectionchange" listener="#{deficienciaBean.actualizaFilas2}"
				                          render="filas"/>
							
						<rich:column filterValue="#{deficienciaBean.codIdentificacionFilter}" width="120px"
								filterExpression="#{fn:containsIgnoreCase(p.codIdentificacion,deficienciaBean.codIdentificacionFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Codigo Identificacion " />
										<h:inputText value="#{deficienciaBean.codIdentificacionFilter}" style="width:100px">
											<a4j:ajax event="blur" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.codIdentificacion}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.codTipInstalacionFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltercodTipInstalacion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod Tipo Instalacion" />
		                        	<h:selectOneMenu value="#{deficienciaBean.codTipInstalacionFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodTipInstalacion1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codTipInstalacion}" />
						</rich:column>
						
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Cod Instalacion</f:facet>
							<h:outputText value="#{p.codInstalacion}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.codResCumplimientoFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltercodResCumplimiento()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Responsable Incumpl." />
		                        	<h:selectOneMenu value="#{deficienciaBean.codResCumplimientoFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodResCumplimiento1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codResCumplimiento}" />
						</rich:column>
					
						<rich:column filterValue="#{deficienciaBean.numSuministroFilter}" width="230px"
								filterExpression="#{fn:containsIgnoreCase(p.numSuministro,deficienciaBean.numSuministroFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="NIS " />
										<h:inputText value="#{deficienciaBean.numSuministroFilter}" style="width:200px">
											<a4j:ajax event="blur" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.numSuministro}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.codDenuncianteFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltercodDenunciante()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod. Denunciante" />
		                        	<h:selectOneMenu value="#{deficienciaBean.codDenuncianteFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodDenunciante1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codDenunciante}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.fecDenunciaFilter}" 
									filter="#{deficienciaBean.getFilterFecDenuncia()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="250px">
							<f:facet name="header">Fecha Denuncia
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecDenunciaFilter}"
										id="calendar210" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha de Denuncia" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecDenuncia}" locale="es_PE">
							</h:outputText>
						</rich:column>
					
						<rich:column filterValue="#{deficienciaBean.fecInspeccionFilter}" 
									filter="#{deficienciaBean.getFilterFecInspeccion()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="250px">
							<f:facet name="header">Fecha Inspeccion
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecInspeccionFilter}"
										id="calendar211" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha de Denuncia" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecInspeccion}" locale="es_PE">
							</h:outputText>
						</rich:column>
						
						<rich:column filterValue="#{deficienciaBean.fecSubsanacionFilter}"  
									filter="#{deficienciaBean.getFilterFecSubsanacion()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="250px">
							<f:facet name="header">Fecha Subsanacion
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecSubsanacionFilter}"
										id="calendar212" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha de Subsanacion" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecSubsanacion}" locale="es_PE">
							</h:outputText>
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Observaciones</f:facet>
							<h:outputText value="#{p.observaciones}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Referencia 1</f:facet>
							<h:outputText value="#{p.referencia1}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Referencia 2</f:facet>
							<h:outputText value="#{p.referencia2}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Cordenada UTM Este</f:facet>
							<h:outputText value="#{p.utmEste}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Cordenada UTM Norte</f:facet>
							<h:outputText value="#{p.utmNorte}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.estadoSubsanacionFilter}" width="250px"
							 		 filter="#{deficienciaBean.getFilterEstadoSubsanacion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Estado Subsanacion" />
		                        	<h:selectOneMenu value="#{deficienciaBean.estadoSubsanacionFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsEstadoSubsanacion1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.estadoSubsanacion.descripcion}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.codTipInfractorFilter}" style="text-align:center" width="230px"
							 		filter="#{deficienciaBean.getFiltercodTipInfractor()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Cod. Tipo Infractor" width="210px" />
		                        	<h:selectOneMenu value="#{deficienciaBean.codTipInfractorFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsCodTipInfractor1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.codTipInfractor}" />
						</rich:column>
						

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Nombre Infractor</f:facet>
							<h:outputText value="#{p.nomInfractor}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Direccion Infractor</f:facet>
							<h:outputText value="#{p.dirInfractor}" />
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Representante Leg. Inf.</f:facet>
							<h:outputText value="#{p.repLegInfractor}" />
						</rich:column>

						<rich:column filterValue="#{deficienciaBean.numSumInfractorFilter}" width="150px"
								filterExpression="#{fn:containsIgnoreCase(p.numSumInfractor,deficienciaBean.numSumInfractorFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="NIS Infractor" />
										<h:inputText value="#{deficienciaBean.numSumInfractorFilter}" style="width:140px">
											<a4j:ajax event="blur" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.numSumInfractor}" />
						</rich:column>
 
						<rich:column filterValue="#{deficienciaBean.fecPueServicioFilter}" 
									filter="#{deficienciaBean.getFilterFecPueServicio()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center"
							 		width="230px">
							<f:facet name="header">Fecha Puesta en Servicio
								<h:panelGroup>
									<rich:calendar value="#{deficienciaBean.fecPueServicioFilter}"
										id="calendar213" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha Puesta en Servicio" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecPueServicio}" locale="es_PE">
							</h:outputText>
						</rich:column>

						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Motivo Deficiecia</f:facet>
							<h:outputText value="#{p.motDeficiencia}" />
						</rich:column>
				
						<rich:column filterValue="#{deficienciaBean.numCartaFilter}" width="230px"
								filterExpression="#{fn:containsIgnoreCase(p.numCarta,deficienciaBean.numCartaFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Numero de Carta" />
										<h:inputText value="#{deficienciaBean.numCartaFilter}" style="width:150px">
											<a4j:ajax event="blur" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.numCarta}" />
						</rich:column>

						<rich:column style="text-align:left" width="400px">
							<f:facet name="header">Tipo de Deficiencia</f:facet>
							<h:outputText value="#{p.tipoDeficiencia.codTipDeficiencia}&#32;&#45;&#32;#{p.tipoDeficiencia.descripcion}" />
						</rich:column>
						
						<rich:column filterValue="#{deficienciaBean.codAlimentadorFilter}" width="120px"
								filterExpression="#{fn:containsIgnoreCase(p.codAlimentador,deficienciaBean.codAlimentadorFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Codigo Alim " />
										<h:inputText value="#{deficienciaBean.codAlimentadorFilter}" style="width:100px">
											<a4j:ajax event="blur" render="tableDeficiencia,jQueryTags,dsDeficiencia,filas" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
										</h:inputText>
									</h:panelGroup>
								</f:facet>
								<h:outputText value="#{p.codAlimentador}" />
						</rich:column>
						
					
						<rich:column filterValue="#{deficienciaBean.secTipicoFilter}" style="text-align:center" width="150px"
							 		filter="#{deficienciaBean.getFiltersecTipico()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sec Tipico" />
		                        	<h:selectOneMenu value="#{deficienciaBean.secTipicoFilter}" >
	                            		<f:selectItems value="#{deficienciaBean.itemsSecTipico1}"/>
	                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" listener="#{deficienciaBean.actualizaFilas}"/>
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.secTipico}" />
						</rich:column>
						<!-- inicio Probando el estado  -->
						
						<rich:column filterValue="#{deficienciaBean.estadoFilter}" style="text-align:center" width="130px"
							 		filter="#{deficienciaBean.getFilterEstado()}"
							 		filterEvent="onchange"
							 		filterType="custom">
			                 	<f:facet name="header">
									<h:panelGroup>
			                        	<h:outputText value="Estado Deficiencia" />
			                        	<h:selectOneMenu value="#{deficienciaBean.estadoFilter}" >
		                            		<f:selectItems value="#{deficienciaBean.itemsEstado}"/>
		                           			<a4j:ajax event="change" render="tableDeficiencia,jQueryTags,dsDeficiencia" execute="@this" />
	                       				</h:selectOneMenu>
			                   		</h:panelGroup>
								</f:facet>
		                 	  	<ui:fragment rendered="#{p.estado eq '1'}">
									<a4j:commandButton 
									    id="botond01"
									    title="Activo" 
									    action="/zonasegura/proc228/deficienciaListar?faces-redirect=true"
									    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
									    <f:param  id="deficienciaId33"  name="deficienciaId" value="#{p.deficienciaId}"/>
							 		</a4j:commandButton> 
								 </ui:fragment>
								 <ui:fragment rendered="#{p.estado eq '0'}">
									<a4j:commandButton 
									    id="botond02"
									    title="Eliminado" 
									    action="/zonasegura/proc228/deficienciaListar?faces-redirect=true"
									    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
									    <f:param  id="deficienciaId34"  name="deficienciaId" value="#{p.deficienciaId}"/>
							 		</a4j:commandButton> 
								 </ui:fragment>
		               </rich:column>
						
						<!-- fin Probando el estado  -->
						
							
						<rich:column style="text-align:center">
                		<f:facet name="header">Acción</f:facet>
			                 <a4j:commandButton 
							    id="botonEditar"
							    title="Editar" 
							    action="#{deficienciaBean.prepararEditar}"
							    reRender="tableDeficiencia"
							    image="/resources/images/edit.png">
							     <f:param  id="deficienciaId30"  name="deficienciaId" value="#{p.deficienciaId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonVer"
							    title="Ver" 
							    action="#{deficienciaBean.prepararVer}"
							    reRender="tableDeficiencia"
							    image="/resources/images/glasses.png">
							    <f:param  id="deficienciaId31"  name="deficienciaId" value="#{p.deficienciaId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonEliminar"
							    title="Eliminar"
							    onclick="if(!confirm('Se eliminaran las Deficiencias asociadas.Esta seguro que desea eliminar el registro?')) {return false;};"
							    reRender="tableDeficiencia"
							    action="#{deficienciaBean.eliminar}"
							    image="/resources/images/delete-item.png">		
							    <f:param  id="deficienciaId32"  name="deficienciaId" value="#{p.deficienciaId}"/>	  
							 </a4j:commandButton> 
               </rich:column>
					
				</rich:extendedDataTable>
				
				<h:panelGrid columns="3">
					<rich:dataScroller id="dsDeficiencia" for="tableDeficiencia" maxPages="10" align="left" 
										rendered="#{not empty deficienciaBean.deficiencias}" 
										oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
					<h:outputText id="filas" value="Registros encontrados: #{deficienciaBean.filasTotal} de (#{deficienciaBean.deficiencias.size()})" style="color:blue;font-weight:bold;"/>
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				<a4j:commandButton id="botonNuevoDeficiencia" title="Nuevo Deficiencia"
					action="#{deficienciaBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableDeficiencia tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableDeficiencia tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="#tableDeficiencia tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableDeficiencia tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	</ui:define>
</ui:composition>
</html>