<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form>
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año" />&nbsp;&nbsp;
				<h:selectOneMenu id="selAno"
					value="#{metasBean.ano}" required="true">
					<f:selectItems value="#{metasBean.itemsAnoMeta}" />
					<f:ajax event="change" listener="#{metasBean.filtroChanged}"
						execute="selAno" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Metas"
					action="#{metasBean.metasxPeriodo()}"
					reRender="tableMetas" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<a4j:commandButton id="botonActualizar"
					title="Insertar Registros del Periodo Anterior"
					action="#{metasBean.ActualizarMetas()}"
					reRender="tableMetas"  image="/resources/images/procesar.png" 
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonCalcularMetas"
					title="Actualizar Metas de Deficiencias por Subsanar"
					action="#{metasBean.calcularMetas()}"
					reRender="tableMetas" image="/resources/images/engine.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
								
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				
			</rich:panel>
			
			<rich:panel header=" Metas (#{metasBean.meta.size()})">
				<rich:extendedDataTable value="#{metasBean.meta}" var="p"
					id="tableMetas" rows="25"  width="100%" reRender="dsMetas" 
					rendered="#{not empty metasBean.meta}"
					rowClasses="odd-row, even-row" rowKeyVar="index" >  
							
					
					  <rich:column filterValue="#{metasBean.codTipDeficienciaFilter}" width="230px"
								filterExpression="#{fn:containsIgnoreCase(p.codTipDeficiencia,metasBean.codTipDeficienciaFilter)}" 
								filterEvent="onblur"	filterType="custom">
								<f:facet name="header">
									<h:panelGroup>
										<h:outputText value="Codigo Tip Deficiencia" />
										<h:inputText value="#{metasBean.codTipDeficienciaFilter}" style="width:200px">
											<a4j:ajax event="blur" render="tableMetas,jQueryTags,dsMetas" execute="@this" />
										</h:inputText>
									</h:panelGroup>
								</f:facet>
							<h:outputText value="#{p.codTipDeficiencia}" />
						</rich:column>

						<rich:column style="text-align:left" width="750px">
							<f:facet name="header">Descripcion de Meta</f:facet>
							<h:outputText value="#{p.desMeta}" />
						</rich:column>
						
						<rich:column filterValue="#{metasBean.secTipicoFilter}" style="text-align:center" width="150px"
							 		filter="#{metasBean.getFilterSecTipico()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Sec Tipico" />
		                        	<h:selectOneMenu value="#{metasBean.secTipicoFilter}" >
	                            		<f:selectItems value="#{metasBean.itemsSecTipico1}"/>
	                           			<a4j:ajax event="change" render="tableMetas,jQueryTags,dsMetas" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.secTipico}" />
						</rich:column>
						
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Año</f:facet>
							<h:outputText value="#{p.ano}" />
						</rich:column>

						<rich:column filterValue="#{metasBean.prioridadFilter}" style="text-align:center" width="150px"
							 		filter="#{metasBean.getFilterPrioridad()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Prioridad" />
		                        	<h:selectOneMenu value="#{metasBean.prioridadFilter}" >
	                            		<f:selectItems value="#{metasBean.itemsPrioridad1}"/>
	                           			<a4j:ajax event="change" render="tableMetas,jQueryTags,dsMetas" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.prioridad}" />
						</rich:column>
							
						<rich:column style="text-align:center">
                		<f:facet name="header">Acción</f:facet>
			                 <a4j:commandButton 
							    id="botonEditar"
							    title="Editar" 
							    action="#{metasBean.prepararEditar}"
							    reRender="tableMetas"
							    image="/resources/images/edit.png">
							     <f:param  id="metasId30"  name="metasId" value="#{p.metasId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonVer"
							    title="Ver" 
							    action="#{metasBean.prepararVer}"
							    reRender="tableMetas"
							    image="/resources/images/glasses.png">
							    <f:param  id="metasId31"  name="metasId" value="#{p.metasId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonEliminar"
							    title="Eliminar"
							    onclick="if(!confirm('Se eliminaran las Metas asociadas.Esta seguro que desea eliminar el registro?')) {return false;};"
							    reRender="tableMetas"
							    action="#{metasBean.eliminar}"
							    image="/resources/images/delete-item.png">		
							    <f:param  id="metasId32"  name="metasId" value="#{p.metasId}"/>	  
							 </a4j:commandButton> 
               </rich:column>
					
				</rich:extendedDataTable>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsMetas" for="tableMetas"
						maxPages="10" align="left"
						rendered="#{not empty metasBean.meta}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				<a4j:commandButton id="botonNuevoMeta" title="Nuevas Metas"
					action="#{metasBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableMetas tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableMetas tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="tableMetas tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="tableMetas tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	</ui:define>
</ui:composition>
</html>