<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="idform">
			<rich:messages ajaxRendered="true" />
			<rich:tabPanel switchType="client">

				<rich:tab header="Metas  ">

					<!-- <h:inputHidden value="#{metasBean.metas.estado}" /> -->
					<rich:panel>
						<h:panelGrid columns="3">
			
							<h:outputText value="Año" />
							<h:selectOneMenu id="selAno"
								value="#{metasBean.metas.ano}"
								required="true" disabled="true">
								<f:selectItems value="#{metasBean.itemsAno}" />
							</h:selectOneMenu>
							<rich:message for="selAno" ajaxRendered="true" />
							
							<h:outputText value="Tipo de Deficiencia" />
							<h:selectOneMenu id="selCodTipDeficiencia"
								value="#{metasBean.metas.codTipDeficiencia}"
								required="true">
								<f:selectItems
									value="#{metasBean.itemsTipDeficiencia}" />
								<a4j:ajax event="change"
									listener="#{metasBean.tipoDeficienciaChanged}"
									execute="selCodTipDeficiencia" render="selPrioridad" />										
							</h:selectOneMenu>
							<rich:message for="selCodTipDeficiencia" ajaxRendered="true" />
							
							<h:outputText value="Descripcion de Metas" />
							<h:inputText id="selDesMetas"
								value="#{metasBean.metas.desMeta}"
								style="width:500px" required="false" maxlength = "128"
								label="selDesMetas">
								<f:validateLength maximum="128" />
							</h:inputText>
							<rich:message for="selDesMetas" ajaxRendered="true" />
	
							<h:outputText value="Sector Tipico" />
							<h:selectOneMenu id="selSectorTipico"
								value="#{metasBean.metas.secTipico}"
								required="true">
								<f:selectItems
									value="#{metasBean.itemsSectipico}" />
							</h:selectOneMenu>
							<rich:message for="selSectorTipico" ajaxRendered="true" />
							
							<h:outputText value="Prioridad" />
							<h:selectOneMenu id="selPrioridad"
								value="#{metasBean.metas.prioridad}"
								required="true">
								<f:selectItems
									value="#{metasBean.itemsPrioridad}" />
							</h:selectOneMenu>
							<rich:message for="selPrioridad" ajaxRendered="true" />

					  </h:panelGrid>
					</rich:panel>
				</rich:tab>
					
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:tabPanel>

			<rich:panel>
				<a4j:commandButton id="botonGrabar" title="Actualizar"
					action="#{metasBean.actualizar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
					&nbsp;&nbsp;&nbsp;&nbsp;
				<a4j:commandButton id="botonCancelar" title="Cancelar"
					action="/zonasegura/proc228/metasListar?faces-redirect=true"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>
			</rich:panel>

		</h:form>
	</ui:define>
</ui:composition>
</html>