<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">

	<ui:composition template="/template/layout.xhtml">
	   <ui:define name="menuBar"></ui:define>
	   <ui:define name="content">
	       <h5>Atencion: Ha ocurrido un error en la aplicacion SGN, contacte con el administrador</h5>
	   </ui:define>
	</ui:composition>
</html>