<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">
      
  <ui:composition template="/template/layout.xhtml">
       <ui:define name="menuBar">
         
       </ui:define>
	   <ui:define name="content">
	    <div id="divLogin" align="center">
	     <form method="post" action="j_security_check">
                <rich:panel  style="width:400px">
                 <f:facet name="header">Login al Sistema de Gestión Normativo (SGN)</f:facet>
                 <h:panelGrid id="panel" columns="2" border="0">
                 	<rich:panel>
                 		<img src="/Calidad/resources/images/usuario.png"/>
                 	</rich:panel>
                 	<h:panelGrid id="panel2" columns="2" border="0">
	                    <h:outputLabel value="Usuario" /><input type="text" name="j_username" size="25" />
	                    <h:outputLabel value="Password" /><input type="password" size="15" name="j_password" />
	                    <h:commandButton type="submit" value="Login"/>
	                    <h:commandButton type="reset" value="Clear"/>
                    </h:panelGrid>
                </h:panelGrid>
               </rich:panel> 
            </form>
         </div>   
	   </ui:define>
	</ui:composition>
</html>