<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">     
      
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
			<rich:panel header="Periodo de Control:">
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Programa"
					action="#{medicionApBean.mostrarMedicionesAp()}"
					reRender="tableInterrupcion" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;			
				 <a4j:commandButton  
				    id="botonProcesar"
				    title="Procesar Todas las Mediciones de AP" 
				    action="#{medicionApBean.procesarAllMedicionAp}"
				    onclick="if(!confirm('Se iniciará el procesamiento de las mediciones, esto puede tomar algunos minutos.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableMedicionAp"
				    image="/resources/images/procesar.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;&nbsp;
				 <a4j:commandButton  
				    id="botonProcesarMedicionSeleccionada"
				    title="Procesar la Mediciona Ap Seleccionada" 
				    action="#{medicionApBean.procesarMedicionAp}"
				    reRender="tableMedicionAp"
				    image="/resources/images/procesar_azul.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>
				 &nbsp;&nbsp;
				 <a4j:commandButton 
					id="botonCargarMediciones"
					title="Cargar Mediciones de AP" 
					action="#{fileUploadBean.prepararMostrarMedicionesAp}"
					reRender="tableMedicion"
					immediate="false"
					image="/resources/images/cargar_azul.png" style="width: 16px; high: 16px">
					<f:param  id="programaApId100P"  name="programaApId" value="#{medicionApBean.programaAp.programaApId}"/>
				 </a4j:commandButton>				 
	 			<a4j:commandLink  value="Volver" action="/zonasegura/alumbradoPublico/programaApListar?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
	      	<rich:panel header=" (#{medicionApBean.medicionesAp.size()}) Vanos de la Via #{medicionApBean.programaAp.via.codVia}&#32;&#45;&#32;#{medicionApBean.programaAp.via.nombre}">
				<rich:extendedDataTable value="#{medicionApBean.medicionesAp}" var="p"
					id="tableMedicionAp" rows="25" width="100%" reRender="dsMedicionAp"
					rowClasses="odd-row, even-row" rowkeyVar="rowIndex"
					rendered="#{not empty medicionApBean.medicionesAp}"
					selection="#{medicionApBean.selection}"
					selectionMode="single">
					<a4j:ajax execute="@form" event="selectionchange" listener="#{medicionApBean.selectionListener}"
                          render="@none"/>						
					<rich:column style="text-align:center;width:100px;">
						<f:facet name="header">Codigo Poste Inicial</f:facet>
					<h:outputText value="#{p.codPosInicial}" />
					</rich:column>

					<rich:column style="text-align:center">
						<f:facet name="header">Codigo Poste Final</f:facet>
						<h:outputText value="#{p.codPosFinal}" />
					</rich:column>
					
		 			<rich:column style="text-align:center">
						<f:facet name="header">Numero Vano</f:facet>
						<h:outputText value="#{p.viaVano.nroVano}" />
					</rich:column>
					
		 			<rich:column style="text-align:center">
						<f:facet name="header">Puntos</f:facet>
						<h:outputText value="#{p.viaVano.ptoIni} - #{p.viaVano.ptoFin}" />
					</rich:column>										
					
					<rich:column style="text-align:center">
						<f:facet name="header">Ubigeo</f:facet>
						<h:outputText value="#{p.ubigeoVano}" />
					</rich:column>
					
					<rich:column filterValue="#{medicionApBean.tipoAlumbradoFilter}" style="text-align:center" width="150px"
							 		 filter="#{medicionApBean.getFilterTipoAlumbrando()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo Alumbrado" />
		                        	<h:selectOneMenu value="#{medicionApBean.tipoAlumbradoFilter}" >
	                            		<f:selectItems value="#{medicionApBean.itemsTipoAlumbrado}"/>
	                           			<a4j:ajax event="change" render="tableMedicionAp,jQueryTags,dsMedicionAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipAlumbrado}" />
					</rich:column>
					
					<rich:column filterValue="#{medicionApBean.tipoCalzadaFilter}" style="text-align:center" width="150px"
							 		 filter="#{medicionApBean.getFilterTipoCalzada()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Calzada" />
		                        	<h:selectOneMenu value="#{medicionApBean.tipoCalzadaFilter}" >
	                            		<f:selectItems value="#{medicionApBean.itemsTipoCalzada}"/>
	                           			<a4j:ajax event="change" render="tableMedicionAp,jQueryTags,dsMedicionAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipCalzada}" />
					</rich:column>
				
					<rich:column style="text-align:center">
						<f:facet name="header">Longitud de vano</f:facet>
						<h:outputText value="#{p.lonMedida}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Iluminacion en calzada</f:facet>
						<h:outputText value="#{p.iluMedCalzada}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Uniformidad de iluminancia</f:facet>
						<h:outputText value="#{p.uniMedIluminancia}" />
					</rich:column>
					<rich:column style="text-align:center">
						<f:facet name="header">Indice de Deslumbramiento</f:facet>
						<h:outputText value="#{p.indComDeslumbramiento}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Iluminacion de Vereda</f:facet>
						<h:outputText value="#{p.iluMedVereda}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Luminancia con Revestimiento</f:facet>
						<h:outputText value="#{p.lumMedRevSeco}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Uniformidad Longitudinal</f:facet>
						<h:outputText value="#{p.uniLongitudinal}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Uniformidad Media</f:facet>
						<h:outputText value="#{p.uniMedia}" />
					</rich:column>
					
					<rich:column filterValue="#{medicionApBean.fecMedicionFilter}"
									filter="#{medicionApBean.getFilterFecMedicion()}" 
									filterEvent="onchange"
							 		filterType="custom" style="text-align:center" width="160px">
							<f:facet name="header">Fecha de Medicion
								<h:panelGroup>
									<rich:calendar value="#{medicionApBean.fecMedicionFilter}"
										id="calendar20" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha y Hora de Fin Programada" 
										style="text-align:center">
										<a4j:ajax event="change" render="tableMedicionAp,jQueryTags,dsMedicionAp" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>				
							</f:facet>
							<h:outputText value="#{p.fecMedicion}" locale="es_PE">
							</h:outputText>
					</rich:column>
					
					<rich:column filterValue="#{medicionApBean.calidadFilter}" style="text-align:center" width="210px"
							 		 filter="#{medicionApBean.getFilterCalidad()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Calidad de tramo" />
		                        	<h:selectOneMenu value="#{medicionApBean.calidadFilter}" >
	                            		<f:selectItems value="#{medicionApBean.itemsCalidad1}"/>
	                           			<a4j:ajax event="change" render="tableMedicionAp,jQueryTags,dsMedicionAp" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.calidad}" />
					</rich:column>
	<!-- 			
					<rich:column style="text-align:center" width="100px">
						<f:facet name="header">Numero Vano</f:facet>
						<a4j:commandLink value="#{p.viaVano.nroVano}" render="out"  action="#{puntoApBean.mostrarAfectados}">
								<f:param  id="medicionApId"  name="medicionApId" value="#{p.medicionApId}"/>
						</a4j:commandLink>	
					</rich:column>
		 --> 			
					<rich:column style="text-align:center">
						<f:facet name="header">Programa AP</f:facet>
						<h:outputText value="#{p.programaAp.via.nombre}" />
					</rich:column>
					
					<rich:column style="text-align:center">
					<f:facet name="header">Operaciones </f:facet>
						<a4j:commandButton 
							id="botonP09"
							title="Cargar Medicion de AP" 
							action="#{fileUploadBean.prepararMostrarMedicionAp}"
							reRender="tableMedicion"
							immediate="false"
							image="/resources/images/cargar_azul.png" style="width: 16px; high: 16px">
							<f:param  id="medicionApId100P"  name="medicionApId" value="#{p.medicionApId}"/>
						</a4j:commandButton>
				
					</rich:column>            
					<!--  -->
					<rich:column style="text-align:center;width: 50px">
                 		<f:facet name="header">Estado</f:facet>
		                    <ui:fragment rendered="#{p.calidad eq 'S'}">
								<a4j:commandButton 
								    id="boton1"
								    title="TRAMO SI CUMPLE CON CALIDAD" 
								    action="#{puntoApBean.mostrarAfectados}"
								    image="/resources/images/circulo_verde.png" style="width: 16px; high: 16px">
								     <f:param  id="medicionApId10"  name="medicionApId" value="#{p.medicionApId}"/>
								</a4j:commandButton> 
							 </ui:fragment>
							 <ui:fragment rendered="#{p.calidad eq 'N'}">
								<a4j:commandButton 
								    id="boton2"
								    title="TRAMO NO CUMPLE CON CALIDAD" 
								    action="#{puntoApBean.mostrarAfectados}"
								    image="/resources/images/circulo_rojo.png" style="width: 16px; high: 16px">
								     <f:param  id="medicionApId11"  name="medicionApId" value="#{p.medicionApId}"/> 
						 		</a4j:commandButton> 
							 </ui:fragment>
							 <ui:fragment rendered="#{p.calidad eq 'C'}">
								<a4j:commandButton 
								    id="boton3"
								    title="CARGADO PERO NO EVALUADO" 
								    action="#{puntoApBean.mostrarAfectados}"
								    image="/resources/images/circulo_naranja.png" style="width: 16px; high: 16px">
								     <f:param  id="medicionApId12"  name="medicionApId" value="#{p.medicionApId}"/>
						 		</a4j:commandButton> 
							 </ui:fragment>
							 <ui:fragment rendered="#{p.calidad eq 'P'}">
								<a4j:commandButton 
								    id="boton5"
								    title="PROGRAMADO" 
								    action="/zonasegura/alumbradoPublico/medicionApListar?faces-redirect=true"
								    image="/resources/images/circulo_gris.png" style="width: 16px; high: 16px">
								     <f:param  id="medicionApId13"  name="medicionApId" value="#{p.medicionApId}"/>
						 		</a4j:commandButton> 
							 </ui:fragment>
							 
               		</rich:column>
					<!--  -->
			 		 <rich:column style="text-align:center">
		                <f:facet name="header">Acción</f:facet>
		                 <a4j:commandButton 
						    id="botonEditar"
						    title="Editar" 
						    action="#{medicionApBean.prepararEditar}"
						    reRender="tableMedicionAp"
						    image="/resources/images/edit.png">
						     <f:param  id="medicionApId30"  name="medicionApId" value="#{p.medicionApId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonVer"
						    title="Ver" 
						    action="#{medicionApBean.prepararVer}"
						    reRender="tableMedicionAp"
						    image="/resources/images/glasses.png">
						    <f:param  id="medicionApId31"  name="medicionApId" value="#{p.medicionApId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonEliminar"
						    title="Eliminar"
						    onclick="if(!confirm('Se eliminaran las mediciones asociadad.Esta seguro que desea eliminar el registro?')) {return false;};"
						    reRender="tableMedicionAp"
						    action="#{medicionApBean.eliminar}"
						    image="/resources/images/delete-item.png">		
						    <f:param  id="medicionApId32"  name="medicionApId" value="#{p.medicionApId}"/>	  
						 </a4j:commandButton> 
              		 </rich:column>
				 	 
				</rich:extendedDataTable>
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsMedicionAp" for="tableMedicionAp"
						maxPages="10" align="left"
						rendered="#{not empty medicionApBean.medicionesAp}" oncomplete="refrescarEstilos()"  />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{medicionApBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/alumbradoPublico/programaApListar?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
			<h:panelGroup id="jQueryTags"> 
				<!-- <rich:jQuery selector="#tableMedicionAp tr:odd" query="addClass('odd-row')" />  -->
				<!-- <rich:jQuery selector="#tableMedicionAp tr:even" query="addClass('even-row')" /> -->
				<rich:jQuery selector="#tableMedicionAp tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
				<rich:jQuery selector="#tableMedicionAp tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />

			</h:panelGroup>
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
		  
	  </ui:define>
	</ui:composition>
</html>