<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      <rich:messages ajaxRendered="true" />
	      
	      <rich:tabPanel switchType="client">
	      	<rich:tab header="Mediciones Alumbrado Publico">
	      
	          <rich:panel>
	        	<h:panelGrid columns="3">
	           <h:outputText value="Poste Inicial" />
	           <h:inputText id="selcodPosInicial" value="#{medicionApBean.medicionAp.codPosInicial}" label="codPosInicial" required="true" style="width:100px" maxlength = "10">
	           		<f:validateLength maximum="10" />
	           </h:inputText>
	           <rich:message for="selcodPosInicial" ajaxRendered="true" />
	           	           
	           <h:outputText value="Poste Final" />
	           <h:inputText id="selCodPostFin" value="#{medicionApBean.medicionAp.codPosFinal}" label="CodPostFin" required="true"  style="width:100px" maxlength = "10">
                  <f:validateLength maximum="10" />
               </h:inputText>
               <rich:message for="selCodPostFin" ajaxRendered="true" />
               
               <h:outputText value="Codigo Ubigeo" />
               <h:inputText id="selCodUbigeo" value="#{medicionApBean.medicionAp.ubigeoVano}" label="CodUbigeo" required="true"  style="width:200px" maxlength = "6">
                  <f:validateLength maximum="6" />
               </h:inputText>
               <rich:message for="selCodUbigeo" ajaxRendered="true" />
          
			   <h:outputText value="Tipo Alumbrado" />
	           <h:selectOneMenu id="selTipoAlumbrado"  value="#{medicionApBean.medicionAp.tipAlumbrado}" required="true"  style="width:250px">
	               <f:selectItems value="#{medicionApBean.itemsTipoAlumbrado}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipoAlumbrado" ajaxRendered="true" />
	           
	           <h:outputText value="Tipo Calzada" />
	           <h:selectOneMenu id="selTipoCalzada"  value="#{medicionApBean.medicionAp.tipCalzada}" required="true"  style="width:250px">
	               <f:selectItems value="#{medicionApBean.itemsTipoCalzada}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipoCalzada" ajaxRendered="true" />
	           
	          	<h:outputText value="Longitud del Vano (m)" />
          		<h:inputText id="selLongitud" value="#{medicionApBean.medicionAp.lonMedida}" label="Longitud" required="true"  style="width:200px">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selLongitud" ajaxRendered="true" />         
	           
	            <h:outputText value="Iluminación Media en Calzada (lux)" />
          		<h:inputText id="selIluminacionCalza" value="#{medicionApBean.medicionAp.iluMedCalzada}" label="IluminacionCalza" required="false"  style="width:200px">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selIluminacionCalza" ajaxRendered="true" />         
	           
	           	<h:outputText value="Uniformidad Media de Iluminancia" />
          		<h:inputText id="selUniIlu" value="#{medicionApBean.medicionAp.uniMedIluminancia}" label="UniIlu" required="false"  style="width:200px">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selUniIlu" ajaxRendered="true" />   
	           
	         	
               <h:outputText value="Indice de Control de Deslumbramiento(g)" />
               <h:inputText id="selIndConDeslum" value="#{medicionApBean.medicionAp.indComDeslumbramiento}" label="IndConDeslum" required="false"  style="width:200px">
                  <f:validateDoubleRange maximum="10000" />
               </h:inputText>
               <rich:message for="selIndConDeslum" ajaxRendered="true" />
               
               
               <h:outputText value="Iluminacion Media de Vereda" />
               <h:inputText id="selIluMediaVer" value="#{medicionApBean.medicionAp.iluMedVereda}" label="IluMediaVer" required="false"  style="width:200px">
                  <f:validateDoubleRange maximum="10000" />
               </h:inputText>
               <rich:message for="selIluMediaVer" ajaxRendered="true" />
               
               <h:outputText value="Luminacion Media con Revestimiento (cd/m2) " />
               <h:inputText id="selIluMediaRev" value="#{medicionApBean.medicionAp.lumMedRevSeco}" label="IluMediaRev" required="false"  style="width:200px">
                    <f:validateDoubleRange maximum="10000" />
               </h:inputText>
               <rich:message for="selIluMediaRev" ajaxRendered="true" />
               
               <h:outputText value="Uniformidad Longitudinal" />
               <h:inputText id="selUniLongitud" value="#{medicionApBean.medicionAp.uniLongitudinal}" label="UniLongitud" required="false"  style="width:200px">
                    <f:validateDoubleRange maximum="10000" />
               </h:inputText>
               <rich:message for="selUniLongitud" ajaxRendered="true" />

               <h:outputText value="Uniformidad Media" />
               <h:inputText id="selUniMedia" value="#{medicionApBean.medicionAp.uniMedia}" label="UniMedia" required="false"  style="width:200px">
                    <f:validateDoubleRange maximum="10000" />
               </h:inputText>
               <rich:message for="selUniMedia" ajaxRendered="true" />
              
               <h:outputText value="Fecha de Medicion" />
			   <rich:calendar value="#{medicionApBean.fecMedicion}"
								id="calendar189" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="false" label="Fecha Medicion">
				</rich:calendar>
				<rich:message for="calendar189" ajaxRendered="true" />
				
				<h:outputText value="Resultado" />
	           <h:selectOneMenu id="selTramoCalidad"  value="#{medicionApBean.medicionAp.calidad}" required="false"  label="TramoCalidad" style="width:250px">
	               <f:selectItems value="#{medicionApBean.itemsCalidad}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTramoCalidad" ajaxRendered="true" />
				
				<h:outputText value="Vano" />
	           <h:selectOneMenu id="selVia"  value="#{medicionApBean.medicionAp.viaVano}" required="true"  label="Via" style="width:250px">
	               <f:selectItems value="#{medicionApBean.itemsVanoVia}"/>
					<a4j:ajax event="change"
								listener="#{medicionApBean.vanoChanged}"
								execute="selVia" render="selTipoCalzada,selLongitud,selcodPosInicial,selCodPostFin" />	               
	               <f:converter converterId="viaVanoConverter"/>
	           </h:selectOneMenu>
	           <rich:message for="selVia" ajaxRendered="true" />	
                              
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      </rich:tab>
	      
	      <rich:tab header=" Datos Tecnicos " >
						
						<rich:panel>
							<h:panelGrid columns="3">

								<h:outputText value="Altura Luminaria Inicial (h)" />
								<h:inputText id="selAltLuminanciaInicial"
									value="#{medicionApBean.medicionAp.altLumInicial}"
									style="width:150px" required="false" label="AltLuminanciaInicial">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selAltLuminanciaInicial" ajaxRendered="true" />
								
								<h:outputText value="Pot Lampara Inicial(W)" />
								<h:inputText id="selPotLamparaInicial"
									value="#{medicionApBean.medicionAp.potLamInicial}"
									style="width:150px" required="false" label="PotLamparaInicial">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selPotLamparaInicial" ajaxRendered="true" />
								
								<h:outputText value="Tipo Luminaria Inicial" />
								<h:inputText id="selTipLuminanciaInicial"
									value="#{medicionApBean.medicionAp.tipLumInicial}"
									style="width:150px" required="false" label="TipLuminanciaInicial"
									maxlength = "32">
									<f:validateLength maximum="32" />
								</h:inputText>
								<rich:message for="selTipLuminanciaInicial" ajaxRendered="true" />

								<h:outputText value="Tipo Pastoral Inicial" />
								<h:inputText id="selTipPasInicial"
									value="#{medicionApBean.medicionAp.tipPasInicial}"
									style="width:150px" required="false" label="TipPasInicial"
									maxlength = "32">
									<f:validateLength maximum="32" />
								</h:inputText>
								<rich:message for="selTipPasInicial" ajaxRendered="true" />
								
								<h:outputText value="Altura Luminaria Final(h)" />
								<h:inputText id="selAltLuminanciaFinal"
									value="#{medicionApBean.medicionAp.altLumFinal}"
									style="width:150px" required="false" label="AltLuminanciaFinal">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selAltLuminanciaFinal" ajaxRendered="true" />
								
								<h:outputText value="Pot Lampara Final(W)" />
								<h:inputText id="selPotLamparaFinal"
									value="#{medicionApBean.medicionAp.potLamFinal}"
									style="width:150px" required="false" label="AltLuminanciaFinal">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selPotLamparaFinal" ajaxRendered="true" />

								<h:outputText value="Tipo Luminaria Final" />
								<h:inputText id="selTipLuminanciaFinal"
									value="#{medicionApBean.medicionAp.tipLumFinal}"
									style="width:150px" required="false" label="TipLuminanciaFinal"
									maxlength = "32">
									<f:validateLength maximum="32" />
								</h:inputText>
								<rich:message for="selTipLuminanciaFinal" ajaxRendered="true" />

								<h:outputText value="Tipo Pastoral Final" />
								<h:inputText id="selTipPastoralFinal"
									value="#{medicionApBean.medicionAp.tipPasFinal}"
									style="width:150px" required="false" label="TipPastoralFinal"
									maxlength = "32">
									<f:validateLength maximum="32" />
								</h:inputText>
								<rich:message for="selTipPastoralFinal" ajaxRendered="true" />

								<h:outputText value="Numero de Luminaria Por Km (p)" />
								<h:inputText id="selNumLuminanciaPorKm"
									value="#{medicionApBean.medicionAp.numLumPorKm}"
									style="width:150px" required="false" label="NumLuminanciaPorKm">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selNumLuminanciaPorKm" ajaxRendered="true" />

								<h:outputText value="Superficie Aparente en m2(F)" />
								<h:inputText id="selSuperficieAparente"
									value="#{medicionApBean.medicionAp.supAparente}"
									style="width:150px" required="false" label="SuperficieAparente">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selSuperficieAparente" ajaxRendered="true" />

								<h:outputText value="Intensidad Luminosa (I80°)" />
								<h:inputText id="selIntensidadLuminosa"
									value="#{medicionApBean.medicionAp.intLuminosa}"
									style="width:150px" required="false" label="IntensidadLuminosa">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selIntensidadLuminosa" ajaxRendered="true" />

								<h:outputText value="Relacion Luminosa (I80°/I88°)" />
								<h:inputText id="selRelLuminosa"
									value="#{medicionApBean.medicionAp.relLuminosa}"
									style="width:150px" required="false" label="RelLuminosa">
									<f:validateDoubleRange maximum="10000" />
								</h:inputText>
								<rich:message for="selRelLuminosa" ajaxRendered="true" />


							</h:panelGrid>
						</rich:panel>
					</rich:tab>
	      
	     </rich:tabPanel> 
	       <rich:panel>
	        <a4j:commandButton 
						id="botonGrabar"
					    title="Actualizar"
					    action="#{medicionApBean.actualizar}"
					    image="/resources/images/grabar.png">
					</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/alumbradoPublico/medicionApListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>