<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
		
		<h:form>
			<rich:panel header="Periodo de Control:">
				<h:outputText value="Año/Mes" />&nbsp;&nbsp;
				<h:selectOneMenu id="selPeriodoMedicion"
					value="#{programaApBean.periodoMedicion}" required="true">
					<f:selectItems value="#{programaApBean.itemsPeriodoMedicion1}" />
					<f:converter converterId="periodoMedicionConverter" />
					<f:ajax event="change" listener="#{programaApBean.filtroChanged}"
						execute="selPeriodoMedicion" render="@all" /> 
				</h:selectOneMenu>
				&nbsp;&nbsp;
				<a4j:commandButton id="botonRefrescar"
					title="Refrescar Programa"
					action="#{programaApBean.ProgramaApxPeriodo()}"
					reRender="tableInterrupcion" image="/resources/images/reload.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandButton  
				    id="botonGenerarIdentificador"
				    title="Generar los Identificadores de la NTCSE" 
				    action="#{programaApBean.generarIdentificador}"
				    reRender="tableProgramaAp"
				    image="/resources/images/gen_codigos.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>&nbsp;&nbsp;
				<a4j:commandButton  
				    id="botonProcesar"
				    title="Compensar las Mediciones de AP" 
				    action="#{programaApBean.procesarMedicion}"
				    onclick="if(!confirm('Se iniciará la Compensacion de las mediciones, esto puede tomar algunos minutos.Esta seguro que desea proceder?')) {return false;};"
				    reRender="tableProgramaAp"
				    image="/resources/images/dollar.png" 
				    style="width: 20px; high: 20px">
				 </a4j:commandButton>	
	
	<!-- 		<a4j:commandButton id="botonCompensar"
					title="Compensar Interrupciones"
					action="#{interrupcionBean.compensarInterrupciones()}"
					reRender="tableInterrupcion" image="/resources/images/dollar.png"
					style="width: 20px; high: 20px">
				</a4j:commandButton>
	 -->		&nbsp;&nbsp;
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
	<!-- 		<h:commandButton id="botonExportarA1"
					title="Exportar Anexo 1 Proc.074"
					action="#{interrupcionBean.exportaranexo1_074()}"
					reRender="tableInterrupcion" image="/resources/images/anexo1_074.png"
					style="width: 20px; high: 20px">
				</h:commandButton>
	-->			
			
				
			</rich:panel>
			
			<rich:panel header="Programa de Mediciones de AP (#{programaApBean.programasAp.size()})">
				<rich:extendedDataTable value="#{programaApBean.programasAp}" var="p"
					id="tableProgramaAp" rows="25"  width="100%" reRender="dsProgramaAp" 
					rendered="#{not empty programaApBean.programasAp}"
					rowClasses="odd-row, even-row" rowKeyVar="index" >  
						
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Numero de Identificador</f:facet>
							<h:outputText value="#{p.numIdentificador}" />
						</rich:column>
					
					
		<!--  		<rich:column filterValue="#{interrupcionBean.codInterrupcionFilter}" width="90px"
							 		filterExpression="#{fn:containsIgnoreCase(p.codInterrupcion,interrupcionBean.codInterrupcionFilter)}"
							 		filterEvent="onblur" filterType="custom" style="text-align:center">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Codigo " /><br/>
		                        	<h:inputText value="#{interrupcionBean.codInterrupcionFilter}" style="width:70px">
		                            	<a4j:ajax event="blur" render="tableInterrupcion,jQueryTags,dsInterrupcion" execute="@this" />
		                        	</h:inputText>
		                   		</h:panelGroup>
							</f:facet>
							<ui:fragment rendered="#{p.suministrosAfectado.size() > 0}">
								<a4j:commandLink value="#{p.codInterrupcion}" render="out"  action="#{suministroAfectadoBean.mostrarAfectados}">
									<f:param  id="interrupcionId"  name="interrupcionId" value="#{p.interrupcionId}"/>
								</a4j:commandLink>
							</ui:fragment>
							<ui:fragment rendered="#{p.suministrosAfectado.size() eq 0}">
								<h:outputText value="#{p.codInterrupcion}" />
							</ui:fragment>
						</rich:column>
		 -->						
						<!-- filterExpression="#{fn:containsIgnoreCase(p.causaInterrupcion,interrupcionBean.cauInterrupcionFilter)}" -->
	
<!-- 					
						<rich:column style="text-align:center" width="100px">
							<f:facet name="header">Codigo Via Reemplazada</f:facet>
							<h:outputText value="#{p.codViaReemplazada}" />
						</rich:column>
 -->						
						<rich:column style="text-align:center">
							<f:facet name="header">Suministro Proximo</f:facet>
							<h:outputText value="#{p.numSumProximo}" />
						</rich:column>
						<rich:column style="text-align:center">
							<f:facet name="header">Numero de Vanos</f:facet>
							<h:outputText value="#{p.numVanos}" />
						</rich:column>
						<rich:column style="text-align:center">
							<f:facet name="header">Longitud a Medirse</f:facet>
							<h:outputText value="#{p.lonAMedirse}" />
						</rich:column>
						
						<rich:column filterValue="#{programaApBean.fecProgramadaFilter}"
									filter="#{programaApBean.getFilterFecProgramada()}" 
									filterEvent="onchange"
							 		filterType="custom"
							 		width="180px" style="text-align:center">
							<f:facet name="header">Fecha Programada
								<h:panelGroup>
								    <rich:calendar value="#{programaApBean.fecProgramadaFilter}"
										id="calendar19" locale="es_PE" popup="true"
										datePattern="yyyy/MM/dd" showApplyButton="false"
										cellWidth="24px" cellHeight="22px" immediate="true"
										label="Fecha Programada" 
										style="text-align:center;" >
										<a4j:ajax event="change" render="tableProgramaAp,jQueryTags,dsProgramaAp" execute="@this" />
									</rich:calendar> 
		                        </h:panelGroup>							
							</f:facet>
							<h:outputText value="#{p.fecProgramada}" locale="es_PE" >
								<!-- <f:convertDateTime pattern="dd/MM/yyyy HH:mm" />  -->
							</h:outputText>
						</rich:column>
						
							
						<rich:column filterValue="#{programaApBean.tipoServicioFilter}" width="210px" style="text-align:center"
							 		 filter="#{programaApBean.getFilterTipoServicio()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Localidad" style="width:210px" />
		                        	<h:selectOneMenu value="#{programaApBean.tipoServicioFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{programaApBean.itemsTipoServicios}"/>
	                           			<a4j:ajax event="change" render="tableProgramaAp,jQueryTags,dsProgramaAp" execute="@this" />
	                           		</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipServicio}" />
						</rich:column> 
						
						<rich:column style="text-align:center" width="210px">
							<f:facet name="header">Via</f:facet>
							<a4j:commandLink value="#{p.via.codVia}&#32;&#45;&#32;#{p.via.nombre}" render="out"  action="#{medicionApBean.mostrarMedicionesAp}">
								<f:param  id="programaApId"  name="programaApId" value="#{p.programaApId}"/>
							</a4j:commandLink>							
							<!-- <h:outputText value="#{p.via.nombre}" /> -->
						</rich:column>
						
						
						
<!-- 					<rich:column filterValue="#{programaApBean.viaFilter}" width="210px" style="text-align:center"
							 		 filter="#{programaApBean.getFilterVia()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Via" style="width:210px" />
		                        	<h:selectOneMenu value="#{programaApBean.viaFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{programaApBean.itemsVia2}"/>
	                           			<a4j:ajax event="change" render="tableProgramaAp,jQueryTags,dsProgramaAp" execute="@this" />
	                           		</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.via.nombre}" />
						</rich:column> 
 -->					
						<rich:column filterValue="#{programaApBean.localidadFilter}" width="210px" style="text-align:center"
							 		 filter="#{programaApBean.getFilterLocalidad()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Localidad" style="width:210px" />
		                        	<h:selectOneMenu value="#{programaApBean.localidadFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{programaApBean.getItemsLocalidad1()}"/>
	                           			<a4j:ajax event="change" render="tableProgramaAp,jQueryTags,dsProgramaAp" execute="@this" />
	                           		</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.localidad.codLocalidad}&#32;&#45;&#32;#{p.localidad.nombre}" />
						</rich:column> 
<!-- 					<rich:column style="text-align:center">
							<f:facet name="header">Tipo de Medicion</f:facet>
							<h:outputText value="#{p.tipoMedicion.descripcion}" />
						</rich:column>
 -->
						<rich:column filterValue="#{programaApBean.tipoPuntoFilter}" width="210px" style="text-align:center"
							 		 filter="#{programaApBean.getFilterTipoPunto()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Punto" style="width:210px" />
		                        	<h:selectOneMenu value="#{programaApBean.tipoPuntoFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{programaApBean.itemsTipoPunto}"/>
	                           			<a4j:ajax event="change" render="tableProgramaAp,jQueryTags,dsProgramaAp" execute="@this" />
	                           		</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipoPunto.descripcion}" />
						</rich:column> 
						
						<rich:column style="text-align:center">
                		<f:facet name="header">Acción</f:facet>
			                 <a4j:commandButton 
							    id="botonEditar"
							    title="Editar" 
							    action="#{programaApBean.prepararEditar}"
							    reRender="tableProgramaAp"
							    image="/resources/images/edit.png">
							     <f:param  id="medicionId30"  name="programaApId" value="#{p.programaApId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonVer"
							    title="Ver" 
							    action="#{programaApBean.prepararVer}"
							    reRender="tableProgramaAp"
							    image="/resources/images/glasses.png">
							    <f:param  id="medicionId31"  name="programaApId" value="#{p.programaApId}"/>
							 </a4j:commandButton>
							 <a4j:commandButton 
							    id="botonEliminar"
							    title="Eliminar"
							    onclick="if(!confirm('Se eliminaran las mediciones asociadas.Esta seguro que desea eliminar el registro?')) {return false;};"
							    reRender="tableProgramaAp"
							    action="#{programaApBean.eliminar}"
							    image="/resources/images/delete-item.png">		
							    <f:param  id="medicionId32"  name="programaApId" value="#{p.programaApId}"/>	  
							 </a4j:commandButton> 
               </rich:column>
					
				</rich:extendedDataTable>
				
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsProgramaAp" for="tableProgramaAp"
						maxPages="10" align="left"
						rendered="#{not empty programaApBean.programasAp}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel>
				<a4j:commandButton id="botonNuevoProgramaAp" title="Nuevo Programa"
					action="#{programaApBean.prepararCrear}"
					image="/resources/images/add-item.png">
				</a4j:commandButton>
				&nbsp;&nbsp;
				<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
			</rich:panel>
		</h:form>
		
		<h:panelGroup id="jQueryTags"> 
			
			<!-- <rich:jQuery selector="#tableProgramaAp tr:odd:not(:first)" query="addClass('odd-row')" /> -->
		    <!-- <rich:jQuery selector="#tableProgramaAp tr:even:not(:first)" query="addClass('even-row')" /> -->
		    <rich:jQuery selector="#tableProgramaAp tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableProgramaAp tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />
		     		     
		</h:panelGroup>
		
		<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
	</ui:define>
</ui:composition>
</html>