<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j">

<ui:composition template="/template/layout.xhtml">
	<ui:define name="content">
		<h:form id="idform">
			<rich:messages ajaxRendered="true" />
			<rich:tabPanel switchType="client">

				<rich:tab header="Editar Via Programada de AP">

					<h:inputHidden value="#{programaApBean.programaAp.estado}" />
					<rich:panel>
						<h:panelGrid columns="3">
			
							<h:outputText value="Periodo " />
							<h:selectOneMenu id="selPeriodoMedicion"
								value="#{programaApBean.programaAp.periodoMedicion}"
								required="false" disabled="true">
								<f:selectItems value="#{programaApBean.itemsPeriodoMedicion1}" />
								<f:converter converterId="periodoMedicionConverter" />
							</h:selectOneMenu>
							<rich:message for="selPeriodoMedicion" ajaxRendered="true" />

							<h:outputText value="Numero de Identificador" />
							<h:inputText id="selNumIdentificador"
								value="#{programaApBean.programaAp.numIdentificador}"
								style="width:200px" required="false" maxlength = "14"
								label="NumeroIdentificador">
								<f:validateLength maximum="14" />
							</h:inputText>
							<rich:message for="selNumIdentificador" ajaxRendered="true" />
<!-- 
							<h:outputText value="Codigo de Via Reemplazada" />
							<h:inputText id="selCodViaRe"
								value="#{programaApBean.programaAp.codViaReemplazada}"
								style="width:200px" required="false" maxlength = "7"
								label="Codigo Via Reemplazada">
								<f:validateLength maximum="7" />
							</h:inputText>
							<rich:message for="selCodViaRe" ajaxRendered="true" />
 -->
							<h:outputText value="Numero de Suministro Proximo" />
							<h:inputText id="selNumSumPro"
								value="#{programaApBean.programaAp.numSumProximo}"
								style="width:200px" required="false" maxlength = "10"
								label="NumeroSumProximo">
								<f:validateLength maximum="10" />
							</h:inputText>
							<rich:message for="selNumSumPro" ajaxRendered="true" />
							
							<h:outputText value="Localidad" />
							<rich:select id="selLocalidadPro"
								value="#{programaApBean.programaAp.localidad}"
								required="true" style="width:200px"
								enableManualInput="true" defaultLabel="NO ASIGNADO">
								<f:selectItems value="#{programaApBean.itemsLocalidad}" />
								 <a4j:ajax event="change"
									listener="#{programaApBean.localidadChanged}"
									execute="selLocalidadPro" render="selVia,selTipoServicio" />
								<f:converter converterId="localidadConverter" />
							</rich:select>
							<rich:message for="selLocalidadPro" ajaxRendered="true" />
							
							<h:outputText value="Via" />
							<rich:select id="selVia" 
								value="#{programaApBean.programaAp.via}" required="true" style="width:300px"
										enableManualInput="true" defaultLabel="NO ASIGNADO">
								<f:selectItems value="#{programaApBean.itemsVia}" />
								<a4j:ajax event="change"
									listener="#{programaApBean.viaChanged}"
									execute="selVia" render="selNumVanos" />
								<f:converter converterId="viaConverter"/>
							</rich:select>
							<rich:message for="selVia" ajaxRendered="true" />

							<h:outputText value="Tipo de Localidad " />
							<h:selectOneMenu id="selTipoServicio"
								value="#{programaApBean.programaAp.tipServicio}"
								required="false">
								<f:selectItems
									value="#{programaApBean.itemsTiposervicio}" />
							</h:selectOneMenu>
							<rich:message for="selTipoInterrupcion" ajaxRendered="true" />

							<h:outputText value="Numero de Vanos" />
							<h:inputText id="selNumVanos"
								value="#{programaApBean.programaAp.numVanos}"
								label="NumVanos" required="false" style="width:200px">
								<f:validateDoubleRange maximum="1000" />
							</h:inputText>
							<rich:message for="selNumVanos" ajaxRendered="true" />

							<h:outputText value="longitud a medir (Km)" />
							<h:inputText id="selLongMedir"
								value="#{programaApBean.programaAp.lonAMedirse}"
								label="longMedir" required="false" style="width:200px">
								<f:validateDoubleRange maximum="1000" />
							</h:inputText>
							<rich:message for="selLongMedir" ajaxRendered="true" />

							<h:outputText value="Fecha Programada" />
							<rich:calendar value="#{programaApBean.fecProgramada}"
								id="calendar119" locale="es_PE" popup="true"
								datePattern="dd/MM/yyyy HH:mm" showApplyButton="true"
								cellWidth="24px" cellHeight="22px" immediate="true"
								required="true" label="Fecha y Hora Programada">
							</rich:calendar>
							<rich:message for="calendar119" ajaxRendered="true" />


							<h:outputText value="Tipo Medición" />
	           				<h:selectOneMenu id="selTipoMedicionProg"
	           					 value="#{programaApBean.programaAp.tipoMedicion}" required="true" style="width:300px" disabled="true">
	             				 <f:selectItems value="#{programaApBean.itemsTipoMedicion1}" />
	             				 <f:converter converterId="tipoMedicionConverter"/>
	           				</h:selectOneMenu>
	           				<rich:message for="selTipoMedicionProg" ajaxRendered="true" />
							
							<h:outputText value="Tipo Punto" />
							<h:selectOneMenu id="selTipoPuntoProg" 
								value="#{programaApBean.programaAp.tipoPunto}" required="true" style="width:300px">
								<f:selectItems value="#{programaApBean.itemsTipoPunto1}" />
								<f:converter converterId="tipoPuntoConverter"/>
							</h:selectOneMenu>
							<rich:message for="selTipoPuntoProg" ajaxRendered="true" />
				
						</h:panelGrid>
					</rich:panel>
				</rich:tab>
				
					<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:tabPanel>

			<rich:panel>
				<a4j:commandButton id="botonGrabar" title="Actualizar"
					action="#{programaApBean.actualizar}"
					image="/resources/images/grabar.png">
				</a4j:commandButton>
			        &nbsp;&nbsp;&nbsp;&nbsp;
			        <a4j:commandButton id="botonCancelar" title="Cancelar"
					action="/zonasegura/alumbradoPublico/programaApListar?faces-redirect=true"
					image="/resources/images/cancelar.png" immediate="true">
				</a4j:commandButton>
			</rich:panel>

		</h:form>
	</ui:define>
</ui:composition>
</html>