<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">     
      
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 

	      <rich:panel header="Puntos Ap (#{puntoApBean.puntosAp.size()}) del Vano #{puntoApBean.medicionAp.viaVano.nroVano} de la Via #{puntoApBean.medicionAp.viaVano.via.codVia}&#32;&#45;&#32;#{puntoApBean.medicionAp.viaVano.via.nombre} ">
				<rich:dataTable value="#{puntoApBean.puntosAp}" var="p"
					id="tablePuntoAp" rows="100" width="100%" reRender="dsPuntoAp"
					rowClasses="odd-row, even-row" rowkeyVar="rowIndex"
					rendered="#{not empty puntoApBean.puntosAp}">
					
										
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">M1</f:facet>
					<h:outputText value="#{p.m1}" />
					</rich:column>
		
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">Lugar</f:facet>
					<h:outputText value="#{p.lugar}" />
					</rich:column>

					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">I1</f:facet>
					<h:outputText value="#{p.i1}" />
					</rich:column>

					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">I2</f:facet>
					<h:outputText value="#{p.i2}" />
					</rich:column>
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">I3</f:facet>
					<h:outputText value="#{p.i3}" />
					</rich:column>
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">I4</f:facet>
					<h:outputText value="#{p.i4}" />
					</rich:column>
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">I5</f:facet>
					<h:outputText value="#{p.i5}" />
					</rich:column>
					
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">M2</f:facet>
					<h:outputText value="#{p.m2}" />
					</rich:column>
					
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">L1</f:facet>
					<h:outputText value="#{p.l1}" />
					</rich:column>
					
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">L2</f:facet>
					<h:outputText value="#{p.l2}" />
					</rich:column>
					
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">L3</f:facet>
					<h:outputText value="#{p.l3}" />
					</rich:column>
					
					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">L4</f:facet>
					<h:outputText value="#{p.l4}" />
					</rich:column>

					<rich:column style="text-align:center;width:30px;">
						<f:facet name="header">L5</f:facet>
					<h:outputText value="#{p.l5}" />
					</rich:column>
					
					
					
				</rich:dataTable>
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsPuntoAp" for="tablePuntoAp"
						maxPages="10" align="left"
						rendered="#{not empty puntoApBean.puntosAp}" oncomplete="refrescarEstilos()"  />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel style="height:35px">
			 		<a4j:commandLink  value="Volver" action="/zonasegura/alumbradoPublico/medicionApListar?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
			

	      </h:form>
			<h:panelGroup id="jQueryTags"> 
				<!-- <rich:jQuery selector="#tablePuntoAp tr:odd" query="addClass('odd-row')" />  -->
				<!-- <rich:jQuery selector="#tablePuntoAp tr:even" query="addClass('even-row')" /> -->
				<rich:jQuery selector="#tablePuntoAp tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
				<rich:jQuery selector="#tablePuntoAp tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />

			</h:panelGroup>
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
		  
	  </ui:define>
	</ui:composition>
</html>