<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">     
      
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 
	      	<rich:panel header="Vias por Localidad :">
	      		<h:panelGrid columns="5">
					<h:outputText value="Localidad" />&nbsp;
					<rich:select id="selLocalidad" 	value="#{viaBean.localidad}" style="width:190px" 
								enableManualInput="true" defaultLabel="NO ASIGNADO">
						<f:selectItems value="#{viaBean.itemsLocalidad1}" />
						<f:ajax event="change" listener="#{viaBean.filtroChanged}"
							execute="selLocalidad" render="@all" /> 
						<f:converter converterId="localidadConverter" />  	
					</rich:select>
					&nbsp;&nbsp;
					<a4j:commandButton id="botonRefrescar"
						title="Refrescar Via "
						action="#{viaBean.viaxLocalidad()}"
						reRender="tableVia" image="/resources/images/reload.png"
						style="width: 20px; high: 20px">
					</a4j:commandButton>
					<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
				</h:panelGrid>
				
			</rich:panel>
	      	<rich:panel header="Vias Alumbrado Publico (#{viaBean.vias.size()})">
				<rich:extendedDataTable value="#{viaBean.vias}"  var="p"
					id="tableVia" rows="25" width="100%" reRender="dsVia" 
					rowClasses="odd-row, even-row" rowkeyVar="rowIndex"
					rendered="#{not empty viaBean.vias}">
						
		<!--    	<rich:column style="text-align:center;width:100px">
						<f:facet name="header">Codigo de Via</f:facet>
						<a4j:commandLink value="#{p.codVia}" render="out"  action="#{viaVanoBean.mostrarViaVanos}">
									<f:param  id="viaId"  name="viaId" value="#{p.viaId}"/>
						</a4j:commandLink>
					</rich:column>
 		-->

					<rich:column filterValue="#{viaBean.codViaFilter}" width="120px"
	                	filterExpression="#{fn:containsIgnoreCase(p.codVia,viaBean.codViaFilter)}" 
	                	filterEvent="onchange"	filterType="custom">
	                	<f:facet name="header">
	                    	<h:panelGroup>
	                        	<h:outputText value="Codigo de Via" />
	                        	<h:inputText value="#{viaBean.codViaFilter}" style="width:100px">
	                        	<a4j:ajax event="blur" render="tableVia,jQueryTags,dsVia" execute="@this" />
	                            </h:inputText>
	                    	</h:panelGroup>
	                	</f:facet>
	                	<a4j:commandLink value="#{p.codVia}" render="out"  action="#{viaVanoBean.mostrarViaVanos}">
									<f:param  id="viaId"  name="viaId" value="#{p.viaId}"/>
						</a4j:commandLink>
            		</rich:column>

					<rich:column style="text-align:center;width:40px">
						<f:facet name="header">Canales</f:facet>
						<h:outputText value="#{p.canales}" />
					</rich:column>

					<rich:column filterValue="#{viaBean.denominacionFilter}" style="text-align:center" width="120px"
							 		 filter="#{viaBean.getFilterDenominacion()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Denominacion" />
		                        	<h:selectOneMenu value="#{viaBean.denominacionFilter}" >
	                            		<f:selectItems value="#{viaBean.itemsDenominacion}"/>
	                           			<a4j:ajax event="change" render="tableVia,jQueryTags,dsVia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.denominacion}" />
					</rich:column>
					
					<rich:column filterValue="#{viaBean.nombreFilter}" width="150px"
		                filterExpression="#{fn:containsIgnoreCase(p.nombre,viaBean.nombreFilter)}" 
		                filterEvent="onchange"	filterType="custom">
		                <f:facet name="header">
		                    <h:panelGroup>
		                        <h:outputText value="Nombre de Via " />
		                        <h:inputText value="#{viaBean.nombreFilter}" style="width:130px">
		                        <a4j:ajax event="blur" render="tableVia,jQueryTags,dsVia" execute="@this" />
		                        </h:inputText>
		                    </h:panelGroup>
		                </f:facet>
		                <h:outputText value="#{p.nombre}" />
            		</rich:column>
            		
					<rich:column style="text-align:center;width:100px">
						<f:facet name="header">Longitud</f:facet>
						<h:outputText value="#{p.longitud}" />
					</rich:column>
					
					<rich:column filterValue="#{viaBean.ubigeoFilter}" width="130px"
		                filterExpression="#{fn:containsIgnoreCase(p.ubigeo,viaBean.ubigeoFilter)}" 
		                filterEvent="onchange"	filterType="custom">
		                <f:facet name="header">
		                    <h:panelGroup>
		                        <h:outputText value="Ubigeo de Via " />
		                        <h:inputText value="#{viaBean.ubigeoFilter}" style="width:100px">
		                        <a4j:ajax event="blur" render="tableVia,jQueryTags,dsVia" execute="@this" />
		                        </h:inputText>
		                    </h:panelGroup>
		                </f:facet>
		                <h:outputText value="#{p.ubigeo}" />
            		</rich:column>
					
					<rich:column style="text-align:center;width:100px">
						<f:facet name="header">Nro de Puntos</f:facet>
						<h:outputText value="#{p.nroPuntos}" />
					</rich:column>

					<rich:column filterValue="#{viaBean.zonaFilter}" style="text-align:center" width="130px"
							 		 filter="#{viaBean.getFilterZona()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Clasificacion de Zona" />
		                        	<h:selectOneMenu value="#{viaBean.zonaFilter}" >
	                            		<f:selectItems value="#{viaBean.itemsZona}"/>
	                           			<a4j:ajax event="change" render="tableVia,jQueryTags,dsVia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.claZona}" />
					</rich:column>
					

					
					<rich:column filterValue="#{viaBean.tipViaFilter}" style="text-align:center" width="190px"
							 		 filter="#{viaBean.getFilterTipVia()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de Via" />
		                        	<h:selectOneMenu value="#{viaBean.tipViaFilter}" >
	                            		<f:selectItems value="#{viaBean.itemsTipVia}"/>
	                           			<a4j:ajax event="change" render="tableVia,jQueryTags,dsVia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipVia}" />
					</rich:column>
					
					
					<rich:column filterValue="#{viaBean.tipApFilter}" style="text-align:center" width="100px"
							 		 filter="#{viaBean.getFilterTipAp()}"
							 		filterEvent="onchange"
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Tipo de AP " />
		                        	<h:selectOneMenu value="#{viaBean.tipApFilter}" >
	                            		<f:selectItems value="#{viaBean.itemsTipoAp}"/>
	                           			<a4j:ajax event="change" render="tableVia,jQueryTags,dsVia" execute="@this" />
                       				</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.tipAp}" />
					</rich:column>
					
					<rich:column style="text-align:center" width="210px">
						<f:facet name="header">Sec Med AP</f:facet>
						<h:outputText value="#{p.secMedAp}" />
					</rich:column>
					<!-- 		
					<rich:column filterValue="#{viaBean.localidadFilter}" width="210px" style="text-align:center"
							 		 filter="#{vianBean.getFilterLocalidad()}"
							 		filterEvent="onchange" 
							 		filterType="custom">
							<f:facet name="header">
								<h:panelGroup>
		                        	<h:outputText value="Localidad" style="width:210px" />
		                        	<h:selectOneMenu value="#{viaBean.localidadFilter}" style="width:190px;text-align:center">
	                            		<f:selectItems value="#{viaBean.getItemsLocalidad2()}"/>
	                           			<a4j:ajax event="change" render="tableVia,jQueryTags,dsVia" execute="@this" />
	                           		</h:selectOneMenu>
		                   		</h:panelGroup>
							</f:facet>
							<h:outputText value="#{p.localidad.codLocalidad}&#32;&#45;&#32;#{p.localidad.nombre}" />
					</rich:column>  
					 -->	
					 <rich:column style="text-align:center">
						<f:facet name="header">Localidad</f:facet>
						<h:outputText value="#{p.localidad.codLocalidad}&#32;&#45;&#32;#{p.localidad.nombre}" />
					</rich:column>
					 		
			 		 <rich:column style="text-align:center">
		                <f:facet name="header">Acción</f:facet>
		                 <a4j:commandButton 
						    id="botonEditar"
						    title="Editar" 
						    action="#{viaBean.prepararEditar}"
						    reRender="tableVia"
						    image="/resources/images/edit.png">
						     <f:param  id="viaId30"  name="viaId" value="#{p.viaId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonVer"
						    title="Ver" 
						    action="#{viaBean.prepararVer}"
						    reRender="tableVia"
						    image="/resources/images/glasses.png">
						    <f:param  id="viaId31"  name="viaId" value="#{p.viaId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonEliminar"
						    title="Eliminar"
						    onclick="if(!confirm('Se eliminaran las Vias asociadas Esta seguro que desea eliminar el registro?')) {return false;};"
						    reRender="tableVia"
						    action="#{viaBean.eliminar}"
						    image="/resources/images/delete-item.png">		
						    <f:param  id="viaId32"  name="viaId" value="#{p.viaId}"/>	  
						 </a4j:commandButton> 
              		 </rich:column>
				 	 
				</rich:extendedDataTable>
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsVia"  for="tableVia"
						maxPages="10" align="left"
						rendered="#{not empty viaBean.vias}" oncomplete="refrescarEstilos()"  />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{viaBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
			<h:panelGroup id="jQueryTags"> 
				<!-- <rich:jQuery selector="#tableVia tr:odd" query="addClass('odd-row')" />  -->
				<!-- <rich:jQuery selector="#tableVia tr:even" query="addClass('even-row')" /> -->
				<rich:jQuery selector="#tableVia tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
				<rich:jQuery selector="#tableVia tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />

			</h:panelGroup>
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
		  
	  </ui:define>
	</ui:composition>
</html>