<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      <rich:messages ajaxRendered="true" />
	      
	      <rich:tabPanel switchType="client">
	      	<rich:tab header="Via de Alumbrado Publico">
	      
	          <rich:panel>
	           <h:panelGrid columns="3">
	           <h:outputText value="Codigo de Via" />
	           <h:inputText id="selcodVia" value="#{viaBean.via.codVia}" label="codVia" required="true" style="width:100px" maxlength = "7"  disabled="true">
	           		<f:validateLength maximum="7" />
	           </h:inputText>
	           <rich:message for="selcodVia" ajaxRendered="true" />
	           	           
	           <h:outputText value="Canales" />
	           <h:inputText id="selCanales" value="#{viaBean.via.canales}" label="Canales" required="true"  style="width:100px" disabled="true">
                  <f:validateDoubleRange maximum="10000" />
               </h:inputText>
               <rich:message for="selCanales" ajaxRendered="true" />
          
			   <h:outputText value="Denominacion" />
	           <h:selectOneMenu id="selDenominacion"  value="#{viaBean.via.denominacion}" required="true"  style="width:250px" disabled="true">
	               <f:selectItems value="#{viaBean.itemsDenominacion1}"/>
	           </h:selectOneMenu>
	           <rich:message for="selDenominacion" ajaxRendered="true" />
	           
	           <h:outputText value="Nombre Via " />
	           <h:inputText id="selNombre" value="#{viaBean.via.nombre}" label="Nombre" required="true" style="width:250px" maxlength = "128" disabled="true">
	           		<f:validateLength maximum="128" />
	           </h:inputText>
	           <rich:message for="selNombre" ajaxRendered="true" />
	           
	           <h:outputText value="Ubigeo Via " />
	           <h:inputText id="selUbigeo" value="#{viaBean.via.ubigeo}" label="Ubigeo" required="true" style="width:250px" maxlength = "6" disabled="true">
	           		<f:validateLength maximum="6" />
	           </h:inputText>
	           <rich:message for="selUbigeo" ajaxRendered="true" />
	           
	           <h:outputText value="Longitud Via" />
          	   <h:inputText id="selLongitud" value="#{viaBean.via.longitud}" label="Longitud" required="true"  style="width:200px" disabled="true">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selLongitud" ajaxRendered="true" />       
               	
			   <h:outputText value="Numero de Puntos" />
          	   <h:inputText id="selnroPuntos" value="#{viaBean.via.nroPuntos}" label="nroPuntos" required="true"  style="width:200px" disabled="true">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selnroPuntos" ajaxRendered="true" />  
               	           
	           <h:outputText value="Clasificación de Zona" />
	           <h:selectOneMenu id="selClaZona"  value="#{viaBean.via.claZona}" required="true"  style="width:250px" disabled="true">
	               <f:selectItems value="#{viaBean.itemsZona1}"/>
	           </h:selectOneMenu>
	           <rich:message for="selClaZona" ajaxRendered="true" />
					
				<h:outputText value="Tipo de Via" />
	           <h:selectOneMenu id="selTipVia"  value="#{viaBean.via.tipVia}" required="false"  label="TipVia" style="width:250px" disabled="true">
	               <f:selectItems value="#{viaBean.itemsTipVia1}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipVia" ajaxRendered="true" />	
	           
	           <h:outputText value="Tipo de AP" />
	           <h:selectOneMenu id="selTipAp"  value="#{viaBean.via.tipVia}" required="false"  label="TipAp" style="width:250px" disabled="true">
	               <f:selectItems value="#{viaBean.itemsTipoAp1}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipAp" ajaxRendered="true" />	
	           
	           <h:outputText value="Sec Med AP" />
          	   <h:inputText id="selSecMedAp" value="#{viaBean.via.secMedAp}" label="SecMedAp" required="true"  style="width:200px" disabled="true">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selSecMedAp" ajaxRendered="true" />  
               	
               	<h:outputText value="Localidad" />
				<h:selectOneMenu id="selLocalidadv" value="#{viaBean.via.localidad}" required="true" style="width:200px" disabled="true">
					<f:selectItems value="#{viaBean.itemsLocalidad1}" />
			   	<f:converter converterId="localidadConverter" />
				</h:selectOneMenu>
				<rich:message for="selLocalidadv" ajaxRendered="true" />
                              
                                 
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      </rich:tab>
	      
	     </rich:tabPanel> 
	       <rich:panel>
	          <a4j:commandButton 
				     id="botonGrabar"
					    title="Cerrar" 
				    action="/zonasegura/alumbradoPublico/viaListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>