<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	      <rich:messages ajaxRendered="true" />
	      
	      <rich:tabPanel switchType="client">
	      	<rich:tab header="ViaVano Alumbrado Publico">
	      
	          <rich:panel>
	           <h:panelGrid columns="3">
	           <h:outputText value="Numero de Vano" />
	           <h:inputText id="selNroVano" value="#{viaVanoBean.viaVano.nroVano}" label="NroVano" required="true" style="width:100px">
	           		 <f:validateDoubleRange maximum="10000" />
	           </h:inputText>
	           <rich:message for="selNroVano" ajaxRendered="true" />
	           	           
			   <h:outputText value="Tipo de Calzada" />
	           <h:selectOneMenu id="selTipCalzada"  value="#{viaVanoBean.viaVano.tipCalzada}"  required="true"  style="width:100px">
	               <f:selectItems value="#{viaVanoBean.itemsTipCalzada}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipCalzada" ajaxRendered="true" />
	           
 	           <h:outputText value="Longitud (m)" />
          	   <h:inputText id="selLongitudViaVano" value="#{viaVanoBean.viaVano.longitud}" label="LongitudViaVano" required="true"  style="width:100px">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selLongitudViaVano" ajaxRendered="true" />   
              	
  		
	           	<h:outputText value="Via " />
				<h:selectOneMenu id="selVia" value="#{viaVanoBean.viaVano.via}" required="true" style="width:200px" disabled="true">
					<f:selectItems value="#{viaVanoBean.itemsVia1}" />
			   	<f:converter converterId="viaConverter" />
				</h:selectOneMenu>
				<rich:message for="selVia" ajaxRendered="true" />
				
				<h:outputText value="Pto Inicial" />
	           <h:inputText id="selPtoIni" value="#{viaVanoBean.viaVano.ptoIni}" label="PtoIni" required="true" style="width:100px" maxlength = "3">
	           		<f:validateLength maximum="3" />
	           </h:inputText>
	           <rich:message for="selPtoIni" ajaxRendered="true" />
                              
				<h:outputText value="Pto Fin" />
	           <h:inputText id="selPtoFin" value="#{viaVanoBean.viaVano.ptoFin}" label="PtoFin" required="true" style="width:100px" maxlength = "3">
	           		<f:validateLength maximum="3" />
	           </h:inputText>
	           <rich:message for="selPtoFin" ajaxRendered="true" />        
	           
	           <h:outputText value="Tipo de AP" />
	           <h:selectOneMenu id="selTipAp"  value="#{viaVanoBean.viaVano.tipAp}" required="false"  label="TipAp" style="width:250px">
	               <f:selectItems value="#{viaVanoBean.itemsTipAp1}"/>
	           </h:selectOneMenu>
	           <rich:message for="selTipAp" ajaxRendered="true" />	         
	           
	           <h:outputText value="Canales" />
          	   <h:inputText id="selCanales" value="#{viaVanoBean.viaVano.canales}" label="Canales" required="true"  style="width:100px">
                  <f:validateDoubleRange maximum="10000" />
               	</h:inputText>
               	<rich:message for="selCanales" ajaxRendered="true" />        
                                 
               <rich:notifyMessages stayTime="2000" nonblocking="true" />
	           </h:panelGrid>
	      </rich:panel>
	      </rich:tab>
	      
	     </rich:tabPanel> 
	       <rich:panel>
	        <a4j:commandButton id="botonGrabar" title="Actualizar"
					action="#{viaVanoBean.actualizar}"
					image="/resources/images/grabar.png">
			</a4j:commandButton>
			 &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="/zonasegura/alumbradoPublico/viaVanoListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>