<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">     
      
	<rich:messages globalOnly="true"/> 
	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
		</style>
	      <h:form> 

	      <rich:panel header="Vanos Afectados  (#{viaVanoBean.viaVanos.size()}) del codigo de Via #{viaVanoBean.via.codVia}">
				<rich:dataTable value="#{viaVanoBean.viaVanos}" var="p"
					id="tableViaVano" rows="100" width="100%" reRender="dsViaVano"
					rowClasses="odd-row, even-row" rowkeyVar="rowIndex"
					rendered="#{not empty viaVanoBean.viaVanos}">
					
					<rich:column style="text-align:center">
						<f:facet name="header">Via</f:facet>
						<h:outputText value="#{p.via}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Numero de vano</f:facet>
						<h:outputText value="#{p.nroVano}" />
					</rich:column>
					
<!--  				<rich:column filterValue="#{viaVanoBean.numVanoFilter}"  style="width:100px;text-align:center"
               					filterExpression="#{fn:containsIgnoreCase(p.nroVano,viaVanoBean.numVanoFilter)}">
               		<f:facet name="header">
	                    <h:panelGroup>
	                        <h:outputText value="Numero de vano" />
	                        <h:inputText value="#{viaVanoBean.numVanoFilter}">
	                            <a4j:ajax event="blur" render="tableViaVano,jQueryTags,dsViaVano" execute="@this" />
	                        </h:inputText>
	                    </h:panelGroup>
	                </f:facet>
               		<h:outputText value="#{p.nroVano}" />
            		</rich:column>
	-->						
					<rich:column style="text-align:center;width:100px;">
						<f:facet name="header">Tipo de Calzada</f:facet>
					<h:outputText value="#{p.tipCalzada}" />
					</rich:column>
		
					<rich:column style="text-align:center">
						<f:facet name="header">Longitud</f:facet>
						<h:outputText value="#{p.longitud}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Pto Inicial</f:facet>
						<h:outputText value="#{p.ptoIni}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Pto Fin</f:facet>
						<h:outputText value="#{p.ptoFin}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Tipo AP</f:facet>
						<h:outputText value="#{p.tipAp}" />
					</rich:column>
					
					<rich:column style="text-align:center">
						<f:facet name="header">Canales</f:facet>
						<h:outputText value="#{p.canales}" />
					</rich:column>
					
			 		 <rich:column style="text-align:center">
		                <f:facet name="header">Acción</f:facet>
		                 <a4j:commandButton 
						    id="botonEditar"
						    title="Editar" 
						    action="#{viaVanoBean.prepararEditar}"
						    reRender="tableViaVano"
						    image="/resources/images/edit.png">
						     <f:param  id="viaVanoId30"  name="viaVanoId" value="#{p.viaVanoId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonVer"
						    title="Ver" 
						    action="#{viaVanoBean.prepararVer}"
						    reRender="tableViaVano"
						    image="/resources/images/glasses.png">
						    <f:param  id="viaVanoId31"  name="viaVanoId" value="#{p.viaVanoId}"/>
						 </a4j:commandButton>
						 <a4j:commandButton 
						    id="botonEliminar"
						    title="Eliminar"
						    onclick="if(!confirm('Se eliminaran las Vias asociadas Esta seguro que desea eliminar el registro?')) {return false;};"
						    reRender="tableViaVano"
						    action="#{viaVanoBean.eliminar}"
						    image="/resources/images/delete-item.png">		
						    <f:param  id="viaVanoId32"  name="viaVanoId" value="#{p.viaVanoId}"/>	  
						 </a4j:commandButton> 
              		 </rich:column>
				 	 
				</rich:dataTable>
				<h:panelGrid columns="1">
					<rich:dataScroller id="dsViaVano" for="tableViaVano"
						maxPages="10" align="left"
						rendered="#{not empty viaVanoBean.viaVanos}" oncomplete="refrescarEstilos()"  />
						<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>
				<rich:notifyMessages stayTime="2000" nonblocking="true" />
			</rich:panel>
			<rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{viaVanoBean.prepararCrear}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/alumbradoPublico/viaListar?faces-redirect=true" 
					style="position:absolute;right:20px"/>
            </rich:panel>
	      </h:form>
			<h:panelGroup id="jQueryTags"> 
				<!-- <rich:jQuery selector="#tableViaVano tr:odd" query="addClass('odd-row')" />  -->
				<!-- <rich:jQuery selector="#tableViaVano tr:even" query="addClass('even-row')" /> -->
				<rich:jQuery selector="#tableViaVano tr:not(:first)" event="mouseover" query="jQuery(this).addClass('active-row')" />
				<rich:jQuery selector="#tableViaVano tr:not(:first)" event="mouseout" query="jQuery(this).removeClass('active-row')" />

			</h:panelGroup>
        <a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        </a4j:status>
		  
	  </ui:define>
	</ui:composition>
</html>