<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	        <rich:panel header = "Usuario">
	           <h:panelGrid columns="2">
	            <h:outputText value="Username" />
	            <h:inputText value="#{membresiaBean.user.username}" required="true" size="32" disabled="true"/>
	           </h:panelGrid>
	        </rich:panel>
	       <rich:panel   header="Membresia >> Editar">
	          <rich:pickList value="#{membresiaBean.selectedRols}" sourceCaption="Roles Disponibles" 
	                 targetCaption="Roles Seleccionados" listWidth="165px" listHeight="100px" orderable="true">
                <f:selectItems value="#{membresiaBean.availableRols}" var="rol" itemValue="#{rol}" itemLabel="#{rol.rolename}" />
                <f:converter converterId="rolConverter" />
            </rich:pickList>
           </rich:panel>  
           <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Actualizar" 
				    action="#{membresiaBean.update()}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="membresiaListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
           </h:form>            
	  </ui:define>
	</ui:composition>
</html>