<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Rol >> Nuevo ">
	         <h:panelGrid columns="2">
	           <h:outputText value="Rolename" />
	           <h:inputText value="#{rolBean.rol.rolename}" required="true" size="32"/>
	           <h:outputText value="Descripcion" />
	           <h:inputTextarea value="#{rolBean.rol.description}" required="true" size="64" rows="3" cols="80"/>
	          </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Crear" 
				    action="#{rolBean.create()}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="rolListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>