<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Rol >> Eliminar ">
	         <h:panelGrid columns="2">
	           <h:outputText value="Rolename" />
	           <h:inputText value="#{rolBean.rol.rolename}" required="true" size="32" disabled="true"/>
	           <h:outputText value="Descripcion" />
	           <h:inputTextarea value="#{rolBean.rol.description}" required="true" size="64" rows="3" cols="80" disabled="true"/>
	          </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				     onclick="#{rich:component('confirmation')}.show();return false"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
			<a4j:jsFunction name="eliminar" action="#{rolBean.delete()}"/>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="rolListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	      <rich:popupPanel id="confirmation" width="230" height="130">
			   <f:facet name="header">Confirmación</f:facet>
			   <h:panelGrid>
			      <h:panelGrid columns="2">
			         <h:graphicImage value="/resources/images/exclamacion.png"  style="width: 40px; high: 40px"/>
				  	 <h:outputText value="Esta seguro que desea eliminar este registro?" style="FONT-SIZE: small;"/>
			      </h:panelGrid>
			      <h:panelGrid columns="3">
			        <h:graphicImage value="/resources/images/blanco.png"  style="width: 40px; high: 40px"/>
			        <input type="button" value="OK"
				  		onclick="#{rich:component('confirmation')}.hide();eliminar();return false" />
				 	<input type="button" value="Cancel"
				  		onclick="#{rich:component('confirmation')}.hide();return false" />
			      </h:panelGrid>
			   </h:panelGrid>
		  </rich:popupPanel>
	  </ui:define>
	</ui:composition>
</html>