<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	  	
	  		<style  type="text/css">
		        .even-row {
		        background-color: #FCFFFE;
		        }
		 
		        .odd-row {
		        background-color: #ECF3FE;
		        }
		 
		        .active-row {
		        background-color: #FFEBDA !important;
		        cursor: default;
		        }
			</style>
	  
	      <h:form> 
	       <rich:panel   header="Roles">
	         <rich:dataTable value="#{rolBean.roles}" var="r" id="tableRol" 
			                          rows="10" width="100%"  rendered="#{not empty rolBean.roles}">
                <rich:column>
                 <f:facet name="header">Rolename</f:facet>
                 <h:outputText value="#{r.rolename}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Grupo</f:facet>
                 <h:outputText value="#{r.grupo}" />
               </rich:column>
               <rich:column>
                 <f:facet name="header">Descripcion</f:facet>
                 <h:outputText value="#{r.description}" />
               </rich:column>
               <rich:column style="text-align:center">
                 <f:facet name="header">Acción</f:facet>
                 <a4j:commandButton 
				    id="botonEditar"
				    title="Editar" 
				    action="#{rolBean.prepareUpdate(r)}"
				    reRender="tableRol"
				    image="/resources/images/edit.png">
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonVer"
				    title="Ver" 
				    action="#{rolBean.prepareView(r)}"
				    reRender="tableRol"
				    image="/resources/images/glasses.png">
				 </a4j:commandButton>
				 <a4j:commandButton 
				    id="botonEliminar"
				    title="Eliminar" 
				    action="#{rolBean.prepareDelete(r)}"
				    reRender="tableRol"
				    image="/resources/images/delete-item.png">
				  </a4j:commandButton>
				</rich:column>
	          </rich:dataTable>
	          <h:panelGrid columns="1">
					<rich:dataScroller id="dsRol" for="tableRol"
						maxPages="10" align="left"
						rendered="#{not empty rolBean.roles}" oncomplete="refrescarEstilos()" />
					<a4j:jsFunction name="refrescarEstilos" render="jQueryTags"  />
				</h:panelGrid>   
	        </rich:panel>  
			<rich:panel style="height:35px">
           			<a4j:commandButton 
					    id="botonNuevo"
					    title="Nuevo" 
					    action="#{rolBean.prepareCreate}"
					    image="/resources/images/add-item.png">
			 		</a4j:commandButton>
			 		<a4j:commandLink  value="Volver" action="/zonasegura/default?faces-redirect=true" style="position:absolute;right:20px"/>
            </rich:panel>
	        
           </h:form>      
           <h:panelGroup id="jQueryTags"> 
			<rich:jQuery selector="#tableRol tr:odd" query="addClass('odd-row')" />
		    <rich:jQuery selector="#tableRol tr:even" query="addClass('even-row')" />
		    <rich:jQuery selector="#tableRol tr" event="mouseover" query="jQuery(this).addClass('active-row')" />
		    <rich:jQuery selector="#tableRol tr" event="mouseout" query="jQuery(this).removeClass('active-row')" />
			</h:panelGroup>
			<a4j:status>
            <f:facet name="start">
                <h:graphicImage value="/resources/images/procesando.gif" style="width: 30px; high: 30px; position:absolute;left:600px;top:300px"/>
            </f:facet>
        	</a4j:status>     
                 
	  </ui:define>
	</ui:composition>
</html>