<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
	          <rich:panel   header="Usuario >> Editar ">
	         <h:panelGrid columns="2">
	           <h:outputText value="Nombres" />
	           <h:inputText value="#{usuarioBean.user.nombres}" required="true" size="32" disabled="true"/>
	           <h:outputText value="Apellidos" />
	           <h:inputText value="#{usuarioBean.user.apellidos}" required="true" size="32" disabled="true"/>
	           <h:outputText value="Area" />
	           <h:inputText value="#{usuarioBean.user.area}" required="true" size="64" disabled="true"/>
	           <h:outputText value="Cargo" />
	           <h:inputText value="#{usuarioBean.user.cargo}" required="true" size="64" disabled="true"/>
	           <h:outputText value="Anexo" />
	           <h:inputText value="#{usuarioBean.user.anexo}" required="true" disabled="true"/>
	           <h:outputText value="email" />
	           <h:inputText value="#{usuarioBean.user.email}" required="true" size="64" disabled="true"/>
	           <h:outputText value="Username" />
	           <h:inputText value="#{usuarioBean.user.username}" required="true" size="8" disabled="true"/>
	           <h:outputText value="Password" />
	           <h:inputText value="#{usuarioBean.user.password}" required="true" size="8" disabled="true"/>
	           <h:outputText value="Status" />
	           <h:inputText value="#{usuarioBean.user.status}" required="true" disabled="true" />
	          </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	      
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="usuarioListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>