<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:rich="http://richfaces.org/rich"
      xmlns:a4j="http://richfaces.org/a4j">

	<ui:composition template="/template/layout.xhtml">
	  <ui:define  name="content" >
	      <h:form> 
<!--	      <rich:messages ajaxRendered="true" /> -->
	          <rich:panel   header="Usuario >> Nuevo ">
	         <h:panelGrid columns="2">
	         
	           <h:outputText value="Nombres" />
	           <h:inputText value="#{usuarioBean.user.nombres}" required="true" size="32"/>
 	           
<!--           <h:outputText value="Nombres" />
	           <h:inputText id= "selNombresU" value="#{usuarioBean.user.nombres}" required="true" style="width:300px"  label="Nombres">
	           		<f:validateLength maximum="32" />
	           </h:inputText>
	           <rich:message for="selNombresU" ajaxRendered="true" />
-->	        	
	        	           
	           <h:outputText value="Apellidos" />
	           <h:inputText value="#{usuarioBean.user.apellidos}" required="true" size="32"/>
 
				
<!--			<h:outputText value="Apellidos" />
				<h:inputText  id= "selApellidos" value="#{usuarioBean.user.apellidos}" required="true" style="width:300px" label="Nombres">
					<f:validateLength maximum="32" />
				</h:inputText>
				<rich:message for="selApellidos" ajaxRendered="true" />
-->				

		       <h:outputText value="Area" />
	           <h:inputText value="#{usuarioBean.user.area}" required="true" size="64"/>
	           
	           
<!--           <h:outputText value="Apellidos" />
				<h:inputText  id= "selApellidos" value="#{usuarioBean.user.apellidos}" required="true" style="width:300px" label="Nombres">
					<f:validateLength maximum="32" />
				</h:inputText>
				<rich:message for="selApellidos" ajaxRendered="true" />
-->	           
	           
	           
	           <h:outputText value="Cargo" />
	           <h:inputText value="#{usuarioBean.user.cargo}" required="true" size="64"/>
	           
	           
<!--            <h:outputText value="Cargo" />
				<h:inputText  id= "selCargo" value="#{usuarioBean.user.cargo}" required="true" style="width:300px" label="Cargo">
					<f:validateLength maximum="64" />
				</h:inputText>
				<rich:message for="selCargo" ajaxRendered="true" />
-->		           
	           
	           <h:outputText value="Anexo" />
	           <h:inputText value="#{usuarioBean.user.anexo}" required="true"/>
		           
	           
<!--			<h:outputText value="Anexo" />
				<h:inputText  id= "selAnexo" value="#{usuarioBean.user.anexo}" required="true" style="width:300px" label="Anexo">
					<f:validateLength maximum="64" />
				</h:inputText>
				<rich:message for="selCargo" ajaxRendered="true" />
-->	           
	           
	           <h:outputText value="email" />
	           <h:inputText value="#{usuarioBean.user.email}" required="true" size="64"/>
	           
	           
<!--			<h:outputText value="email" />
				<h:inputText  id= "selemail" value="#{usuarioBean.user.email}" required="true" style="width:300px" label="email">
					<f:validateLength maximum="64" />
				</h:inputText>
				<rich:message for="selEmail" ajaxRendered="true" />
-->	           
	           
	           <h:outputText value="Username" />
	           <h:inputText value="#{usuarioBean.user.username}" required="true" size="8"/>
	           
<!--			<h:outputText value="Username" />				
				<h:inputText id= "selUsername" value="#{usuarioBean.user.username}" required="true" style="width:300px" label="Username">
	            	<f:validateLength maximum="8" />
	            </h:inputText>
				<rich:message for="selUsername" ajaxRendered="true" />
-->	           
				<h:outputText value="Password" />
				<h:inputSecret value="#{usuarioBean.user.password}" required="true" size="8"/>
	
<!--			<h:outputText value="Password" />			
				<h:inputSecret id= "selPassword" value="#{usuarioBean.user.password}" required="true" style="width:300px" label="Password">
					<f:validateLength maximum="8"/>
				</h:inputSecret>
				<rich:message for="selPassword" ajaxRendered="true" />
-->					
				
	           <h:outputText value="Status" />
	           <h:inputText value="#{usuarioBean.user.status}" required="true" disabled="true"/>

<!--			<h:outputText value="Status" />			
				<h:inputText id= "selStatus" value="#{usuarioBean.user.status}" required="true" style="width:300px" label="Status" disabled="true">
					<f:validateLength maximum="24" />
				</h:inputText>
				<rich:message for="selStatus" ajaxRendered="true" />	
-->		
<!--			<rich:notifyMessages stayTime="2000" nonblocking="true" /> -->	
										
	          </h:panelGrid>
	      </rich:panel>
	       <rich:panel>
	        <a4j:commandButton 
				    id="botonGrabar"
				    title="Crear" 
				    action="#{usuarioBean.create()}"
				    image="/resources/images/grabar.png">
			</a4j:commandButton>
	        &nbsp;&nbsp;&nbsp;&nbsp;
	        <a4j:commandButton 
				    id="botonCancelar"
				    title="Cancelar" 
				    action="usuarioListar?faces-redirect=true"
				    image="/resources/images/cancelar.png"
				    immediate="true">
			</a4j:commandButton>
	      </rich:panel>   
	      <h:messages />
	     </h:form>
	  </ui:define>
	</ui:composition>
</html>